<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.go.ap.core.repository.primary.mapper.resource.eqmnt.EqmntMapper">

    <select id="selectEquipList" resultType="kr.go.ap.core.primary.nia.dto.resource.eqmnt.EqmntDto">
        SELECT SYSNAME, MODEL, TID FROM NIA.TB_EQUIP_MST WHERE MODEL LIKE '%6300%'
    </select>

    <select id="selectEquipSipcList" resultType="kr.go.ap.core.primary.nia.dto.resource.eqmnt.EqmntSipcDto">
        SELECT TID, SYSTEM_NAME FROM NIA.TB_EQUIP_SIPC
    </select>

    <insert id="insertEquipSipc" parameterType="java.util.HashMap">
        <if test="eqmntSipcDtoList.size != 0">
            INSERT INTO NIA.TB_EQUIP_SIPC (TID, SYSTEM_NAME)
            VALUES
            <foreach collection="eqmntSipcDtoList" item="item" separator=",">
                (#{item.tid}, #{item.systemName})
            </foreach>
        </if>
    </insert>

    <delete id="deleteEquipSipc" parameterType="string">
        DELETE FROM NIA.TB_EQUIP_SIPC WHERE TID = #{tid}
    </delete>
</mapper>
