<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nia.data.linkage.ai.mapper.trans.TransDataMapper">
    <select id="selectAiSendPerformanceData" resultType="com.nia.data.linkage.ai.vo.trans.perf.PerformaceVo" parameterType="string">
        SELECT SYSNAME, PORT, UNIT, TMPER, RXCUR, RXMIN, RXMAX, RXAVE, TXCUR, TXMIN, TXMAX, TXAVE, OCRTIME
          FROM NIA.TB_PERFORMACE_MST
         WHERE OCRTIME > #{ocrtime}::TIMESTAMP
         ORDER BY OCRTIME DESC
    </select>

    <select id="selectEquipList" resultType="com.nia.data.linkage.ai.vo.trans.equip.EquipInfoVo">
        SELECT TID, SYSNAME, PSU, MODEL, SID, SW_VER, SW_CHKSUM, SW_DATE, SW_TIME FROM NIA.TB_EQUIP_MST
    </select>

    <select id="selectEquipPortList" resultType="com.nia.data.linkage.ai.vo.trans.equip.EquipPortVo">
        SELECT SYSNAME, PTPNAME, PORT_TYPE FROM NIA.TB_EQUIP_PORT
    </select>

    <select id="selectEquipSlotList" resultType="com.nia.data.linkage.ai.vo.trans.equip.EquipSlotVo">
        SELECT SYSNAME, SLOT, P_UNIT, P_PORTS, ACT, STATE
             , DEGREE, RX_DEGREE, TX_DEGREE, AD_SIDE, CURRENT_UNIT
             , CURRENT_PORTS, PAIR_SLOT, NET_TYPE
         FROM NIA.TB_EQUIP_SLOT
    </select>

    <select id="selectNniTopologyList" resultType="com.nia.data.linkage.ai.vo.trans.equip.NNiTopologyVo">
        SELECT LINK_ID, SYSNAMEA, PTPNAMEA_BAU, PTPNAMEA_PAU
             , SYSNAMEZ, PTPNAMEZ_BAU, PTPNAMEZ_PAU
          FROM NIA.TB_TOPOLOGY
    </select>

    <select id="selectUniTopologyList" resultType="com.nia.data.linkage.ai.vo.trans.equip.UniTopologyVo">
        SELECT LINK_ID, SYSNAMEA, PTPNAMEA, PTPNAMEA, SHELFA
             , SYSNAMEZ, PTPNAMEZ, PTPNAMEZ, SHELFZ
          FROM NIA.TB_UNI_TOPOLOGY
    </select>

    <select id="selectRoadmTrunkList" resultType="com.nia.data.linkage.ai.vo.trans.equip.RoadmRepeaterRouteVo">
        SELECT TRUNK_ID, TRUNK_NAME, ROUTENUM, SYSNAME
             , UP_PTPNAME_BAU, UP_PTPNAME_PAU
             , DOWN_PTPNAME_BAU, DOWN_PTPNAME_PAU
          FROM NIA.TB_ROADM_TRUNK_REPEATER
    </select>
</mapper>


