<md-dialog id="configTestAction" class="alarm-dialog" ng-cloak style="width: 540px; height: 700px;">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <i class="fa fa-check fa-lg"></i>
            <span class="title" ng-click="debugger()"> &nbsp; 자가구성 시험</span>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="clickCloseDialog()">
                <md-icon md-svg-src="img/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
            </md-button>
        </div>
    </md-toolbar>
    <form style="height: 610px;">
        <md-dialog-content style="overflow-y: auto;">
            <div layout="column" class="alarmContents p-3 pt-0" style="overflow-y: hidden;">
                <!-- 기본정보 -->
                <div class="info-title pt-0">기본 정보</div>
                <div class="info-detail" layout="row">
                    <md-input-container class="md-block" flex="33">
                        <label>장비 이름</label>
                        <input ng-model="node_name" disabled style="color: #1f1f20; font-weight: 600;">
                    </md-input-container>
                    <md-input-container class="md-block" flex="33">
                        <label>IP 주소</label>
                        <input ng-model="ip_addr" disabled style="color: #1f1f20; font-weight: 600;">
                    </md-input-container>
                    <md-input-container class="md-block" flex="33">
                        <label>인터페이스</label>
                        <input ng-model="interface" disabled style="color: #1f1f20; font-weight: 600;">
                    </md-input-container>
                </div>

                <!-- CRC/SPEED 체크 -->
                <div class="info-title">CRC/SPEED 체크</div>
                <div class="info-detail" layout="row">
                    <md-input-container class="md-block" flex="33">
                        <label>CRC</label>
                        <input ng-model="bad_crc.ifStat.badCrc" disabled style="color: red; font-weight: 600;">
                    </md-input-container>
                    <md-input-container class="md-block" flex="33">
                        <label>Speed</label>
                        <input ng-model="interface_config.speed" disabled style="color: blue; font-weight: 600;">
                    </md-input-container>
                </div>

                <!-- CRC/SPEED 체크 -->
                <div class="info-title">IP 불일치 체크</div>
                <div class="info-detail" layout="row" style="min-height: 120px; padding: 10px; font-size: 12px; text-align: center;">
                    <div layout="column" flex="50">
                        <div style="font-weight: bolder;">장비 설정 IP 정보</div>
                        <div style="overflow-y: auto;">
                            <div ng-repeat="equip in equip_ip" ng-style="{'background-color': !equip.accuracy ? '#ea4e4e' : ''}">{{equip.ip}}</div>
                        </div>
                    </div>
                    <div layout="column" flex="50">
                        <div style="font-weight: bolder;">이용기관 등록 IP 정보</div>
                        <div style="overflow-y: auto;">
                            <div ng-repeat="agency in agency_ip" ng-style="{'background-color': !agency.accuracy ? '#ea4e4e' : ''}">{{agency.ip}}</div>
                        </div>
                    </div>
                </div>

                <div class="info-title">원격제어</div>
                <div class="info-detail" layout="row" style="height: 40px;">
                    <md-select placeholder="원격제어" class="m-0 pr-3" ng-model="controlSelect" ng-change="controlMessage = ''" style="font-size: 12px;" flex="30">
                        <md-option ng-value="'shutdown'" style="height: 30px; font-size: 12px;">shutdown</md-option>
                        <md-option ng-value="'noshut'" style="height: 30px; font-size: 12px;">no shut</md-option>
                        <md-option ng-value="'ping'" style="height: 30px; font-size: 12px;">ping</md-option>
                        <md-option ng-value="'ACL'" style="height: 30px; font-size: 12px;">ACL deny</md-option>
                    </md-select>
                    <md-input-container class="md-block pr-3" flex="55">
                        <input ng-model="controlMessage" placeholder="입력 파라미터" ng-disabled="controlSelect != 'ping' && controlSelect != 'ACL'">
                    </md-input-container>
                    <md-button class="md-raised base-btn-2 nia-dark-button" ng-click="onClickExecuteTest()" flex="15" ng-disabled="controlSelect==''">실행</md-button>
                </div>
                <div class="test-result-area noselect">
                <!--<textarea class="test-result-area noselect">-->
                    <span ng-show="!controlSelect && !showProgressBar" style="color: #b7b7b7;">원격 제어 결과 메시지 출력 부분</span>
                    <iframe
                        id="ping"
                        ng-show="controlSelect=='ping' && showPingTxt"
                        sandbox="allow-forms allow-same-origin allow-scripts"
                        scrolling="yes"
                        ng-src="{{trustSrc()}}"
                        ng-if="ticket"
                        width="100%"
                        height="100%"
                        frameBorder="0"
                    >
                    </iframe>
                    <md-progress-circular ng-disabled="controlSelect!='ping' || !showProgressBar" ng-hide="controlSelect!='ping' || !showProgressBar" class="md-hue-2" md-diameter="30px" style="top: 35%; left: 45%; margin: 0;"></md-progress-circular>
                </div>
            </div>
        </md-dialog-content>
    </form>
    <div layout="row" class="modalFooter">
        <span flex></span>
        <md-button class="md-raised dialog-btn base-btn-2 black-btn" ng-click="clickCloseDialog()">닫기</md-button>
    </div>
</md-dialog>

