<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.go.ap.core.repository.primary.mapper.pm.PmTicketMapper">
    <select id="selectTicketCheckList" resultType="kr.go.ap.core.primary.nia.dto.pm.ticket.PmTicketDto" parameterType="string">
        SELECT TICKETNO, ISSUE_DATE, CLEAR_DATE, REASON, TRUNK_NAME, DIRECTION, TARGET_SYSNAME, WARNING_DATE
          FROM MBA.TB_ROADM_PREDICTIVE_MAINTENANCE_TICKET
         WHERE REASON = #{reason}
           AND CLEAR_DATE IS NULL
    </select>

    <select id="selectPmTicketKey" resultType="string">
        SELECT NEXTVAL('mba.seq_pm_ticket') ::VARCHAR AS TICKETNO
    </select>

    <insert id="insertPmTicket" parameterType="kr.go.ap.core.primary.nia.dto.pm.ticket.PmTicketDto">
        INSERT INTO MBA.TB_ROADM_PREDICTIVE_MAINTENANCE_TICKET(TICKETNO, ISSUE_DATE, CLEAR_DATE, REASON, TRUNK_NAME, DIRECTION, TARGET_SYSNAME, WARNING_DATE)
        VALUES(#{ticketno}, #{issueDate}, #{clearDate}, #{reason}, #{trunkName}, #{direction}, #{targetSysname}, #{warningDate})
        ON CONFLICT (TICKETNO) DO UPDATE
        SET ISSUE_DATE     = EXCLUDED.ISSUE_DATE,
            CLEAR_DATE     = EXCLUDED.CLEAR_DATE,
            REASON         = EXCLUDED.REASON,
            TRUNK_NAME     = EXCLUDED.TRUNK_NAME,
            DIRECTION      = EXCLUDED.DIRECTION,
            TARGET_SYSNAME = EXCLUDED.TARGET_SYSNAME,
            WARNING_DATE   = EXCLUDED.WARNING_DATE
    </insert>

    <update id="updateTicketClear" parameterType="kr.go.ap.core.primary.nia.dto.pm.ticket.PmTicketDto">
        UPDATE MBA.TB_ROADM_PREDICTIVE_MAINTENANCE_TICKET
           SET CLEAR_DATE = #{clearDate}
         WHERE TICKETNO = #{ticketno}
    </update>
</mapper>


