<div layout="column" class="md-checkbox--small selfHealing" layout-fill ng-cloak ng-controller="SelfHealingDialogCtrl">
    <div class="aiProcess_firstBox">
        <div class="aiProcessBox">
            <div class="aiProcessTitle" ng-click="debugger()">작업 요청</div>
            <div class="aiProcess_firstContent" style="height: 130px; min-height: 130px; margin-top: 50px;">
                <div class="aiProcessContentTitle">작업 요청 구간</div>
                <div layout="row" style="position: relative; padding: 20px 20px 0px 20px; color: #64454561;">
                    <i class="fa fa-circle-thin fa-4x" style="margin-left: 122px;">
                        <image src="{{!failureInfo.source_image ? '../../../../images/node/question.png' : failureInfo.source_image.path}}" style="width: 35px; height: 35px; position: absolute; left: 152px; top: 35px;"></image>
                    </i>
                    <div class="blinking" style="width:150px;height: 5px; border-bottom: 5px solid  #e41f1f;margin-top: 30px;"/>
                    <i class="fa fa-circle-thin fa-4x">
                        <image src="{{!failureInfo.target_image ? '../../../../images/node/question.png' : failureInfo.target_image.path}}" style="width: 35px; height: 35px; position: absolute; left: 357px; top: 35px;"></image>
                    </i>
                </div>
                <div layout="row" style="position: relative; margin-left: 90px; color: #cb5252; font-weight: bolder; font-size: 15px; text-align: center;">
                    <span style=" width: 130px;">{{failureInfo.source_name}}</span>
                    <span style="margin-left: 90px; width: 130px;">{{failureInfo.target_name}}</span>
                </div>
                <div layout="row" style="position: relative; margin-left: 90px; color: #cb5252; font-weight: bolder; font-size: 15px; text-align: center;">
                    <span style=" width: 130px;">{{failureInfo.source_port}}</span>
                    <span style="margin-left: 90px; width: 130px;">{{failureInfo.target_port}}</span>
                </div>
            </div>
            <div class="aiProcess_secondContent" style="height: 225px; min-height: 225px; margin-top: 30px;">
                <div class="aiProcessContentTitle">연관 SOP 리스트</div>
                <table md-table class="selfConfig sopCodeList tt-alarm-table ticket-alarm rca-md-table" ng-if="relatedSopList.length === 0" md-progress="promise" style="min-height: 100%; padding: 15px 0px 0px 5px;">
                    <tbody  md-body style="min-height: calc(100% - 40px); height: calc(100% - 40px); display: flex; justify-content: center; align-items: center;" >
                        <tr md-row>
                            <td class="pr-0" over-cell>연관 SOP 데이터가 존재하지 않습니다.</td>
                        </tr>
                    </tbody>
                </table>
                <table md-table class="selfHealing sopList tt-alarm-table ticket-alarm rca-md-table" ng-if="relatedSopList.length !== 0" md-progress="promise" style="min-height: 100%; padding: 15px 0px 0px 5px; overflow-x: auto;">
                    <thead md-head>
                    <tr md-row>
                        <th md-column md-column-size="70"></th>
                        <th md-column md-column-size="120" class="pr-0">티켓 번호</th>

                        <th md-column md-column-size="120" class="pr-0">장애구분</th>
                        <th md-column md-column-size="120" class="pr-0">장애유형</th>
                        <th md-column md-column-size="120" class="pr-0">조치내용</th>
                        <th md-column md-column-size="120" class="pr-0">기타사항</th>

                        <th md-column md-column-size="200" class="pr-0">장비ID</th>
                        <th md-column md-column-size="200" class="pr-0">장비이름</th>
                        <th md-column md-column-size="200" class="pr-0">마스터IP</th>
                        <th md-column md-column-size="200" class="pr-0">장비 I/F</th>
                        <th md-column md-column-size="120" class="pr-0">티켓유형</th>

                        <th md-column md-column-size="120" class="pr-0">마감자</th>
                        <th md-column md-column-size="120" class="pr-0">마감 시간</th>

                        <!--<th md-column md-column-size="170" class="pr-0">요청 시간</th>-->
                        <!--<th md-column md-column-size="170" class="pr-0">처리 시간</th>-->
                    </tr>
                    </thead>
                    <tbody md-body style="min-height: calc(100% - 40px); height: calc(100% - 40px); overflow-x: hidden; overflow-y: auto;">
                    <tr md-row class="repeated-item" ng-repeat="item in healingSopList.list">
                        <td md-cell md-checkbox-cell md-column-size="70" ng-click="onChangeSelectedSop(item)">
                            <md-checkbox ng-model="item.selected" ng-disabled="ticket.status != 'INIT'" ng-style="ticket.status != 'INIT' && { 'cursor': 'not-allowed'}" aria-label="''"></md-checkbox>
                        </td>
                        <td md-cell md-column-size="120" class="pr-0" over-cell>{{item.ticket_id}}</td>

                        <td md-cell md-column-size="120" class="pr-0" over-cell>{{ item.fault_classify }}</td>
                        <td md-cell md-column-size="120" class="pr-0" over-cell>{{item.fault_type}}</td>
                        <td md-cell md-column-size="120" class="pr-0" over-cell>{{item.fault_detail_content}}</td>
                        <td md-cell md-column-size="120" class="pr-0" over-cell>{{ item.etc_content }}</td>

                        <td md-cell md-column-size="200" class="pr-0" over-cell>{{item.root_cause_sysnamea}}</td>
                        <td md-cell md-column-size="200" class="pr-0" over-cell>{{item.root_cause_sysnamea}}</td>
                        <td md-cell md-column-size="200" class="pr-0" over-cell>{{item.ip_addra}}</td>
                        <td md-cell md-column-size="200" class="pr-0" over-cell>{{item.root_cause_porta}}</td>
                        <td md-cell md-column-size="120" class="pr-0" over-cell>{{getTicketTypeLabel(item)}}</td> <!--티켓유형-->

                        <td md-cell md-column-size="120" class="pr-0" over-cell>{{item.handling_fin_user}}</td>
                        <td md-cell md-column-size="120" class="pr-0" over-cell>{{item.handling_fin_time | dateFormat}}</td>

                        <!--<td md-cell md-column-size="170" class="pr-0" over-cell>{{item.request_time | dateFormat}}</td>-->
                        <!--<td md-cell md-column-size="170" class="pr-0" over-cell>{{item.receive_time | dateFormat}}</td>-->
                    </tr>
                    </tbody>
                </table>
            </div>

            <div class="aiProcess_secondContent" style="height: 225px; min-height: 225px; margin-top: 30px;">
                <div class="aiProcessContentTitle">담당직원 정보</div>
                <table md-table class="selfHealingTable tt-alarm-table rca-md-table" md-progress="promise" style="min-height: 100%; padding: 15px; overflow-x: hidden;">
                    <thead md-head>
                    <tr md-row>
                        <th md-column md-column-size="70"></th>
                        <th md-column md-column-size="140">이름</th>
                        <th md-column md-column-size="100">분류</th>
                        <th md-column md-column-size="200">EMAIL</th>
                    </tr>
                    </thead>
                    <tbody md-body style="height: calc(100% - 32px); overflow-y: auto;">
                    <tr md-row md-select="item" class="repeated-item" ng-repeat="item in managerList">
                        <td md-cell md-checkbox-cell md-column-size="70" ng-click="applyManager()">
                            <md-checkbox aria-label="''" ng-click="item.selected=!item.selected" ng-disabled="ticket.status != 'INIT'" ng-style="ticket.status != 'INIT' && { 'cursor': 'not-allowed'}"></md-checkbox>
                        </td>
                        <td md-cell md-column-size="140">{{item.name}}</td>
                        <td md-cell md-column-size="100">{{item.agency_name}}</td>
                        <td md-cell md-column-size="200">{{item.email}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="aiProcess_secondBox">
        <div class="aiProcessBox">
            <div class="aiProcess_firstContent">
                <div class="aiProcessContentTitle" style="top: -3%;">조치 요청서</div>
                <p meditor ng-model="model_healing.text" class="requestDoc ng-pristine ng-untouched ng-valid ng-isolate-scope w-100" style="overflow-x:auto; font-family: 'NanumGothic';"></p>
            </div>

            <div class="aiProcess_secondContent">
                <div class="aiProcessContentTitle">조치 SOP</div>
                <md-button class="md-raised base-btn-2 nia-dark-button" ng-click="openSOPListDialog()" style="float: right;">EDIT</md-button>
                <div layout="column" style="height: 100%; padding: 20px; color: #646363; overflow-x: auto;">
                    <!--<span>조치방법</span>-->
                    <div layout="row" class="w-100" style="font-size: 13px; height: 65px;">
                        <md-select placeholder="장애구분" class="mr-3" ng-model="operatorOpinion.faultClassify" style="width: 150px;">
                            <md-option ng-value="item.fault_type" ng-repeat="item in sopCodeList['장애구분']" style="height: 45px; font-size: 13px;">{{ item.fault_type }}</md-option>
                        </md-select>
                        <md-select placeholder="장애유형" class="mr-3" ng-model="operatorOpinion.faultType" style="width: 150px;">
                            <md-option ng-value="item.fault_type" ng-repeat="item in sopCodeList['장애유형']" style="height: 45px; font-size: 13px;">{{ item.fault_type }}</md-option>
                        </md-select>
                        <md-select placeholder="조치내용" class="mr-3" ng-model="operatorOpinion.faultDetail" style="width: 150px;">
                            <md-option ng-value="item.fault_type" ng-repeat="item in sopCodeList['조치내용']" style="height: 45px; font-size: 13px;">{{ item.fault_type }}</md-option>
                        </md-select>
                    </div>
                    <md-input-container class="md-block w-100" flex="100">
                        <input ng-model="operatorOpinion.etcContent" placeholder="기타 조치 내용 입력">
                    </md-input-container>
                </div>
            </div>
        </div>
    </div>
    <div class="footer selfHealingFooter">
        <md-button class="md-raised base-btn-2 black-btn" ng-click="dlgFunc.cancel()" style="float: right;">
            닫기
        </md-button>
        <md-button class="md-raised base-btn-2 nia-dark-button" ng-click="showFinProcessDialog()" style="float: right;">
            마감
        </md-button>
        <md-button class="md-raised base-btn-2 nia-dark-button" ng-click="sendEMail()" ng-disabled="ticket.status != 'INIT'" style="float: right; margin-right: 15px;">
            메일 전송
        </md-button>
        <md-button class="md-raised base-btn-2 nia-dark-button" ng-click="openConfigTestAction()" style="float: right;" disabled>
            시험
        </md-button>
        <md-button class="md-raised base-btn-2 nia-dark-button" ng-click="openBypassRouteListDialog()" ng-disabled="ticket.ticket_type !== 'ATT2'" style="float: right;" flex="15">
            자가구성 시험
        </md-button>
        <md-button class="md-raised base-btn-2 nia-dark-button" ng-click="openDateSetting()" style="float: right;" flex="15">
            데이터 스냅샷
        </md-button>
    </div>
</div>


<template id="template-requestDoc-healing">
    <h3>
        &nbsp;&nbsp;&nbsp;
        장애 상세내역 및 조치 요청서
    </h3>
    <div><br></div>
    <h5>1. 발신</h5>
    <div>&nbsp; ${AGENCY_NAME}&nbsp;${발신자}</div>
    <div><br></div>
    <h5>2. 수신</h5>
    <div class="selectedManagerHealing">&nbsp; &nbsp;${수신자}</div>
    <div><br></div>
    <h5>3. 작업 요청 내용</h5>
    <!--<div>&nbsp; &nbsp;- 작업명 : ${작업명}</div>-->
    <div>&nbsp;- 작업 요청 구간 : ${작업요청구간}</div>
    <div>&nbsp;- 티켓 번호 : ${티켓번호}<br></div>
    <div>&nbsp;- 티켓 타입 : ${티켓타입}<br></div>
    <div>&nbsp;- 발생 원인 : ${발생원인}<br></div>
    <!--<div>&nbsp; &nbsp;- 작업 목적 : ${작업목적}<br></div>-->
    <!--<div>&nbsp; &nbsp;- 작업 내용 : ${작업내용}<br></div>-->
    <div>&nbsp;- 상세 내용 : <span class="recommendDetailHealing"></span><br></div>
    <div><br></div>
    <h5>4. 장애 구간</h5>
    <div>&nbsp;- 장애 구간: ${피해규모}<br></div>
    <!--    ==> 이용기관 이름    -->
    <!--<div>&nbsp; &nbsp;- 피해 규모: ${피해규모}<br></div>-->
    <!--<div>&nbsp; &nbsp;- 대상 시설: ${대상시설}<br></div>-->
    <div><br></div>
    <h5>5. 연관 SOP</h5>
    <div>&nbsp;- 장애 구분: <span class="faultClassifyHealing"></span><br></div>
    <div>&nbsp;- 장애 유형: <span class="faultTypeHealing"></span><br></div>
    <div>&nbsp;- 조치 내용: <span class="faultDetailHealing"></span><br></div>
</template>

<template id="deafault-requestDoc-healing">
    <span>발송된 조치 요청서가 존재하지 않습니다.</span>
</template>
