<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.go.ap.core.repository.primary.mapper.mba.MbaTicketMapper">
    <select id="selectTicketKey" resultType="string">
        SELECT nextval('mba.seq_ticket') ::VARCHAR AS TICKET_ID
    </select>

    <select id="selectTicketCableKey" resultType="string">
        SELECT nextval('mba.seq_ticket_cable') ::VARCHAR AS TICKET_CABLE_ID
    </select>

    <select id="selectTicketPerDataCheckList" resultType="kr.go.ap.core.primary.nia.dto.rca.engine.ticket.TicketPerCheckDataDto">
        SELECT TICKET_ID, TRUNK_ID, DIRECTION, OCRTIME  FROM MBA.TB_MBA_TICKET_PERFORMANCE_DATA_CHECK ORDER BY TICKET_ID
    </select>

    <insert id="insertRcaTicket" parameterType="kr.go.ap.core.primary.nia.dto.rca.engine.ticket.TicketDto">
        INSERT INTO MBA.TB_MBA_TICKET_CURRENT
        (
              TICKET_ID, CLUSTER_NO, TICKET_TYPE, TICKET_GENERATION_TIME, FAULT_TIME
            , ROOT_CAUSE_TYPE, ROOT_CAUSE_CODE, ROOT_CAUSE_DOMAIN, TOTAL_RELATED_ALARM_CNT, STATUS
            , TICKET_RCA_RESULT_CODE, TICKET_RCA_RESULT_DTL_CODE, TICKET_RCA_RESULT_ORIG_DTL_CODE, PARENT_TICKET_ID, OCCUR
            , DIRECTION, TRUNK_ID, TRUNK_NAME
        )
        VALUES
        (
              #{ticketId}, #{clusterNo}, #{ticketType}, (SELECT NOW()), #{faultTime}
--             , #{rootCauseType}, #{rootCauseCode}, #{rootCauseDomain}, #{relatedAlarmCnt}, #{status}
            , #{rootCauseType}, #{rootCauseCode}, #{rootCauseDomain}, #{totalRelatedAlarmCnt}, #{status}
            , #{ticketRcaResultCode}, #{ticketRcaResultDtlCode}, #{ticketRcaResultDtlCode}, #{parentTicketId}, #{occur}
            , #{direction}, #{trunkId}, #{trunkName}
        )
    </insert>

    <insert id="insertTicketCableDtoList" parameterType="hashmap">
        <if test="ticketCableDtoList.size != 0">
            INSERT INTO MBA.TB_MBA_TICKET_CABLE
            (
                  TICKET_ID, TICKET_CABLE_ID, IS_ROOT_ROW_SIGNAL_LINE, TIDA, TIDAZ
                , SYSNAMEA, SYSNAMEZ, PTPNAMEA, PTPNAMEZ
            )
            VALUES
            <foreach collection="ticketCableDtoList" item="item" separator=",">
                (
                      #{item.ticketId}, #{item.ticketCableId}, #{item.isRootRowSignalLine}, #{item.tida}, #{item.tidz}
                    , #{item.sysnamea}, #{item.sysnamez}, #{item.ptpnamea}, #{item.ptpnamez}
                )
            </foreach>
        </if>
    </insert>

    <insert id="insertTicketPerformanceDataCheck" parameterType="kr.go.ap.core.primary.nia.dto.rca.engine.ticket.TicketPerCheckDataDto">
        INSERT INTO MBA.TB_MBA_TICKET_PERFORMANCE_DATA_CHECK (TICKET_ID, OCRTIME, TRUNK_ID, DIRECTION)
        VALUES(#{ticketId}, #{ocrtime}, #{trunkId}, #{direction})
    </insert>

    <insert id="insertLowPmDataDtoList" parameterType="hashmap">
        <if test="lowPmDataDtoList.size != 0">
            INSERT INTO MBA.TB_ROADM_LOW_OPTICAL_PERFORMANCE
            (
                  TICKET_ID, TRUNK_ID, TRUNK_NAME, TID, SYSNAME
                , ROADM_CODE, PTPNAME, PORT, OCRTIME, IN_OUT
                , VALUE_CUR, VALUE_MAX, VALUE_MIN, DIRECTION, ROUTENUM
                , IS_LOW_SIGNAL
            )
            VALUES
            <foreach collection="lowPmDataDtoList" item="item" separator=",">
                (
                      #{ticketId}, #{item.trunkId}, #{item.trunkName}, #{item.tid}, #{item.sysname}
                    , #{item.roadmCode}, #{item.ptpname}, #{item.port}, #{item.ocrtime}, #{item.inOut}
                    , #{item.valueCur}, #{item.valueMax}, #{item.valueMin}, #{item.direction}, #{item.routeNum}
                    , #{item.isLowSignal}
                )
            </foreach>
        </if>
    </insert>

    <insert id="insertTicketPrefData" parameterType="hashmap">
        <if test="opticalPerformanceDtoList.size != 0">
            INSERT INTO MBA.TB_ROADM_LOW_OPTICAL_PERFORMANCE (
            TICKET_ID, TRUNK_ID, TRUNK_NAME, TID, SYSNAME
            , ROADM_CODE, PTPNAME, PORT, OCRTIME, IN_OUT
            , VALUE_CUR, VALUE_MAX, VALUE_MIN, DIRECTION, ROUTENUM
            )
            VALUES
            <foreach collection="opticalPerformanceDtoList" item="item" separator=",">
                (
                #{ticketId}, #{item.trunkId}, #{item.trunkName}, #{item.tid}, #{item.sysname}
                , #{item.roadmCode}, #{item.ptpname}, #{item.port}, #{item.ocrtime}, #{item.inOut}
                , #{item.valueCur}, #{item.valueMax}, #{item.valueMin}, #{item.direction}, #{item.routeNum}
                )
            </foreach>
        </if>
    </insert>

    <delete id="deleteCheckOpticalPerformance" parameterType="string">
        DELETE FROM MBA.TB_MBA_TICKET_PERFORMANCE_DATA_CHECK WHERE TICKET_ID = #{ticketId}
    </delete>

</mapper>


