<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.codej.ipms.mapper.db2nd.IpmsMapper">
    <sql id="TotalCountPrefix">
      <if test="TOTAL_COUNT != null">
         SELECT COUNT(*) AS "count" FROM (
      </if>
   </sql>
    
   <sql id="TotalCountSuffix">
   <if test="TOTAL_COUNT == null and sort_column_name != null and sort_type != null">
        ORDER BY ${sort_column_name} ${sort_type}
   </if>
   <if test="TOTAL_COUNT != null">
        ) TOTALCOUNT
   </if>
   <choose>
        <when test="TOTAL_COUNT != null and limit != null">
            LIMIT ${limit}
        </when>
        <when test="TOTAL_COUNT == null and page != null and limit != null">
            LIMIT ${limit} OFFSET ${(page - 1) * limit}
        </when>
        <when test="TOTAL_COUNT == null and page != null and limit == null">
            <!--  default 10으로 설정 -->
            LIMIT 10 OFFSET ${(page - 1) * limit}
        </when>
   </choose>
   </sql>

    <select id="SELECT_USER" parameterType="hashmap" resultType="hashmap">
        SELECT
            U.NAME
            , U.EMAIL
            , U.AGENCY_NAME
                ,U.ID
                , U.PW
                , U.LVL
                , TO_CHAR(U.LAST_LOGIN, 'YYYY-MM-DD HH24:MI:SS') AS LAST_LOGIN
                , U.PHONE_NUMBER
        FROM tb_user U
        <where>
            <if test="ID != null">
                U.NAME = #{ID} 
            </if>
        </where>
        limit 1
    </select>

</mapper>