<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nia.data.linkage.ip.sflow.mapper.linkage.LinkageSflowMapper">

    <select id="selectSflowLogList" resultType="com.nia.data.linkage.ip.sflow.vo.sflow.SflowLogVo" parameterType="string">
        SELECT strResIP, strResName, strS_IP, strS_PORT, strD_IP
             , strD_PORT, strS_MAC, strD_MAC, strProtocol, strIPv4ToS
             , strChannel, strSenderIP, strIn_Interface, strOut_Interface, strBytes_col
             , strCounts, dateRegDate
          FROM catchview.xe_sflow_logs
         WHERE dateRegDate <![CDATA[ > ]]> CONVERT(#{dateRegDate}, datetime)
         ORDER BY dateRegDate
    </select>

    <select id="selectSflowProtocolLogList" resultType="com.nia.data.linkage.ip.sflow.vo.sflow.SflowProtocolLogVo" parameterType="int">
        SELECT intIndex, strResIP, strResName, strRank, strProtocol
             , strBytes, strUnit, dateRegDate
          FROM catchview.xe_sflow_protocol_log
         WHERE intIndex <![CDATA[ > ]]> #{interrIdx}
         ORDER BY intIndex
    </select>
</mapper>


