<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nia.data.linkage.ip.alarm.mapper.nia.NiaAlarmMapper">
    <select id="selectAlarmYdKey" resultType="string">
        SELECT VALUE_NAME FROM NIA.TB_LINKAGE_SEQ WHERE KEY_NAME = #{keyName}
    </select>

    <insert id="insertIpAlarm" parameterType="java.util.HashMap">
        <if test="alarmList.size != 0">
            INSERT INTO IP_YD.XE_CVNMS_ERROR
            (
                INTERRIDX, MODULE_SRL, STRRESID, STRIFID, STRTYPE,
                STRLEVEL, STRTITLE, STRCONTENT, STRGROUPID, STRGROUPID1,
                STRGROUPID2, STRGROUPID3, STRGROUPID4, STRGROUPID5, STRGROUPID6,
                STRGROUPID7, STRGROUPID8, STRGROUPID9, STRGROUPID10, DATERAISEDATE,
                DATECLEARDATE, DATEREGDATE, STRCLEARCHECK, STRMEMO, STRACKNOWNCHECK,
                STRACKNOWNCHECK_MEMBER_SRL
            )
            VALUES
            <foreach collection="alarmList" item="item" separator=",">
            (
                #{item.intErrIdx}, #{item.moduleSrl}, #{item.strResID}, #{item.strIfID}, #{item.strType},
                #{item.strLevel}, #{item.strTitle}, #{item.strContent}, #{item.strGroupID}, #{item.strGroupID1},
                #{item.strGroupID2}, #{item.strGroupID3}, #{item.strGroupID4}, #{item.strGroupID5}, #{item.strGroupID6},
                #{item.strGroupID7}, #{item.strGroupID8}, #{item.strGroupID9}, #{item.strGroupID10}, #{item.dateRaiseDate},
                #{item.dateClearDate}, #{item.dateRegDate}, #{item.strClearCheck}, #{item.strMemo}, #{item.strAcknownCheck},
                #{item.strAcknownCheckMemberSrl}
            )
            </foreach>
        </if>
    </insert>

    <update id="updateAlarmYdKey" parameterType="java.util.HashMap">
        UPDATE NIA.TB_LINKAGE_SEQ SET VALUE_NAME = #{value}, YD_DATE = now() WHERE KEY_NAME = #{key}
    </update>
</mapper>


