div.show-debug-bg div.ai-history-container{
    background-image: url(../../../../images/nia/ai_3.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 1300px;
}




