<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.codej.web.mapper.db1st.DbUserMapper">

    <select id="SELECT_NOW" parameterType="hashmap" resultType="com.codej.base.dto.model.ResultMap">
        SELECT now()
    </select>

    <select id="SELECT_LOGIN_USER" parameterType="hashmap" resultType="com.codej.base.dto.DbUser">
        SELECT  U.UID AS "uid",
                U.NAME AS "name",
                U.PASSWORD AS "password",
                (SELECT STRING_AGG(roles, ',') FROM USER_ROLES UR WHERE UR.USER_UID = U.UID) AS "roles"
        FROM    "USER" U
        WHERE   U.UID = #{uid} 
        LIMIT 1
    </select>

    <!-- 업데이트 마지막 로그인 -->
    <update id="UPDATE_LOGIN_DATE" parameterType="hashmap">
        UPDATE "USER"
        SET    connect_time = NOW()
        WHERE  UID         = #{uid}
    </update>

    <insert id="INSERT_USER" parameterType="com.codej.base.dto.DbUser">
        INSERT
        INTO "USER"
            (uid, password, name)
        VALUES 
            (#{uid}, #{password}, #{name})
    </insert>

    <update id="UPSERT_USER" parameterType="com.codej.base.dto.DbUser">
        WITH UPSERT AS
        ( UPDATE "USER"
        <set>
            <if test="password != null">
                password = #{password},
            </if>
            <if test="name != null">
                name = #{name},
            </if>
            <if test="ipAddress != null">
                ip_address = #{ipAddress},
            </if>
                connect_time = #{connectTime}
        </set>
        WHERE uid = #{uid} RETURNING * )
        INSERT
        INTO "USER"
        (
            uid, password, name,
        <if test="ipAddress != null">
            ip_address,
        </if>
            connect_time
        )
        SELECT 
            #{uid}, #{password}, #{name},
        <if test="ipAddress != null">
            #{ipAddress},
        </if>
            now()::DATE
        WHERE NOT EXISTS
        (SELECT *
        FROM UPSERT)
    </update>

    <delete id="DELETE_USER_MAP" parameterType="hashmap">
        -- [command=${command}, sqlId=${sqlId}]
        DELETE FROM
        "USER"
        <where>
            <trim prefix="(" prefixOverrides="AND|OR" suffix=")" suffixOverrides="">
                UID = #{uid}
                <if test="name != null">
                    AND NAME = #{name}
                </if>
            </trim>
        </where>
    </delete>

    <select id="selectUserList" parameterType="java.util.HashMap" resultType="com.codej.base.dto.DbUser">
        SELECT U.UID       AS "uid",
               U.NAME      AS "name",
               R.AGG_ROLES AS "roles"
        FROM "USER" U
                 LEFT OUTER JOIN
             (SELECT USER_UID         AS USER_UID,
                     ARRAY_AGG(roles) AS AGG_ROLES
              FROM USER_ROLES
              GROUP BY USER_UID) R ON (R.USER_UID = U.UID)
    </select>

</mapper>
