<md-dialog id="alarmArea" class="alarm-dialog" ng-cloak style="width: 50%; height:70%">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <i class="fa fa-check fa-lg"></i>
            <span class="title" ng-click="debugger()"> &nbsp; 미확인 트래픽</span>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="dlgFunc.cancel()">
                <md-icon md-svg-src="img/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
            </md-button>
        </div>
    </md-toolbar>


    <form>
        <md-dialog-content>
            <div layout="column" class="alarmContents">
                <md-card class="alarm-card">
                    <md-tabs md-border-bottom="" md-stretch-tabs md-selected="currentTab">
                        
                        <!-- 국가 tab -->
                        <md-tab label="국가" md-on-select="changeTab1()">
                            <div layout="row" md-theme="grey" layout-sm="column" ng-hide="isRcaProgressHide"
                                 layout-align="space-around" style="position: absolute; z-index: 200;margin: calc(45vh - 100px) 46%;">
                            </div>
                            <div layout="column" flex layout-fill>
                                <div layout="row" class="date-container" style="justify-content: end;">
                                    <span>국가명</span>
                                    <input class="nav_search form-control mr-sm-2 mini-ticket-search" select-on-click ng-model="tab1.param.countryName"
                                            type="text" aria-label="Search" ng-model="tab1.param.countryName"
                                            ng-enter="handleSearch1()"style="margin-left: 20px; margin-right: 50px;"/>
                                    <span>국가코드</span>
                                    <input class="nav_search form-control mr-sm-2 mini-ticket-search" select-on-click ng-model="tab1.param.countryCode"
                                            type="text" aria-label="Search" ng-model="tab1.param.countryCode"
                                            ng-enter="handleSearch1()"style="margin-left: 20px; margin-right: 50px;"/>
                                    <md-button class="search-option-switch" ng-click="handleSearch1()" aria-label="''">
                                        <i class="fa fa-search fa-lg"></i>
                                    </md-button>
                                    <md-button class="search-option-switch clearBtn" ng-click="searchClear1()">
                                        전체보기
                                    </md-button>
                                </div>
                                <div layout="column" class="table-wapper" id="countryScroll" flex layout-fill>
                                    <table md-table multiple>
                                        <thead md-head>
                                            <tr md-row > 
                                                <th md-column md-column-size="50%" class="pr-0">국가명</th>
                                                <th md-column md-column-size="50%" class="pr-0">국가코드</th>
                                            </tr>
                                        </thead>
                                        <tbody id="alarm-tbody" md-body>
                                            <tr md-row ng-repeat="item in tab1.gridResult"> <!-- item in gridOptions.data -->
                                                <td md-cell md-column-size="50%" class="pr-0">{{item.country_name}}</td>
                                                <td md-cell md-column-size="50%" class="pr-0">{{item.koica}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <md-table-pagination class="mt-2" md-limit="tab1.pagination.limit"
                                                    md-limit-options="[30,50,100,200]" md-page="tab1.pagination.selected"
                                                    md-total="{{tab1.pagination.total}}" md-page-select="true" md-boundary-links="true">
                                </md-table-pagination>
                                <div class="modalFooter" >
                                    <md-button class="md-raised dialog-btn base-btn-2 black-btn" ng-click="dlgFunc.cancel()" style="float: right;" >닫기</md-button>
                                    <md-button class="md-raised base-btn-2 nia-dark-button" ng-if="false" ng-click="handleApplicationAdd('C')" style="float: right;" >등록</md-button>
                                </div>
                            </div>
                        </md-tab>

                        <!-- 이용기관 tab -->
                        <md-tab label="이용기관" md-on-select="changeTab1()">
                            <div layout="row" md-theme="grey" layout-sm="column" ng-hide="isRcaProgressHide"
                                 layout-align="space-around" style="position: absolute; z-index: 200;margin: calc(45vh - 100px) 46%;">
                            </div>
                            <div layout="column" flex layout-fill>
                                <div layout="row" class="date-container" style="justify-content: end;">
                                    <span style="font-size: small;">이용기관명</span>
                                    <input class="nav_search form-control mr-sm-2 mini-ticket-search" select-on-click ng-model="tab2.param.nrenName"
                                           type="text" aria-label="Search" ng-model="tab2.param.nrenName"
                                           ng-enter="handleSearch2()"style="margin-left: 20px; margin-right: 50px;"/>
                                    <span style="font-size: small;">IP주소</span>
                                    <input class="nav_search form-control mr-sm-2 mini-ticket-search" select-on-click ng-model="tab2.param.nrenIp"
                                           type="text" aria-label="Search" ng-model="tab2.param.nrenIp"
                                           ng-enter="handleSearch2()"style="margin-left: 20px; margin-right: 50px;"/>
                                    <md-button class="search-option-switch" ng-click="handleSearch2()" aria-label="''">
                                        <i class="fa fa-search fa-lg"></i>
                                    </md-button>
                                    <md-button class="search-option-switch clearBtn" ng-click="searchClear2()">
                                        <span style="font-size: small;">전체보기</span>
                                    </md-button>
                                </div>
                                <div layout="column" class="table-wapper" id="agencyScroll" flex layout-fill>
                                    <table md-table>
                                        <thead md-head>
                                        <tr md-row>
                                            <th md-column md-column-size="40%" class="pr-0">이용기관명</th>
                                            <th md-column md-column-size="40%" class="pr-0">IP주소</th>
                                            <th md-column md-column-size="20%" class="pr-0"></th>
                                        </tr>
                                        </thead>
                                        <tbody id="alarm-tbody" md-body>
                                        <tr md-row ng-repeat="item in tab2.gridResult"> <!-- item in gridOptions.data -->
                                            <td md-cell md-column-size="40%" class="pr-0">{{item.nren_name}}</td>
                                            <td md-cell md-column-size="40%" class="pr-0">{{item.nren_ip}}</td>
                                            <td md-cell md-column-size="20%" class="pr-0"><a href="" ng-click="handleAgencyAdd('U', item)">수정/삭제</a></td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <md-table-pagination class="mt-2" md-limit="tab2.pagination.limit"
                                                    md-limit-options="[30,50,100,200]" md-page="tab2.pagination.selected"
                                                    md-total="{{tab2.pagination.total}}" md-page-select="true" md-boundary-links="true">
                                </md-table-pagination>
                                <div class="modalFooter" >
                                    <md-button class="md-raised dialog-btn base-btn-2 black-btn" ng-click="dlgFunc.cancel()" style="float: right;" >닫기</md-button>
                                    <md-button class="md-raised base-btn-2 nia-dark-button" ng-click="handleAgencyAdd('C')" style="float: right;" >등록</md-button>
                                </div>
                            </div>
                        </md-tab>

                        <!-- 어플리케이션 tab -->
                        <md-tab label="어플리케이션" md-on-select="changeTab1()">
                            <div layout="row" md-theme="grey" layout-sm="column" ng-hide="isRcaProgressHide"
                                 layout-align="space-around" style="position: absolute; z-index: 200;margin: calc(45vh - 100px) 46%;">
                            </div>
                            <div layout="column" flex layout-fill>
                                <div layout="row" class="date-container" style="justify-content: end;">
                                    <span style="font-size: small;">어플리케이션명</span>
                                    <input class="nav_search form-control mr-sm-2 mini-ticket-search" select-on-click ng-model="tab3.param.appName"
                                           type="text" aria-label="Search"
                                           ng-enter="handleSearch3()"style="margin-left: 20px; margin-right: 50px;"/>
                                    <span style="font-size: small;">PORT번호</span>
                                    <input class="nav_search form-control mr-sm-2 mini-ticket-search" select-on-click ng-model="tab3.param.port"
                                           type="text" aria-label="Search"
                                           ng-enter="handleSearch3()"style="margin-left: 20px; margin-right: 50px;"/>
                                    <md-button class="search-option-switch" ng-click="handleSearch3()" aria-label="''">
                                        <i class="fa fa-search fa-lg"></i>
                                    </md-button>
                                    <md-button class="search-option-switch clearBtn" ng-click="searchClear3()">
                                        <span style="font-size: small;">전체보기</span>
                                    </md-button>
                                </div>
                                <div layout="column" class="table-wapper" id="appScroll" flex layout-fill>
                                    <table md-table multiple>
                                        <thead md-head>
                                        <tr md-row>
                                            <th md-column md-column-size="40%" class="pr-0">어플리케이션명</th>
                                            <th md-column md-column-size="40%" class="pr-0">PORT번호</th>
                                            <th md-column md-column-size="20%" class="pr-0"></th>
                                        </tr>
                                        </thead>
                                        <tbody id="alarm-tbody" md-body>
                                            <tr md-row ng-repeat="item in tab3.gridResult">
                                                <td md-cell md-column-size="40%" class="pr-0">{{item.protocol}}</td>
                                                <td md-cell md-column-size="40%" class="pr-0">{{item.port_num}}</td>
                                                <td md-cell md-column-size="20%" class="pr-0"><a href="" ng-click="handleApplicationAdd('U', item)">수정/삭제</a></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <md-table-pagination class="mt-2" md-limit="tab3.pagination.limit"
                                                    md-limit-options="[30,50,100,200]" md-page="tab3.pagination.selected"
                                                    md-total="{{tab3.pagination.total}}" md-page-select="true" md-boundary-links="true">
                                </md-table-pagination>
                                <div class="modalFooter">
                                    <md-button class="md-raised dialog-btn base-btn-2 black-btn" ng-click="dlgFunc.cancel()" style="float: right;">닫기</md-button>
                                    <md-button class="md-raised base-btn-2 nia-dark-button" ng-click="handleApplicationAdd('C')" style="float: right;">등록</md-button>
                                </div>
                            </div>
                        </md-tab>
                    </md-tabs>
                </md-card>
            </div>
        </md-dialog-content>
    </form>
</md-dialog>

