div.dashboardContainer{
    color: #eee;
    overflow-y: auto;
}


div.dashboardContainer div.view-header {
    padding: 10px 30px;
    position: relative;
}

div.dashboardContainer div.view-header > *,
div.dashboardContainer div.view-header > div.condition > * {
    display: inline-block;
    margin: 0 10px 0 0;
}

div.dashboardContainer div.view-header > div.condition {
    margin: 0; 
    position: absolute; 
    right: 0;
}
div.dashboardContainer div.view-header > div.condition > select {
    background-color: white;
}

div.dashboardContainer div.view-header > div.condition > input {
    width: 100px;
}

div.dashboardContainer div.group-title{
    margin-left: 15px;
}

div.dashboardContainer div.group-title > i{
    margin-left: 10px;
    cursor: pointer;
}

div.dashboardContainer div.group-contents{
    border-color: #aaa;
    height: auto;
}

div.dashboardContainer div.chart-wrapper {
    background-color: #1c2b40;
    margin: 5px 10px 10px 10px;
    border-radius: 15px;
    padding: 15px;
}

div.dashboardContainer div.chart {
    margin: 5px 0 0 0;
    background-color: #f5f6f8;
}

div.dashboardContainer div.table {
    margin: 5px 0 0 0;
    background-color: #181b1f
}

div.dashboardContainer div.chart * {
    color: rgb(19, 18, 18);
}

div.dashboardContainer div.table *:not(span)  {
    border: 1px dotted white;
}

div.dashboardContainer div.table tr {
    height: auto !important;
} 

div.dashboardContainer div.table td {
    padding: auto 20px;
}

div.dashboardContainer div.table td:nth-child(1) {
    font-weight: 700;
    font-size: 20px;
    width: 50%;
    text-align: center;
    line-height: 40px;
} 

div.dashboardContainer div.table td:nth-child(2) {
    font-size: 17px;
    width: 50%;
    text-align: center;
    line-height: 40px;
} 

div.dashboardContainer div.chart-title, 
div.dashboardContainer div.chart-title label{
    font-size: 14px;
}

div.dashboardContainer div.chart-title > md-select {
    color: #eee;
    background-color: #eee;
    display: inline-block;
    margin: 0 20px;
    width: 150px;
}

div.dashboardContainer md-select md-select-value {
    color: #aaa !important;
}


