<md-dialog class="node-detail-dialog" id="nodeDetail" ng-cloak style="width: 512px;">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <i class="fa fa-check fa-lg"></i>
            <span class="title" ng-click="debugger()">노드 상세보기</span>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="dlgFunc.cancel()">
                <md-icon md-svg-src="img/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
            </md-button>
        </div>
    </md-toolbar>
    <form>
        <md-dialog-content style="overflow-x: hidden;">
            <div class="node-detail-dialog-content">
                <table class="node-detail-table">
                    <tr>
                        <td class="userInfoKind">노드ID</td>
                        <td><input class="node-id w-75" ng-model="nodeDetailData.nodeId" disabled/></td>
                        <td class="userInfoKind">노드명</td>
                        <td><input class="node-name w-75" ng-model="nodeDetailData.NodeNm" clear-btn ng-disabled="tools.store.optionsNodeEditable != true"/></td>
                    </tr>
                    <tr>
                        <td class="userInfoKind">모델명</td>
                        <td>
                            <md-select class="model-name w-75" ng-model="nodeDetailData.modelNm" ng-disabled="tools.store.optionsNodeEditable != true">
                                <md-option ng-value="item.code_id" ng-repeat="item in selectModelName">{{item.code_nm}}</md-option>
                            </md-select>
                        </td>
                        <td class="userInfoKind">대표 IP</td>
                        <td><input class="node-representative w-75" ng-model="nodeDetailData.ipAddr" clear-btn ng-disabled="tools.store.optionsNodeEditable != true"/></td>
                    </tr>
                    <tr>
                        <td class="userInfoKind">MAC주소</td>
                        <td><input class="mac-address w-75" ng-model="nodeDetailData.macAddr" clear-btn ng-disabled="tools.store.optionsNodeEditable != true"/></td>
                        <td class="userInfoKind">사용여부</td>
                        <td>
                            <md-select class="node-item-use w-75" ng-model="nodeDetailData.nodeUse" ng-disabled="tools.store.optionsNodeEditable != true">
                                <md-option ng-value="item.key" ng-repeat="item in selectNodeUseName">{{item.value}}</md-option>
                            </md-select>
                        </td>
                    </tr>
                    <tr style="height: 30px;">
                        <td colspan="4" class="userInfoKind">NetConf</td>
                    </tr>
                    <tr>
                        <td class="userInfoKind">Port</td>
                        <td><input class="NetConf-port w-75" ng-model="nodeDetailData.netconfPort" clear-btn ng-disabled="tools.store.optionsNodeEditable != true"/></td>
                        <td class="userInfoKind">ID</td>
                        <td><input class="netConf-id w-75" ng-model="nodeDetailData.netconfId" clear-btn ng-disabled="tools.store.optionsNodeEditable != true"/></td>
                        <!--<td class="userInfoKind">PW</td>-->
                        <!--<td><input class="netConf-password" ng-model="nodeDetailData.netconfPw" clear-btn /></td>-->
                    </tr>
                    <tr>
                        <td class="userInfoKind">PW</td>
                        <td><input class="netConf-password w-75" ng-model="nodeDetailData.netconfPw" clear-btn ng-disabled="tools.store.optionsNodeEditable != true"/></td>
                    </tr>
                    <tr style="height: 30px;">
                        <td colspan="4" class="userInfoKind">좌표</td>
                    </tr>
                    <tr>
                        <td class="userInfoKind">위도</td>
                        <td><input class="coordinate-latitude w-75" ng-model="nodeDetailData.latitude" clear-btn ng-disabled="tools.store.optionsNodeEditable != true"/></td>
                        <td class="userInfoKind">경도</td>
                        <td><input class="coordinate-hardness w-75" ng-model="nodeDetailData.longitude" clear-btn ng-disabled="tools.store.optionsNodeEditable != true"/></td>
                    </tr>
                </table>
            </div>
            <div class="modalFooter">
                <md-button class="md-raised base-btn-2 nia-dark-button md-hide" ng-style="{display: tools.store.optionsNodeEditable ? 'inline-block !important':'none'}" ng-click="nodeSave()" ng-disabled="tools.store.optionsNodeEditable != true">저장</md-button>
                <md-button class="md-raised base-btn-2 nia-dark-button md-hide" ng-style="{display: tools.store.optionsNodeEditable ? 'inline-block !important':'none'}" ng-click="nodeDelete()" ng-disabled="tools.store.optionsNodeEditable != true">삭제</md-button>
                <md-button class="md-raised dialog-btn base-btn-2 black-btn" ng-click="dlgFunc.cancel()">닫기</md-button>
            </div>
        </md-dialog-content>
    </form>
</md-dialog>
