/*@import url("ticket.css");*/
/*@import url("../pages/directive/top-menu.css");*/
* {
    /*-webkit-box-sizing: border-box;*/
    /*-moz-box-sizing: border-box;*/
    /*box-sizing: border-box;*/
}
html {
    overflow: hidden; !important;
}
:focus {
    outline: 0;
}

md-input-container .md-errors-spacer {
    display: none;
}

md-toolbar:not(.md-menu-toolbar) md-icon {
    color: rgba(255, 255, 255, 0.87);
    fill: rgba(255, 255, 255, 0.87);
}

.my-slide-container md-content, .md-virtual-repeat-scroller, .fc-scroller {
    touch-action: pan-y;
}

md-toast {
    z-index: 10000 !important;
}

.main {
}

.monitoring {
}

/* 전체글꼴 지정 */
body{
    font-family: 'roboto','NanumGothic';
}

.no-drag{
    -ms-user-select: none;
    -moz-user-select: -moz-none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    user-select: none;
}

/***************************************************************************************************************************************/
/* Custom md-button */
/***************************************************************************************************************************************/
.md-button.base-btn-5 {
    min-width: 146px;
    font-size: 20px;
    line-height: 1.3;
    min-height: 40px;
    height: 40px;
}
.md-button.base-btn-4 {
    min-width: 126px;
    font-size: 18px;
    line-height: 1.3;
    min-height: 35px;
    height: 35px;
}
.md-button.base-btn-3 {
    min-width: 106px;
    font-size: 16px;
    line-height: 1.3;
    min-height: 30px;
    height: 30px;
}
.md-button.base-btn-2 {
    min-width: 86px;
    font-size: 12px;
    line-height: 1.5;
    min-height: 25px;
    height: 25px;
}
.md-button.base-btn-1 {
    min-width: 66px;
    font-size: 10px;
    line-height: 1.5;
    min-height: 20px;
    height: 20px;
}

/***************************************************************************************************************************************/
/* 스크롤바 */
/***************************************************************************************************************************************/
:not(.ticket-container)::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    background-color: #F5F5F5;
    border-radius: 10px;
}
:not(.ticket-container)::-webkit-scrollbar{
    width: 12px;
    height: 12px;
    border-radius: 10px;
    background-color: #F5F5F5;
}
:not(.ticket-container)::-webkit-scrollbar-thumb{
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    background-color: #1f335c80;
}
:not(.ticket-container)::-webkit-scrollbar-thumb:hover{
    background-color: rgba(3, 0, 92, 0.5);
}

/***************************************************************************************************************************************/
/* custom range-slider */
/***************************************************************************************************************************************/
/* md-range-slider 디렉티브 css */
/*.range-slider-container {*/
    /*position: relative;*/
    /*height: 100px;*/
/*}*/
/*.range-slider-container md-slider {*/
    /*margin: 0;*/
/*}*/
/*.range-track-line {*/
    /*position: absolute;*/
    /*height: 2px;*/
    /*top: 23px;*/
    /*background-color: rgb(255, 64, 129);*/
/*}*/
/*.range-slider-container md-slider.md-default-theme.md-min .md-thumb:after {*/
    /*background-color: rgb(255, 64, 129) !important;*/
/*}*/
/*.range-slider-left, .range-slider-right {*/
    /*position: absolute;*/
    /*top: 0px;*/
/*}*/
/*.range-slider-right {*/
    /*right: 0px;*/
/*}*/
/*.range-slider-left md-slider .md-thumb-container {*/
    /*transition: -webkit-transform 0s linear;*/
    /*transition: transform 0s linear;*/
/*}*/
/*.range-slider-left md-slider.md-default-theme .md-track.md-track-fill {*/
    /*background-color: rgba(188, 188, 188, 1) !important;*/
/*}*/
/*.range-slider-left md-slider.md-default-theme .md-track:not(.md-track-fill) {*/
    /*background-color: rgb(255, 64, 129) !important;*/
/*}*/
/*.range-slider-container md-slider .md-thumb-container {*/
    /*transition: -webkit-transform 0s linear;*/
    /*transition: transform 0s linear;*/
/*}*/
/*.range-slider-container md-slider .md-track-container {*/
    /*transition: -webkit-transform 0s linear;*/
    /*transition: transform 0s linear;*/
/*}*/

.range {
    width: 550px;
    margin-left: 20px;
    display: inline-block;
    padding: 6px 0;
    height: 10px;
}
.range.range.ui-slider {
    border: none;
    background: #eee;
    background: linear-gradient(to right, #ccc calc(var(--from) * 1%), #828591 0, #5d697b calc(var(--to) * 1%), #ccc 0) !important;
    height: 1px;
    width: 300px;
    margin: 10px 20px;
    /*border-radius: 10px;*/
}
.range.ui-slider-horizontal .ui-slider-handle {
    border-radius: 10%;
    background-color: #5d697b;
    outline: none;
    border: 1px solid #5d697b;
    position: absolute;
    display: block;
    height: 18px;
    width: 9px;
    transform: scale(1);
    transition: transform 100ms ease-in-out;

    text-align: center;
    box-sizing: border-box;
    margin-top: 2px;
}
.range.ui-slider-horizontal .ui-slider-handle:hover {
    transform: scale(1.2);

}

.range.ui-slider-horizontal .ui-slider-handle:focus {
    outline: none;
    background-color: #5d697b;
    border: 1px solid #5d697b;

}

.dropdown-menu{
    min-width: 8.5em;
}
.dropdown-divider{
    margin: .1rem 0;
}
.dropdown-menu .dropdown-item{
    min-height: 25px;
    font-size: 0.75em;
    padding: 0.5em 2em;
}

md-dialog .md-title{
    font-weight: 900;
}

/***************************************************************************************************************************************/
/* Input 클리어 버튼 (clear-btn directive) */
/***************************************************************************************************************************************/
.clear-btn{
    position:relative;
    margin-left: -26px;
    padding-left: 10px;
    color: #d2d2d2;
    font-size: 13px;
}
.clear-btn:hover,
md-input-container:not(.md-input-invalid).md-input-focused .clear-btn:hover{
    color: #a5a5a5;
    cursor:pointer;
}
md-input-container:not(.md-input-invalid).md-input-focused .clear-btn{
    color: #d2d2d2;
}

/***************************************************************************************************************************************/
/* Custom Form Require Container */
/***************************************************************************************************************************************/
md-input-container.custom-require-container {
    position: absolute;
    top: 27px;
    left: 5px;
    width: max-content;
    padding-right: 0 !important;
}
md-input-container.custom-require-container input {
    width: 0; height: 0;
}

/***************************************************************************************************************************************/
/* 프로그래스 팝업 */
/***************************************************************************************************************************************/
div.dialog-area{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    background-color: rgba(128, 128, 128, 0.5);
    z-index: 100;
}
div.dialog-area div.dialogPopup{
    position: absolute;
}
div.dialogPopup{
    width: 500px;
    height: 300px;
    top: calc(50% - 150px);
    left: calc(50% - 250px);
    background-color:#FFFFFF;
    filter:drop-shadow(10px 10px 10px rgba(0,0,0,0.25));
    box-sizing: border-box;
    border:1px solid #EEEEEE;
    border-radius: 4px;
    overflow: hidden;
}
div.dialogPopup>.rca-dialog-header{
    position: relative;
    width:100%;
    height:60px;
    line-height:60px;
    border-bottom:1px solid #EEEEEE;
    background-image: url("../images/koren_rca/popup_title_background.png");
    background-repeat: no-repeat;
    background-position: 0 8px;
}
div.dialogPopup>.rca-dialog-header::after{
    position: absolute; left:0; top:0;
    content:""; display: inline-block; width:20px; height:6px; background-color:#2c3345;
}
div.dialogPopup>.rca-dialog-header::before{
    position: absolute; left:0; top:0;
    content:""; display: inline-block; width:100%; height:6px; background-color:#1baec5;
}
div.dialogPopup>.rca-dialog-header span.title{
    position: relative;
    display: inline-block;
    transform: rotate(-0.03deg);
    font-size:15px;
    font-weight: 600;
    text-indent: 50px;
}
div.dialogPopup>.dialogFooter{
    position: absolute;
    bottom:0;
    height:60px;
    width:100%;
    border-top:1px solid #EEEEEE;
    box-sizing: border-box;
}
div.dialogPopup>div.dialogContent md-progress-circular{
    margin-left: auto;
    margin-right: auto;
}
div.dialogPopup>div.dialogContent>div.waitText{
    width: 100%;
    text-align: center;
    margin-top: 15px;
    font-size: 18px;
    font-weight: 600;
    font-size: 18px;
    font-weight: 600;
}

/***************************************************************************************************************************************/
/* RCA Header */
/***************************************************************************************************************************************/
md-toolbar.rca-dialog-toolbar {
    background-color: #fff !important;
    color: #000;
}

md-toolbar.rca-dialog-toolbar div.rca-dialog-header{
    position: relative;
    width:100%;
    height:60px;
    line-height:60px;
    border-bottom:1px solid #EEEEEE;
    background-image: url("../images/koren_rca/popup_title_background.png");
    background-repeat: no-repeat;
    background-position: 0 8px;
}
md-toolbar.rca-dialog-toolbar div.rca-dialog-header::after{
    position: absolute; left:0; top:0;
    content:""; display: inline-block; width:20px; height:6px; background-color:#2c3345;
}
md-toolbar.rca-dialog-toolbar div.rca-dialog-header::before{
    position: absolute; left:0; top:0;
    content:""; display: inline-block; width:100%; height:6px; background-color:#1baec5;
}
md-toolbar.rca-dialog-toolbar div.rca-dialog-header span.title{
    position: relative;
    display: inline-block;
    transform: rotate(-0.03deg);
    font-size:15px;
    font-weight: 600;
    text-indent: 50px;
}
md-toolbar.rca-dialog-toolbar div.rca-dialog-header button.md-button.close-button {
    position: absolute;
    top: 11px;
    right: 0;
}
md-toolbar.rca-dialog-toolbar div.rca-dialog-header button.md-button.close-button > md-icon {
    fill: #7b7b7b;
}

/***************************************************************************************************************************************/
/* RCA 기본 md-table */
/***************************************************************************************************************************************/
table.rca-md-table.md-table{
    background-color: #ffffff;
    display: block;
    width: 100%;
    overflow-x: auto;
    height: 375px;
    min-height: 375px;
}

table.rca-md-table.md-table thead.md-head > tr.md-row {
    height: 38px !important;
}
table.rca-md-table.md-table tbody.md-body > tr.md-row,
table.rca-md-table.md-table tfoot.md-foot > tr.md-row {
    height: 33px !important;
}
table.rca-md-table.md-table tr > th > md-icon > svg {
    height: 16px;
    margin: 4px auto;
    width: 16px;
}
table.rca-md-table.md-table tbody{
    display: block;
    height: 325px;
    /* overflow-y: hidden;
    overflow-x: hidden; */
    width: 100%;
}

table.rca-md-table.md-table td.md-cell{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
table.rca-md-table.md-table td.md-cell > span.wrapper-span {
    transition: background-color 0.1s;
}
table.rca-md-table.md-table td.md-cell > span.wrapper-span:hover{
    /*position: absolute;*/
    transform: translateY(-50%);
    margin-left: -5px;
    padding: 0 5px;
}

table.rca-md-table.md-table td.md-cell div.over-cell {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 21px;
    display: inline-block;
    position: relative;
}

table.rca-md-table.md-table div.overflow-action:hover{
    overflow: visible !important;
    width: auto !important;
    display: inline-block;
    background-color: #ffffff;
    position: absolute !important;
    margin-top: -10px;
    outline: solid 1px #adadad;
    max-width: 1000px !important;
    padding-right: 5px;
    cursor: text;
    z-index: 1;
}
table.rca-md-table.md-table td.md-cell:not(:last-child) div.overflow-action:hover:before{
    content: "";
    position: absolute;
    left: -2px;
    top: -2px;
    height: 120%;
    border-left: 2px solid #ffffff;
    border-top: 2px solid #ffffff;
    border-bottom: 2px solid #ffffff;
}
table.rca-md-table.md-table td.md-cell:last-child div.overflow-action:hover{
    float: right;
    background-color: #e8e8e8;
    padding-left: 5px;
}

/* row hover effect 옵션 */
table.rca-md-table.md-table tr.md-row.hover-effect:hover{
    background-color: #eeeeee !important;
}

/* 아이콘 버튼 */
table.rca-md-table.md-table td.md-cell i.cell-btn {
    cursor: pointer;
    font-size: 20px;
    margin-left: 15px;
}
table.rca-md-table.md-table td.md-cell i.cell-btn:hover {
    color: #bbb5b5;
}

/***************************************************************************************************************************************/
/* small md-checkbox.small */
/***************************************************************************************************************************************/
md-checkbox.small,
.md-checkbox--small md-checkbox{
    margin: 5px 11px 5px 5px;
}
md-checkbox.small.md-checked .md-icon,
.md-checkbox--small md-checkbox.md-checked .md-icon{
    background-color: #5f5e5e;
}
md-checkbox.small.md-checked .md-ink-ripple,
.md-checkbox--small md-checkbox.md-checked .md-ink-ripple{
    color: #424242;
}
md-checkbox.small .md-icon,
md-checkbox.small .md-container,
.md-checkbox--small md-checkbox .md-icon,
.md-checkbox--small md-checkbox .md-container{
    width: 15px;
    height: 15px;
}
md-checkbox.small.md-checked .md-icon:after,
.md-checkbox--small md-checkbox.md-checked .md-icon:after{
    top: -3px;
    left: 2.66667px;
}
md-checkbox.small .md-label,
.md-checkbox--small md-checkbox .md-label{
    margin-left: 20px;
    font-size: 0.75em;
}

/***************************************************************************************************************************************/
/* Black md-button.black-btn */
/***************************************************************************************************************************************/
button.md-button.black-btn{
    background-color: #1f1f1f;
    color: #fff;
}
button.md-button.black-btn[disabled] {
    background-color: #e0dfdf !important;
}
button.md-button.black-btn:not([disabled]):hover {
    background-color: #5f5e5e;
}
button.md-button:not([disabled]).black-btn.md-focused,
button.md-button.black-btn.selected{
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.2);
    color: #2f2f2f;
    background-color: rgb(238,238,238);
    border: solid 1px #e4e1e1;
}
button.md-button.black-btn.selected:not([disabled]):hover {
    background-color: #eeeeee;
}

/***************************************************************************************************************************************/
/* pg-table 점선라인 테이블 */
/***************************************************************************************************************************************/
table.pg-table {
    font-size: 0.75em;
    border-spacing: 0;
    width: 100%;
}
table.pg-table tr.pg-group-row {
    background-image: linear-gradient(-90deg, #435879,#6c727b);
    font-weight: bold;
    color:lightgray;
}
table.pg-table tr.pg-row{
}
table.pg-table th.pg-cell,
table.pg-table td.pg-cell{
    border: dotted 1px #ccc;
    padding: 5px;
}
table.pg-table th.pg-group-cell,
table.pg-table td.pg-group-cell{
    padding: 5px;
}

/***************************************************************************************************************************************/
/* RCA 테마       md-input-container > md-input & md-icon */
/***************************************************************************************************************************************/
md-input-container.rca-theme.md-default-theme:not(.md-input-invalid).md-input-focused .md-input,
md-input-container.rca-theme:not(.md-input-invalid).md-input-focused .md-input,
md-input-container.rca-theme.md-default-theme:not(.md-input-invalid).md-input-resized .md-input,
md-input-container.rca-theme:not(.md-input-invalid).md-input-resized .md-input{
    border-color:#009688;
}
/* ng-material-dateTime-picker 아이콘 */
md-input-container.rca-theme.md-default-theme:not(.md-input-invalid).md-input-focused md-icon,
md-input-container.rca-theme:not(.md-input-invalid).md-input-focused md-icon,
md-input-container.rca-theme.md-default-theme:not(.md-input-invalid).md-input-resized md-icon,
md-input-container.rca-theme:not(.md-input-invalid).md-input-resized md-icon{
    color: #009688;
}


/***************************************************************************************************************************************/
/* RCA Custom List like md-table */
/***************************************************************************************************************************************/
div.rca-md-list {
    font-size: 12px;
    overflow-x: auto;
    overflow-y: hidden;
}
div.rca-md-list > div.rml-header {

}
div.rca-md-list > div.rml-header > div.rml-row {
    background-color: #f3f3f3;
    color: rgba(0, 0, 0, 0.54);
    font-weight: bold;
}

div.rca-md-list > div.rml-body {
    height: calc(100% - 38px);
    overflow-y: auto;
    overflow-x: hidden;
}
div.rca-md-list > div.rml-body div.rml-row {
    border-top: 1px rgba(0, 0, 0, 0.12) solid;
    height: 32px;
    line-height: 12px;
}
div.rca-md-list > div.rml-body div.rml-row.selected {
    background-color: #f5f5f5;
}

div.rca-md-list div.rml-row {
    width: 100%;
    height: 38px;
    display: -webkit-box;
}
div.rca-md-list div.rml-row:hover {
    background-color: #eeeeee;
}
div.rca-md-list div.rml-row > div.rml-column{
    padding: 10px 20px 10px 0;
    vertical-align: middle;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
div.rca-md-list div.rml-body div.rml-row > div.rml-column:hover{
    position: relative;
    overflow: unset;
}
div.rca-md-list div.rml-body div.rml-row > div.rml-column > span.wrapper-span {
    transition: background-color 0.1s;
}
div.rca-md-list div.rml-body div.rml-row > div.rml-column:hover > span.wrapper-span {
    position: absolute;
    width: fit-content;
    height: fit-content;
    background-color: #eeeeee;
}

div.rca-md-list div.rml-row > div.rml-column:first-child{
    padding: 10px 24px;
}


/***************************************************************************************************************************************/
/* Custom input Radio Style */
/***************************************************************************************************************************************/
input.nia-custom-radio[type="radio"]:checked,
input.nia-custom-radio[type="radio"]:not(:checked) {
    position: absolute;
    left: -9999px;
}
input.nia-custom-radio[type="radio"]:checked + label,
input.nia-custom-radio[type="radio"]:not(:checked) + label {
    position: relative;
    padding-left: 28px;
    padding-right: 20px;
    cursor: pointer;
    line-height: 20px;
    display: inline-block;
    color: #666;
    font-size: 13px;
}
input.nia-custom-radio[type="radio"]:checked + label:before,
input.nia-custom-radio[type="radio"]:not(:checked) + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 20px;
    height: 20px;
    border: 1px solid #011d544d;
    border-radius: 100%;
    background: #fff;
}
input.nia-custom-radio[type="radio"]:checked + label:after,
input.nia-custom-radio[type="radio"]:not(:checked) + label:after {
    content: '';
    width: 12px;
    height: 12px;
    background: #011d54b8;
    position: absolute;
    top: 4px;
    left: 4px;
    border-radius: 100%;
    transition: all 0.4s ease;
}
input.nia-custom-radio[type="radio"]:not(:checked) + label:after {
    opacity: 0;
    transform: scale(0);
}
input.nia-custom-radio[type="radio"]:checked + label:after {
    opacity: 1;
    transform: scale(1);
}


/***************************************************************************************************************************************/
/* Custom input Mini Radio Style */
/***************************************************************************************************************************************/
input.nia-custom-radio[type="radio"]:checked,
input.nia-custom-radio[type="radio"]:not(:checked) {
    position: absolute;
    left: -9999px;
}
input.nia-custom-radio[type="radio"]:checked + label,
input.nia-custom-radio[type="radio"]:not(:checked) + label {
    position: relative;
    padding-left: 20px;
    padding-right: 15px;
    cursor: pointer;
    line-height: 20px;
    display: inline-block;
    color: #666;
    font-size: 12px;
}
input.nia-custom-radio[type="radio"]:checked + label:before,
input.nia-custom-radio[type="radio"]:not(:checked) + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 3px;
    width: 13px;
    height: 13px;
    border: 1px solid #011d544d;
    border-radius: 100%;
    background: #fff;
}
input.nia-custom-radio[type="radio"]:checked + label:after,
input.nia-custom-radio[type="radio"]:not(:checked) + label:after {
    content: '';
    width: 7px;
    height: 7px;
    background: #011d54b8;
    position: absolute;
    top: 6px;
    left: 3px;
    border-radius: 100%;
    transition: all 0.4s ease;
}
input.nia-custom-radio[type="radio"]:not(:checked) + label:after {
    opacity: 0;
    transform: scale(0);
}
input.nia-custom-radio[type="radio"]:checked + label:after {
    opacity: 1;
    transform: scale(1);
}

/***************************************************************************************************************************************/
/* NIA Custom Table Design */
/***************************************************************************************************************************************/
table.nia-custom-table tr {
    height: 55px;
    border-bottom: 1px dotted #5c5c5c29;
}
table.nia-custom-table tr:last-child {
    border-bottom: none;
}
table.nia-custom-table td.title {
    text-align: right;
    padding-right: 20px;
    border-right: 1px dotted #5c5c5c29;
    border-left: 1px dotted #5c5c5c29;
    background-color: #c1d3f624;
}
table.nia-custom-table td:not(.title) {
    background-color: white;
}
table.nia-custom-table tr > td > input{
    margin-left: 15px;
    border: none;
    border-bottom: 1px solid rgb(224 228 239);
}
table.nia-custom-table tr > td > input:focus {
    border-bottom: 1.5px solid rgba(17, 16, 62, 0.75);
}
table.nia-custom-table tr > td > input:disabled {
    background-color: #fff;
}

/***************************************************************************************************************************************/
/* Global md-dialog Design */
/***************************************************************************************************************************************/
md-dialog {
    border-radius: 10px !important;
}





