/* 토폴로지 배경 */
div.componentWapper .background {
    background-image: none !important;
}
/* INFORMATION, 툴팁 */
.gripper,
.properties,
.tooltip
{
    display: none !important;
}

/* 토폴로지 노드, 링크 애니메이션 */
.links .link_container.selected .link_path,
.nodes .node_container.selected circle {
    animation: none !important;
}

/* 전표 화살표 애니메이션 */
.bounce-up,
.bounce-down {
    animation-name: none !important;
}


