<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kt.ipms.mapper.db2nd.IpmsUserMapper">
    <sql id="Base_Column_List">
		A.SUSER_ID as suserId
		,	A.SUSER_NM AS suserNm
		,	A.SUSER_TYPE_CD AS suserTypeCd
		,	A.DUSER_REG_DATE AS duserRegDate
		,	A.SUSER_TEL_NO AS suserTelNo
		,	A.SUSER_FAX_NO AS suserFaxNo
		,	A.SUSER_MPHON_NO AS suserMphonNo
		,	A.NLOGIN_FAIL_TMSCNT AS nloginFailTmscnt
		,	A.SCHR_MSG_RCV_YN AS schrMsgRcvYn
		,	A.SMPHON_OTTP_YN AS smphonOttpYn
		,	A.SUSER_STTUS_CD AS suserSttusCd
		,	A.SPOS_DEPT_ORG_ID AS sposDeptOrgId
		,	A.SDIBEL_UCLS_USER_ID AS sdibelUclsUserId
		,	A.SKT_TKCG_USER_ID AS sktTkcgUserId
		,	A.SUSER_RMARK AS suserRmark
		,	A.SOLD_USER_ID AS soldUserId
		,	A.SIPMS_CONN_YN AS sipms_connYn
		,	A.DCREATE_DT AS dcreateDt
		,	A.SCREATE_ID AS screateId
		,	A.DMODIFY_DT AS dmodifyDt
		,	A.SMODIFY_ID AS smodifyId
		,	(CASE WHEN  STRPOS( A.SUSER_EMAIL_ADR,'@') >4  THEN SUBSTRING (SPLIT_PART(A.SUSER_EMAIL_ADR,'@' ,1 ),0 ,LENGTH(SPLIT_PART(A.SUSER_EMAIL_ADR,'@' ,1 ))-2 ) || '***@' || SPLIT_PART(A.SUSER_EMAIL_ADR,'@' ,2 )           ELSE SUBSTRING (SPLIT_PART(A.SUSER_EMAIL_ADR,'@' ,1 ),0 ,LENGTH(SPLIT_PART(A.SUSER_EMAIL_ADR,'@' ,1 )) ) || '*@' || SPLIT_PART(A.SUSER_EMAIL_ADR,'@' ,2 )END )
			AS suserEmailAdr
	</sql>
	<sql id="Append_Column_List">
		,	B.SUSER_STTUS_NM AS suserSttusNm
		,	(CASE WHEN C.SUSER_GRADE_NM IS NULL THEN '조회자' ELSE C.SUSER_GRADE_NM END )	AS suserGradeNm
		,	D.SORG_NM	AS	sposDeptOrgNm
		,	E.SUSER_NM	AS sdibelUclsUserNm
		,	F.SUSER_NM	AS sktTkcgUserNm
		,(SELECT STRING_AGG(SORG_NM,'-') FROM (SELECT SORG_NM FROM MST.TB_ORG_BAS AS G   START WITH G.SKT_ORG_ID = A.SPOS_DEPT_ORG_ID  CONNECT BY G.SKT_ORG_ID = PRIOR G.SUP_KT_ORG_ID ORDER BY G.SORG_PREF_ODRG) ) AS sposDeptFullNm
		, NVL (G.SUSER_GRADE_CD ,'UR0006')  AS suserGradeCd
		, (CASE WHEN G.SUSER_GRADE_CD IS NULL THEN 'N' ELSE 'Y' END) AS sipmsUserYn
	</sql>
    <sql id="Append_From_Clause">
		,	MST.TB_USER_STTUS_CD B
		,	MST.TB_USER_GRADE_CD C
		,	MST.TB_ORG_BAS D
		,	MST.TB_USER_BAS E
		,	MST.TB_USER_BAS F
		,	(SELECT DISTINCT SUSER_ID
		,SUSER_GRADE_CD FROM MST.TB_USER_AUTH_TXN) G
	</sql>
	
	<sql id="Vo_Where_Clause">
		<trim prefix="WHERE" prefixOverrides="AND">
			A.SUSER_ID = #{suserId, jdbcType=VARCHAR}
		</trim>
	</sql>
    <sql id="Append_Where_Clause">
		AND A.SUSER_STTUS_CD = B.SUSER_STTUS_CD(+)		
		AND	A.SPOS_DEPT_ORG_ID = D.SKT_ORG_ID(+)
		AND A.SDIBEL_UCLS_USER_ID = E.SUSER_ID(+)
		AND A.SKT_TKCG_USER_ID  = F.SUSER_ID(+)
		AND A.SUSER_ID = G.SUSER_ID(+)
		AND G.SUSER_GRADE_CD = C.SUSER_GRADE_CD(+)
	</sql>

   <select id="SELECT_LOGIN_USER" parameterType="hashmap" resultType="com.kt.ipms.legacy.opermgmt.loginmgmt.vo.LoginInfoVo">
        SELECT
		<include refid="Base_Column_List" />
		<include refid="Append_Column_List"/>
		FROM MST.TB_USER_BAS A
		<include refid="Append_From_Clause"/>		
		<include refid="Vo_Where_Clause" />
		<include refid="Append_Where_Clause"/>
    </select>
</mapper>