md-dialog.port-detail-dialog {
    background-color: rgba(245,245,245,1);
    width: 600px;
    height: 257px;
    border-radius: 0;
    transition: all 0s ease 0s !important;
}

md-dialog.port-detail-dialog div.port-detail-dialog-content{
    font-size: 12px;
    height: calc(100% - 50px);
}

div.port-detail-dialog-content table.port-detail-table tbody > tr > td {
    text-align: center;
}

div.port-detail-dialog-content table.port-detail-table tbody > tr > td.title {
    padding-left: 10px;
    padding-right: 10px;
    width: 75px;
}

div.port-detail-dialog-content table.port-detail-table > tbody > tr > td > span{
    font-size: 13px;
}

div.port-detail-dialog-content table.port-detail-table > tbody > tr > td > span > a{
    cursor: pointer
}

div.port-detail-dialog-content table.port-detail-table > tbody > tr > td > span > md-input-container {
    margin: 0px 0px 0px 0px;
}

div.port-detail-dialog-content table.port-detail-table tbody > tr > td > md-select {
    margin: 0 0 0 17px;
}

div.port-detail-dialog-content table.port-detail-table tbody > tr > td > input {
    margin: 0 !important;
}

div.port-detail-dialog-content table.port-detail-table tbody > tr > td > input::placeholder {
    font-size: 11px;
}

md-dialog.port-detail-dialog div.modalFooter {
    width: 100%;
    text-align: right;
    margin-top: 2px;
}
