# 유지할 인원 (본인 및 특정 인물)
dloere <dloere3@naver.com> <dloere3@naver.com>

insihaon <insihaon@gmail.com> <98926296+insihaon@users.noreply.github.com>
insihaon <insihaon@gmail.com> <insihaon@gmail.com>

# 나머지 인원들을 'others'로 통합
others <others@codejone.com> ?댁젣??<jehyeok@codejone.com>
others <others@codejone.com> codejone <82638076+codejone@users.noreply.github.com>
others <others@codejone.com> daxnee <das03041@gmail.com>
others <others@codejone.com> dimmby <dimmbygo@gmail.com>
others <others@codejone.com> ghdgml213 <ghdgml213@naver.com>
others <others@codejone.com> gyujin <dddd>
others <others@codejone.com> gyujin631 <gyujin631@gmail.com>
others <others@codejone.com> gyujin631 <gyujin631>
others <others@codejone.com> jinny <sujin33806@gmail.com>
others <others@codejone.com> SJinny <sujin33806@gmail.com>
others <others@codejone.com> kotaya <dury2409@gmail.com>
others <others@codejone.com> minyong2 <owow77@naver.com>
others <others@codejone.com> owow77 <owow77@naver.com>
others <others@codejone.com> wang-gyujin <111>
others <others@codejone.com> 이제혁 <jehyeok@codejone.com>