<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nia.ems.linkage.mapper.PerformaceMapper">

    <select id="selectPerformanceUpdateTime" resultType="string">
        SELECT MAX(OCRTIME) AS UPDATE_TIME FROM NIA.TB_PERFORMACE_MST WHERE OCRTIME > RCA.FC_GET_MINUS_DAY(1)
        <!-- SELECT TO_CHAR(UPDATE_TIME,'YYYY-MM-DD HH24:MI:SS') AS UPDATE_TIME FROM NIA.TB_PERFORMANCE_UPDATE_TIME -->
    </select>

    <select id="selectPerformanceUpdateCnt" resultType="int" parameterType="java.util.HashMap">
        SELECT COUNT(*)
        FROM NIA.TB_PERFORMACE_MST
        WHERE OCRTIME = #{ocrtime}::TIMESTAMP
    </select>

    <select id="selectPerformanceDataList" parameterType="hashmap"
            resultType="com.nia.ems.linkage.vo.performance.PerformaceVo">
        SELECT SYSNAME AS sysname , PORT AS port, UNIT AS unit, TMPER AS tmper, RXCUR AS rxcur
        , RXMIN AS rxmin, RXMAX AS rxmax, RXAVE AS rxave, TXCUR AS txcur, TXMIN AS txmin, TXMAX AS txmax, TXAVE AS
        txave, TO_CHAR(OCRTIME,'YYYY-MM-DD HH24:MI:SS') AS ocrtime
        FROM NIA.TB_PERFORMACE_MST
        <![CDATA[   WHERE OCRTIME = #{ocrtime} ::TIMESTAMP ]]>
        <!--   and ((sysname = '192.168.200.220-SH1' and port like '%S.1%')
           or (sysname = '192.168.200.214-SH1' and port like '%S.2%')
           or (sysname = '10.38.96.110-SH1' and port like '%S.1%')
           or (sysname = '10.85.112.199-SH1' and port like '%S.1%')
           or (sysname = '10.85.80.183-SH1' and port like '%S.1%')) -->
    </select>

    <insert id="insertPerformace" parameterType="java.util.HashMap">
        <if test="performaceVoList.size != 0">
            INSERT INTO NIA.TB_PERFORMACE_MST (SYSNAME, PORT, UNIT, TMPER, RXCUR, RXMIN, RXMAX, RXAVE, TXCUR, TXMIN,
            TXMAX, TXAVE, OCRTIME)
            VALUES
            <foreach collection="performaceVoList" item="item" separator=",">
                (#{item.sysname}, #{item.port}, #{item.unit}, #{item.tmper}, #{item.rxCur}, #{item.rxMin},
                #{item.rxMax}, #{item.rxAve},
                #{item.txCur}, #{item.txMin}, #{item.txMax}, #{item.txAve}, #{item.ocrtime})
            </foreach>
            -- ON CONFLICT (SYSNAME, PORT, OCRTIME) DO NOTHING
        </if>
    </insert>

    <update id="updatePerformanceUpdateTime" parameterType="string">
        UPDATE NIA.TB_PERFORMANCE_UPDATE_TIME
        SET UPDATE_TIME = #{updateTime}::TIMESTAMP
    </update>
</mapper>


