<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nia.alarm.preprocessor.mapper.AlarmMapper">

    <select id="selectAlarmNoCheck" parameterType="java.util.HashMap" resultType="string">
        SELECT ALARMNO FROM RCA.TB_ALARM_CUR_MST WHERE ALARMNO = #{alarmno} AND ALARMTIME = #{alarmtime}::TIMESTAMP
    </select>

    <select id="fc_set_clear_al_pool" parameterType="com.nia.alarm.preprocessor.vo.alarm.BasicAlarmVo" resultType="boolean">
        SELECT RCA.FC_SET_CLEAR_AL_POOL(#{alarmno}, #{receivetime}, #{sysname}, #{unit}, #{alarmloc}, #{alarmmsg}, #{alarmmsgOriginal}, #{alarmlevel})
    </select>

    <select id="selectEquiptype" parameterType="string" resultType="string">
        SELECT MODEL FROM NIA.TB_EQUIP_MST WHERE TID = split_part(#{sysname}, '-', '1')
    </select>

    <select id="selectAlNormalizerInfo" resultType="com.nia.alarm.preprocessor.vo.alarm.AlNormalizerVo" parameterType="java.util.HashMap">
        SELECT MANUFACTURER AS manufacturer, EQUIPTYPE AS equipType, NAMECODE AS nameCode, ALARMMSG AS alarmMsg, NORMALIZEDALARM AS normalizedAlarm
              , ALARM_TYPE AS alarmType
          FROM RCA.AL_ALARM_NORMALIZER
         WHERE 1=1
           AND ALARMMSG = #{alarmMsg}

         <if test="equipType != null">
           AND EQUIPTYPE = #{equipType}
         </if>

         <if test="nameCode != null">
           AND NAMECODE = #{nameCode}
         </if>

         <if test="unit != null">
           AND CASE WHEN UNIT IS NOT NULL THEN #{unit} LIKE '%'||UNIT||'%'
                     ELSE 1=1
                END
         </if>
         ORDER BY EQUIPTYPE
         LIMIT 1
        </select>

</mapper>


