<div layout-fill ng-cloak class="ticket-wrapper" ng-controller="SyslogCtrl" ng-class="{'no-scroll': isScrollVisibled}" ng-init="init(tools.constants.RcaTicketType.TICKET)">
    <div class="ticket-menu-container" ng-class="{'lte': tools.store.hassyslog('lte') }" id="filterMenu" >
        <ul>
            <li style="margin: 0px 15px; color: #c8ccde;">
                <i class="fa fa-cog fa-lg" style="color: #c8ccde;" ng-click="debugger()" ng-right-click="openDevContextMenu($event)"></i>
                <span class="filter_title">Filter</span>
            </li>
            <li>
                <md-select class="multi_filter new_multi_filter" ng-model="devFilter" ng-change="onChangeDev(devFilter)" md-selected-text="devFilter.text" ng-model-options="{debounce:100}"> 
                    <md-option ng-value="item" ng-repeat="item in getSyslogLevels()" >{{item.text}}</md-option>
                </md-select>
            </li>
            <li style="margin: 0px 15px;">
                <i class="fa fa-exclamation-triangle fa-lg" style="color: #c8ccde;"></i>
                <span class="filter_title"></span>
            </li>
            <li> 
                <md-select class="multi_filter new_multi_filter" ng-model="statusFilter" ng-change="onChangeStatus(statusFilter)" md-selected-text="statusFilter.text" ng-model-options="{debounce:100}"> 
                    <md-option ng-value="item" ng-repeat="item in syslogMsg" >{{item.text}}</md-option>
                </md-select>
            </li>
            <li>
                <div class="ticketCount" ng-click="debugger()"> <span>SYSLOG</span> &nbsp; <span style="color: #f37e7e; font-size: 22px;">{{syslogLength || '0'}}</span></div>
            </li>
            <li class="toggleItem" ng-click="tools.simulateTicket()">
                <i class="fas fa fa-cog fa-lg filter_btn"></i>
                <md-tooltip md-direction="bottom">
                    검색 옵션
                </md-tooltip>
            </li>
            <li class="toggleItem" ng-click="tools.store.sound = !tools.store.sound">
                <i class="fas fa-bell{{(tools.store.sound) ? '' : '-slash'}} fa-lg filter_btn" ng-style="!tools.store.sound && {'color': '#f9423e'}"></i>
                <md-tooltip md-direction="bottom">
                    알람 ON/OFF
                </md-tooltip>
            </li>
            <li class="toggleItem" ng-click="resetTicket()"> 
                <i class="fas fa-lg filter_btn" ng-class="{'fa-play': tools.store.isTicketRealTimePause, 'fa-pause': !tools.store.isTicketRealTimePause}"></i>
                <md-tooltip md-direction="bottom">
                    실시간 모니터링 {{tools.store.isTicketRealTimePause ? '시작' : '일시정지'}}
                </md-tooltip>
            </li>
            <li class="toggleItem expand" style="border-right: none;">
                <i class="fa fa-lg filter_btn" ng-class="{'fa-compress': tools.store.ticketExpandMode, 'fa-expand': !tools.store.ticketExpandMode}"></i>
                <md-tooltip md-direction="bottom">
                    {{tools.store.ticketExpandMode ? '접기' : '펼치기'}}
                </md-tooltip>
            </li>
        </ul>
    </div>

    <div layout="column" layout-wrap class="table-container" md-top-index="0" >
        <div layout="column" class="syslog-table">
            <table md-table>
                <thead md-head>
                    <tr md-row >
                        <th md-column flex="1" class="pr-0"><span>경보 발행 시간</span></th>
                        <th md-column flex="1" class="pr-0"><span>알람 번호</span></th>
                        <th md-column flex="1" class="pr-0"><span>상태</span></th>
                        <!-- <th md-column flex="1" class="pr-0"><span>장비ID</span></th> -->
                        <th md-column flex="1" class="pr-0"><span>장비명</span></th>
                        <th md-column flex="1" class="pr-0"><span>장애내용</span></th>
                        <th md-column flex="1" class="pr-0"><span>SYSLOG 원본 메시지</span></th>
                    </tr>
                </thead>
                <tbody md-body ng-if="tools.store.niaSyslogList.length > 0">
                    <!-- <tr md-row class="syslog-table-row" ng-repeat="item in tools.store.niaSyslogList" ng-click="openSyslogDetail(item)"> -->
                    <tr md-row class="syslog-table-row" ng-repeat="item in tools.store.niaSyslogList" ng-click="showSyslogTemplate(item)">
                        <td md-cell flex="1" class="pr-0">{{item.alarmtime | dateFormat}}</td>
                        <td md-cell flex="1" class="pr-0">{{item.alarmno}}</td>
                        <td md-cell flex="1" class="pr-0" ng-style="{'color': item.status === '발생' ? 'white' : 'red'}">{{item.status}}</td>
                        <!-- <td md-cell flex="1" class="pr-0">{{item.node_num}}</td> -->
                        <td md-cell flex="1" class="pr-0">{{item.node_nm}}</td>
                        <td md-cell flex="1" class="pr-0">{{item.alarmmsg}}</td>
                        <td md-cell flex="1" class="pr-0">{{item.etc.substring(0,20)}}...</td>
                    </tr>
                </tbody>
                <tbody md-body ng-if="tools.store.niaSyslogList.length === 0">
                    <tr md-row>
                        <td md-cell colspan="6" style="font-size: 20px; font-weight: 800; padding-top: 50px;">데이터가 존재하지 않습니다.</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>