md-dialog.node-add-dialog div.node-add-title span.title{
    font-size: 25px;
    margin: 0px 0px 0px 10px;
}

md-dialog.node-add-dialog div.node-add-title button.md-icon-button{
    float: right;
}

md-dialog.node-add-dialog div.node-add-dialog-content {
    padding: 0;
    font-size: 0.8em;
}

md-dialog.node-add-dialog table.nia-custom-table td.title {
    padding-left: 20px;
    text-align: center !important;
}

md-dialog.node-add-dialog table.nia-custom-table tr > td > md-select{
    margin: 0px 0px 0px 15px;
    border: none;
    border-bottom: 1px solid rgb(224 228 239);
}

md-dialog.node-add-dialog div.modalFooter {
    width: 100%;
    text-align: right;
}

