<md-dialog class="node-add-dialog" ng-cloak style="width: 517px;">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <i class="fa fa-check fa-lg"></i>
            <span class="title" ng-click="debugger()">&nbsp;노드 등록</span>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="dlgFunc.cancel()">
                <md-icon md-svg-src="img/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
            </md-button>
        </div>
    </md-toolbar>
    <form>
        <md-dialog-content>
            <div class="node-add-dialog-content">
                <table class="nia-custom-table">
                    <tr>
                        <td class="title">노드ID</td>
                        <td><input class="node-id w-75" placeholder="자동생성" disabled/></td>
                        <td class="title">노드명</td>
                        <td><input class="node-name w-75" ng-model="nodeAddData.NodeNm" clear-btn/></td>
                    </tr>
                    <tr>
                        <td class="title">모델명</td>
                        <td>
                            <md-select class="model-name w-75" ng-model="nodeAddData.modelNm" >
                                <md-option ng-value="item.code_id" ng-repeat="item in selectModelName"> {{item.code_nm}}</md-option>
                            </md-select>
                        </td>
                        <td class="title">대표 IP</td>
                        <td><input class="node-representative w-75" ng-model="nodeAddData.ipAddr" clear-btn /></td>
                    </tr>
                    <tr>
                        <td class="title">MAC주소</td>
                        <td><input class="mac-address w-75" ng-model="nodeAddData.macAddr" clear-btn /></td>
                        <td class="title">사용여부</td>
                        <td>
                            <md-select class="node-item-use w-75" ng-model="nodeAddData.nodeUse">
                                <md-option ng-value="use.key" ng-repeat="use in selectNodeUseName">{{use.value}}</md-option>
                            </md-select>
                        </td>
                    </tr>
                    <tr style="height: 30px;">
                        <td colspan="4" class="title">NetConf</td>
                    </tr>
                    <tr>
                        <td class="title">Port</td>
                        <td><input class="NetConf-por w-75" ng-model="nodeAddData.netconfPort" clear-btn /></td>
                        <td class="title">ID</td>
                        <td><input class="netConf-id w-75" ng-model="nodeAddData.netconfId" clear-btn /></td>
                    </tr>
                    <tr>
                        <td class="title">PW</td>
                        <td><input class="netConf-password w-75" ng-model="nodeAddData.netconfPw" clear-btn /></td>
                    </tr>
                    <tr style="height: 30px;">
                        <td colspan="4" class="title">좌표</td>
                    </tr>
                    <tr>
                        <td class="title">위도</td>
                        <td><input class="coordinate-latitude w-75" ng-model="nodeAddData.latitude" clear-btn /></td>
                        <td class="title">경도</td>
                        <td><input class="coordinate-hardness w-75" ng-model="nodeAddData.longitude" clear-btn /></td>
                    </tr>
                </table>
            </div>
            <div class="modalFooter">
                <md-button class="md-raised base-btn-2 nia-dark-button" ng-click="nodeSave()">저장</md-button>
                <md-button class="md-raised dialog-btn base-btn-2 black-btn" ng-click="dlgFunc.cancel()">닫기</md-button>
            </div>
        </md-dialog-content>
    </form>
</md-dialog>
