<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nia.alarm.ip.preprocessor.mapper.TopologyMapper">

    <select id="selectTopologyList" resultType="com.nia.alarm.ip.preprocessor.vo.topology.TopologyDataVo" parameterType="hashmap">
        SELECT SRC_NODE_NUM||'/'||SRC_IF_NUM||'--'||DEST_NODE_NUM||'/'||DEST_IF_NUM AS LINK_ID
             , SRC_NODE_NUM, SRC_NODE_ID, SRC_IF_NUM, SRC_IF_ID, DEST_NODE_NUM
             , DEST_NODE_ID, DEST_IF_NUM, DEST_IF_ID, LINK_DESC, VLAN
             , TAG, SRC_IP_ADDR, SRC_MAC_ADDR, DEST_IP_ADDR, DEST_MAC_ADDR
             , PREFIX, TOPOLOGY, BANDWIDTH, LINK_TYPE, LINK_DIV
          FROM RESOURCE.TB_BACKBONE_LINK
         WHERE (SRC_NODE_NUM = #{nodeNum} AND SRC_IF_NUM = #{ifNum}) OR (DEST_NODE_NUM = #{nodeNum} AND DEST_IF_NUM = #{ifNum})
    </select>
</mapper>
