<md-dialog class="selfProcess-dialog" id="selfProcessDialog" ng-cloak style="width: calc(100% - 69.5%); height:100%; min-width: 500px;">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <i class="fa fa-check fa-lg"></i>
            <span class="title" ng-click="debugger()">이력 상세보기</span>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="dlgFunc.cancel()">
                <md-icon md-svg-src="img/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
            </md-button>
        </div>
    </md-toolbar>
        <!-- <div layout="column" class="selfProcessContents"> -->
            <!-- <div class="selfProcess_firstBox"> -->
                <div class="selfProcessBox">
                    <div class="selfProcessTitle" ng-click="debugger()">{{param.self_process_group === 'SO' ? '자가 최적화' : '자가 회복'}}</div>
                    <div class="selfProcess_firstContent" style="margin-top: 50px;">
                        <div class="selfProcessContentTitle">{{param.self_process_type !== 'S'?'티켓 정보':'알람 정보'}}</div>
                            <div layout="column" class="table-wrapper" flex>
                                <div layout="column" class="self-process-table">
                                    <table md-table ng-if="param.self_process_type === 'S'">
                                        <thead md-head>
                                            <tr md-row>
                                                <th md-column flex="1" class="pr-0"><span>알람 번호</span></th>
                                                <th md-column flex="1" class="pr-0"><span>타입</span></th>
                                                <th md-column flex="1" class="pr-0"><span>발생시간</span></th>
                                            </tr>
                                        </thead>
                                        <tbody md-body>
                                            <tr md-row class="repeated-item" >
                                                <td md-cell flex="1" class="pr-0">{{param.alarmno}}</td>
                                                <td md-cell flex="1" class="pr-0">{{param.selfprocesstype}}</td>
                                                <td md-cell flex="1" class="pr-0">{{param.occur_time}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <table md-table ng-if="param.self_process_type !== 'S'">
                                        <thead md-head>
                                            <tr md-row>
                                                <th md-column flex="1" class="pr-0"><span>티켓 번호</span></th>
                                                <th md-column flex="1" class="pr-0"><span>타입</span></th>
                                                <th md-column flex="1" class="pr-0"><span>발생시간</span></th>
                                            </tr>
                                        </thead>
                                        <tbody md-body>
                                            <tr md-row class="repeated-item" >
                                                <td md-cell flex="1" class="pr-0">{{param.ticket_id}}</td>
                                                <td md-cell flex="1" class="pr-0">{{param.selfprocesstype}}</td>
                                                <td md-cell flex="1" class="pr-0">{{param.occur_time}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                    </div>

                    <style>
                        .c3-xgrid-line.fault-time-grid line {
                            stroke: #aaa;
                            stroke-dasharray: 8, 1;
                            stroke-width: 2px;
                        }
                    </style>

                    <div class="selfProcess_secondContent" style="height: 350px; min-height: 250px; margin-top: 20px;" ng-if="param.self_process_group === 'SO'">
                        <div class="selfProcessContentTitle">트래픽 그래프</div>
                        <md-progress-circular ng-disabled="!progress_activated" ng-hide="!progress_activated"  class="md-hue-2" md-diameter="30px" style="top: 50%; left: 50%; margin: 0;"></md-progress-circular>
                        <div ng-if="!progress_activated && trafficList.length == 0" style="top: 40%; left: 25%; margin: 0; position: absolute; font-weight: 600;">트래픽 데이터가 존재하지 않습니다.</div>
                        <div style="min-height: 100%; padding-top: 15px; color: #000; fill: #000;" id="trafficChart" class="c3_chart"></div>
                    </div>
                    <div class="selfProcess_secondContent" style="height: 450px; min-height: 250px; margin-top: 20px;" ng-if="param.self_process_group !== 'SO'" flex>
                        <div class="selfProcessContentTitle">연관 SOP 리스트</div>
                        <div layout="column" class="table-wrapper" flex>
                            <div layout="column" class="self-process-table">
                                <table md-table class="md-table-fixed-header" ng-if="relatedSopList.length === 0 || syslogSopHistList.length === 0 " style="min-height: 100%; display: flex; justify-content: center; align-items: center;">
                                    <tbody  md-body >
                                        <tr md-row>
                                            <td class="pr-0" over-cell>연관 SOP 리스트 존재하지 않습니다.</td>
                                        </tr>
                                    </tbody>
                                </table>
                                <table md-table ng-if="param.self_process_type === 'F' && relatedSopList.length !== 0" class="md-table-fixed-header">
                                    <thead md-head>
                                        <tr md-row>
                                            <th md-column md-column-size="100" class="pr-0">티켓 번호</th>
                                            <th md-column md-column-size="80" class="pr-0">티켓 유형</th>
                                            <th md-column md-column-size="100" class="pr-0">장애구분</th>
                                            <th md-column md-column-size="100" class="pr-0">장애유형</th>
                                            <th md-column md-column-size="100" class="pr-0">조치내용</th>
                                            <th md-column md-column-size="100" class="pr-0">기타사항</th>
                                            <th md-column md-column-size="100" class="pr-0">장비ID</th>
                                            <th md-column md-column-size="100" class="pr-0">장비이름</th>
                                            <th md-column md-column-size="100" class="pr-0">마스터IP</th>
                                            <th md-column md-column-size="80" class="pr-0">장비 I/F</th>
                                            <th md-column md-column-size="80" class="pr-0">마감자</th>
                                            <th md-column md-column-size="150" class="pr-0">마감시간</th>
                                        </tr>
                                        </thead>
                                        <tbody md-body style="min-height: calc(100% - 40px); height: calc(100% - 40px); overflow-x: hidden;">
                                        <tr md-row class="repeated-item" ng-repeat="item in relatedSopList">
                                            <td md-cell md-column-size="100" class="pr-0" over-cell>{{item.ticket_id}}</td>
                                            <td md-cell md-column-size="80" class="pr-0" over-cell>{{item.ticket_type}}</td>
                                            <td md-cell md-column-size="100" class="pr-0" over-cell>{{ item.fault_classify }}</td>
                                            <td md-cell md-column-size="100" class="pr-0" over-cell>{{item.fault_type}}</td>
                                            <td md-cell md-column-size="100" class="pr-0" over-cell>{{item.fault_detail_content}}</td>
                                            <td md-cell md-column-size="100" class="pr-0" over-cell>{{ item.etc_content }}</td>
                                            <td md-cell md-column-size="100" class="pr-0" over-cell>{{item.root_cause_sysnamea}}</td>
                                            <td md-cell md-column-size="100" class="pr-0" over-cell>{{item.root_cause_sysnamea}}</td>
                                            <td md-cell md-column-size="100" class="pr-0" over-cell>{{item.ip_addra}}</td>
                                            <td md-cell md-column-size="80" class="pr-0" over-cell>{{item.root_cause_porta}}</td>
                                            <td md-cell md-column-size="80" class="pr-0" over-cell>{{item.handling_fin_user}}</td>
                                            <td md-cell md-column-size="150" class="pr-0" over-cell>{{item.handling_fin_time | dateFormat}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                                <table md-table ng-if="param.self_process_type === 'S' && syslogSopHistList.length !== 0" class="md-table-fixed-header">
                                    <thead md-head>
                                        <tr md-row>
                                            <th md-column md-column-size="100" class="pr-0">알람 번호</th>
                                            <th md-column md-column-size="100" class="pr-0">장비명</th>
                                            <th md-column md-column-size="100" class="pr-0">인터페이스</th>
                                            <th md-column md-column-size="100" class="pr-0">장애구분</th>
                                            <th md-column md-column-size="100" class="pr-0">장애유형</th>
                                            <th md-column md-column-size="100" class="pr-0">조치내용</th>
                                            <th md-column md-column-size="120" class="pr-0">원본메시지</th>
                                            <th md-column md-column-size="100" class="pr-0">발생시간</th>
                                            <th md-column md-column-size="100" class="pr-0">마감시간</th>
                                            <th md-column md-column-size="100" class="pr-0">마감자</th>
                                        </tr>
                                        </thead>
                                        <tbody md-body style="min-height: calc(100% - 40px); height: calc(100% - 40px);">
                                        <tr md-row class="repeated-item" ng-repeat="item in syslogSopHistList">
                                            <td md-cell md-column-size="100" class="pr-0" over-cell>{{item.alarmno}}</td>
                                            <td md-cell md-column-size="100" class="pr-0" over-cell>{{item.node_nm}}</td>
                                            <td md-cell md-column-size="100" class="pr-0" over-cell>{{item.alarmloc }}</td>
                                            <td md-cell md-column-size="100" class="pr-0" over-cell>{{item.fault_classify}}</td>
                                            <td md-cell md-column-size="100" class="pr-0" over-cell>{{item.fault_type}}</td>
                                            <td md-cell md-column-size="100" class="pr-0" over-cell>{{item.fault_detail_content}}</td>
                                            <td md-cell md-column-size="120" class="pr-0" over-cell>{{item.etc}}</td>
                                            <td md-cell md-column-size="100" class="pr-0" over-cell>{{item.alarm_occur_time | dateFormat}}</td>
                                            <td md-cell md-column-size="100" class="pr-0" over-cell>{{item.handling_fin_time | dateFormat}}</td>
                                            <td md-cell md-column-size="100" class="pr-0" over-cell>{{item.handling_fin_user}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                    <div class="selfProcess_secondContent" style="height: 250PX; min-height: 130PX; margin-top: 20px;">
                        <!-- <div class="selfProcessContentTitle">{{param.self_process_type === 'S' ? '알람 상세 정보':'티켓 상세 정보'}}</div> -->
                        <div class="selfProcessContentTitle">{{param.self_process_type === 'S' ? '알람 상세 정보':'AI탐지 정보'}}</div>
                        <p ng-if="param.self_process_type !== 'S'" meditor ng-model="model_config.text" class="requestDoc ng-pristine ng-untouched ng-valid ng-isolate-scope w-100" style="overflow-x:auto; font-family: 'NanumGothic'; display: flex; align-items: center;"></p>
                        <div layout="column" class="table-wrapper" ng-if="param.self_process_type === 'S'">
                            <div layout="column" class="self-process-table">
                                <table md-table >
                                    <thead md-head>
                                    <tr md-row >
                                        <th md-column md-column-size="100" class="pr-0">알람 번호</th>
                                        <th md-column md-column-size="100" class="pr-0">알람 시간</th>
                                        <th md-column md-column-size="100" class="pr-0">장비 ID</th>
                                        <th md-column md-column-size="100" class="pr-0">장비명</th>
                                        <th md-column md-column-size="100" class="pr-0">장애내용</th>
                                        <th md-column md-column-size="100" class="pr-0">인터페이스</th>
                                        <th md-column md-column-size="100" class="pr-0">원본 메시지</th>
                                    </tr>
                                    </thead>
                                    <tbody md-body style="min-height: calc(100% - 40px); height: calc(100% - 40px);">
                                    <tr md-row class="repeated-item">
                                        <td md-cell md-column-size="100" class="pr-0" over-cell>{{syslogDetailData.alarmno}}</td>
                                        <td md-cell md-column-size="100" class="pr-0" over-cell>{{syslogDetailData.alarmtime}}</td>
                                        <td md-cell md-column-size="100" class="pr-0" over-cell>{{syslogDetailData.node_num}}</td>
                                        <td md-cell md-column-size="100" class="pr-0" over-cell>{{syslogDetailData.node_nm}}</td>
                                        <td md-cell md-column-size="100" class="pr-0" over-cell>{{syslogDetailData.alarmmsg}}</td>
                                        <td md-cell md-column-size="100" class="pr-0" over-cell>{{syslogDetailData.alarmloc}}</td>
                                        <td md-cell md-column-size="100" class="pr-0" over-cell>{{syslogDetailData.etc}}</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                    <div class="selfProcess_secondContent" style="height: 300px; min-height: 130px; margin-top: 20px;" flex>
                        <div class="selfProcessContentTitle">설명</div>
                        <p meditor class="feedback_container" ng-model="ex_text" class="requestDoc ng-pristine ng-untouched ng-valid ng-isolate-scope w-100"
                        style="width: 100%; height: 85%; margin-top: 30px; display: flex; justify-content: center; font-size: 15px; font-family: sans-serif; overflow-x:auto; font-family: 'NanumGothic';"></p>
                    </div>
                </div>
            <div class="modalFooter">
                <md-button class="md-raised base-btn-2 black-btn" ng-click="dlgFunc.cancel()" style="float: right;">닫기</md-button>
                <md-button class="md-raised base-btn-2 nia-dark-button" ng-click="openAIProcess(param)" style="float: right;">AI 장애대응(수동)</md-button>
        </div>
</md-dialog>

<template id="selfprocess-ticket-config">
    <div>${att2-requestDoc-config}</div>
    <div>${ntt-requestDoc-config}</div>
</template>

<template id="selfprocess-trafficIssue-config">
    <div>${ftt-requestDoc-config}</div>
</template>

<template id="att2-requestDoc-config">
    <div class="config-container" style="display: flex; justify-content: space-around; margin-top: 10px;">
        <div class="in">
            <span style="font-size: 20px; font-weight: 700;">IN</span>
            <div>&nbsp;- bps : ${fltbpsin}</div>
            <div>&nbsp;- Predict : ${fltbpsin_predict}</div>
            <div>&nbsp;- Threshold_Upper : ${fltbpsin_threshold_upper}</div>
            <div>&nbsp;- Threshold_Lower : ${fltbpsin_threshold_lower}</div>
            <div>&nbsp;- Anomaly : ${fltbpsin_anomaly}</div>
        </div>
        <div class="out">
            <span style="font-size: 20px; font-weight: 700;">OUT</span>
            <div>&nbsp;- bps : ${fltbpsout}</div>
            <div>&nbsp;- Predict : ${fltbpsout_predict}</div>
            <div>&nbsp;- Threshold_Upper : ${fltbpsout_threshold_upper}</div>
            <div>&nbsp;- Threshold_Lower : ${fltbpsout_threshold_lower}</div>
            <div>&nbsp;- Anomaly : ${fltbpsout_anomaly}</div>
        </div>
    </div>
</template>

<template id="ntt-requestDoc-config">
    <div class="config-container" style="display: flex; justify-content: space-around; margin-top: 20px;">
        <span>AI 탐지 정보가 존재하지 않습니다.</span>
    </div>
</template>
<template id="ftt-requestDoc-config">
    <h6 style="font-weight: 700;">비장애</h6>
        <div>&nbsp; &nbsp;- 장애 확률 : ${issue_percentage}</div>
        <div>&nbsp; &nbsp;- 비장애 확률 : ${no_issue_percentage}</div>
</template>

<template id="selfprocess-explanation-config">
    <div class="explanation-container" style="display: flex; flex-direction: column; margin-right: 10px; font-size: 12px; align-items: center;">
        <span>&nbsp;- ${data_type} : ${data_num}</span>
        <span>&nbsp;티켓의 정보를 참고하여 "수동 마감" 처리를 원하실 경우</span>
        <span>&nbsp;하단의 <button style="color: white; background-color: rgb(31, 51, 92); border: none; font-size: 12px; padding: 3px;">AI 장애대응(수동)</button>버튼을 클릭하여 "수동 마감" 하시기 바랍니다.</span>
        <span>&nbsp;티켓의 정보가 상단의 정보와 일치하여 "자동 마감"을 원하신다면 <button style="color: white; background-color: rgb(31, 51, 92); border: none; font-size: 12px; padding: 3px;">닫기</button> 버튼을 클릭하시기 바랍니다. </span>
    </div>
</template>
