<md-dialog class="node-list-dialog" id="nodeList" ng-cloak>
    <md-toolbar>
        <div class="md-toolbar-tools">
            <i class="fa fa-check fa-lg"></i>
            <span class="title" ng-click="debugger()">&nbsp;노드관리</span>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="dlgFunc.cancel(); closeDialog()">
                <md-icon md-svg-src="img/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
            </md-button>
        </div>
    </md-toolbar>
    <form>
        <md-dialog-content>
            <div layout="column" class="node-list-dialog-content">
                <md-card class="node-card" style="margin: 20px;">
                    <div layout="column" class="node-list-search">
                        <div class="node-list-search-info">
                            <span class="node-name-title">노드명</span>
                            <md-input-container class="input-container">
                                <input class="node-name" type="text" ng-model="searchNodeList.nodeNm" ng-enter="handleSearch()" clear-btn />
                            </md-input-container>
                            <span class="node-model-title ml-3">모델명</span>
                            <md-input-container class="input-container">
                                <input class="node-model" type="text" ng-model="searchNodeList.modelId" ng-enter="handleSearch()" clear-btn />
                            </md-input-container>
                            <span class="node-representative-title ml-3">대표 IP</span>
                            <md-input-container class="input-container">
                                <input class="node-representative" type="text" ng-model="searchNodeList.ipAddr" ng-enter="handleSearch()" clear-btn />
                            </md-input-container>
                        </div>
                        <div class="node-list-search-info1">
                            <span class="node-item-use-title">사용여부</span>
                            <md-input-container class="select-container">
                                <md-select class="node-item-use" ng-model="searchNodeList.nodeUse">
                                    <md-option ng-value="use.key" ng-repeat="use in selectNodeUseName">{{use.value}}</md-option>
                                </md-select>
                            </md-input-container>
                            <span class="node-date-title ml-3">날짜</span>
                            <!--<md-input-container class="input-container">-->
                            <!--<input class="node-date" type="text" clear-btn />-->
                            <!--</md-input-container>-->
                            <md-input-container class="node-date" style="margin: 0px 0px 0px 25px;">
                                <input mdc-datetime-picker="" date="true" time="false" type="text"
                                       show-todays-date="" minutes="true" min-date="date" show-icon="true"
                                       edit-input="true" short-time="true" ng-init="null" ng-enter="handleSearch()"
                                       ng-model="searchNodeList.startDateTime" class=" dtp-no-msclear dtp-input md-input"/>
                            </md-input-container>
                            <span style="margin-left: 10px">~</span>
                            <md-input-container class="node-date" style="margin: 0px 0px 0px 10px;">
                                <input mdc-datetime-picker="" date="true" time="false" type="text"
                                       show-todays-date="" minutes="true" min-date="date" show-icon="true"
                                       edit-input="true" short-time="true" ng-init="null" ng-enter="handleSearch()"
                                       ng-model="searchNodeList.endDateTime" class=" dtp-no-msclear dtp-input md-input"/>
                            </md-input-container>
                            <md-button class="btn-float" ng-click="searchClear()" style="margin-right: 50px;">
                                전체보기
                            </md-button>
                            <md-button class="btn-float" ng-click="handleSearch()">
                                <i class="fa fa-search fa-lg"></i>
                            </md-button>
                            <md-button class="btn-float" ng-click="exportExcel()"><i class="fas fa-file-excel fa-lg" style="color: #008000; margin-right: 2px; font-size: 20px;"></i>엑셀저장</md-button>
                        </div>
                    </div>
                    <div layout="column" class="node-table" id="scrollable">
                        <table md-table>
                            <thead md-head>
                            <tr md-row>
                                <th md-column md-column-size="70" class="pr-0"><span>번호</span></th>
                                <!--<th md-column md-column-size="130" class="pr-0"><span>장비ID</span></th>-->
                                <th md-column md-column-size="100" class="pr-0"><span>노드명</span></th>
                                <!--<th md-column md-column-size="150" class="pr-0"><span>장비타입</span></th>-->
                                <th md-column md-column-size="100" class="pr-0"><span>모델명</span></th>
                                <!--<th md-column md-column-size="150"><span>위도</span></th>-->
                                <!--<th md-column md-column-size="150"><span>경도</span></th>-->
                                <th md-column md-column-size="130" class="pr-0"><span>맥주소</span></th>
                                <th md-column md-column-size="150" class="pr-0"><span>대표IP</span></th>
                                <th md-column md-column-size="70" class="pr-0"><span>사용여부</span></th>
                                <th md-column md-column-size="150" class="pr-0"><span>수정일</span></th>
                                <th md-column md-column-size="70" class="pr-0" style="z-index: 1;"><span>포트</span></th>
                            </tr>
                            </thead>
                            <tbody md-body>
                            <tr md-row ng-repeat="item in nodeList">
                                <td md-cell md-column-size="70" class="pr-0">{{ (($scope.historyPagingTable.selected-1)*$scope.historyPagingTable.limit) + $index + 1}}</td>
                                <!--<td md-cell md-column-size="130" class="pr-0">{{item.node_id}}</td>-->
                                <td md-cell md-column-size="130" class="pr-0"><a href="" ng-click="nodeUpdate(item)">{{item.node_nm}}</a></td>
                                <!--<td md-cell md-column-size="100" class="pr-0">{{item.netconf_type}}</td>-->
                                <td md-cell md-column-size="100" class="pr-0">{{item.code_nm}}</td>
                                <!--<td md-cell md-column-size="150">{{item.latitude}}</td>-->
                                <!--<td md-cell md-column-size="150">{{item.longitude}}</td>-->
                                <td md-cell md-column-size="130" class="pr-0">{{item.mac_addr}}</td>
                                <td md-cell md-column-size="150" class="pr-0">{{item.ip_addr}}</td>
                                <td md-cell md-column-size="70" class="pr-0">{{changeName(item.admin_yn)}}</td>
                                <td md-cell md-column-size="150" class="pr-0">{{item.chng_datetime}}</td>
                                <td md-cell md-column-size="70" class="pr-0">
                                    <!--<a ng-click="portUpdate(item)">관리</a>-->
                                    <md-button class="applyDetail" ng-click="portUpdate(item)">
                                        <i class="fa fa-cog fa-lg"></i>&nbsp;관리
                                    </md-button>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <md-table-pagination class="mt-2" md-limit="historyPagingTable.limit" md-limit-options="[30,50,100,200]" md-page="historyPagingTable.selected"
                                         md-total="{{nodeList[0].NodeTotalCount || 0}}" md-page-select="true" md-boundary-links="true">
                    </md-table-pagination>
                </md-card>
            </div>
            <div class="modalFooter">
                <md-button class="md-raised base-btn-2 nia-dark-button md-hide" ng-style="{display: tools.store.optionsNodeEditable ? 'inline-block !important':'none'}" ng-click="nodeAdd()" ng-disabled="tools.store.optionsNodeEditable != true">등록</md-button>
                <md-button class="md-raised dialog-btn base-btn-2 black-btn" ng-click="dlgFunc.cancel()">닫기</md-button>
            </div>
        </md-dialog-content>
    </form>
</md-dialog>
