md-dialog.node-list-dialog {
    background-color: rgba(245,245,245,1);
    max-width: 1350px;
    max-height: 950px;
    width: 1350px;
    height: 950px;
    border-radius: 0;
    transition: all 0s ease 0s !important;
}

md-dialog.node-list-dialog div.node-list-dialog-content{
    font-size: 11px;
    height: calc(100% - 50px);
}

div.node-list-dialog-content md-card.node-card {
    height: calc(100% - 40px);
    min-height: 300px;
}

div.node-list-dialog-content div.node-list-search div.node-list-search-info{
    margin: 5px 0px 0px 0px;
}

div.node-list-dialog-content div.node-list-search div.node-list-search-info md-input-container.input-container{
    margin: 0px 0px 0px 20px;
    width: calc(100% - 930px);
    min-width: 240px;
}

div.node-list-dialog-content div.node-list-search div.node-list-search-info md-input-container.input-container input{
    font-size: 13px;
}

div.node-list-dialog-content div.node-list-search div.node-list-search-info1{
    margin: 5px 0px 0px 0px;
}

div.node-list-dialog-content div.node-list-search div.node-list-search-info1 span.node-item-use-title{
    margin: 16px 0px 0px 0px;
}

div.node-list-dialog-content div.node-list-search div.node-list-search-info1 md-select{
    font-size: 13px;
}

div.node-list-dialog-content div.node-list-search div.node-list-search-info1 span.node-date-title{
    margin: 16px 0px 0px 0px;
}

div.node-list-dialog-content div.node-list-search div.node-list-search-info1 md-input-container.select-container{
    margin: 0px 0px 0px 10px;
    width: calc(100% - 930px);
    min-width: 240px;
}

div.node-list-dialog-content div.node-list-search div.node-list-search-info1 md-input-container.node-date{
    width: calc(100% - 1118px);
    min-width: 150px;
}

div.node-list-dialog-content div.node-list-search div.node-list-search-info1 md-input-container > input{
    font-size: 13px;
}

md-dialog.node-list-dialog div.node-list-dialog-content div.node-list-search div.node-list-search-info1 button.btn-float{
    float: right;
    font-size: 11px;
}

div.node-list-dialog-content div.node-table {
    overflow: auto;
    height: calc(100vh - 280px);
    min-height: 150px;
}

div.node-list-dialog-content div.node-table > table{
    text-align-last: center;
    overflow: visible;
}

div.node-list-dialog-content div.node-table > table th.md-column {
    font-size: 14px;
}

div.node-list-dialog-content div.node-table table > thead > tr > th{
    text-align: center;
    position: sticky;
    top: 0px;
    background-color: white;
}

div.node-list-dialog-content div.node-table table > tbody > tr > td{
    text-align: center;
}

div.node-list-dialog-content div.node-table > table > tbody > tr > td > span{
    font-size: 13px;
}

div.node-list-dialog-content div.node-table > table > tbody > tr > td > span > a{
    cursor: pointer;
    color: #3d64ac;
    text-decoration: underline;
}

div.node-list-dialog-content div.node-table > table > tbody > tr > td > span > a:hover {
    cursor: pointer;
}

md-dialog.node-list-dialog div.modalFooter {
    width: 100%;
    text-align: right;
}
