<md-dialog class="detail-dialog" ng-cloak>
    <md-toolbar>
        <div class="md-toolbar-tools">
            <i class="fa fa-check fa-lg"></i>
            <span class="title">&nbsp;어플리케이션 {{ model.editType === 'C' ? '등록' : '수정' }} </span>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="dlgFunc.cancel()">
                <md-icon md-svg-src="img/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
            </md-button>
        </div>
    </md-toolbar>
    <form>
        <md-dialog-content>
            <div class="dialog-content">
                <table class="layout-table">
                    <tr>
                        <td class="label">프로토콜</td>
                        <td colspan="3">
                            <md-input-container class="input-container title-container ml-3 mt-0">
                                <input type="text" ng-model="model.protocol" clear-btn/>
                            </md-input-container>
                        </td>
                        <td class="label">포트</td>
                        <td colspan="3">
                            <md-input-container class="input-container title-container ml-3 mt-0">
                                <input type="text" ng-model="model.port_num" ng-disabled="model.editType !== 'C'"/>
                            </md-input-container>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="modalFooter">
                <md-button class="md-raised base-btn-2 nia-dark-button" ng-click="handleSave()">저장</md-button>
                <md-button class="md-raised base-btn-2 nia-dark-button" ng-click="handleDelete()" ng-hide="model.editType === 'C'">삭제</md-button>
                <md-button class="md-raised dialog-btn base-btn-2 black-btn" ng-click="dlgFunc.cancel()">닫기</md-button>
            </div>
        </md-dialog-content>
    </form>
</md-dialog>
