<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nia.ip.sdn.syslog.linkage.mapper.SyslogMapper">

    <select id="selectCurrentSyslogSeq" resultType="int">
        SELECT currval('gather.seq_syslog_collect') AS COLLECT_SEQ
    </select>

    <insert id="insertSyslogDataBatch" parameterType="java.util.List">
        INSERT INTO GATHER.TB_SYSLOG_COLLECT
        (
        COLLECT_SEQ, COLLECT_HOST, SOURCE, APPNAME, HOSTNAME, FACILITY_CODE, FACILITY, SEVERITY_CODE,
        SEVERITY, SYSLOG_MESSAGE, SYSLOG_PROCID, COLLECT_TIMESTAMP, PARTITION_KEY
        )
        VALUES
        <foreach collection="list" item="item" separator=",">
            (
            nextval('gather.seq_syslog_collect'), #{item.collectHost}, #{item.source}, #{item.appname}, #{item.hostname}, #{item.facilityCode}, #{item.facility},
            #{item.severityCode}, #{item.severity}, #{item.syslogMessage}, #{item.syslogProcid}, #{item.collectTimestamp}, #{item.partitionKey}
            )
        </foreach>
    </insert>



</mapper>