<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nia.data.linkage.ip.equip.mapper.nia.NiaEquipMapper">

    <insert id="insertCvnmsResource" parameterType="java.util.HashMap">
        <if test="cvnmsResourceVoList.size != 0">
            INSERT INTO IP_YD.XE_CVNMS_RESOURCE
            (
                INTRESIDX, MODULE_SRL, MEMBER_SRL, STRRESNAME, STRRESID,
                STRRESTYPE, STRMODELID, STRGROUPID, STRGROUPID1, STRGROUPID2,
                STRGROUPID3, STRGROUPID4, STRGROUPID5, STRGROUPID6, STRGROUPID7,
                STRGROUPID8, STRGROUPID9, STRGROUPID10, STRTAGS, STRPRIORITY,
                STRRESMEMO, STRCOLID, STRIPVER, STRIPADDR, STRIPV6ADDR,
                STRSNMPIPADDR, STRSNMPVER, STRSNMPCOMMUNITY, INTSNMPPORT, INTSNMPTIMEOUT,
                STRSNMPV3_USERNAME, STRSNMPV3_SECURITYLEVEL, STRSNMPV3_AUTHENTICATIONPROTOCOL, STRSNMPV3_AUTHENTICATIONPASSWORD, STRSNMPV3_PRIVACYPROTOCOL,
                STRSNMPV3_PRIVACYPASSWORD, STRSNMPV3_CONTEXTNAME, STRENABLED_CPU, STRENABLED_MEM, STRENABLED_DISK,
                STRSNMPMIB_CPU, STRSNMPMIB_MEM, STRSNMPMIB_DISK, STREVENT_CPU, STREVENT_MEM,
                STREVENT_DISK, STRSTATUSSNMP, STRENABLEDSNMP, DATEUPTIME, STRSTATUSPING,
                INTINTERVALPING, INTTIMEOUTPING, STRENABLEDPING, INTLOGRAISECOUNT, INTERRRAISECOUNT,
                STRCPUCURRENT, STRMEMCURRENT, STRDISKCURRENT, STRRTTCURRENT, INTSENSORPID,
                STRALIVE, STRCONTACTS, DATEPROBEUPDATEDATE, DATELASTUPDATEDATE, DATEREGDATE
            )
            VALUES
            <foreach collection="cvnmsResourceVoList" item="item" separator=",">
            (
                #{item.intresidx}, #{item.moduleSrl}, #{item.memberSrl}, #{item.strresname}, #{item.strresid},
                #{item.strrestype}, #{item.strmodelid}, #{item.strgroupid}, #{item.strgroupid1}, #{item.strgroupid2},
                #{item.strgroupid3}, #{item.strgroupid4}, #{item.strgroupid5}, #{item.strgroupid6}, #{item.strgroupid7},
                #{item.strgroupid8}, #{item.strgroupid9}, #{item.strgroupid10}, #{item.strtags}, #{item.strpriority},
                #{item.strresmemo}, #{item.strcolid}, #{item.stripver}, #{item.stripaddr}, #{item.stripv6addr},
                #{item.strsnmpipaddr}, #{item.strsnmpver}, #{item.strsnmpcommunity}, #{item.intsnmpport}, #{item.intsnmptimeout},
                #{item.strsnmpv3Username}, #{item.strsnmpv3Securitylevel}, #{item.strsnmpv3Authenticationprotocol}, #{item.strsnmpv3Authenticationpassword}, #{item.strsnmpv3Privacyprotocol},
                #{item.strsnmpv3Privacypassword}, #{item.strsnmpv3Contextname}, #{item.strenabledCpu}, #{item.strenabledMem}, #{item.strenabledDisk},
                #{item.strsnmpmibCpu}, #{item.strsnmpmibMem}, #{item.strsnmpmibDisk}, #{item.streventCpu}, #{item.streventMem},
                #{item.streventDisk}, #{item.strstatussnmp}, #{item.strenabledsnmp}, #{item.dateuptime}, #{item.strstatusping},
                #{item.intintervalping}, #{item.inttimeoutping}, #{item.strenabledping}, #{item.intlograisecount}, #{item.interrraisecount},
                #{item.strcpucurrent}, #{item.strmemcurrent}, #{item.strdiskcurrent}, #{item.strrttcurrent}, #{item.intsensorpid},
                #{item.stralive}, #{item.strcontacts}, #{item.dateprobeupdatedate}, #{item.datelastupdatedate}, #{item.dateregdate}
            )
            </foreach>
        </if>
    </insert>

    <insert id="insertCvnmsResourceIf" parameterType="java.util.HashMap">
        <if test="cvnmsResourceIfVoList.size != 0">
            INSERT INTO IP_YD.XE_CVNMS_RESOURCE_IF
            (
                INTIFIDX, MODULE_SRL, STRRESID, STRIFID, STRIFNAME,
                STRRESID_A, STRRESID_Z, INTIFINDEX, STRIFDESC, STRIFTYPE,
                STRIFSPEED, STRIFPHYSADDRESS, STRIFOPERSTATUS, STRIFLIMITBPS, STRIFLIMITBPSC,
                STRIFLIMITBPSM, STRIFLIMITBPSN, STRIFLIMITBPSW, STRIFERRLEVEL, STRIFIPADDR,
                STRIFMANPERF, STRIFMANERROR, STRIFCURRENT, STRIFLIMITERR, STRIFMEMO,
                DATELASTUPDATEDATE, DATEREGDATE
            )
            VALUES
            <foreach collection="cvnmsResourceIfVoList" item="item" separator=",">
            (
                #{item.intifidx}, #{item.moduleSrl}, #{item.strresid}, #{item.strifid}, #{item.strifname},
                #{item.strresidA}, #{item.strresidZ}, #{item.intifindex}, #{item.strifdesc}, #{item.striftype},
                #{item.strifspeed}, #{item.strifphysaddress}, #{item.strifoperstatus}, #{item.striflimitbps}::int8 , #{item.striflimitbpsc}::int8,
                #{item.striflimitbpsm}::int8, #{item.striflimitbpsn}::int8, #{item.striflimitbpsw}::int8, #{item.striferrlevel}, #{item.strifipaddr},
                #{item.strifmanperf}, #{item.strifmanerror}, #{item.strifcurrent}, #{item.striflimiterr}, #{item.strifmemo},
                #{item.datelastupdatedate}, #{item.dateregdate}
            )
            </foreach>
        </if>
    </insert>

    <select id="fcResourceIfYd" resultType="boolean">
        SELECT RESOURCE.FC_CREATE_RESOURCE_IF_YD()
    </select>

    <select id="fcResourceNodeYd" resultType="boolean">
        SELECT RESOURCE.FC_CREATE_RESOURCE_NODE_YD()
    </select>

    <delete id="deleteCvnmsResource">
        TRUNCATE TABLE IP_YD.XE_CVNMS_RESOURCE
    </delete>

    <delete id="deleteCvnmsResourceIf">
        TRUNCATE TABLE IP_YD.XE_CVNMS_RESOURCE_IF
    </delete>

    <update id="updateLinkageHist" parameterType="java.util.HashMap">
        UPDATE NIA.TB_LINKAGE_SEQ
           SET VALUE_NAME = #{value}
             , YD_DATE = now() 
         WHERE KEY_NAME = #{key}
    </update>
</mapper>


