md-dialog.SOP-detail-dialog div.SOP-detail-title span.title{
    font-size: 25px;
    margin: 0px 0px 0px 10px;
}

md-dialog.SOP-detail-dialog div.SOP-detail-title button.md-icon-button{
    float: right;
}

md-dialog.SOP-detail-dialog div.SOP-detail-dialog-content {
    padding: 0;
    font-size: 0.8em;
}

md-dialog.SOP-detail-dialog table.SOP-detail-table tr {
    height: 55px;
    border-bottom: 1px dotted #5c5c5c29;
}
md-dialog.SOP-detail-dialog table.SOP-detail-table tr:last-child {
    border-bottom: none;
}
md-dialog.SOP-detail-dialog table.SOP-detail-table td.userInfoKind {
    text-align: center;
    padding-right: 20px;
    padding-left: 20px;
    border-right: 1px dotted #5c5c5c29;
    border-left: 1px dotted #5c5c5c29;
    background-color: #c1d3f624;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

md-dialog.SOP-detail-dialog table.SOP-detail-table tr > td > input{
    margin-left: 15px;
    border: none;
    border-bottom: 1px solid rgb(224 228 239);
}
md-dialog.SOP-detail-dialog table.SOP-detail-table tr > td > input:focus {
    border-bottom: 1.5px solid rgba(17, 16, 62, 0.75);
}

md-dialog.SOP-detail-dialog table.SOP-detail-table tr > td > input:disabled {
    background-color: #fff;
}

md-dialog.SOP-detail-dialog table.SOP-detail-table tr > td > md-select{
    margin: 0px 0px 0px 15px;
    border: none;
    border-bottom: 1px solid rgb(224 228 239);
}

md-dialog.SOP-detail-dialog div.modalFooter {
    width: 100%;
    text-align: right;
}

