<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nia.ai.per.ap.mapper.EquipmentMapper">
    <select id="selectRoadmRepeaterRoutenum" resultType="com.nia.ai.per.ap.vo.RoadmRepeaterRouteVo" parameterType="java.util.HashMap">
        SELECT TRUNK_ID AS trunkId, TRUNK_NAME AS trunkName, ROUTENUM AS routenum, SYSNAME AS sysname
              , UP_PTPNAME_BAU AS upPtpnameBau, UP_PTPNAME_PAU AS upPtpnamePau
              , DOWN_PTPNAME_BAU AS downPtpnameBau, DOWN_PTPNAME_PAU AS downPtpnamePau
              , DIRECTION as direction
          FROM (
                  SELECT TRUNK_ID, TRUNK_NAME, ROUTENUM, SYSNAME
                        , UP_PTPNAME_BAU, UP_PTPNAME_PAU
                        , DOWN_PTPNAME_BAU, DOWN_PTPNAME_PAU
                        <!--      , CASE WHEN UP_PTPNAME_BAU = #{ptpname} OR UP_PTPNAME_PAU = #{ptpname} THEN 'UP'
                                      WHEN DOWN_PTPNAME_BAU = #{ptpname} OR DOWN_PTPNAME_PAU = #{ptpname} THEN 'DOWN'
                                 END AS direction -->
                        , CASE WHEN 'ROADM' = #{roadmCode} AND ROUTENUM = 0 AND UP_PTPNAME_PAU = #{ptpname} THEN 'UP'
                                WHEN 'ROADM' = #{roadmCode} AND ROUTENUM = 0 AND DOWN_PTPNAME_BAU = #{ptpname} THEN 'DOWN'
                                WHEN 'ROADM' = #{roadmCode} AND ROUTENUM = 10 AND UP_PTPNAME_BAU = #{ptpname} THEN 'UP'
                                WHEN 'ROADM' = #{roadmCode} AND ROUTENUM = 10 AND DOWN_PTPNAME_PAU = #{ptpname} THEN 'DOWN'
                                WHEN 'REPEATER' = #{roadmCode} AND UP_PTPNAME_BAU = #{ptpname} OR UP_PTPNAME_PAU = #{ptpname} THEN 'UP'
                                WHEN 'REPEATER' = #{roadmCode} AND DOWN_PTPNAME_BAU = #{ptpname} OR DOWN_PTPNAME_PAU = #{ptpname} THEN 'DOWN'
                           END AS DIRECTION
                    FROM NIA.TB_ROADM_TRUNK_REPEATER
                   WHERE SYSNAME = #{sysname}
        ) A
      WHERE DIRECTION IS NOT NULL
    </select>
</mapper>


