<md-dialog class="profile-list-dialog" id="byApplicationStatisticsSkill" style="width: 52%; height:70%">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <i class="fa fa-check fa-lg"></i>
            <span class="title" ng-click="debugger()">&nbsp;어플리케이션별 트래픽 분석 및 Top N</span>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="dlgFunc.cancel()">
                <md-icon md-svg-src="img/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
            </md-button>
        </div>
    </md-toolbar>
    <form>
        <md-dialog-content>
            <div layout="column" class="profile-list-dialog-content">
                <md-card class="profile-card" style="margin: 20px;">
                    <div layout="column" class="profile-list-search">
                        <div class="profile-list-search-info">
                            <span class="ml-2">Application(S)</span>
                            <md-input-container class="input-container mt-0 ml-2">
                                <md-select  ng-model="searchAppData.srcApplication" >
                                    <md-option ng-value="item.code" ng-repeat="item in SourceApplicationOptions">
                                        <span>{{item.name}}</span>
                                    </md-option>
                                </md-select>
                            </md-input-container>
                            <span class="ml-2">Port (S)</span>
                            <md-input-container class="input-container mt-0 ml-2">
                                <input class="profile-title" ng-model="searchAppData.srcPort" type="text" ng-enter="handleSearch()" clear-btn/>
                            </md-input-container>
                            <span class="ml-2">Application(D)</span>
                            <md-input-container class="input-container mt-0 ml-2">
                                <md-select  ng-model="searchAppData.dstApplication" >
                                    <md-option ng-value="item.code" ng-repeat="item in DestinationApplicationOptions">
                                        <span>{{item.name}}</span>
                                    </md-option>
                                </md-select>
                            </md-input-container>
                            <span class="ml-2">Port (D)</span>
                            <md-input-container class="input-container mt-0 ml-2">
                                <input class="profile-title" ng-model="searchAppData.dstPort" type="text" ng-enter="handleSearch()" clear-btn/>
                            </md-input-container>
                            <span class="ml-2">Top N</span>
                            <md-input-container class="input-container mt-0 ml-2">
                                <md-select  ng-model="searchAppData.topN" >
                                    <md-option ng-value="item.name" ng-repeat="item in topNOptions" selected="item.selected === true">
                                        <span>{{item.name}}</span>
                                    </md-option>
                                </md-select>
                            </md-input-container>
                        </div>
                        <div class="profile-list-search-btn">
                            <!-- <md-button class="profile-list-search-btn" ng-click="exportExcel()" style="font-size: 11px;"><i class="fas fa-file-excel fa-lg" style="color: #008000; margin-right: 2px; font-size: 20px;"></i>엑셀저장</md-button> -->
                            <!-- <md-button class="search-option-switch clearBtn" ng-click="" style="font-size: 11px; width: 50px;">
                                그래프
                            </md-button> -->
                            <md-button class="profile-list-search-btn" ng-click="handleSearch()" style="font-size: 11px;">
                                <i class="fa fa-search fa-lg"></i>
                            </md-button>
                            <md-button class="search-option-switch clearBtn" ng-click="searchClear()" style="margin-right: 50px;">
                                전체보기
                            </md-button>
                        </div>
                    </div>
                    <div layout="column" class="profile-table">
                        <table md-table>
                            <thead md-head>
                                <tr md-row>
                                    <th md-column md-column-size="80" class="pr-0"><span>Rank</span></th>
                                    <th md-column md-column-size="100" class="pr-0"><span>Application(Source)</span></th>
                                    <th md-column md-column-size="100" class="pr-0"><span>Port(Source)</span></th>
                                    <th md-column md-column-size="100" class="pr-0"><span>Application(Destination)</span></th>
                                    <th md-column md-column-size="100" class="pr-0"><span>Port(Destination)</span></th>
                                    <th md-column md-column-size="80" class="pr-0"><span>Gbyte</span></th>
                                </tr>
                            </thead>
                            <tbody md-body>
                                <tr md-row ng-repeat="item in selectByAppTrafficList" >
                                    <td md-cell md-column-size="80" class="pr-0">{{item.rank_order}}</td>
                                    <td md-cell md-column-size="100" class="pr-0" >{{item.src_protocol}}</td>
                                    <td md-cell md-column-size="100" class="pr-0">{{item.src_port}}</td>
                                    <td md-cell md-column-size="100" class="pr-0">{{item.dst_protocol}}</td>
                                    <td md-cell md-column-size="100" class="pr-0">{{item.dst_port}}</td>
                                    <td md-cell md-column-size="80" class="pr-0" >{{item.packet_bytes.toLocaleString()}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </md-card>
            </div>
            <div class="modalFooter">
                <md-button class="md-raised dialog-btn base-btn-2 black-btn" ng-click="dlgFunc.cancel()">닫기</md-button>
            </div>
        </md-dialog-content>
    </form>
</md-dialog>
