<md-dialog class="dateSetting-dialog" id="dateSetting" ng-cloak>
    <md-toolbar>
        <div class="md-toolbar-tools">
            <i class="fa fa-check fa-lg"></i>
            <span class="title" ng-click="debugger()"> &nbsp; 데이터 스냅샷</span>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="dlgFunc.cancel()">
                <md-icon md-svg-src="img/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
            </md-button>
        </div>
    </md-toolbar>
    <form ng-cloak>
        <md-dialog-content>
            <div class="modalContents" ng-class="{'open-history': isOpenHistory}">
                <table md-table class="nia-custom-table">
                    <tr>
                        <td class="title" style="min-width: 120px;">제목</td>
                        <td colspan="3">
                            <input type="text" ng-model="snapshotData.title"/>
                        </td>
                    </tr>
                    <tr>
                        <td class="title" style="min-width: 120px;">분류</td>
                        <td colspan="3" style="padding: 10px 0 0 15px;">
                            <div ng-repeat="item in ticketCategory" style="display: inline-block;">
                                <input class="nia-custom-radio" type="radio" id="{{item.value}}" ng-model="snapshotData.detail" value="{{item.value}}" ng-click="changeLoadHistory(item.value)"> <!-- ng-disabled="ticketCategoryDisabled" -->
                                <label for="{{item.value}}">{{item.label}}</label>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="title">시작시간</td>
                        <td colspan="3">
                            <md-input-container class="md-block" style="margin: 0; width: 170px;">
                                <input mdc-datetime-picker="" date="true" time="true" type="text" id="datetime1"
                                       show-todays-date="" minutes="true" min-date="getMinStartDate(snapshotData.endTime)" max-date="snapshotData.endTime" show-icon="true" edit-input="true" short-time="true"
                                       ng-model="snapshotData.startTime" class=" dtp-no-msclear dtp-input md-input">
                            </md-input-container>
                        </td>
                    </tr>
                    <tr>
                        <td class="title">종료시간</td>
                        <td colspan="3">
                            <md-input-container class="md-block" style="margin: 0; width: 170px;">
                                <input mdc-datetime-picker="" date="true" time="true" type="text" id="datetime2"
                                       show-todays-date="" minutes="true" min-date="snapshotData.startTime" max-date="getMaxStartDate(snapshotData.startTime)" show-icon="true" edit-input="true" short-time="true"
                                       ng-model="snapshotData.endTime" class=" dtp-no-msclear dtp-input md-input">
                            </md-input-container>
                        </td>
                    </tr>
                    <tr ng-if="isOpenHistory == true">
                        <td class="title">스냅샷 이력</td>
                        <td colspan="3">
                            <table md-table class="rca-md-table" style="min-height: 100%; padding: 15px;">
                                <thead md-head>
                                    <tr md-row>
                                        <th md-column md-column-size="180">제목</th>
                                        <th md-column md-column-size="180">시작 시간</th>
                                        <th md-column md-column-size="180">종료 시간</th>
                                        <th md-column md-column-size="90">DELETE</th>
                                    </tr>
                                </thead>
                                <tbody md-body style="height: calc(100% - 32px); overflow-y: auto; overflow-x: hidden;">
                                    <tr md-row md-select="item" class="repeated-item" ng-repeat="item in snapshotData.history">
                                        <td md-cell md-column-size="180" class="pr-0"><a ng-href="http://116.89.191.35:24888/download/{{item.eventno}}"  target="_blank">{{item.title}}</a></td>
                                        <td md-cell md-column-size="180">{{item.start_time | dateFormat}}</td>
                                        <td md-cell md-column-size="180">{{item.end_time | dateFormat}}</td>
                                        <td md-cell md-column-size="90"><i class="fa fa-trash-o" aria-hidden="true" ng-click="deleteListTest(item)" style="cursor: pointer; font-size:medium"></i></td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                </table>
            </div>
        </md-dialog-content>
    </form>
    <div layout="row" class="modalFooter">
        <span flex></span>
        <!-- <md-button class="md-raised dialog-btn base-btn-2" ng-click="deleteListTest()" style="background-color: rgb(241, 30, 47); color: white;" ng-show="isOpenHistory == true" ng-disabled="">삭제</md-button> -->
        <md-button class="md-raised dialog-btn base-btn-2" ng-click="showHistory()" style="background-color: rgb(1, 29, 84); color: white;">{{isOpenHistory == true ? '이력닫기' : '이력보기'}}</md-button>
        <md-button class="md-raised dialog-btn base-btn-2" ng-click="save()" style="background-color: rgb(1, 29, 84); color: white;">저장</md-button>
        <md-button class="md-raised dialog-btn base-btn-2 black-btn" ng-click="dlgFunc.cancel()">닫기</md-button>
    </div>
</md-dialog>

