div.serverMonitorContainer{
    color: #eee;
    overflow-y: auto;
}

div.serverMonitorContainer div.group-title{
    margin-left: 15px;
}

div.serverMonitorContainer div.group-title > i{
    margin-left: 10px;
    cursor: pointer;
}

div.serverMonitorContainer div.group-contents{
    border-color: #aaa;
}

div.serverMonitorContainer div.chart-wrapper {
    background-color: #1c2b40;
    margin: 5px 10px 10px 10px;
    border-radius: 15px;
    padding: 15px;
}

div.serverMonitorContainer div.chart {
    margin: 5px 0 0 0;
    background-color: #181b1f
}

div.serverMonitorContainer div.chart-title, 
div.serverMonitorContainer div.chart-title label{
    font-size: 14px;
}

div.serverMonitorContainer div.chart-title > md-select {
    color: #eee;
    display: inline-block;
    margin: 0 20px;
    width: 150px;
}

div.serverMonitorContainer md-select md-select-value {
    color: #aaa !important;
}
