<div class="serverMonitorContainer" layout="column" flex layout-fill ng-cloak>
    
    <div layout="row" class="group" flex="33" layout-margin>
        <div layout="column" layout-fill>
            <div class="group-title">서버 자원 사용량 <i class="fa fa-refresh" ng-click="reloadData('resource')"></i></div>
            <div layout="row" class="group-contents" flex layout-fill>
                <div layout="column" class="chart-wrapper" flex="50">
                    <div class="chart-title">CPU 사용량</div>
                    <div class="chart" flex>
                        <iframe
                            id="iframe1"
                            sandbox="allow-forms allow-same-origin allow-scripts"
                            scrolling="yes"
                            ng-src="{{getResourceDataUrl('CPU')}}"
                            width="100%"
                            height="100%"
                            frameBorder="0"
                        >
                        </iframe> 
                    </div>
                </div>
                <div layout="column" class="chart-wrapper" flex>
                    <div class="chart-title">Memory 사용량</div>
                    <div class="chart" flex>
                        <iframe
                            id="iframe2"
                            sandbox="allow-forms allow-same-origin allow-scripts"
                            scrolling="yes"
                            ng-src="{{getResourceDataUrl('MEMORY')}}"
                            width="100%"
                            height="100%"
                            frameBorder="0"
                        >
                        </iframe> 
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div layout="row" class="group" flex="66" layout-margin>
        <div layout="column" layout-fill>
            <div class="group-title">파일 이상 여부(사이즈 한정)를 시각화 및 실시간 (3시간 범위)<i class="fa fa-refresh" ng-click="reloadData('file3Hour')"></i></div>

            <div layout="row" class="group-contents" flex layout-fill>
                <div layout="column" class="chart-wrapper" flex="50">
                    <div class="chart-title">장비</div>
                    <div class="chart" flex>
                        <iframe
                            id="iframe101"
                            sandbox="allow-forms allow-same-origin allow-scripts"
                            scrolling="yes"
                            ng-src="{{getFileData3HoursUrl('장비')}}"
                            width="100%"
                            height="100%"
                            frameBorder="0"
                        >
                        </iframe>
                    </div>
                </div>
                <div layout="column" class="chart-wrapper" flex="50">
                    <div class="chart-title">경로</div>
                    <div class="chart" flex>
                        <iframe
                            id="iframe102"
                            sandbox="allow-forms allow-same-origin allow-scripts"
                            scrolling="yes"
                            ng-src="{{getFileData3HoursUrl('경로')}}"
                            width="100%"
                            height="100%"
                            frameBorder="0"
                        >
                        </iframe>
                    </div>
                </div>
            </div>

            <div layout="row" class="group-contents" flex layout-fill>
                <div layout="column" class="chart-wrapper" flex="33">
                    <div class="chart-title">ipSdnSflow</div>
                    <div class="chart" flex>
                        <iframe
                            id="iframe103"
                            sandbox="allow-forms allow-same-origin allow-scripts"
                            scrolling="yes"
                            ng-src="{{getFileData3HoursUrl('ipSdnSflow')}}"
                            width="100%"
                            height="100%"
                            frameBorder="0"
                        >
                        </iframe>
                    </div>
                </div>
                <div layout="column" class="chart-wrapper" flex="33">
                    <div class="chart-title">ipSdnSyslog</div>
                    <div class="chart" flex>
                        <iframe
                            id="iframe104"
                            sandbox="allow-forms allow-same-origin allow-scripts"
                            scrolling="yes"
                            ng-src="{{getFileData3HoursUrl('ipSdnSyslog')}}"
                            width="100%"
                            height="100%"
                            frameBorder="0"
                        >
                        </iframe>
                    </div>
                </div>
                <div layout="column" class="chart-wrapper" flex="33">
                    <div class="chart-title">ipSdnSyslogAlarm</div>
                    <div class="chart" flex>
                        <iframe
                            id="iframe105"
                            sandbox="allow-forms allow-same-origin allow-scripts"
                            scrolling="yes"
                            ng-src="{{getFileData3HoursUrl('ipSdnSyslogAlarm')}}"
                            width="100%"
                            height="100%"
                            frameBorder="0"
                        >
                        </iframe>
                    </div>
                </div>
            </div>

            <div class="group-title">파일 이상 여부(사이즈 한정)를 시각화 및 실시간 (하루 주기, 7일 범위)<i class="fa fa-refresh" ng-click="reloadData('file1Day')"></i></div>
            <div layout="row" class="group-contents" flex layout-fill>
                <div layout="column" class="chart-wrapper" flex="33">
                    <div class="chart-title">link</div>
                    <div class="chart" flex>
                        <iframe
                            id="iframe201"
                            sandbox="allow-forms allow-same-origin allow-scripts"
                            scrolling="yes"
                            ng-src="{{getFileData1DayUrl('link')}}"
                            width="100%"
                            height="100%"
                            frameBorder="0"
                        >
                        </iframe>
                    </div>
                </div>
                <div layout="column" class="chart-wrapper" flex="33">
                    <div class="chart-title">node</div>
                    <div class="chart" flex>
                        <iframe
                            id="iframe202"
                            sandbox="allow-forms allow-same-origin allow-scripts"
                            scrolling="yes"
                            ng-src="{{getFileData1DayUrl('node')}}"
                            width="100%"
                            height="100%"
                            frameBorder="0"
                        >
                        </iframe>
                    </div>
                </div>
                <div layout="column" class="chart-wrapper" flex="33">
                    <div class="chart-title">interface</div>
                    <div class="chart" flex>
                        <iframe
                            id="iframe203"
                            sandbox="allow-forms allow-same-origin allow-scripts"
                            scrolling="yes"
                            ng-src="{{getFileData1DayUrl('interface')}}"
                            width="100%"
                            height="100%"
                            frameBorder="0"
                        >
                        </iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div layout="row" class="group" flex="66" layout-margin>
        <div layout="column" layout-fill>
            <div class="group-title">파일 데이터 Value 시각화 및 실시간<i class="fa fa-refresh" ng-click="reloadData('dataValue')"></i></div>

            <div layout="row" class="group-contents" flex layout-fill>
                <div layout="column" class="chart-wrapper" flex="50">
                    <div class="chart-title">장비</div>
                    <div class="chart" flex>
                        <iframe
                            id="iframe301"
                            sandbox="allow-forms allow-same-origin allow-scripts"
                            scrolling="yes"
                            ng-src="{{getDataValueUrl('장비')}}"
                            width="100%"
                            height="100%"
                            frameBorder="0"
                        >
                        </iframe>
                    </div>
                </div>
                <div layout="column" class="chart-wrapper" flex="50">
                    <div class="chart-title">경로</div>
                    <div class="chart" flex>
                        <iframe
                            id="iframe302"
                            sandbox="allow-forms allow-same-origin allow-scripts"
                            scrolling="yes"
                            ng-src="{{getDataValueUrl('경로')}}"
                            width="100%"
                            height="100%"
                            frameBorder="0"
                        >
                        </iframe>
                    </div>
                </div>
            </div>

            <div layout="row" class="group-contents" flex layout-fill>
                <div layout="column" class="chart-wrapper" flex="33">
                    <div class="chart-title">ipSdnSflow</div>
                    <div class="chart" flex>
                        <iframe
                            id="iframe303"
                            sandbox="allow-forms allow-same-origin allow-scripts"
                            scrolling="yes"
                            ng-src="{{getDataValueUrl('ipSdnSflow')}}"
                            width="100%"
                            height="100%"
                            frameBorder="0"
                        >
                        </iframe>
                    </div>
                </div>
                <div layout="column" class="chart-wrapper" flex="33">
                    <div class="chart-title">ipSdnSyslog</div>
                    <div class="chart" flex>
                        <iframe
                            id="iframe304"
                            sandbox="allow-forms allow-same-origin allow-scripts"
                            scrolling="yes"
                            ng-src="{{getDataValueUrl('ipSdnSyslog')}}"
                            width="100%"
                            height="100%"
                            frameBorder="0"
                        >
                        </iframe>
                    </div>
                </div>
                <div layout="column" class="chart-wrapper" flex="33">
                    <div class="chart-title">ipSdnSyslogAlarm</div>
                    <div class="chart" flex>
                        <iframe
                            id="iframe305"
                            sandbox="allow-forms allow-same-origin allow-scripts"
                            scrolling="yes"
                            ng-src="{{getDataValueUrl('ipSdnSyslogAlarm')}}"
                            width="100%"
                            height="100%"
                            frameBorder="0"
                        >
                        </iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div layout="row" class="group" flex="66" layout-margin>
        <div layout="column" layout-fill>
            <div class="group-title">파일 이상 여부(file size 기준) <i class="fa fa-refresh" ng-click="reloadData('file')"></i></div>

            <!--추가된 그래프-->
            <div layout="row" class="group-contents" flex layout-fill>
                <div layout="column" class="chart-wrapper" flex="33">
                    <div class="chart-title">IP 시설 정보</div>
                    <div class="chart" flex>
                        <iframe
                            id="iframe7"
                            sandbox="allow-forms allow-same-origin allow-scripts"
                            scrolling="yes"
                            ng-src="{{getFileDataUrl('IP1')}}"
                            width="100%"
                            height="100%"
                            frameBorder="0"
                        >
                        </iframe>
                    </div>
                </div>
                <div layout="column" class="chart-wrapper" flex="33">
                    <div class="chart" flex>
                        <iframe
                            id="iframe8"
                            sandbox="allow-forms allow-same-origin allow-scripts"
                            scrolling="yes"
                            ng-src="{{getFileDataUrl('IP2')}}"
                            width="100%"
                            height="100%"
                            frameBorder="0"
                        >
                        </iframe>
                    </div>
                </div>
                <div layout="column" class="chart-wrapper" flex="33">
                    <div class="chart" flex>
                        <iframe
                            id="iframe9"
                            sandbox="allow-forms allow-same-origin allow-scripts"
                            scrolling="yes"
                            ng-src="{{getFileDataUrl('IP3')}}"
                            width="100%"
                            height="100%"
                            frameBorder="0"
                        >
                        </iframe>
                    </div>
                </div>
            </div>

            <div layout="row" class="group-contents" flex layout-fill style="justify-content: space-between;">
                <div layout="column" class="chart-wrapper" flex="15">
                    <div class="chart-title">전송 시설 정보</div>
                    <div class="chart" flex>
                        <iframe
                            id="iframe10"
                            sandbox="allow-forms allow-same-origin allow-scripts"
                            scrolling="yes"
                            ng-src="{{getFileDataUrl('전송1')}}"
                            width="100%"
                            height="100%"
                            frameBorder="0"
                        >
                        </iframe>
                    </div>
                </div>
                <div layout="column" class="chart-wrapper" flex="15">
                    <div class="chart" flex>
                        <iframe
                            id="iframe11"
                            sandbox="allow-forms allow-same-origin allow-scripts"
                            scrolling="yes"
                            ng-src="{{getFileDataUrl('전송2')}}"
                            width="100%"
                            height="100%"
                            frameBorder="0"
                        >
                        </iframe>
                    </div>
                </div>
                <div layout="column" class="chart-wrapper" flex="15">
                    <div class="chart" flex>
                        <iframe
                            id="iframe12"
                            sandbox="allow-forms allow-same-origin allow-scripts"
                            scrolling="yes"
                            ng-src="{{getFileDataUrl('전송3')}}"
                            width="100%"
                            height="100%"
                            frameBorder="0"
                        >
                        </iframe>
                    </div>
                </div>
                <div layout="column" class="chart-wrapper" flex="15">
                    <div class="chart" flex>
                        <iframe
                            id="iframe13"
                            sandbox="allow-forms allow-same-origin allow-scripts"
                            scrolling="yes"
                            ng-src="{{getFileDataUrl('전송4')}}"
                            width="100%"
                            height="100%"
                            frameBorder="0"
                        >
                        </iframe>
                    </div>
                </div>
                <div layout="column" class="chart-wrapper" flex="15">
                    <div class="chart" flex>
                        <iframe
                            id="iframe14"
                            sandbox="allow-forms allow-same-origin allow-scripts"
                            scrolling="yes"
                            ng-src="{{getFileDataUrl('전송5')}}"
                            width="100%"
                            height="100%"
                            frameBorder="0"
                        >
                        </iframe>
                    </div>
                </div>
                <div layout="column" class="chart-wrapper" flex="15">
                    <div class="chart" flex>
                        <iframe
                            id="iframe15"
                            sandbox="allow-forms allow-same-origin allow-scripts"
                            scrolling="yes"
                            ng-src="{{getFileDataUrl('전송6')}}"
                            width="100%"
                            height="100%"
                            frameBorder="0"
                        >
                        </iframe>
                    </div>
                </div>
            </div>

            <div layout="row" class="group-contents" flex layout-fill>
                <div layout="column" class="chart-wrapper" flex="33">
                    <div class="chart-title">Sflow 트래픽</div>
                    <div class="chart" flex>
                        <iframe
                            id="iframe3"
                            sandbox="allow-forms allow-same-origin allow-scripts"
                            scrolling="yes"
                            ng-src="{{getFileDataUrl('Sflow')}}"
                            width="100%"
                            height="100%"
                            frameBorder="0"
                        >
                        </iframe> 
                    </div>
                </div>
                <div layout="column" class="chart-wrapper" flex="33">
                    <div class="chart-title">광세기</div>
                    <div class="chart" flex>
                        <iframe
                            id="iframe4"
                            sandbox="allow-forms allow-same-origin allow-scripts"
                            scrolling="yes"
                            ng-src="{{getFileDataUrl('광세기')}}"
                            width="100%"
                            height="100%"
                            frameBorder="0"
                        >
                        </iframe> 
                    </div>
                </div>
                <div layout="column" class="chart-wrapper" flex>
                    <div class="chart-title">IP 트래픽</div>
                    <div class="chart" flex>
                        <iframe
                            id="iframe5"
                            sandbox="allow-forms allow-same-origin allow-scripts"
                            scrolling="yes"
                            ng-src="{{getFileDataUrl('트래픽')}}"
                            width="100%"
                            height="100%"
                            frameBorder="0"
                        >
                        </iframe> 
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div layout="row" class="group" flex="33" layout-margin>
        <div layout="column" layout-fill>
            <div class="group-title">수집 데이터 <i class="fa fa-refresh" ng-click="reloadData('collect')"></i></div>
            <div layout="row" class="group-contents" flex layout-fill>
                <div layout="column" class="chart-wrapper" flex>
                    <div class="chart-title">
                        <label>구분</label>
                        <md-select class="select-data-type" placeholder="구분" ng-model="dataType" ng-init="'Sflow'">
                            <md-option ng-value="'광세기'">광세기</md-option>
                            <md-option ng-value="'트래픽'">트래픽</md-option>
                            <md-option ng-value="'Sflow'" selected>Sflow</md-option>
                        </md-select>
                    </div> 
                    <div class="chart" flex>
                        <iframe
                            id="iframe6"
                            sandbox="allow-forms allow-same-origin allow-scripts"
                            scrolling="yes"
                            ng-src="{{getCollectDataUrl()}}"
                            width="100%"
                            height="100%"
                            frameBorder="0"
                        >
                        </iframe> 
                    </div>
                </div>
            </div>
        </div> 
    </div>
</div>
