@font-face {
 font-family: 'NotoSansKR';
 font-weight: 400;
 src: url(NotoSansKR-VariableFont_wght.woff) format('woff'),
      url(NotoSansKR-VariableFont_wght.ttf) format('truetype');
}
@font-face {
 font-family: 'NotoSansKR';
 font-weight: 700;
 src: url(NotoSansKR-VariableFont_wght.woff) format('woff'),
      url(NotoSansKR-VariableFont_wght.ttf) format('truetype');
}
@font-face {
 font-family: 'NotoSansKR';
 font-weight: 800;
 src: url(NotoSansKR-VariableFont_wght.woff) format('woff'),
      url(NotoSansKR-VariableFont_wght.ttf) format('truetype');
}
@font-face {
 font-family: 'NotoSansKR';
 font-weight: 300;
 src: url(NotoSansKR-VariableFont_wght.woff) format('woff'),
      url(NotoSansKR-VariableFont_wght.ttf) format('truetype');
}