<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nia.ip.sdn.linkage.mapper.linkage.LinkageInterfaceMapper">

    <select id="selectInterfaceList" resultType="com.nia.ip.sdn.linkage.vo.InterfaceVo">
        SELECT Id, IfName, Node_Id, IpAddr, HwIf_Id FROM optroute.interface
    </select>
</mapper>


