<md-dialog class="link-list-dialog" id="linkList" ng-cloak>
    <md-toolbar>
        <div class="md-toolbar-tools">
            <i class="fa fa-check fa-lg"></i>
            <span class="title" ng-click="debugger()">&nbsp;링크 관리</span>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="dlgFunc.cancel(); closeDialog()">
                <md-icon md-svg-src="img/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
            </md-button>
        </div>
    </md-toolbar>
    <form>
        <md-dialog-content>
            <div layout="column" class="link-list-dialog-container">
                <md-card class="link-card" style="margin: 20px;">
                    <div layout="column" class="link-list-search">
                        <div class="link-list-search-info">
                            <span class="link-start-point-title">시작점노드</span>
                            <md-input-container class="input-container">
                                <input class="link-start-point" type="text" ng-model="searchLinkList.srcNodeId" ng-enter="handleSearch()" clear-btn/>
                            </md-input-container>
                            <span class="ml-2">끝점노드</span>
                            <md-input-container class="input-container">
                                <input class="link-end-item" type="text" ng-model="searchLinkList.destNodeId" ng-enter="handleSearch()" clear-btn/>
                            </md-input-container>
                            <span class="ml-2">링크 용도</span>
                            <md-input-container class="input-container">
                                <input class="link-comment" type="text" ng-model="searchLinkList.linkDesc" ng-enter="handleSearch()" clear-btn/>
                            </md-input-container>
                        </div>
                        <div class="link-list-search-info">
                            <span class="link-start-point-name-title">시작점 IF명</span>
                            <md-input-container class="input-container">
                                <input class="link-start-point-name" type="text" ng-model="searchLinkList.srcIfId" ng-enter="handleSearch()" clear-btn/>
                            </md-input-container>
                            <span class="ml-2">끝점 IF명</span>
                            <md-input-container class="input-container">
                                <input class="link-end-name" type="text" ng-model="searchLinkList.destIfId" ng-enter="handleSearch()" clear-btn/>
                            </md-input-container>
                            <md-button class="btn-float" ng-click="searchClear()" style="margin-right: 50px;">
                                전체보기
                            </md-button>
                            <md-button class="btn-float" ng-click="handleSearch()">
                                <i class="fa fa-search fa-lg"></i>
                            </md-button>
                            <md-button class="btn-float" ng-click="exportExcel()"><i class="fas fa-file-excel fa-lg" style="color: #008000; margin-right: 2px; font-size: 20px;"></i>엑셀저장</md-button>
                        </div>
                    </div>
                    <div layout="column" class="link-table">
                        <table md-table>
                            <thead md-head>
                            <tr md-row>
                                <th md-column md-column-size="70" class="pr-0"><span>번호</span></th>
                                <th md-column md-column-size="150" class="pr-0"><span>시작점 노드</span></th>
                                <th md-column md-column-size="150" class="pr-0"><span>시작점 I/F ID</span></th>
                                <th md-column md-column-size="200" class="pr-0"><span>시작점 I/F명</span></th>
                                <th md-column md-column-size="150" class="pr-0"><span>끝점 노드</span></th>
                                <th md-column md-column-size="150" class="pr-0"><span>끝점 I/F ID</span></th>
                                <th md-column md-column-size="200" class="pr-0"><span>끝점 I/F ID명</span></th>
                                <th md-column md-column-size="100" class="pr-0"><span>대역폭<br>(Gpbs)</span></th>
                                <!--<th md-column md-column-size="100" class="pr-0"><span>속도<br>(Gpbs)</span></th>-->
                                <th md-column md-column-size="300" class="pr-0"><span>링크용도</span></th>
                                <th md-column md-column-size="150" class="pr-0"><span>회선번호</span></th>
                                <th md-column md-column-size="200" class="pr-0"><span>수정일</span></th>
                            </tr>
                            </thead>
                            <tbody md-body>
                            <tr md-row ng-repeat="item in linkList">
                                <td md-cell md-column-size="70" class="pr-0">{{(($scope.historyPagingTable.selected-1)*$scope.historyPagingTable.limit) + $index + 1}}</td>
                                <td md-cell md-column-size="150" class="pr-0"><a href="" ng-click="linkDetail(item)">{{item.src_node_id}}</a></td>
                                <td md-cell md-column-size="150" class="pr-0">{{item.src_if_id}}</td>
                                <td md-cell md-column-size="200" class="pr-0">{{item.src_if_name}}</td>
                                <td md-cell md-column-size="150" class="pr-0">{{item.dest_node_id}}</td>
                                <td md-cell md-column-size="150" class="pr-0">{{item.dest_if_id}}</td>
                                <td md-cell md-column-size="200" class="pr-0">{{item.dest_if_name}}</td>
                                <td md-cell md-column-size="100" class="pr-0">{{item.bandwidth}}</td>
                                <!--<td md-cell md-column-size="70" class="pr-0">{{item.speed}}</td>-->
                                <td md-cell md-column-size="300" class="pr-0">{{item.link_desc}}</td>
                                <td md-cell md-column-size="150" class="pr-0">{{item.circuit_num}}</td>
                                <td md-cell md-column-size="200" class="pr-0">{{item.chng_datetime}}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <md-table-pagination class="mt-2" md-limit="historyPagingTable.limit" md-limit-options="[30,50,100,200]" md-page="historyPagingTable.selected"
                                         md-total="{{linkList[0].LinkTotalCount || 0}}" md-page-select="true" md-boundary-links="true">
                    </md-table-pagination>
                </md-card>
            </div>
            <div class="modalFooter">
                <md-button class="modalFooter-button md-raised base-btn-2 nia-dark-button" ng-click="linkAdd()">등록</md-button>
            </div>
        </md-dialog-content>
    </form>
</md-dialog>
