@font-face {
  font-family: 'SUIT-Medium';
  src: url(../assets/fonts/SUIT/SUIT-Medium.woff2) format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
	font-family: 'SUIT';
	font-weight: 100;
	src: url(../assets/fonts/SUIT/SUIT-Thin.woff2) format('woff2');
}
@font-face {
	font-family: 'SUIT';
	font-weight: 200;
	src: url(../assets/fonts/SUIT/SUIT-ExtraLight.woff2) format('woff2');
}
@font-face {
	font-family: 'SUIT';
	font-weight: 300;
	src: url(../assets/fonts/SUIT/SUIT-Light.woff2) format('woff2');
}
@font-face {
	font-family: 'SUIT';
	font-weight: 400;
	src: url(../assets/fonts/SUIT/SUIT-Regular.woff2) format('woff2');
}
@font-face {
	font-family: 'SUIT';
	font-weight: 500;
	src: url(../assets/fonts/SUIT/SUIT-Medium.woff2) format('woff2');
}
@font-face {
	font-family: 'SUIT';
	font-weight: 600;
	src: url(../assets/fonts/SUIT/SUIT-SemiBold.woff2) format('woff2');
}
@font-face {
	font-family: 'SUIT';
	font-weight: 700;
	src: url(../assets/fonts/SUIT/SUIT-Bold.woff2) format('woff2');
}
@font-face {
	font-family: 'SUIT';
	font-weight: 800;
	src: url(../assets/fonts/SUIT/SUIT-ExtraBold.woff2) format('woff2');
}
@font-face {
	font-family: 'SUIT';
	font-weight: 900;
	src: url(../assets/fonts/SUIT/SUIT-Heavy.woff2) format('woff2');
}