md-dialog.sys-rule-list-dialog {
    background-color: rgba(245,245,245,1);
    max-width: 1350px;
    max-height: 710px;
    width: 1350px;
    height: 930px;
    border-radius: 0;
    transition: all 0s ease 0s !important;
}

md-dialog.sys-rule-list-dialog div.sys-rule-list-dialog-content{
    font-size: 11px;
    height: calc(100% - 50px);
}

div.sys-rule-list-dialog-content md-card.sys-rule-card {
    height: calc(100% - 40px);
    min-height: 300px;
}

div.sys-rule-list-dialog-content md-card.sys-rule-card div.sys-rule-list-search div.sys-rule-list-search-info md-input-container {
    /* width: calc(100% - 915px); */
    min-width: 150px;
}

div.sys-rule-list-dialog-content md-card.sys-rule-card div.sys-rule-list-search div.sys-rule-list-search-info md-input-container > input{
    font-size: 13px;
}

div.sys-rule-list-dialog-content md-card.sys-rule-card div.sys-rule-list-search div.sys-rule-list-search-btn{
    text-align: right;
}

div.sys-rule-list-dialog-content div.sys-rule-table{
    overflow: auto;
    height: calc(100vh - 280px);
    min-height: 150px;
}

div.sys-rule-list-dialog-content div.sys-rule-table > table{
    overflow: auto;
}

div.sys-rule-list-dialog-content div.sys-rule-table > table th.md-column{
    font-size: 14px;
}

table.md-table td.md-cell, 
table.md-table th.md-column{
    width: auto;
    max-width: 1000px !important;
    white-space: nowrap;
}
/* div.over-cell:hover:before{
    width: var(--width);
} */

div.sys-rule-list-dialog-content div.sys-rule-table > table > thead > tr > th{
    text-align: center;
    position: sticky;
    top: 0px;
    background-color: white;
}

div.sys-rule-list-dialog-content div.sys-rule-table > table > tbody > tr > td.md-cell{
    width: auto;
    /* text-align: center; */
}

div.sys-rule-list-dialog-content div.sys-rule-table > table > tbody > tr:hover{
    background-color: #e9e8e8;
    cursor: pointer;
}

div.sys-rule-list-dialog-content div.sys-rule-table > table > thead > tr > th > span,
div.sys-rule-list-dialog-content div.sys-rule-table > table > tbody > tr > td > span{
    font-size: 13px;
    margin-right: 15px;
}

div.sys-rule-list-dialog-content div.sys-rule-table > table > tbody > tr > td > span > a{
    cursor: pointer;
    text-decoration: underline;
}

md-dialog.sys-rule-list-dialog > form > md-dialog-content div.modalFooter{
    width: 100%;
    text-align: right;
}
