<md-dialog class="sys-rule-list-dialog" id="sysRuleListDialog" ng-cloak style="width: 60%; height:70%">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <i class="fa fa-check fa-lg"></i>
            <span class="title" ng-click="debugger()">&nbsp;SYSLOG RULE 관리</span>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="dlgFunc.cancel()">
                <md-icon md-svg-src="img/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
            </md-button>
        </div>
    </md-toolbar>
    <form>
        <md-dialog-content>
            <div layout="column" class="sys-rule-list-dialog-content">
                <md-card class="sys-rule-card" style="margin: 20px;">
                    <div layout="column" class="sys-rule-list-search">
                        <div class="sys-rule-list-search-info">
                            <span class="ml-2">규칙명</span>
                            <md-input-container class="input-container mt-0 ml-2">
                                <md-select  ng-model="searchSyslogRuleData.ruleName" ng-enter="handleSearch()" >
                                    <md-option ng-value="item.syslog_rule_nm" ng-repeat="item in syslogRuleList">
                                        <span>{{item.syslog_rule_nm}}</span>
                                    </md-option>
                                </md-select>
                            </md-input-container>
                            <span class="ml-2" style="margin-left: 10px">발생 키워드</span>
                            <md-input-container class="input-container mt-0 ml-2" style="margin: 0px 0px 0px 25px;">
                            <input type="text" ng-enter="handleSearch()" ng-model="searchSyslogRuleData.occurKeyword">
                            </md-input-container>
                            <span class="ml-2" style="margin-left: 10px">제외 키워드</span>
                            <md-input-container class="input-container mt-0 ml-2" style="margin: 0px 0px 0px 25px;">
                            <input type="text" ng-enter="handleSearch()" ng-model="searchSyslogRuleData.occurExceptKeyword">
                            </md-input-container>
                        </div>
                        <div class="sys-rule-list-search-btn">
                            <md-button class="sys-rule-list-search-btn" ng-click="handleSearch()" style="font-size: 11px;">
                                <i class="fa fa-search fa-lg"></i>
                            </md-button>
                            <md-button class="search-option-switch clearBtn ml-2" ng-click="searchClear()" style="margin-right: 50px;">
                                전체보기
                            </md-button>
                        </div>
                    </div>
                    <div layout="column" class="sys-rule-table">
                        <table md-table md-progress="promise">
                            <thead md-head>
                                <tr md-row>
                                    <th md-column md-column-size="80" class="pr-0 text-left"><span>RULE ID</span></th>
                                    <th md-column md-column-size="120" class="pr-0 text-left"><span>RULE NAME</span></th>
                                    <th md-column md-column-size="120" class="pr-0 text-left"><span>발생 키워드1</span></th>
                                    <th md-column md-column-size="120" class="pr-0 text-left"><span>발생 키워드2</span></th>
                                    <th md-column md-column-size="120" class="pr-0 text-left"><span>발생 키워드3</span></th>
                                    <th md-column md-column-size="120" class="pr-0 text-left"><span>제외 키워드1</span></th>
                                    <th md-column md-column-size="120" class="pr-0 text-left"><span>제외 키워드2</span></th>
                                    <th md-column md-column-size="120" class="pr-0 text-left"><span>제외 키워드3</span></th>
                                    <th md-column md-column-size="80" class="pr-0 text-left"><span>사용 여부</span></th>
                                </tr>
                            </thead>
                            <tbody md-body>
                                <tr md-row ng-repeat="item in syslogRuleList" ng-click="openSysRuleAdd('U',item)">
                                    <td md-cell md-column-size="80" class="pr-0 text-center" over-cell>{{item.syslog_rule_id}}</td>
                                    <td md-cell md-column-size="120" class="pr-0 text-left" over-cell>{{item.syslog_rule_nm}}</td>
                                    <td md-cell md-column-size="120" class="pr-0 text-left" over-cell>{{item.occur_str1}}</td>
                                    <td md-cell md-column-size="120" class="pr-0 text-left" over-cell>{{item.occur_str2}}</td>
                                    <td md-cell md-column-size="120" class="pr-0 text-left" over-cell>{{item.occur_str3}}</td>
                                    <td md-cell md-column-size="120" class="pr-0 text-left" over-cell>{{item.occur_except_str1}}</td>
                                    <td md-cell md-column-size="120" class="pr-0 text-left" over-cell>{{item.occur_except_str2}}</td>
                                    <td md-cell md-column-size="120" class="pr-0 text-left" over-cell>{{item.occur_except_str3}}</td>
                                    <td md-cell md-column-size="80" class="pr-0 text-left" over-cell>{{item.use_yn}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <!-- <md-table-pagination class="mt-2" md-limit="historyPagingTable.limit"
                                         md-limit-options="[30,50,100,200]" md-page="historyPagingTable.selected"
                                         md-total="{{syslogRuleList.total || 0}}" md-page-select="true" md-boundary-links="true">
                    </md-table-pagination> -->
                </md-card>
            </div>
            <div class="modalFooter">
                <md-button class="md-raised dialog-btn base-btn-2" ng-click="openSysRuleAdd('C')" style="background-color: rgb(1, 29, 84); color: white;">등록</md-button>
                <md-button class="md-raised dialog-btn base-btn-2 black-btn" ng-click="dlgFunc.cancel()">닫기</md-button>
            </div>
        </md-dialog-content>
    </form>
</md-dialog>
