<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nia.data.linkage.ai.mapper.ip.IpDataMapper">

    <select id="selectAlarmList" resultType="com.nia.data.linkage.ai.vo.ip.alarm.IpAlarmVo" parameterType="int">
        SELECT INTERRIDX, MODULE_SRL, STRRESID, STRIFID, STRTYPE
             , STRLEVEL, STRTITLE, STRCONTENT, STRGROUPID, STRGROUPID1
             , STRGROUPID2, STRGROUPID3, STRGROUPID4, STRGROUPID5, STRGROUPID6
             , STRGROUPID7, STRGROUPID8, STRGROUPID9, STRGROUPID10, DATERAISEDATE
             , DATECLEARDATE, DATEREGDATE, STRCLEARCHECK, STRMEMO, STRACKNOWNCHECK
             , STRACKNOWNCHECK_MEMBER_SRL
        FROM IP_YD.XE_CVNMS_ERROR
        WHERE INTERRIDX > #{interrIdx}
        ORDER BY INTERRIDX
    </select>

    <select id="selectPerfList" resultType="com.nia.data.linkage.ai.vo.ip.perf.PerfVo" parameterType="long">
        SELECT STRIFID, STRRESID, STRTYPEMIN, INTTIMESTAMP, INTYEAR
             , INTMONTH, INTDAY, INTHOUR, INTMIN, INTWEEK
             , INTBANDWIDTH, FLTBPSIN, FLTBPSOUT, FLTPPSIN, FLTPPSOUT
             , FLTERRORIN, FLTERROROUT, FLTDISCARDIN, FLTDISCARDOUT, FLTUNKNOWN
             , FLTUSAGE, FLHCINOCTETS, FLHCOUTOCTETS, FLHCINUCASTPKTS, FLHCOUTUCASTPKTS
             , FLHCINMULTICASTPKTS, FLHCOUTMULTICASTPKTS, FLHCINBROADCASTPKTS, FLHCOUTBROADCASTPKTS, FLTBPSINMAX
             , FLTBPSOUTMAX, FLTPPSINMAX, FLTPPSOUTMAX, FLTERRORINMAX, FLTERROROUTMAX
             , FLTDISCARDINMAX, FLTDISCARDOUTMAX, FLTUNKNOWNMAX, FLTUSAGEMAX
          FROM IP_YD.XE_CVNMS_PERF_IF
         WHERE INTTIMESTAMP > #{inttimestamp}
         ORDER BY INTTIMESTAMP
    </select>

    <select id="selectSflowLogList" resultType="com.nia.data.linkage.ai.vo.ip.sflow.SflowLogVo" parameterType="string">
        SELECT STRRESIP, STRRESNAME, STRS_IP, STRS_PORT, STRD_IP
             , STRD_PORT, STRS_MAC, STRD_MAC, STRPROTOCOL, STRIPV4TOS
             , STRCHANNEL, STRSENDERIP, STRIN_INTERFACE, STROUT_INTERFACE, STRBYTES_COL
             , STRCOUNTS, DATEREGDATE
          FROM IP_YD.XE_SFLOW_LOG
         WHERE DATEREGDATE <![CDATA[ > ]]> #{dateRegDate}::timestamp
         ORDER BY DATEREGDATE
    </select>

    <select id="selectNodeMst" resultType="com.nia.data.linkage.ai.vo.ip.equip.IpNodeInfoVo">
        SELECT NODE_NUM, NODE_ID, NODE_NM, MODEL_NUM, MODEL_ID
             , IP_ADDR, MAC_ADDR, ADMIN_YN, PRIMARY_GB, SNMP_VER
             , SNMP_COMMUNITY, SNMP_PORT, LATITUDE, LONGITUDE, NETCONF_PORT
             , NETCONF_ID, NETCONF_PW, NETCONF_TYPE, NODE_DIVISION, VENDOR
             , SFLOW_IP, UP_DATETIME, CHNG_DATETIME, REG_DATETIME, DATA_SOURCE
          FROM RESOURCE.TB_NODE_MST
    </select>

    <select id="selectPortMst" resultType="com.nia.data.linkage.ai.vo.ip.equip.IpPortMstVo">
        SELECT NODE_NUM, NODE_ID, IF_NUM, IF_ID, IF_NM
             , IF_INDEX, IF_DESC, IF_TYPE, IF_SPEED, IP_ADDR
             , MAC_ADDR, IF_OPER_STATUS, IP_PREFIX, IF_DIVISTION, CHNG_DATETIME
             , REG_DATETIME, DATA_SOURCE
          FROM RESOURCE.TB_PORT_MST
    </select>

    <select id="selectBackboneLink" resultType="com.nia.data.linkage.ai.vo.ip.equip.IpBackboneLinkVo">
        SELECT SRC_NODE_NUM, SRC_NODE_ID, SRC_IF_NUM, SRC_IF_ID, DEST_NODE_NUM
             , DEST_NODE_ID, DEST_IF_NUM, DEST_IF_ID, LINK_DESC, VLAN
             , TAG, SRC_IP_ADDR, SRC_MAC_ADDR, DEST_IP_ADDR, DEST_MAC_ADDR
             , PREFIX, TOPOLOGY, BANDWIDTH, LINK_TYPE, LINK_DIV
             , CHNG_DATETIME, REG_DATETIME, DATA_SOURCE, CIRCUIT_NUM
          FROM RESOURCE.TB_BACKBONE_LINK
    </select>

    <select id="selectCvnmsResourceList" resultType="com.nia.data.linkage.ai.vo.ip.equip.IpCvnmsResourceVo">
        SELECT INTRESIDX, MODULE_SRL, MEMBER_SRL, STRRESNAME, STRRESID
             , STRRESTYPE, STRMODELID, STRGROUPID, STRGROUPID1, STRGROUPID2
             , STRGROUPID3, STRGROUPID4, STRGROUPID5, STRGROUPID6, STRGROUPID7
             , STRGROUPID8, STRGROUPID9, STRGROUPID10, STRTAGS, STRPRIORITY
             , STRRESMEMO, STRCOLID, STRIPVER, STRIPADDR, STRIPV6ADDR
             , STRSNMPIPADDR, STRSNMPVER, STRSNMPCOMMUNITY, INTSNMPPORT, INTSNMPTIMEOUT
             , STRSNMPV3_USERNAME, STRSNMPV3_SECURITYLEVEL, STRSNMPV3_AUTHENTICATIONPROTOCOL, STRSNMPV3_AUTHENTICATIONPASSWORD, STRSNMPV3_PRIVACYPROTOCOL
             , STRSNMPV3_PRIVACYPASSWORD, STRSNMPV3_CONTEXTNAME, STRENABLED_CPU, STRENABLED_MEM, STRENABLED_DISK
             , STRSNMPMIB_CPU, STRSNMPMIB_MEM, STRSNMPMIB_DISK, STREVENT_CPU, STREVENT_MEM
             , STREVENT_DISK, STRSTATUSSNMP, STRENABLEDSNMP, DATEUPTIME, STRSTATUSPING
             , INTINTERVALPING, INTTIMEOUTPING, STRENABLEDPING, INTLOGRAISECOUNT, INTERRRAISECOUNT
             , STRCPUCURRENT, STRMEMCURRENT, STRDISKCURRENT, STRRTTCURRENT, INTSENSORPID
             , STRALIVE, STRCONTACTS, DATEPROBEUPDATEDATE, DATELASTUPDATEDATE, DATEREGDATE
        FROM IP_YD.XE_CVNMS_RESOURCE
    </select>

    <select id="selectCvnmsResourceIfList" resultType="com.nia.data.linkage.ai.vo.ip.equip.IpCvnmsResourceIfVo">
        SELECT INTIFIDX, MODULE_SRL, STRRESID, STRIFID, STRIFNAME
             , STRRESID_A, STRRESID_Z, INTIFINDEX, STRIFDESC, STRIFTYPE
             , STRIFSPEED, STRIFPHYSADDRESS, STRIFOPERSTATUS, STRIFLIMITBPS, STRIFLIMITBPSC
             , STRIFLIMITBPSM, STRIFLIMITBPSN, STRIFLIMITBPSW, STRIFERRLEVEL, STRIFIPADDR
             , STRIFMANPERF, STRIFMANERROR, STRIFCURRENT, STRIFLIMITERR, STRIFMEMO
             , DATELASTUPDATEDATE, DATEREGDATE
        FROM IP_YD.XE_CVNMS_RESOURCE_IF
    </select>

</mapper>


