<md-dialog class="link-add-dialog" ng-cloak>
    <md-toolbar>
        <div class="md-toolbar-tools">
            <i class="fa fa-check fa-lg"></i>
            <span class="title" ng-click="debugger()">&nbsp;링크 등록</span>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="dlgFunc.cancel()">
                <md-icon md-svg-src="img/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
            </md-button>
        </div>
    </md-toolbar>
    <form>
        <md-dialog-content>
            <div layout="row" class="link-add-dialog-content">
                <div class="link-info-container">
                    <div class="link-add-info">
                        <table class="nia-custom-table">
                            <tr style="height: 30px;">
                                <td colspan="2" class="title">시작점</td>
                                <td colspan="2" class="title">끝점</td>
                            </tr>
                            <tr>
                                <td class="title">노드</td><!-- 시작점 -->
                                <td>
                                    <md-select class="start-node-name w-75" ng-model="linkAddData.srcNodeId">
                                        <md-option ng-value="item.node_id" ng-repeat="item in selectSrcNode" ng-click="startNodeClick(item.node_id)">{{item.node_id}}</md-option>
                                    </md-select>
                                </td>
                                <td class="title">노드</td><!-- 끝점 -->
                                <td>
                                    <md-select class="end-node-name w-75" ng-model="linkAddData.destNodeId" ng-disabled="disableChk">
                                        <md-option ng-value="item.node_id" ng-repeat="item in selectDestNode" ng-click="endNodeClick(item.node_id)">{{item.node_id}}</md-option>
                                    </md-select>
                                </td>
                            </tr>
                            <tr>
                                <td class="title">I/F</td><!-- 시작점 -->
                                <td>
                                    <md-select class="start-if-name w-75" ng-model="linkAddData.srcIfId" ng-disabled="disableChk">
                                        <md-option ng-value="item.if_id" ng-repeat="item in selectSrcInt" ng-click="startIfClick(item)">{{item.if_id}}</md-option>
                                    </md-select>
                                </td>
                                <td class="title">I/F</td><!-- 끝점 -->
                                <td>
                                    <md-select class="end-if-ip w-75" ng-model="linkAddData.destIfId" ng-disabled="disableEndChk">
                                        <md-option ng-value="item.if_id" ng-repeat="item in selectDestInt" ng-click="endIfClick(item)">{{item.if_id}}</md-option>
                                    </md-select>
                                </td>
                            </tr>
                            <tr>
                                <td class="title">I/F IP</td><!-- 시작점 -->
                                <!--<td><input class="w-75" ng-model="linkAddData.srcIpAddr" placeholder='0.0.0.0' ng-pattern="/^([0-9]{1,3})[.]([0-9]{1,3})[.]([0-9]{1,3})[.]([0-9]{1,3})$/"></td>-->
                                <td><input class="w-75" ng-model="linkAddData.srcIpAddr" placeholder='0.0.0.0' ng-pattern="/\b(?:(?:25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.){3}(?:25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\b/"></td>
                                <td class="title">I/F IP</td><!-- 끝점 -->
                                <td><input class="w-75" ng-model="linkAddData.destIpAddr" placeholder='0.0.0.0' ng-pattern="/\b(?:(?:25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.){3}(?:25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\b/"></td>
                            </tr>
                            <tr>
                                <td class="title">대역폭</td>
                                <td colspan="3"><input type="number" ng-model="linkAddData.bandWidth" style="width: 90%;"></td>
                            </tr>
                            <tr>
                                <td class="title">설명</td>
                                <td colspan="3"><input class="explanation" ng-model="linkAddData.linkDesc" style="width: 90%;" /></td>
                            </tr>
                            <tr>
                                <td class="title">VLAN</td>
                                <td>
                                    <md-select class="link-vlan w-75" ng-model="linkAddData.VLAN">
                                        <md-option ng-value="item.key" ng-repeat="item in linkDataTF">{{item.value}}</md-option>
                                    </md-select>
                                </td>
                                <td class="title">TAG</td>
                                <td>
                                    <md-select class="tag w-75" ng-model="linkAddData.TAG">
                                        <md-option ng-value="item.key" ng-repeat="item in linkDataTF">{{item.value}}</md-option>
                                    </md-select>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <div class="modalFooter">
                <md-button class="md-raised base-btn-2 nia-dark-button" ng-click="linkSave()">저장</md-button>
                <md-button class="md-raised dialog-btn base-btn-2 black-btn" ng-click="dlgFunc.cancel()">닫기</md-button>
            </div>
        </md-dialog-content>
    </form>
</md-dialog>
