<md-dialog class="agency-add-dialog" ng-cloak>
    <md-toolbar>
        <div class="md-toolbar-tools">
            <i class="fa fa-check fa-lg"></i>
            <span class="title" ng-click="debugger()">이용기관 등록</span>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="dlgFunc.cancel()">
                <md-icon md-svg-src="img/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
            </md-button>
        </div>
    </md-toolbar>
    <form>
        <md-dialog-content style="overflow: hidden;">
            <div layout="column" class="agency-add-dialog-content">
                <table class="agency-add-table">
                    <tr>
                        <td class="userInfoKind">기관ID</td>
                        <td><input class="agency-id w-75" ng-model="agencyinfoData.nrenId" disabled/></td>
                        <td class="userInfoKind">기관명</td>
                        <td><input class="agency-name-title w-75" ng-model="agencyinfoData.nrenName"/></td>
                    </tr>
                    <tr>
                        <td class="userInfoKind">노드명</td>
                        <td>
                            <md-select class="agency-node-name w-75" ng-model="agencyinfoData.nodeId" ng-change="onLoadInterfaceList()">
                                <md-option ng-value="item.node_id" ng-repeat="item in agencyNodeId">{{item.node_id}}</md-option>
                            </md-select>
                        </td>
                        <td class="userInfoKind">IF명</td>
                        <td>
                            <md-select class="agency-if-name w-75" ng-model="agencyinfoData.ifId">
                                <md-option ng-value="item.if_id" ng-repeat="item in agencyIfId">{{item.if_id}}</md-option>
                            </md-select>
                        </td>
                    </tr>
                    <tr>
                        <td class="userInfoKind">고객ID</td>
                        <td><input class="agency-user-id w-75" ng-model="agencyinfoData.customerId"/></td>
                        <td class="userInfoKind">대역폭<br>(Gbps)</td>
                        <td><input type="number" class="agency-gbps w-75" ng-model="agencyinfoData.bandwidth" /></td>
                    </tr>
                    <tr>
                        <td class="userInfoKind">담당E-mail</td>
                        <td colspan="3"><input class="agency-email w-75" ng-model="agencyinfoData.email"/></td>
                    </tr>
                    <tr>
                        <td class="userInfoKind">IP등록</td>
                        <td class="userInfoKind2" colspan="3">
                            <input class="agency-ip w-75 mt-2" ng-model="agencyinfoData.ip"/>
                            <md-button ng-click="selectIpAdd()" style="float: right;">추가</md-button>
                        </td>
                    </tr>
                    <tr>
                        <td class="userInfoKind2" colspan="3">
                            <div ng-if="selectIpList.length !== 1" style="display: grid; overflow: auto; height: 55px;">
                                <md-checkbox class="small ml-2" ng-model="item.selected" ng-repeat="item in selectIpList">{{item.ip}}</md-checkbox>
                            </div>
                            <div ng-if="selectIpList.length === 1">
                                <md-checkbox class="small ml-2" ng-model="item.selected" ng-repeat="item in selectIpList">{{item.ip}}</md-checkbox>
                            </div>
                        </td>
                        <td>
                            <md-button ng-click="selectIpDelete()" style="float: right;">삭제</md-button>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="modalFooter">
                <md-button class="md-raised base-btn-2 nia-dark-button" ng-click="agencySave()">저장</md-button>
                <md-button class="md-raised dialog-btn base-btn-2 black-btn" ng-click="dlgFunc.cancel()">닫기</md-button>
            </div>
        </md-dialog-content>
    </form>
</md-dialog>
