<md-dialog class="syslog-detail-dialog" id="syslogDetailDialog" ng-cloak style="width: 50%; height: auto;">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <i class="fa fa-check fa-lg"></i>
            <span class="title" ng-click="debugger()">SYSLOG 상세보기</span>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="dlgFunc.cancel()">
                <md-icon md-svg-src="img/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
            </md-button>
        </div>
    </md-toolbar>
    <form>
        <md-dialog-content style="overflow-x: hidden;">
            <div class="syslog-detail-dialog-content" layout="row" >
                <table class="nia-custom-table w-100">
                    <tr style="height: 40px;">
                        <td colspan="4" class="title">SYSLOG 정보</td>
                    </tr>
                    <tr>
                        <td class="userInfoKind">경보 발행시간</td>
                        <td><input class="syslog-detail w-90" ng-model="model.alarmtime" ng-value="model.alarmtime | dateFormat" disabled/></td>
                        <td class="userInfoKind">장애 내용</td>
                        <td><input class="syslog-detail w-90" ng-model="model.alarmmsg" disabled /></td>
                    </tr>
                    <tr>
                        <td class="userInfoKind">장비ID</td>
                        <td><input class="syslog-detail w-90" ng-model="model.node_num" disabled/></td>
                        <td class="userInfoKind">장비명</td>
                        <td><input class="syslog-detail w-90" ng-model="model.node_nm" disabled /></td>
                    </tr>
                    <tr>
                        <td class="userInfoKind">상태</td>
                        <td><input class="syslog-detail w-90" ng-model="model.status" ng-value="'INIT'" disabled/></td>
                        <td class="userInfoKind">원본메시지</td>
                        <td><input class="syslog-detail w-90" ng-model="model.etc" disabled/></td>
                        <!-- <td style="padding: 10px 0;">
                            <textarea class="syslog-detail ml-3" ng-model="model.etc" disabled></textarea>
                        </td> -->
                    </tr>
                    <tr style="height: 40px;">
                        <td colspan="4" class="title">조치 SOP</td>
                    </tr>
                    <tr>
                        <td class="userInfoKind">장애구분</td>
                        <td>
                            <md-select class="mr-3" ng-model="operatorOpinion.faultClassify" style="width: 150px;">
                                <md-option ng-value="item.fault_type" ng-repeat="item in sopCodeList['장애구분']" style="height: 45px; font-size: 13px;">{{ item.fault_type }}</md-option>
                            </md-select>
                        </td>
                        <td class="userInfoKind">장애유형</td>
                        <td>
                            <md-select class="mr-3" ng-model="operatorOpinion.faultType" style="width: 150px;">
                                <md-option ng-value="item.fault_type" ng-repeat="item in sopCodeList['장애유형']" style="height: 45px; font-size: 13px;">{{ item.fault_type }}</md-option>
                            </md-select>
                        </td>
                    </tr>
                    <tr>
                        <td class="userInfoKind">조치내용</td>
                        <td>
                            <md-select class="mr-3" ng-model="operatorOpinion.faultDetailContent" style="width: 150px;">
                                <md-option ng-value="item.fault_type" ng-repeat="item in sopCodeList['조치내용']" style="height: 45px; font-size: 13px;">{{ item.fault_type }}</md-option>
                            </md-select>
                        </td>
                        <td class="userInfoKind">기타 조치내용</td>
                        <td colspan="3" style="padding: 10px 0;">
                            <textarea class="sop-edit ml-3" ng-model="operatorOpinion.etcContent" placeholder="기타 조치 내용 입력" ></textarea>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="modalFooter">
                <md-button class="md-raised dialog-btn base-btn-2 nia-dark-button" ng-click="openSOPListDialog()" style="float: right;">SOP EDIT</md-button>
                <md-button class="md-raised dialog-btn base-btn-2 nia-dark-button" ng-click="fin()">수동 마감</md-button>
                <md-button class="md-raised dialog-btn base-btn-2 black-btn" ng-click="dlgFunc.cancel()">취소</md-button>
            </div>
        </md-dialog-content>
    </form>
</md-dialog>
