<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nia.ip.sdn.linkage.mapper.nia.NiaLinkageHistMapper">

    <select id="selectLinkageKey" resultType="string">
        SELECT VALUE_NAME FROM NIA.TB_LINKAGE_SEQ WHERE KEY_NAME = #{keyName}
    </select>

    <update id="updateLinkageHist" parameterType="java.util.HashMap">
        UPDATE NIA.TB_LINKAGE_SEQ
           SET VALUE_NAME = #{value}
             , YD_DATE = now() 
         WHERE KEY_NAME = #{key}
    </update>
</mapper>


