<!-- 장애 알람 리스트 -->
<div class="template-close-btn" ng-click="closeDetail(ticket); "></div>
<div class="template-container" >
    <!--<md-list class="ticket-open-list">
        <md-subheader class="md-no-sticky">
            <div layout="row">
                <div flex="50">A측 시스템</div>
                <div flex="50" style="margin-left: -7px;">Z측 시스템</div>
            </div>
        </md-subheader>
        <div class="mt-2" style="overflow-y: auto; min-height: 135px; max-height: 135px;">
            <md-list-item ng-repeat="item in ticketCtrl[ticket[_idProp]].azList" ng-click="clickMdList(item)" class="itemList">
                <div layout="row">
                    <div layout="row" flex="50" class="md-list-item-text">
                        <h3 class="text__color listLabel"></h3>
                        <div>
                            <h3>{{item.monitored_objecta}}</h3>
                            &lt;!&ndash;<p>{{item.root_cause_porta}}</p>&ndash;&gt;
                        </div>
                        <md-tooltip md-direction="bottom">
                            테스트
                        </md-tooltip>
                    </div>
                    <div layout="row" flex="50" class="md-list-item-text">
                        <h3 class="text__color listLabel"></h3>
                        <div>
                            <h3>{{item.monitored_objectz}}</h3>
                            &lt;!&ndash;<p>{{item.root_cause_portz}}</p>&ndash;&gt;
                        </div>
                    </div>
                </div>
            </md-list-item>
        </div>
    </md-list>-->
    <div class="ticket-open-list">
        <div class="rca-md-list">
            <div class="rml-header">
                <div class="rml-row">
                    <div class="rml-column" column-size="370">A측 시스템</div>
                    <div class="rml-column" column-size="370">Z측 시스템</div>
                </div>
            </div>
            <div class="rml-body">
                <div class="rml-row" ng-repeat="item in ticketCtrl[ticket[_idProp]].azList" ng-click="clickMdList(item, ticket)">
                    <div class="rml-column" column-size="370">{{item.monitored_objecta}}</div>
                    <div class="rml-column" column-size="370">{{item.monitored_objectz}}</div>
                </div>
            </div>
        </div>
    </div>

</div>
