<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.go.ap.core.repository.primary.mapper.engine.pm.PmEngineMapper">
	<select id="selectOpticalPerformanceList" resultType="kr.go.ap.core.primary.nia.dto.pm.optical.OpticalPerformanceDto" parameterType="hashmap">
        SELECT TRUNK_ID, TRUNK_NAME, TID, SYSNAME, ROADM_CODE
             , PTPNAME, PORT, OCRTIME, IN_OUT, VALUE_CUR
             , VALUE_MAX, VALUE_MIN, DIRECTION, ROUTENUM
          FROM MBA.TB_ROADM_OPTICAL_PERFORMANCE_HIST
         WHERE OCRTIME = #{ocrTime} ::timestamp
           AND TRUNK_ID = #{trunkId}
           AND DIRECTION = #{direction}
         ORDER BY TRUNK_ID, DIRECTION, ROUTENUM, IN_OUT
	</select>
</mapper>

