<md-dialog class="detail-dialog" ng-cloak>
    <md-toolbar>
        <div class="md-toolbar-tools">
            <i class="fa fa-check fa-lg"></i>
            <span class="title">&nbsp;SOP {{ model.editType === 'C' ? '등록' : '수정' }} </span>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="dlgFunc.cancel()">
                <md-icon md-svg-src="img/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
            </md-button>
        </div>
    </md-toolbar>
    <form>
        <md-dialog-content>
            <div class="dialog-content">
                <table class="layout-table" style="width: 100%;">
                    <tr>
                        <td class="label">등록자</td>
                        <td colspan="3">
                            <md-input-container class="input-container title-container ml-3 mt-0">
                                <input type="text" ng-model="model.condition.user_nm" ng-disabled="true"/>
                            </md-input-container>
                        </td>
                    </tr>
                    <tr>
                        <td class="label">SOP구분</td>
                        <td colspan="3">
                            <md-input-container class="input-container title-container ml-3 mt-0">
                                <md-select class="node-item-use" ng-model="model.condition.fault_gb">
                                    <md-option ng-value="item" ng-repeat="item in fault_gb_list">{{item}}</md-option>
                                </md-select>
                            </md-input-container>
                        </td>
                    </tr>
                    <tr>
                        <td class="label">항목</td>
                        <td colspan="3">
                            <md-input-container class="input-container title-container ml-3 mt-0">
                                <input type="text" ng-model="model.condition.fault_type"/>
                            </md-input-container>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="modalFooter">
                <md-button class="md-raised base-btn-2 nia-dark-button" ng-click="handleSave()">저장</md-button>
                <md-button class="md-raised base-btn-2 nia-dark-button" ng-click="handleDelete()" ng-hide="model.editType === 'C'">삭제</md-button>
                <md-button class="md-raised dialog-btn base-btn-2 black-btn" ng-click="dlgFunc.cancel()">닫기</md-button>
            </div>
        </md-dialog-content>
    </form>
</md-dialog>
