<md-dialog class="link-detail-dialog" id="linkDetail" ng-cloak>
    <md-toolbar>
        <div class="md-toolbar-tools">
            <i class="fa fa-check fa-lg"></i>
            <span class="title" ng-click="debugger()">링크 상세보기</span>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="dlgFunc.cancel()">
                <md-icon md-svg-src="img/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
            </md-button>
        </div>
    </md-toolbar>
    <form>
        <md-dialog-content>
            <div layout="row" class="link-detail-dialog-content">
                <div class="link-info-container">
                    <div class="link-detail-info">
                        <table class="node-link-table">
                            <tr style="height: 30px;">
                                <td colspan="2" class="userInfoKind">시작점</td>
                                <td colspan="2" class="userInfoKind">끝점</td>
                            </tr>
                            <tr>
                                <td class="userInfoKind">노드</td><!-- 시작점 -->
                                <td><input class="w-75" ng-model="linkDetailData.srcNodeId" disabled>
                                </td>
                                <td class="userInfoKind">노드</td><!-- 끝점 -->
                                <td><input class="w-75" ng-model="linkDetailData.destNodeId" disabled>
                                </td>
                            </tr>
                            <tr>
                                <td class="userInfoKind">I/F</td><!-- 시작점 -->
                                <td><input class="w-75" ng-model="linkDetailData.srcIfId" disabled>
                                </td>
                                <td class="userInfoKind">I/F</td><!-- 끝점 -->
                                <td><input class="w-75" ng-model="linkDetailData.destIfId" disabled>
                                </td>
                            </tr>
                            <tr>
                                <td class="userInfoKind">IF IP</td><!-- 시작점 -->
                                <td><input class="w-75" ng-model="linkDetailData.srcIpAddr" disabled></td>
                                <td class="userInfoKind">IF IP</td><!-- 끝점 -->
                                <td><input class="w-75" ng-model="linkDetailData.destIpAddr" disabled></td>
                            </tr>
                            <tr>
                                <td class="userInfoKind">대역폭</td>
                                <td><input class="w-75" ng-model="linkDetailData.bandwidth"></td>
                            </tr>
                            <tr>
                                <td class="userInfoKind">설명</td>
                                <td colspan="10">
                                    <input class="w-75" class="explanation" ng-model="linkDetailData.linkDesc" />
                                </td>
                            </tr>
                            <tr>
                                <td class="userInfoKind">VLAN</td>
                                <td>
                                    <md-select class="link-vlan" ng-model="linkDetailData.VLAN">
                                        <md-option ng-value="item.key" ng-repeat="item in linkDataTF">{{item.value}}</md-option>
                                    </md-select>
                                </td>
                            </tr>
                            <tr>
                                <td class="userInfoKind">TAG</td>
                                <td>
                                    <md-select class="tag" ng-model="linkDetailData.TAG">
                                        <md-option ng-value="item.key" ng-repeat="item in linkDataTF">{{item.value}}</md-option>
                                    </md-select>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <div class="modalFooter">
                <md-button class="md-raised base-btn-2 nia-dark-button" ng-click="linkSave()">저장</md-button>
                <md-button class="md-raised base-btn-2 nia-dark-button" ng-click="linkDelete()">삭제</md-button>
                <md-button class="md-raised dialog-btn base-btn-2 black-btn" ng-click="dlgFunc.cancel()">닫기</md-button>
            </div>
        </md-dialog-content>
    </form>
</md-dialog>
