<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nia.data.linkage.ai.mapper.ip.IpDataMapper">

    <select id="selectAlarmList" resultType="com.nia.data.linkage.ai.vo.ip.alarm.IpAlarmVo" parameterType="int">
        SELECT
            R.STRRESNAME, R.STRIPADDR
            , I.STRIFNAME, I.STRIFDESC, I.STRIFSPEED, I.STRIFTYPE, I.STRIFOPERSTATUS
            , UO.NREN_ID, UO.NREN_NAME, UO.NODE_ID, UO.IF_ID
            , E.INTERRIDX, E.MODULE_SRL, E.STRRESID, E.STRIFID, E.STRTYPE
            , E.STRLEVEL, E.STRTITLE, E.STRCONTENT, E.STRGROUPID, E.STRGROUPID1
            , E.STRGROUPID2, E.STRGROUPID3, E.STRGROUPID4, E.STRGROUPID5, E.STRGROUPID6
            , E.STRGROUPID7, E.STRGROUPID8, E.STRGROUPID9, E.STRGROUPID10, E.DATERAISEDATE
            , E.DATECLEARDATE, E.DATEREGDATE, E.STRCLEARCHECK, E.STRMEMO, E.STRACKNOWNCHECK
            , E.STRACKNOWNCHECK_MEMBER_SRL

        FROM IP_YD.XE_CVNMS_ERROR E
        LEFT OUTER JOIN IP_YD.XE_CVNMS_RESOURCE R ON E.STRRESID = R.STRRESID
        LEFT OUTER JOIN IP_YD.XE_CVNMS_RESOURCE_IF I ON E.STRRESID = I.STRRESID  AND E.STRIFID = I.STRIFID
        LEFT OUTER JOIN RESOURCE.TB_PORT_MST PM ON PM.NODE_NUM = I.STRRESID AND PM.IF_NUM = I.STRIFID
        LEFT OUTER JOIN RESOURCE.TB_USER_ORGAN UO ON PM.NODE_ID=UO.NODE_ID AND PM.IF_ID = UO.IF_ID
        WHERE E.INTERRIDX > #{interrIdx}
        ORDER BY E.INTERRIDX
    </select>

    <select id="selectPerfList" resultType="com.nia.data.linkage.ai.vo.ip.perf.PerfVo" parameterType="long">
        SELECT
            R.STRRESNAME, R.STRIPADDR
            , I.STRIFNAME, I.STRIFDESC, I.STRIFSPEED, I.STRIFTYPE, I.STRIFOPERSTATUS
            , UO.NREN_ID, UO.NREN_NAME, UO.NODE_ID, UO.IF_ID
            , P.STRIFID, P.STRRESID, P.STRTYPEMIN, P.INTTIMESTAMP, P.INTYEAR
            , P.INTMONTH, P.INTDAY, P.INTHOUR, P.INTMIN, P.INTWEEK
            , P.INTBANDWIDTH, P.FLTBPSIN, P.FLTBPSOUT, P.FLTPPSIN, P.FLTPPSOUT
            , P.FLTERRORIN, P.FLTERROROUT, P.FLTDISCARDIN, P.FLTDISCARDOUT, P.FLTUNKNOWN
            , P.FLTUSAGE, P.FLHCINOCTETS, P.FLHCOUTOCTETS, P.FLHCINUCASTPKTS, P.FLHCOUTUCASTPKTS
            , P.FLHCINMULTICASTPKTS, P.FLHCOUTMULTICASTPKTS, P.FLHCINBROADCASTPKTS, P.FLHCOUTBROADCASTPKTS, P.FLTBPSINMAX
            , P.FLTBPSOUTMAX, P.FLTPPSINMAX, P.FLTPPSOUTMAX, P.FLTERRORINMAX, P.FLTERROROUTMAX
            , P.FLTDISCARDINMAX, P.FLTDISCARDOUTMAX, P.FLTUNKNOWNMAX, P.FLTUSAGEMAX
        FROM IP_YD.XE_CVNMS_PERF_IF P
        LEFT OUTER JOIN IP_YD.XE_CVNMS_RESOURCE R ON P.STRRESID = R.STRRESID
        LEFT OUTER JOIN IP_YD.XE_CVNMS_RESOURCE_IF I ON P.STRRESID = I.STRRESID  AND P.STRIFID = I.STRIFID
        LEFT OUTER JOIN RESOURCE.TB_PORT_MST PM ON PM.NODE_NUM = I.STRRESID AND PM.IF_NUM = I.STRIFID
        LEFT OUTER JOIN RESOURCE.TB_USER_ORGAN UO ON PM.NODE_ID=UO.NODE_ID AND PM.IF_ID = UO.IF_ID
        WHERE P.INTTIMESTAMP > #{inttimestamp}
        ORDER BY P.INTTIMESTAMP
    </select>

    <select id="selectSflowLogList" resultType="com.nia.data.linkage.ai.vo.ip.sflow.SflowLogVo" parameterType="string">
        SELECT STRRESIP, STRRESNAME, STRS_IP, STRS_PORT, STRD_IP
             , STRD_PORT, STRS_MAC, STRD_MAC, STRPROTOCOL, STRIPV4TOS
             , STRCHANNEL, STRSENDERIP, STRIN_INTERFACE, STROUT_INTERFACE, STRBYTES_COL
             , STRCOUNTS, DATEREGDATE
          FROM IP_YD.XE_SFLOW_LOG
         WHERE DATEREGDATE <![CDATA[ > ]]> #{dateRegDate}::timestamp
         ORDER BY DATEREGDATE
    </select>

    <select id="selectNodeMst" resultType="com.nia.data.linkage.ai.vo.ip.equip.IpNodeInfoVo">
        SELECT NODE_NUM, NODE_ID, NODE_NM, MODEL_NUM, MODEL_ID
             , IP_ADDR, MAC_ADDR, ADMIN_YN, PRIMARY_GB, SNMP_VER
             , SNMP_COMMUNITY, SNMP_PORT, LATITUDE, LONGITUDE, NETCONF_PORT
             , NETCONF_ID, NETCONF_PW, NETCONF_TYPE, NODE_DIVISION, VENDOR
             , SFLOW_IP, UP_DATETIME, CHNG_DATETIME, REG_DATETIME, DATA_SOURCE
          FROM RESOURCE.TB_NODE_MST
    </select>

    <select id="selectPortMst" resultType="com.nia.data.linkage.ai.vo.ip.equip.IpPortMstVo">
        SELECT NODE_NUM, NODE_ID, IF_NUM, IF_ID, IF_NM
             , IF_INDEX, IF_DESC, IF_TYPE, IF_SPEED, IP_ADDR
             , MAC_ADDR, IF_OPER_STATUS, IP_PREFIX, IF_DIVISTION, CHNG_DATETIME
             , REG_DATETIME, DATA_SOURCE
          FROM RESOURCE.TB_PORT_MST
    </select>

    <select id="selectBackboneLink" resultType="com.nia.data.linkage.ai.vo.ip.equip.IpBackboneLinkVo">
        SELECT SRC_NODE_NUM, SRC_NODE_ID, SRC_IF_NUM, SRC_IF_ID, DEST_NODE_NUM
             , DEST_NODE_ID, DEST_IF_NUM, DEST_IF_ID, LINK_DESC, VLAN
             , TAG, SRC_IP_ADDR, SRC_MAC_ADDR, DEST_IP_ADDR, DEST_MAC_ADDR
             , PREFIX, TOPOLOGY, BANDWIDTH, LINK_TYPE, LINK_DIV
             , CHNG_DATETIME, REG_DATETIME, DATA_SOURCE, CIRCUIT_NUM
          FROM RESOURCE.TB_BACKBONE_LINK
    </select>

    <select id="selectCvnmsResourceList" resultType="com.nia.data.linkage.ai.vo.ip.equip.IpCvnmsResourceVo">
        SELECT INTRESIDX, MODULE_SRL, MEMBER_SRL, STRRESNAME, STRRESID
             , STRRESTYPE, STRMODELID, STRGROUPID, STRGROUPID1, STRGROUPID2
             , STRGROUPID3, STRGROUPID4, STRGROUPID5, STRGROUPID6, STRGROUPID7
             , STRGROUPID8, STRGROUPID9, STRGROUPID10, STRTAGS, STRPRIORITY
             , STRRESMEMO, STRCOLID, STRIPVER, STRIPADDR, STRIPV6ADDR
             , STRSNMPIPADDR, STRSNMPVER, STRSNMPCOMMUNITY, INTSNMPPORT, INTSNMPTIMEOUT
             , STRSNMPV3_USERNAME, STRSNMPV3_SECURITYLEVEL, STRSNMPV3_AUTHENTICATIONPROTOCOL, STRSNMPV3_AUTHENTICATIONPASSWORD, STRSNMPV3_PRIVACYPROTOCOL
             , STRSNMPV3_PRIVACYPASSWORD, STRSNMPV3_CONTEXTNAME, STRENABLED_CPU, STRENABLED_MEM, STRENABLED_DISK
             , STRSNMPMIB_CPU, STRSNMPMIB_MEM, STRSNMPMIB_DISK, STREVENT_CPU, STREVENT_MEM
             , STREVENT_DISK, STRSTATUSSNMP, STRENABLEDSNMP, DATEUPTIME, STRSTATUSPING
             , INTINTERVALPING, INTTIMEOUTPING, STRENABLEDPING, INTLOGRAISECOUNT, INTERRRAISECOUNT
             , STRCPUCURRENT, STRMEMCURRENT, STRDISKCURRENT, STRRTTCURRENT, INTSENSORPID
             , STRALIVE, STRCONTACTS, DATEPROBEUPDATEDATE, DATELASTUPDATEDATE, DATEREGDATE
        FROM IP_YD.XE_CVNMS_RESOURCE
    </select>

    <select id="selectCvnmsResourceIfList" resultType="com.nia.data.linkage.ai.vo.ip.equip.IpCvnmsResourceIfVo">
        SELECT INTIFIDX, MODULE_SRL, STRRESID, STRIFID, STRIFNAME
             , STRRESID_A, STRRESID_Z, INTIFINDEX, STRIFDESC, STRIFTYPE
             , STRIFSPEED, STRIFPHYSADDRESS, STRIFOPERSTATUS, STRIFLIMITBPS, STRIFLIMITBPSC
             , STRIFLIMITBPSM, STRIFLIMITBPSN, STRIFLIMITBPSW, STRIFERRLEVEL, STRIFIPADDR
             , STRIFMANPERF, STRIFMANERROR, STRIFCURRENT, STRIFLIMITERR, STRIFMEMO
             , DATELASTUPDATEDATE, DATEREGDATE
        FROM IP_YD.XE_CVNMS_RESOURCE_IF
    </select>

</mapper>


