<?xml version="1.0" encoding="UTF-8"?>

<configuration>

	<include resource="org/springframework/boot/logging/logback/defaults.xml" />
	<include resource="org/springframework/boot/logging/logback/base.xml"/>

    <springProfile name="local">
        <property resource="log-properties/logback-local.properties"/>
    </springProfile>

    <springProfile name="dev">
        <property resource="log-properties/logback-dev.properties"/>
    </springProfile>

    <springProfile name="real">
        <property name="LOG_TEMP" value="/home/codej8888/server/logs/" />
        <property resource="log-properties/logback-real.properties"/>
    </springProfile>
    
    <!-- log file path -->
    <property name="LOG_PATH" value="${log.config.path}"/>
    <!-- log file name -->
    <property name="LOG_FILE_NAME" value="${log.config.filename}"/>

    <property name="LOG_PACKAGE_NAME" value="${log.config.package}"/>

	<appender name="INFO"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<prudent>true</prudent>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_PATH}/${LOG_FILE_NAME}.%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>14</maxHistory>
            <totalSizeCap>1GB</totalSizeCap>
        </rollingPolicy>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>INFO</level>
        </filter>

        <encoder>
            <pattern>%d{yyyy:MM:dd HH:mm:ss.SSS} %-5level --- [%thread] %logger{35} : %msg %n</pattern>
        </encoder>
    </appender>

    <appender name="ERROR"
        class="ch.qos.logback.core.rolling.RollingFileAppender">
        <prudent>true</prudent>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_PATH}/${LOG_FILE_NAME}_error.%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>14</maxHistory>
            <totalSizeCap>1GB</totalSizeCap>
        </rollingPolicy>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>ERROR</level>
        </filter>

        <encoder>
            <pattern>%d{yyyy:MM:dd HH:mm:ss.SSS} %-5level --- [%thread] %logger{35} : %msg %n</pattern>
        </encoder>
    </appender>

    <appender name="SQL"
        class="ch.qos.logback.core.rolling.RollingFileAppender">
        <prudent>true</prudent>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_PATH}/${LOG_FILE_NAME}_sql.%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>14</maxHistory>
            <totalSizeCap>1GB</totalSizeCap>
        </rollingPolicy>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>ERROR</level>
        </filter>

        <encoder>
            <pattern>%d{yyyy:MM:dd HH:mm:ss.SSS} %-5level --- [%thread] %logger{35} : %msg %n</pattern>
        </encoder>
    </appender>

    <logger name="org.springframework" level="INFO"/>
    <logger name="${LOG_PACKAGE_NAME}" level="INFO"/>

    <!-- SQL문만을 로그로 남기며, PreparedStatement일 경우 관련된 argument 값으로 대체된 SQL문이 보여진다. -->
    <logger name="jdbc.sqlonly" additivity="false">
        <appender-ref ref="SQL"/>
        <level value="OFF"/>
    </logger>
    <!-- SQL문과 해당 SQL을 실행시키는데 수행된 시간 정보(milliseconds)를 포함한다. -->
    <logger name="jdbc.sqltiming" additivity="false">
        <appender-ref ref="SQL"/>
        <level value="DEBUG"/>
    </logger>
    <logger name="jdbc.resultset" additivity="false">
        <appender-ref ref="SQL"/>
        <level value="OFF"/>
    </logger>
    <logger name="jdbc.resultsettable" additivity="false">
        <appender-ref ref="SQL"/>
        <level value="DEBUG"/>
    </logger>
    <logger name="jdbc.connection" additivity="false">
        <appender-ref ref="SQL"/>
        <level value="OFF"/>
    </logger>
    <logger name="jdbc.audit" additivity="false">
        <appender-ref ref="SQL"/>
        <level value="OFF"/>
    </logger>

    <logger name="Connection" level="ERROR" additivity="false">
        <appender-ref ref="SQL" />
    </logger>
    <logger name="Config" level="ERROR" additivity="false">
        <appender-ref ref="SQL" />
    </logger>


    <root level="INFO">
        <appender-ref ref="INFO"/>
        <appender-ref ref="SQL"/>
    </root>

    <root level="ERROR">
        <appender-ref ref="ERROR"/>
    </root>

</configuration>