<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nia.data.linkage.ip.equip.mapper.linkage.LinkageEquipMapper">

    <select id="selectCvnmsResourceList" resultType="com.nia.data.linkage.ip.equip.vo.equip.CvnmsResourceVo">
        SELECT intResIdx, module_srl, member_srl, strResName, strResID
             , strResType, strModelID, strGroupID, strGroupID1, strGroupID2
             , strGroupID3, strGroupID4, strGroupID5, strGroupID6, strGroupID7
             , strGroupID8, strGroupID9, strGroupID10, strTags, strPriority
             , strResMemo, strColID, strIPVer, strIPAddr, strIPv6Addr
             , strSNMPIPAddr, strSNMPVer, strSNMPCommunity, intSNMPPort, intSNMPTimeout
             , strSNMPv3_Username, strSNMPv3_SecurityLevel, strSNMPv3_AuthenticationProtocol, strSNMPv3_AuthenticationPassword, strSNMPv3_PrivacyProtocol
             , strSNMPv3_PrivacyPassword, strSNMPv3_ContextName, strEnabled_CPU, strEnabled_MEM, strEnabled_DISK
             , strSNMPMIB_CPU, strSNMPMIB_MEM, strSNMPMIB_DISK, strEvent_CPU, strEvent_MEM
             , strEvent_DISK, strStatusSNMP, strEnabledSNMP, dateUptime, strStatusPing
             , intIntervalPing, intTimeoutPing, strEnabledPing, intLogRaiseCount, intErrRaiseCount
             , strCPUCurrent, strMEMCurrent, strDiskCurrent, strRTTCurrent, intSensorPID
             , strAlive, strContacts, dateProbeUpdateDate, dateLastUpdateDate, dateRegDate
          FROM catchview.xe_cvnms_resource
    </select>

    <select id="selectCvnmsResourceIfList" resultType="com.nia.data.linkage.ip.equip.vo.equip.CvnmsResourceIfVo">
        SELECT intIfIdx, module_srl, strResID, strIfID, strIfName
             , strResID_A, strResID_Z, intIfindex, strIfDesc, strIfType
             , strIfSpeed, strIfPhysAddress, strIfOperStatus, strIfLimitBPS, strIfLimitBPSC
             , strIfLimitBPSM, strIfLimitBPSN, strIfLimitBPSW, strifErrLevel, strifIPAddr
             , strifManPerf, strifManError, strIfCurrent, strifLimitErr, strIfMemo
             , dateLastUpdateDate, dateRegDate
        FROM catchview.xe_cvnms_resource_if
    </select>
</mapper>


