<div layout="column" layout-fill ng-cloak ng-controller="SelfConfigurationDialogCtrl" class="selfConfiguration">
    <div class="aiProcess_firstBox">
        <div class="aiProcessBox">
            <div class="aiProcessTitle" ng-click="debugger()">작업 요청</div>
            <div class="aiProcess_firstContent" style="height: 130px; min-height: 130px; margin-top: 50px;">
                <div class="aiProcessContentTitle">작업 요청 구간</div>
                <div layout="column" style="position: relative; padding: 20px 20px 0px 20px; color: #64454561;">
                    <div layout="row"> 
                        <i class="fa fa-circle-thin fa-4x" style="margin-left: 122px;">
                            <image src="{{!failureInfo.source_image ? '../../../../images/node/question.png' : failureInfo.source_image.path}}" style="width: 35px; height: 35px; position: absolute; left: 152px; top: 35px;"></image>
                        </i>
                        <div class="blinking" style="width:150px;height: 5px; border-bottom: 5px solid  #e41f1f;margin-top: 30px;"/>
                        <i class="fa fa-circle-thin fa-4x">
                            <image src="{{!failureInfo.target_image ? '../../../../images/node/question.png' : failureInfo.target_image.path}}" style="width: 35px; height: 35px; position: absolute; left: 357px; top: 35px;"></image>
                        </i>
                    </div>
                    <div class="desc" layout="row"> 
                        <div class="device from" flex="35">
                            <div class="ellipsis">{{failureInfo.source_name}}</div>
                            <div class="ellipsis">{{failureInfo.source_port}}</div>
                        </div>
                        <div flex> </div>
                        <div class="device to" flex="35"> 
                            <div class="ellipsis">{{failureInfo.target_name}}</div>
                            <div class="ellipsis">{{failureInfo.target_port}}</div>
                        </div>
                    </div>
                </div>
            </div>

            <style>
                .c3-xgrid-line.fault-time-grid line {
                    stroke: #aaa;
                    stroke-dasharray: 8, 1;
                    stroke-width: 2px;
                }
            </style>

        <div class="chart-container" ng-if="ticket.ticket_type != 'FTT'">
            <div class="aiProcess_secondContent pr-3" style="height: 250px; min-height: 200px; margin-top: 20px;" ng-if="ticket.ticket_type !== 'NFTT'">
                <div class="aiProcessContentTitle">트래픽 그래프</div>
                <md-progress-circular ng-disabled="!progress_activated" ng-hide="!progress_activated"  class="md-hue-2" md-diameter="30px" style="top: 50%; left: 50%; margin: 0;"></md-progress-circular>
                <div ng-if="!progress_activated && trafficList.length == 0" style="top: 40%; left: 25%; margin: 0; position: absolute; font-weight: 600;">트래픽 데이터가 존재하지 않습니다.</div>
                <div style="min-height: 100%; padding: 20px 10px 5px 0; color: #000; fill: #000;" id="trafficChart"></div>
            </div>
            <!-- CPU MEM 그래프 -->
            <div class="aiProcess_secondContent pr-3" style="height: 150px; min-height: 150px; margin-top: 20px;" ng-if="ticket.ticket_type === 'NFTT'">
                <div class="aiProcessContentTitle">CPU MEM 그래프</div>
                <md-progress-circular ng-disabled="!progress_activated" ng-hide="!progress_activated"  class="md-hue-2" md-diameter="30px" style="top: 50%; left: 50%; margin: 0;"></md-progress-circular>
                <div ng-if="!progress_activated && (cpuList.length == 0 || cpuList == null)" style="top: 40%; left: 25%; margin: 0; position: absolute; font-weight: 600;">트래픽 데이터가 존재하지 않습니다.</div>
                <div style="min-height: 100%; padding: 20px 10px 5px 0; color: #000; fill: #000;" id="cpuChart">
                </div>
            </div>
        </div>

            <div class="aiProcess_secondContent" style="margin-top: 20px;" ng-style="{ 'min-height': relatedSopList.length === 0 ? '5%' : '35%' }">
                <div class="aiProcessContentTitle">연관 SOP 리스트</div>
                <table md-table class="selfConfig sopCodeList tt-alarm-table ticket-alarm rca-md-table" ng-if="relatedSopList.length === 0" md-progress="promise" style="min-height: 100%; padding: 15px 0px 0px 5px;">
                    <tbody  md-body style="min-height: calc(100% - 40px); height: calc(100% - 40px); display: flex; justify-content: center; align-items: center;" >
                        <tr md-row>
                            <td class="pr-0" over-cell>연관 SOP 데이터가 존재하지 않습니다.</td>
                        </tr>
                    </tbody>
                </table>
                <table md-table class="selfConfig sopCodeList tt-alarm-table ticket-alarm rca-md-table" ng-if="relatedSopList.length !== 0" md-progress="promise" style="min-height: 100%; padding: 15px 0px 0px 5px;">
                    <thead md-head>
                    <tr md-row>
                        <th md-column md-column-size="70"></th>
                        <th md-column md-column-size="100" class="pr-0">티켓 번호</th>
                        <th md-column md-column-size="80" class="pr-0">티켓 유형</th>

                        <th md-column md-column-size="100" class="pr-0">장애구분</th>
                        <th md-column md-column-size="100" class="pr-0">장애유형</th>
                        <th md-column md-column-size="100" class="pr-0">조치내용</th>
                        <th md-column md-column-size="100" class="pr-0">기타사항</th>

                        <th md-column md-column-size="100" class="pr-0">장비ID</th>
                        <th md-column md-column-size="100" class="pr-0">장비이름</th>
                        <th md-column md-column-size="100" class="pr-0">마스터IP</th>
                        <th md-column md-column-size="80" class="pr-0">장비 I/F</th>
                        <th md-column md-column-size="100" class="pr-0">티켓유형</th>

                        <th md-column md-column-size="80" class="pr-0">마감자</th>
                        <th md-column md-column-size="150" class="pr-0">마감시간</th>

                        <!--<th md-column md-column-size="170" class="pr-0">요청 시간</th>-->
                        <!--<th md-column md-column-size="170" class="pr-0">처리 시간</th>-->
                    </tr>
                    </thead>
                    <tbody md-body style="min-height: calc(100% - 40px); height: calc(100% - 40px); overflow-x: hidden;">
                    <tr md-row class="repeated-item" ng-repeat="item in relatedSopList">
                        <td md-cell md-checkbox-cell md-column-size="70" ng-click="onChangeSelectedSop(item)">
                            <md-checkbox ng-model="item.selected" ng-disabled="ticket.status != 'INIT'" ng-style="ticket.status != 'INIT' && { 'cursor': 'not-allowed'}" aria-label="''"></md-checkbox>
                        </td>
                        <td md-cell md-column-size="100" class="pr-0" over-cell>{{item.ticket_id}}</td>
                        <td md-cell md-column-size="80" class="pr-0" over-cell>{{item.ticket_type}}</td>

                        <td md-cell md-column-size="100" class="pr-0" over-cell>{{ item.fault_classify }}</td>
                        <td md-cell md-column-size="100" class="pr-0" over-cell>{{item.fault_type}}</td>
                        <td md-cell md-column-size="100" class="pr-0" over-cell>{{item.fault_detail_content}}</td>
                        <td md-cell md-column-size="100" class="pr-0" over-cell>{{ item.etc_content }}</td>


                        <td md-cell md-column-size="100" class="pr-0" over-cell>{{item.root_cause_sysnamea}}</td>
                        <td md-cell md-column-size="100" class="pr-0" over-cell>{{item.root_cause_sysnamea}}</td>
                        <td md-cell md-column-size="100" class="pr-0" over-cell>{{item.ip_addra}}</td>
                        <td md-cell md-column-size="80" class="pr-0" over-cell>{{item.root_cause_porta}}</td>
                        <td md-cell md-column-size="100" class="pr-0" over-cell>{{getTicketTypeLabel(item)}}</td><!--티켓유형-->

                        <td md-cell md-column-size="80" class="pr-0" over-cell>{{item.handling_fin_user}}</td>
                        <td md-cell md-column-size="150" class="pr-0" over-cell>{{item.handling_fin_time | dateFormat}}</td>

                        <!--<td md-cell md-column-size="170" class="pr-0" over-cell>{{item.request_time | dateFormat}}</td>-->
                        <!--<td md-cell md-column-size="170" class="pr-0" over-cell>{{item.receive_time | dateFormat}}</td>-->
                    </tr>
                    </tbody>
                </table>
            </div>

            <div class="aiProcess_secondContent" style="height: 30%; min-height: 30%; margin-top: 20px;">
                <div class="aiProcessContentTitle">담당직원 정보</div>
                <table md-table class="selfHealingTable tt-alarm-table rca-md-table" md-progress="promise" style="min-height: 100%; padding: 15px;">
                    <thead md-head>
                    <tr md-row>
                        <th md-column md-column-size="70"></th>
                        <th md-column md-column-size="140">이름</th>
                        <th md-column md-column-size="100">분류</th>
                        <th md-column md-column-size="200">EMAIL</th>
                    </tr>
                    </thead>
                    <tbody md-body style="height: calc(100% - 32px); overflow-y: auto;">
                    <tr md-row md-select="item" class="repeated-item" ng-repeat="item in managerList" >
                        <td md-cell md-checkbox-cell md-column-size="70" ng-click="applyManager()">
                            <md-checkbox aria-label="''" ng-click="item.selected=!item.selected" ng-disabled="ticket.status != 'INIT'" ng-style="ticket.status != 'INIT' && { 'cursor': 'not-allowed'}"></md-checkbox>
                            <!-- <md-checkbox aria-label="''" ng-click="item.selected=!item.selected" ng-style="ticket.status != 'INIT' && { 'cursor': 'not-allowed'}"></md-checkbox> -->
                        </td>
                        <td md-cell md-column-size="140">{{item.name}}</td>
                        <td md-cell md-column-size="100">{{item.agency_name}}</td>
                        <td md-cell md-column-size="200">{{item.email}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="aiProcess_secondBox">
        <div class="aiProcessBox">
            <div class="aiProcess_firstContent">
                <div class="aiProcessContentTitle" style="top: -3%;">조치 요청서</div>
                <p meditor ng-model="model_config.text" class="requestDoc ng-pristine ng-untouched ng-valid ng-isolate-scope w-100" style="overflow-x:auto; font-family: 'NanumGothic';"></p>
            </div>
                                                                                                                                                                                                                                                                                                                                                                                  .
            <div class="aiProcess_secondContent">
                <div class="aiProcessContentTitle">조치 SOP</div>
                <md-button class="md-raised base-btn-2 nia-dark-button" ng-click="openSOPListDialog()" style="float: right;">EDIT</md-button>
                <div layout="column" style="height: 100%; padding: 20px; color: #646363; overflow-x: auto;">
                    <!--<span>조치방법</span>-->
                    <div layout="row" class="w-100" style="font-size: 13px; height: 65px;">
                        <md-select placeholder="장애구분" class="mr-3" ng-model="operatorOpinion.faultClassify" style="width: 150px;">
                            <md-option ng-value="item.fault_type" ng-repeat="item in sopCodeList['장애구분']" style="height: 45px; font-size: 13px;">{{ item.fault_type }}</md-option>
                        </md-select>
                        <md-select placeholder="장애유형" class="mr-3" ng-model="operatorOpinion.faultType" style="width: 150px;">
                            <md-option ng-value="item.fault_type" ng-repeat="item in sopCodeList['장애유형']" style="height: 45px; font-size: 13px;">{{ item.fault_type }}</md-option>
                        </md-select>
                        <md-select placeholder="조치내용" class="mr-3" ng-model="operatorOpinion.faultDetail" style="width: 150px;">
                            <md-option ng-value="item.fault_type" ng-repeat="item in sopCodeList['조치내용']" style="height: 45px; font-size: 13px;">{{ item.fault_type }}</md-option>
                        </md-select>
                    </div>
                    <md-input-container class="md-block w-100" flex="100">
                        <input ng-model="operatorOpinion.etcContent" placeholder="기타 조치 내용 입력">
                    </md-input-container>
                </div>
            </div>
        </div>
    </div>
    <div class="footer selfConfigFooter">
        <md-button class="md-raised base-btn-2 black-btn" ng-click="dlgFunc.cancel()" style="float: right;">
            닫기
        </md-button>
        <md-button class="md-raised base-btn-2 nia-dark-button" ng-click="showFinProcessDialog()" style="float: right;">
            <!--마감-->
            {{ ticket.status == 'FIN' || ticket.status == 'AUTO_FIN' ? '수정' : '마감' }}
        </md-button>
        <md-button class="md-raised base-btn-2 nia-dark-button" ng-click="sendEMail()" ng-disabled="ticket.status != 'INIT'" style="float: right; margin-right: 15px;">
        <!-- <md-button class="md-raised base-btn-2 nia-dark-button" ng-click="sendEMail()" style="float: right; margin-right: 15px;"> -->
            메일 전송
        </md-button>
        <md-button class="md-raised base-btn-2 nia-dark-button" ng-click="openConfigTestAction()" ng-disabled="ticket.ticket_type == 'FTT'" style="float: right;">
            시험
        </md-button>
        <md-button class="md-raised base-btn-2 nia-dark-button" ng-click="openBypassRouteListDialog()" ng-disabled="ticket.ticket_type !== 'ATT2'"  style="float: right;" flex="15">
            자가구성 시험
        </md-button>
        <md-button class="md-raised base-btn-2 nia-dark-button" ng-click="openDateSetting()" ng-disabled="ticket.ticket_type == 'FTT'" style="float: right;" flex="15">
            데이터 스냅샷
        </md-button>
    </div>
</div>


<template id="template-requestDoc-config">
    <h2>
        &nbsp;&nbsp;&nbsp;
        장애 상세내역 및 조치 요청서
    </h2>
    <div><br></div>
    <h4>1. 발신</h4>
    <div>&nbsp; &nbsp; ${AGENCY_NAME}&nbsp;${발신자}</div>
    <div><br></div>
    <h4>2. AI 분석 결과 정보</h4>
    <div>${att2-requestDoc-config}</div>
    <div>${nftt-requestDoc-config}</div>
    <div>${ftt-requestDoc-config}</div>
    <div>${trafficTca-requestDoc-config}</div>
    <br>
    <h4>3. 수신</h4>
    <div class="selectedManagerConfig">&nbsp; &nbsp;${수신자}</div>
    <div><br></div>
    <h4>4. 작업 요청 내용</h4>
    <!--<div>&nbsp; &nbsp;- 작업명 : ${작업명}</div>-->
    <div>&nbsp;- 작업 요청 구간 : ${작업요청구간}</div>
    <div>&nbsp;- 티켓 번호 : ${티켓번호}<br></div>
    <div>&nbsp;- 티켓 타입 : ${티켓타입}<br></div>
    <div>&nbsp;- 발생 원인 : ${발생원인}<br></div>
    <div>&nbsp;- 발생 시간 : ${발생시간}<br></div>
    <!--<div>&nbsp; &nbsp;- 작업 목적 : ${작업목적}<br></div>-->
    <!--<div>&nbsp; &nbsp;- 작업 내용 : ${작업내용}<br></div>-->
    <div>&nbsp;- 상세 내용 : <span class="recommendDetailConfig"></span><br></div>
    <div><br></div>
    <h4>5. 장애 구간</h4>
    <div>&nbsp;- 장애 구간: ${피해규모}<br></div>
    <!--    ==> 이용기관 이름    -->
    <!--<div>&nbsp; &nbsp;- 피해 규모: ${피해규모}<br></div>-->
    <!--<div>&nbsp; &nbsp;- 대상 시설: ${대상시설}<br></div>-->
    <div><br></div>
    <h4>6. 연관 SOP</h4>
    <div>&nbsp;- 장애 구분: <span class="faultClassifyConfig">&nbsp;${장애구분}</span><br></div>
    <div>&nbsp;- 장애 유형: <span class="faultTypeConfig">&nbsp;${장애유형}</span><br></div>
    <div>&nbsp;- 조치 내용: <span class="faultDetailConfig">&nbsp;${조치내용}</span><br></div>
</template>

<template id="att2-requestDoc-config">
<h6 style="font-weight: 700;">이상 트래픽</h6>
    <span >IN</span>
    <div>&nbsp; &nbsp;- bps : ${fltbpsin}</div>
    <div>&nbsp; &nbsp;- Predict : ${fltbpsin_predict}</div>
    <div>&nbsp; &nbsp;- Threshold_Upper : ${fltbpsin_threshold_upper}</div>
    <div>&nbsp; &nbsp;- Threshold_Lower : ${fltbpsin_threshold_lower}</div>
    <div>&nbsp; &nbsp;- Anomaly : ${fltbpsin_anomaly}</div>
    <br>
    <span >OUT</span>
    <div>&nbsp; &nbsp;- bps : ${fltbpsout}</div>
    <div>&nbsp; &nbsp;- Predict : ${fltbpsout_predict}</div>
    <div>&nbsp; &nbsp;- Threshold_Upper : ${fltbpsout_threshold_upper}</div>
    <div>&nbsp; &nbsp;- Threshold_Lower : ${fltbpsout_threshold_lower}</div>
    <div>&nbsp; &nbsp;- Anomaly : ${fltbpsout_anomaly}</div>
    <br>
</template>

<template id="trafficTca-requestDoc-config">
<h6 style="font-weight: 700;">장애 유무 판단 확률</h6>
    <div>&nbsp; &nbsp;- 유효 확률 : ${available_percentage}</div>
    <div>&nbsp; &nbsp;- 무효 확률 : ${invalidity_percentage}</div>
</template>

<template id="nftt-requestDoc-config">
<h6 style="font-weight: 700;">장비부하 장애</h6>
    <div>&nbsp; &nbsp;- Measured Time : ${measured_datetime}</div>
    <div>&nbsp; &nbsp;- CPU 예측값 : ${cpu_predicted}</div>
    <div>&nbsp; &nbsp;- Mem 예측값 : ${mem_predicted}</div>
</template>

<template id="ftt-requestDoc-config">
<h6 style="font-weight: 700;">비장애</h6>
    <div>&nbsp; &nbsp;- 장애 확률 : ${issue_percentage}</div>
    <div>&nbsp; &nbsp;- 비장애 확률 : ${no_issue_percentage}</div>
</template>

<template id="deafault-requestDoc-config">
    <span>발송된 조치 요청서가 존재하지 않습니다.</span>
</template>
