#trafficChart .c3-axis-y text {
    font-size: 10px;
}

#trafficChart .c3-axis-x text {
    font-size: 10px;
}

#trafficChart .c3 text {
    fill: #000000 !important;
}

.c3-xgrid-line.fault-time-grid line {
    stroke: #aaa;
}
