<md-dialog class="profile-list-dialog" id="SOPEditDialog" ng-cloak style="width: 75%; height:60%">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <i class="fa fa-check fa-lg"></i>
            <span class="title" ng-click="debugger()">&nbsp;SOP Edit 리스트</span>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="dlgFunc.cancel()">
                <md-icon md-svg-src="img/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
            </md-button>
        </div>
    </md-toolbar>
    <form>
        <md-dialog-content>
            <div layout="column" class="profile-list-dialog-content">
                <md-card class="profile-card" style="margin: 20px;">
                    <div layout="column" class="profile-list-search">
                        <div class="profile-list-search-info">
                            <span class="ml-3">등록일</span>
                            <md-input-container class="node-date" style="margin: 0px 0px 0px 25px;">
                                <input mdc-datetime-picker="" date="true" time="false" type="text"
                                       show-todays-date="" minutes="true" min-date="date" show-icon="true"
                                       edit-input="true" short-time="true" ng-init="null" ng-enter="handleSearch()"
                                       ng-model="model.condition.start_date" class=" dtp-no-msclear dtp-input md-input"/>
                            </md-input-container>
                            <span style="margin-left: 10px">~</span>
                            <md-input-container class="node-date" style="margin: 0px 0px 0px 10px;">
                                <input  mdc-datetime-picker="" date="true" time="false" type="text"
                                show-todays-date="" minutes="true" min-date="date" show-icon="true"
                                edit-input="true" short-time="true" ng-init="null" ng-enter="handleSearch()"
                                ng-model="model.condition.end_date" class=" dtp-no-msclear dtp-input md-input"/>
                            </md-input-container>
                            <span class="ml-2">등록자</span>
                            <md-input-container class="input-container mt-0 ml-3">
                                <input class="profile-explanation" ng-model="model.condition.user_id" type="text" ng-enter="handleSearch()" clear-btn/>
                            </md-input-container>
                            <span class="ml-2">조치SOP</span>
                            <md-input-container class="input-container mt-0 ml-3">
                                <input class="profile-explanation" ng-model="model.condition.fault_gb" type="text" ng-enter="handleSearch()" clear-btn/>
                            </md-input-container>
                            <span class="ml-2">항목</span>
                            <md-input-container class="input-container mt-0 ml-3">
                                <input class="profile-explanation" ng-model="model.condition.fault_type" type="text" ng-enter="handleSearch()" clear-btn/>
                            </md-input-container>
                        </div>
                        <div class="profile-list-search-btn">
                            <!-- <md-button class="profile-list-search-btn" ng-click="exportExcel()" style="font-size: 11px;"><i class="fas fa-file-excel fa-lg" style="color: #008000; margin-right: 2px; font-size: 20px;"></i>엑셀저장</md-button> -->
                            <md-button class="profile-list-search-btn" ng-click="handleSearch()" style="font-size: 11px;">
                                <i class="fa fa-search fa-lg"></i>
                            </md-button>
                            <md-button class="search-option-switch clearBtn" ng-click="searchClear()" style="margin-right: 50px;">
                                전체보기
                            </md-button>
                        </div>
                    </div>
                    <div layout="column" class="profile-table">
                        <table md-table>
                            <thead md-head>
                                <tr md-row>
                                    <th md-column md-column-size="150" class="pr-0"><span>등록일</span></th>
                                    <th md-column md-column-size="150" class="pr-0"><span>등록자</span></th>
                                    <th md-column md-column-size="150" class="pr-0"><span>조치 SOP</span></th>
                                    <th md-column md-column-size="150" class="pr-0"><span>항목</span></th>
                                    <th md-column md-column-size="150" class="pr-0"><span>비고</span></th>
                                </tr>
                            </thead>
                            <tbody md-body>
                                <tr md-row ng-repeat="item in model.gridResult" >
                                    <td md-cell md-column-size="150" class="pr-0">{{item.reg_time | dateFormat}}</td>
                                    <td md-cell md-column-size="150" class="pr-0">{{item.user_id}}</td>
                                    <td md-cell md-column-size="150" class="pr-0">{{item.fault_gb}}</td>
                                    <td md-cell md-column-size="150" class="pr-0">{{item.fault_type}}</td>
                                    <td md-cell md-column-size="80" class="pr-0"><a href="" ng-click="handleSopCodeAdd('U', item)">편집</a></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <md-table-pagination class="mt-2" md-limit="model.pagination.limit"
                                         md-limit-options="[30,50,100,200]" md-page="model.pagination.selected"
                                         md-total="{{model.pagination.total || 0}}" md-page-select="true" md-boundary-links="true">
                    </md-table-pagination>
                </md-card>
            </div>
            <div class="modalFooter">
                <md-button class="md-raised base-btn-2 nia-dark-button" ng-click="handleSopCodeAdd('C')" >등록</md-button>
                <md-button class="md-raised dialog-btn base-btn-2 black-btn" ng-click="dlgFunc.cancel()">닫기</md-button>
            </div>
        </md-dialog-content>
    </form>
</md-dialog>
