<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nia.engine.mapper.AlarmMapper">
    <resultMap id="BasicAlarmVo" type="com.nia.engine.vo.BasicAlarmVo">
        <result property="alarmno"	            column="ALARMNO"/>
        <result property="clusterno"	        column="CLUSTERNO"/>
        <result property="sysname"	            column="SYSNAME"/>
        <result property="equiptype"	        column="EQUIPTYPE"/>
        <result property="alarmtime"	        column="ALARMTIME"/>
        <result property="receivetime"	        column="RECEIVETIME"/>
        <result property="alarmloc"	            column="ALARMLOC"/>
        <result property="alarmmsg"	            column="ALARMMSG"/>
        <result property="unit"			        column="UNIT"/>
        <result property="alarmlevel"	        column="ALARMLEVEL"/>
        <result property="ptpname"	            column="PTPNAME"/>
        <result property="slot"	                column="SLOT"/>
    </resultMap>

    <resultMap id="TopologyObject" type="com.nia.engine.vo.TopologyObject">
        <result property="alarmno"	           	 	column="ALARMNO"/>
        <result property="linkId"	       			column="LINK_ID"/>
        <result property="nwType"	        		column="NW_TYPE"/>
        <result property="oppSysname"	        	column="OPP_SYSNAME"/>
        <result property="oppPtpName"	        	column="OPP_PTPNAME"/>
        <result property="oppSlot"	        	    column="OPP_SLOT"/>
        <result property="oppPort"	        	    column="OPP_PORT"/>
        <result property="trunkId"	      		  	column="TRUNK_ID"/>
    </resultMap>

    <select id="selectAlarmMstList" resultMap="BasicAlarmVo" parameterType="hashmap">
        SELECT ALARMNO, CLUSTERNO, SYSNAME, EQUIPTYPE, ALARMTIME,
               RECEIVETIME, ALARMLOC, ALARMMSG, UNIT, ALARMLEVEL, PTPNAME, SLOT
        FROM RCA.TB_ALARM_CUR_MST
        WHERE CLUSTERNO = #{clusterno}
            --           AND RECEIVETIME >= now() - INTERVAL '7DAY'
        ORDER BY RECEIVETIME
    </select>

    <select id="selectAlarmInfo" resultMap="BasicAlarmVo" parameterType="string">
        SELECT ALARMNO, CLUSTERNO, SYSNAME, EQUIPTYPE, ALARMTIME, RECEIVETIME, ALARMLOC, ALARMMSG, UNIT, ALARMLEVEL, PTPNAME
        FROM RCA.TB_ALARM_CUR_MST
        WHERE ALARMNO = #{alarmno}
            --           AND RECEIVETIME >= now() - INTERVAL '7DAY'
            LIMIT 1
    </select>

    <select id="selectAlTopology" resultMap="TopologyObject" parameterType="string">
        SELECT ALARMNO, LINK_ID, NW_TYPE, OPP_SYSNAME, OPP_PTPNAME, OPP_SLOT, OPP_PORT,TRUNK_ID
        FROM RCA.TB_CLUSTER_AL_TOPOLOGY
        WHERE ALARMNO = #{alarmno}
        LIMIT 1
    </select>
</mapper>


