<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nia.engine.mapper.SdnTrafficMapper">
	<select id="selectSdnTrafficAlarm" parameterType="java.util.HashMap" resultType="com.nia.engine.vo.sdn.traffic.SdnTrafficInfoVo">
		SELECT AF.STRIFID,AF.STRIFNM, AF.STRRESNM, AF.MEASURED_DATETIME, AF.FLTBPSIN, AF.FLTBPSOUT,
		       AF.FLTPPSIN, AF.FLTPPSOUT, AF.INSERT_TIME, AF.STRRESNM, AF.STRRESID
		    FROM RCA.TB_ANOMALOUS_1MI_TRAFFIC AF
		WHERE AF.STRIFID = #{strifid}
		  AND AF.MEASURED_DATETIME = to_timestamp(cast(#{measured_datetime} AS int8)/1000)
	</select>

	<update id="updateSdnTraffic" parameterType="java.util.HashMap">
		update RCA.TB_ANOMALOUS_1MI_TRAFFIC
		SET TICKET_ID = #{ticketId}
		WHERE strifid = #{strifid}
		AND STRRESID = #{strresid}
		AND MEASURED_DATETIME = to_timestamp(cast(#{measured_datetime} AS int8)/1000)
	</update>

</mapper>