<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nia.ai.performance.result.mapper.PerformanceMapper">

    <insert id="insertPerformanceData" parameterType="java.util.HashMap">
      <if test="roadmPerformanceList.size != 0">
        INSERT INTO RCA.TB_AI_PERFORMACE_MST
        (
            SYSNAME, PORT, UNIT, TMPER, DIRECTION,
            RXCUR, RXMIN, RXMAX, RXAVE, TXCUR,
            TXMIN, TXMAX, TXAVE, OCRTIME
        )
        VALUES
        <foreach collection="roadmPerformanceList" item="item" separator=",">
         (
            #{item.sysname}, #{item.port}, #{item.unit}, #{item.tmper}, UPPER(#{item.direction}),
            #{item.rxcur} ::numeric, #{item.rxmin} ::numeric, #{item.rxmax} ::numeric, #{item.rxave} ::numeric, #{item.txcur} ::numeric,
            #{item.txmin} ::numeric, #{item.txmax} ::numeric, #{item.txave} ::numeric, #{item.ocrtime}::timestamp
         )
         </foreach>
      </if>
    </insert>
</mapper>


