<md-dialog class="processing-dialog" md-select-auto-hide draggable>
    <form name="processingForm" ng-cloak>
        <md-dialog-content style="overflow: hidden;">
            <md-toolbar class="processing-toolbar">
                <div class="md-toolbar-tools">
                    <i class="fa fa-check fa-lg"></i>
                    <span class="title" ng-click="debugger()"> &nbsp; TT {{processing.text}}</span>
                    <span flex></span>
                    <md-button class="md-icon-button" ng-click="dlgFunc.cancel()">
                        <md-icon md-svg-src="img/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
                    </md-button>
                </div>
            </md-toolbar>

            <div layout="column" class="processing-contents noDrag">
                <button class="md-icon-button md-button" type="button" ng-hide="selectedTicketIndex <= 0" ng-click="selectedTicketIndex = selectedTicketIndex - 1;" style="margin: 35px 0 0 -44px; position: absolute;">
                    <md-icon md-svg-icon="navigate-before.svg" class="ng-scope" role="img" aria-hidden="true" style="width: 40px; height: 40px; margin: -8px 0 0 -9px;"></md-icon>
                </button>
                <button class="md-icon-button md-button" type="button" ng-hide="selectedTicketIndex >= (ticketInfo.length - 1)" ng-click="selectedTicketIndex = selectedTicketIndex + 1;" style="margin: 35px 0 0 601px; position: absolute;">
                    <md-icon md-svg-icon="navigate-next.svg" class="ng-scope" role="img" aria-hidden="true" style="width: 40px; height: 40px; margin: -8px 0 0 -9px;"></md-icon>
                </button>

                <div layout="row" class="ticket-info" layout-wrap>
                    <md-input-container class="md-block" flex="33">
                    <label>TT번호</label>
                    <input ng-model="ticketInfo[selectedTicketIndex].ticket_id" disabled>
                </md-input-container>
                    <md-input-container class="md-block" flex="33">
                        <label>티켓발생시간</label>
                        <input ng-value="ticketInfo[selectedTicketIndex].ticket_generation_time | dateFormat" disabled>
                    </md-input-container>
                    <md-input-container class="md-block" flex="33">
                        <label>장애발생시간</label>
                        <input ng-value="ticketInfo[selectedTicketIndex].fault_time | dateFormat" disabled>
                    </md-input-container>
                    <md-input-container class="md-block" flex="33">
                        <label>클러스터 No.</label>
                        <input ng-model="ticketInfo[selectedTicketIndex].cluster_no" disabled>
                    </md-input-container>
                    <md-input-container class="md-block" flex="33">
                        <label>근원알람개수</label>
                        <input ng-model="ticketInfo[selectedTicketIndex].total_related_alarm_count" disabled>
                    </md-input-container>
                    <md-input-container class="md-block" flex="33">
                        <label>전체알람개수</label>
                        <input ng-model="ticketInfo[selectedTicketIndex].total_alarm_count" disabled>
                    </md-input-container>
                    <md-input-container class="md-block" flex="33">
                        <label>인지담당자</label>
                        <input ng-model="userInfo.handling_user" >
                    </md-input-container>
                    <md-input-container class="md-block" flex="33">
                        <label>소속 본부</label>
                        <input ng-model="userInfo.handling_agency" >
                    </md-input-container>
                    <md-input-container class="md-block" flex="33">
                        <label>소속 팀</label>
                        <input ng-model="userInfo.handling_dept" >
                    </md-input-container>
                </div>
                <span class="sub-head">근원장애 System / Port 정보</span>
                <processing-list content="Alarm" ticket-id="ticketInfo[selectedTicketIndex].ticket_id"></processing-list>
                <span class="sub-head">근원장애 광케이블 리스트 정보</span>
                <processing-list content="Loc" ticket-id="ticketInfo[selectedTicketIndex].ticket_id"></processing-list>

                <div layout="row">
                    <span class="sub-head">AI분석 결과항목</span>
                    <span class="sub-content">{{ticketInfo[selectedTicketIndex].root_cause_type}}</span>

                    <div flex></div>
                    <span class="sub-head">AI 장애일치 분석 여부</span>
                    <div layout="column" class="aiBtnArea" style="width: 220px;">
                        <div layout="row" class="aiBtnBox">
                            <md-button class="md-raised base-btn-2 black-btn" style="min-width: 70px;" ng-class="{selected: rca_accuracy == '일치'}" ng-click="rca_accuracy = '일치'">일치</md-button>
                            <md-button class="md-raised base-btn-2 black-btn" style="min-width: 70px;" ng-class="{selected: rca_accuracy == '불일치'}" ng-click="rca_accuracy = '불일치'">불일치</md-button>
                        </div>
                        <md-input-container class="md-block custom-require-container">
                            <input name="accuracy" ng-model="rca_accuracy" required/>
                            <div ng-messages="processingForm.accuracy.$error">
                                <div ng-message="required">AI 장애일치 분석 여부를 선택해 주십시오.</div>
                            </div>
                        </md-input-container>
                    </div>
                </div>
                <div layout="row" style="margin-bottom: 10px;">
                    <span class="sub-head">장애 상세 코드</span>
                    <span class="sub-content">{{ticketInfo[selectedTicketIndex].ticket_rca_type || ticketInfo[selectedTicketIndex].ticket_rca_result_code}}</span>
                    <div flex></div>
                </div>
                <md-input-container class="md-block" md-no-float="" flex-gt-xs="95" style="padding-right: 10px;">
                    <textarea id="handlingText" name="content" ng-model="handling_content" md-maxlength="120" rows="5" md-select-on-focus="" ng-model-options="{debounce:100}"
                              placeholder="인지 관련사항을 입력해 주십시오." required></textarea>
                    <div ng-messages="processingForm.content.$error">
                        <div ng-message="required">인지 관련사항을 입력해 주십시오.</div>
                    </div>
                </md-input-container>

                <!--<span class="sub-head" style="margin-top: 10px;">TOPAS TT 일괄처리 (TOPAS TT인지/확인처리)</span>
                <div layout="row" style="margin-top: 10px;margin-right: 10px;">
                    <span class="sub-title">원인분류</span>
                    <div style="width: 368px;"></div>
                    <span class="sub-title">시설분류</span>
                </div>
                <div layout="row">
                    <processing-combobox-group ng-model="selectedData.reason" default-value="defaultReason"></processing-combobox-group>
                    <div flex></div>
                    <processing-combobox-group ng-model="selectedData.charge" default-value="defaultCharge"></processing-combobox-group>
                </div>-->
            </div>
            <div layout="row" class="modalFooter noDrag">
                <span flex></span>
                <md-button type="submit" class="md-raised base-btn-2 black-btn" ng-click="processingForm.$valid && submit()">{{processing.text}}</md-button>
                <md-button class="md-raised dialog-btn base-btn-2 black-btn" ng-click="dlgFunc.cancel()">취소</md-button>
            </div>
        </md-dialog-content>
    </form>
</md-dialog>

