<md-dialog class="profile-recovery-dialog" ng-cloak>
    <md-toolbar>
        <div class="md-toolbar-tools">
            <i class="fa fa-check fa-lg"></i>
            <span class="title" ng-click="debugger()">&nbsp;조치프로파일 등록</span>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="dlgFunc.cancel()">
                <md-icon md-svg-src="img/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
            </md-button>
        </div>
    </md-toolbar>
    <form>
        <md-dialog-content>
            <div class="profile-recovery-dialog-content">
                <table class="profile-table">
                    <tr>
                        <td class="userInfoKind">프로파일제목</td>
                        <td colspan="3">
                            <md-input-container class="input-container profile-title-container ml-3 mt-0">
                                <input class="profile-title" type="text" ng-model="recoveryData.profileTitle" clear-btn/>
                            </md-input-container>
                        </td>
                    </tr>
                    <tr>
                        <td class="userInfoKind">프로파일설명</td>
                        <td colspan="3" style="padding: 10px 0px;">
                            <textarea class="pro-file-explanation ml-3" ng-model="recoveryData.profileDesc"></textarea>
                        </td>
                        <td style="display: none;">
                            <div class="sendEmailData">
                                프로파일 {{processingTemplateData(recoveryData.processingTemplate)}}{{recoveryData.profileTitle}}에 의해 마감 되었습니다.
                                프로파일 제목: {{recoveryData.profileTitle}}
                                프로파일 설명: {{recoveryData.profileDesc}}
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="userInfoKind">네트워크구분</td>
                        <td colspan="3">
                            <md-radio-group class="ml-2" ng-model="recoveryData.networkType" ng-change="(recoveryData.profileNodeName = '') ; changeChk()">
                                <md-radio-button ng-value="item.value"  ng-repeat="item in radioNetwork">{{item.display_name}}</md-radio-button>
                            </md-radio-group>
                        </td>
                    </tr>
                    <tr>
                        <td class="userInfoKind">장애대응 구분</td>
                        <td colspan="3">
                            <md-radio-group class="ml-2" ng-model="recoveryData.processingTemplate" ng-change="changeChk()">
                                <md-radio-button ng-value="item.value" ng-disabled="disableProcessing" ng-repeat="item in radioProcessingTemplate">{{item.display_name}}</md-radio-button>
                            </md-radio-group>
                        </td>
                    </tr>
                    <tr>
                        <td class="userInfoKind">자동처리기간</td>
                        <td colspan="3">
                            <span class="pt-1 ml-4">상시</span>
                            <md-checkbox class="small ml-2" ng-change="changeChk()" ng-model="recoveryData.autoProcessCheck"></md-checkbox>
                            <!--<span class="pt-1 ml-3">선택</span>-->
                            <md-input-container class="input-container ml-3 mt-0">
                                <input mdc-datetime-picker="" date="true" time="false" type="text"
                                show-todays-date="" minutes="true" min-date="date" show-icon="true"
                                edit-input="true" short-time="true" ng-init="null"
                                ng-model="recoveryData.autoProcessStartDatetime" ng-disabled="disablechk" class=" dtp-no-msclear dtp-input md-input" style="width: 100px;"/>
                            </md-input-container>
                            <span style="margin-left: 10px">~</span>
                            <md-input-container class="input-container ml-3 mt-0">
                                <input mdc-datetime-picker="" date="true" time="false" type="text"
                                show-todays-date="" minutes="true" min-date="date" show-icon="true"
                                edit-input="true" short-time="true" ng-init="null"
                                ng-model="recoveryData.autoProcessEndDatetime" ng-disabled="disablechk" class=" dtp-no-msclear dtp-input md-input" style="width: 100px;"/>
                            </md-input-container>
                        </td>
                    </tr>
                    <tr>
                        <td class="userInfoKind">Ticket 유형</td>
                        <td>
                            <md-input-container class="select-container ml-3 mt-0">
                                <md-select class="model-name" ng-model="recoveryData.ticketType" ng-disabled="disableTicket" ng-change="changeChk()">
                                    <md-option ng-value="item.ticket_type" ng-repeat="item in ticketTypeList"> {{item.ticket_type}}</md-option>
                                </md-select>
                            </md-input-container>
                        </td>
                        <td class="userInfoKind">장애유형</td>
                        <td>
                            <md-input-container class="select-container ml-3 mt-0">
                                <md-select class="model-name" ng-model="recoveryData.failureType" ng-disabled="disableFailure" ng-change="changeChk()">
                                    <md-option ng-value="item.fail_type" ng-repeat="item in failureTypeList"> {{item.fail_type}}</md-option>
                                </md-select>
                            </md-input-container>
                        </td>
                    </tr>
                    <tr style="height: 30px;"> <!-- 자동처리대상-->
                        <td colspan="4" class="userInfoKind">자동처리 대상 등록</td>
                    </tr>
                    <tr> <!-- 자동처리대상-->
                        <td class="userInfoKind">노드명</td>
                        <td colspan="2">
                            <md-input-container class="select-node-container ml-3 mt-0">
                                <md-select class="profile-node-name" ng-model="recoveryData.profileNodeName" ng-disabled="disableNode">
                                    <md-option ng-value="item" ng-repeat="item in selectNodeNameList" ng-show="item.type == recoveryData.networkType">{{item.root_cause_sysnamea}}</md-option>
                                </md-select>
                            </md-input-container>
                        </td>
                        <td style="text-align: right;">
                            <md-button class="node-add-btn" ng-click="selectNodeAdd()" style="margin: 0px 0px 0px 0px;">추가</md-button>
                        </td>
                    </tr>
                    <tr> <!-- 자동처리대상-->
                        <td colspan="4">
                            <div class="profile-recovery-table-info">
                                <table md-table>
                                    <thead md-head>
                                    <tr md-row>
                                        <th md-column md-column-size="200" class="pr-0">노드명</th>
                                        <!--<th md-column md-column-size="100" class="pr-0">포트</th>-->
                                        <th md-column md-column-size="70" class="pr-0"></th>
                                    </tr>
                                    </thead>
                                    <tbody md-body>
                                    <tr md-row ng-repeat="item in selectRecoveryList">
                                        <td md-cell md-column-size="200" class="pr-0">{{item}}</td>
                                        <!--<td md-cell md-column-size="100" class="pr-0"></td>-->
                                        <td md-cell md-column-size="70" class="pr-0"><a ng-click="selectNodeDelete(item)">삭제</a></td>
                                    </tr>
                                    </tbody>
                                </table>

                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="4">
                            <md-table-pagination class="mt-2" md-limit="historyPagingTable.limit"
                                                 md-limit-options="[30,50,100,200]" md-page="historyPagingTable.selected"
                                                 md-total="{{selectRecoveryList[0].ProFileRecoveryTotalCount || 0}}" md-page-select="true" md-boundary-links="true">
                            </md-table-pagination>
                        </td>
                    </tr>
                    <tr>
                        <td class="userInfoKind">자동회복 처리</td>
                        <td>
                            <md-input-container class="select-container ml-3 mt-0">
                                <md-select class="model-name" ng-model="recoveryData.autoRecovery">
                                    <md-option ng-value="item.key" ng-repeat="item in autoRecoveryList"> {{item.display_name}}</md-option>
                                </md-select>
                            </md-input-container>
                        </td>
                        <td class="userInfoKind">메일 자동 발송</td>
                        <td colspan="3">
                            <md-checkbox class="small ml-3" ng-model="recoveryData.mailSend"></md-checkbox>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="modalFooter">
                <md-button class="md-raised base-btn-2 nia-dark-button" ng-click="profileSave()">저장</md-button>
                <md-button class="md-raised dialog-btn base-btn-2 black-btn" ng-click="dlgFunc.cancel()">닫기</md-button>
            </div>
        </md-dialog-content>
    </form>
</md-dialog>
