<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nia.ai.traffic.preprocessor.mapper.CommonDataMapper">
    <select id="selectLinkageYdKey" resultType="string" parameterType="string">
        SELECT VALUE_NAME FROM NIA.TB_LINKAGE_SEQ WHERE KEY_NAME = #{keyName}
    </select>

    <insert id="insertLinkageHist" parameterType="java.util.HashMap">
        INSERT INTO nia.tb_linkage_hist
        (
            key_name, file_name, file_size, row_cnt, yd_date
        ) VALUES(
                    #{key}, #{fileName}, #{fileSize}, #{rowCnt}::int , now()
                )
    </insert>

    <update id="updateLinkageYdKey" parameterType="java.util.HashMap">
        UPDATE NIA.TB_LINKAGE_SEQ SET VALUE_NAME = TO_CHAR(now(), 'YYYY-MM-DD HH24:MI:SS.MS +0900'), YD_DATE = now() WHERE KEY_NAME = #{key}
    </update>
</mapper>