<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nia.ip.sdn.sflow.linkage.mapper.SflowMapper">

    <select id="selectSflowSeq" resultType="long">
        SELECT nextval('gather.seq_sflow_collect') AS COLLECT_SEQ
    </select>

    <insert id="insertSflowData" parameterType="com.nia.ip.sdn.sflow.linkage.vo.sflow.SflowCollectVo">
        INSERT INTO GATHER.TB_SFLOW_COLLECT
        (
            COLLECT_SEQ, COLLECT_HOST, AGENT_ADDRESS, ETHER_TYPE, HEADER_PROTOCOL,
            INPUT_IFINDEX, OUTPUT_IFINDEX, SAMPLE_DIRECTION, SRC_IP, SRC_MAC,
            SRC_PORT, SOURCE_ID_TYPE, SOURCE_ID_INDEX, DST_IP, DST_MAC,
            DST_PORT, PACKET_BYTES, PACKET_DROPS, FRAME_LENGTH, HEADER_LENGTH,
            IP_DSCP, IP_ECN, IP_FLAGS, IP_FRAGMENT_OFFSET, IP_TOTAL_LENGTH,
            IP_TTL, SAMPLING_RATE, TCP_HEADER_LENGTH, TCP_URGENT_POINTER, TCP_WINDOW_SIZE,
            COLLECT_TIMESTAMP
        )
        VALUES
        (
            #{collectSeq}, #{collectHost}, #{agentAddress}, #{etherType}, #{headerProtocol},
            #{inputIfindex}, #{outputIfindex}, #{sampleDirection}, #{srcIp}, #{srcMac},
            #{srcPort}, #{sourceIdType}, #{sourceIdIndex}, #{dstIp}, #{dstMac},
            #{dstPort}, #{packetBytes}, #{packetDrops}, #{frameLength}, #{headerLength},
            #{ipDscp}, #{ipEcn}, #{ipFlags}, #{ipFragmentOffset}, #{ipTotalLength},
            #{ipTtl}, #{samplingRate}, #{tcpHeaderLength}, #{tcpUrgentPointer}, #{tcpWindowSize},
            #{collectTimestamp}
        )
    </insert>

    <update id="updateLinkageHist" parameterType="java.util.HashMap">
        UPDATE NIA.TB_LINKAGE_SEQ
        SET VALUE_NAME = #{value}
          , YD_DATE = now()
        WHERE KEY_NAME = #{key}
    </update>


</mapper>


