<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.codej.nia.mapper.db2nd.NiaMapper">
    <sql id="TotalCountPrefix">
      <if test="TOTAL_COUNT != null">
         SELECT COUNT(*) AS "count" FROM (
      </if>
   </sql>
    
   <sql id="TotalCountSuffix">
   <if test="TOTAL_COUNT == null and sort_column_name != null and sort_type != null">
        ORDER BY ${sort_column_name} ${sort_type}
   </if>
   <if test="TOTAL_COUNT != null">
        ) TOTALCOUNT
   </if>
   <choose>
        <when test="TOTAL_COUNT != null and limit != null">
            LIMIT ${limit}
        </when>
        <when test="TOTAL_COUNT == null and page != null and limit != null">
            LIMIT ${limit} OFFSET ${(page - 1) * limit}
        </when>
        <when test="TOTAL_COUNT == null and page != null and limit == null">
            <!--  default 10으로 설정 -->
            LIMIT 10 OFFSET ${(page - 1) * limit}
        </when>
   </choose>
   </sql>
   
   <!-- IP망 ALARM + SYSLOG -->
   <select id="SELECT_IP_ALARM_LIST" parameterType="java.util.HashMap" resultType="com.codej.base.dto.model.ResultMap">
        SELECT *
        FROM (
            SELECT
            tc.TICKET_ID
            , CLUSTER_NO
            , TICKET_TYPE
            , TICKET_GENERATION_TIME
            , FAULT_TIME
            , ROOT_CAUSE_TYPE
            , ROOT_CAUSE_CODE
            , ROOT_CAUSE_DOMAIN
            , TOTAL_RELATED_ALARM_CNT
            , STATUS
            , TICKET_RCA_RESULT_CODE
            , TICKET_RCA_RESULT_DTL_CODE
            , TICKET_RCA_RESULT_ORIG_DTL_CODE
            , TICKET_UPDATE_TIME
            , ZERO1_MODEL
            , ZERO1_ENTROPY
            , NM.IP_ADDR AS IP_ADDR
            FROM rca.tb_rca_ticket_current TC
            INNER JOIN rca.tb_rca_ticket_al_current AL ON TC.TICKET_ID = AL.TICKET_ID
            LEFT OUTER JOIN resource.tb_node_mst NM ON NM.NODE_ID = al.root_cause_sysnamea
            WHERE TICKET_TYPE IN ('ATT2', 'NTT')
            UNION ALL
            SELECT
                ALARMNO AS TICKET_ID
                , NULL CLUSTER_NO
                , 'SYSLOG' TICKET_TYPE
                , alarmtime AS TICKET_GENERATION_TIME
                , NULL FAULT_TIME
                , NULL ROOT_CAUSE_TYPE
                , NULL ROOT_CAUSE_CODE
                , NULL ROOT_CAUSE_DOMAIN
                , NULL TOTAL_RELATED_ALARM_CNT
                , CASE WHEN sam.status IN ('INIT', 'FIN', 'AUTO_FIN') THEN sam.status
                    ELSE '-'
                    END AS STATUS
                , ALARMMSG AS  TICKET_RCA_RESULT_CODE
                , ETC AS TICKET_RCA_RESULT_DTL_CODE
                , NULL TICKET_RCA_RESULT_ORIG_DTL_CODE
                , NULL TICKET_UPDATE_TIME
                , NULL ZERO1_MODEL
                , NULL ZERO1_ENTROPY
                , NM.IP_ADDR AS IP_ADDR
            FROM rca.tb_syslog_alarm_mst SAM
            LEFT OUTER JOIN resource.tb_node_mst NM ON NM.NODE_ID = SAM.NODE_NM
        ) T
        WHERE 1=1
        AND t.TICKET_GENERATION_TIME <![CDATA[ > ]]> now() - INTERVAL '48' HOUR
   </select>

   <!-- 전송망 TICKET -->
   <select id="SELECT_TRANSMISSION_ALARM_LIST" parameterType="java.util.HashMap" resultType="com.codej.base.dto.model.ResultMap">
        SELECT
            T.TICKET_ID AS TICKET_ID,
            T.CLUSTER_NO AS CLUSTER_NO,
            T.TICKET_TYPE AS TICKET_TYPE,
            T.TICKET_GENERATION_TIME AS TICKET_GENERATION_TIME,
            T.FAULT_TIME AS FAULT_TIME,
            T.ROOT_CAUSE_TYPE AS ROOT_CAUSE_TYPE,
            T.ROOT_CAUSE_CODE AS ROOT_CAUSE_CODE,
            T.ROOT_CAUSE_DOMAIN AS ROOT_CAUSE_DOMAIN,
            T.TOTAL_RELATED_ALARM_CNT AS TOTAL_RELATED_ALARM_CNT,
            T.STATUS AS STATUS,
            T.PARENT_TICKET_ID AS PARENT_TICKET_ID,
            T.TICKET_RCA_RESULT_CODE AS TICKET_RCA_RESULT_CODE,
            T.TICKET_RCA_RESULT_DTL_CODE AS TICKET_RCA_RESULT_DTL_CODE,
            T.TICKET_RCA_RESULT_ORIG_DTL_CODE AS TICKET_RCA_RESULT_ORIG_DTL_CODE,
            T.TICKET_UPDATE_TIME AS TICKET_UPDATE_TIME,
            T.ZERO1_MODEL AS ZERO1_MODEL,
            T.ZERO1_ENTROPY AS ZERO1_ENTROPY
        FROM rca.tb_rca_ticket_current T
        WHERE 1=1
            AND T.OCCUR = TRUE AND T.PARENT_TICKET_ID IS NULL
            AND TICKET_GENERATION_TIME <![CDATA[ > ]]>  NOW() - INTERVAL '48' HOUR
            AND T.TICKET_TYPE IN ('FTT', 'PF', 'NFTT')
        ORDER BY TICKET_GENERATION_TIME DESC, TICKET_ID DESC
   </select>

    <!-- SOP 리스트 조회 -->
     <select id="SELECT_SOP_INQUIRY_LIST" parameterType="java.util.HashMap" resultType="com.codej.base.dto.model.ResultMap">
     <include refid="TotalCountPrefix"/>   
        SELECT  SOP.SOP_ID ,
                SOP.TICKET_ID ,
                SOP.TICKET_TYPE ,
                CASE WHEN SOP.TICKET_TYPE = 'ATT2' THEN '이상 트래픽'
                WHEN SOP.TICKET_TYPE = 'NTT' THEN '유해 트래픽'
                WHEN SOP.TICKET_TYPE = 'NFTT' THEN '장비 과부하 장애'
                WHEN SOP.TICKET_TYPE = 'FTT' THEN '비장애'
                ELSE '장애' END AS TICKETTYPE,
                SOP.TICKET_RESULT ,
                SOP.STATUS ,
                SOP.REQUEST_TIME ,
                SOP.RECEIVE_TIME ,
                SOP.DETAIL ,
                SOP.fault_classify ,
                SOP.fault_type ,
                SOP.fault_detail_content ,
                SOP.etc_content ,
                SOP.ai_accuracy ,
                al.ROOT_CAUSE_SYSNAMEA ,
                al.ROOT_CAUSE_SYSNAMEZ ,
                al.ROOT_CAUSE_PORTA ,
                al.ROOT_CAUSE_PORTZ ,
                NODEA.IP_ADDR AS IP_ADDRA ,
                NODEZ.IP_ADDR AS IP_ADDRZ ,
                TC.ROOT_CAUSE_TYPE AS ROOT_CAUSE_TYPE ,
                TC.FAULT_TIME AS FAULT_TIME ,
                SOP.HANDLING_ACK_USER AS HANDLING_ACK_USER ,
                SOP.HANDLING_ACK_TIME AS HANDLING_ACK_TIME ,
                SOP.HANDLING_FIN_USER AS HANDLING_FIN_USER ,
                SOP.HANDLING_FIN_TIME AS HANDLING_FIN_TIME ,
                COUNT(1) over () totalCount
        FROM    ( SELECT ticket_id,
                        MAX(ticket_al_id) AS ticket_al_id
                FROM    rca.tb_rca_ticket_al_current tac
                WHERE   1=1
                <if test="TICKET_ID != null">
                AND     tac.TICKET_ID LIKE '%' || #{TICKET_ID} || '%'
                </if>
                <if test="START_DATE == null and END_DATE == null">
                AND     tac.insert_time <![CDATA[ > ]]> now() - INTERVAL '7' day
                </if>
                <if test="START_DATE != null">
                AND     tac.insert_time <![CDATA[ >= ]]> #{START_DATE}::TIMESTAMP
                </if>
                <if test="END_DATE != null">
                AND     tac.insert_time <![CDATA[ <= ]]> #{END_DATE}::TIMESTAMP
                </if>
                GROUP BY ticket_id ) AL_ID
        INNER JOIN rca.tb_rca_ticket_al_current AL ON AL.ticket_al_id = AL_ID.ticket_al_id
        INNER JOIN rca.tb_rca_ticket_current TC    ON AL_ID.ticket_id = TC.ticket_id
        INNER JOIN nia.tb_sop SOP                  ON SOP.ticket_id = AL_ID.ticket_id
        LEFT OUTER JOIN resource.tb_node_mst NODEA ON NODEA.node_id = AL.ROOT_CAUSE_SYSNAMEA
        LEFT OUTER JOIN resource.tb_node_mst NODEZ ON NODEZ.node_id = AL.ROOT_CAUSE_SYSNAMEZ
        WHERE 1=1
        <if test="TICKET_TYPE != null">
            AND TC.TICKET_TYPE IN (#{TICKET_TYPE})
        </if>
        <if test="ROOT_CAUSE_SYSNAMEA != null">
            AND al.ROOT_CAUSE_SYSNAMEA <![CDATA[ = ]]> #{ROOT_CAUSE_SYSNAMEA}
        </if>
        ORDER BY SOP.request_time DESC 
        <if test="OFFSET != null">
            OFFSET #{OFFSET}
        </if>
        <if test="LIMIT != null">
            LIMIT #{LIMIT}
        </if>
    <include refid="TotalCountSuffix"/>
    </select>

   <!-- <select id="SELECT_NIA_SYSLOG_LIST" parameterType="hashmap" resultType="hashmap">
    SELECT  sysDialog.alarmno,
            sysDialog.alarmtime,
            sysDialog.node_num,
            sysDialog.node_nm,
            sysDialog.alarmmsg,
            sysDialog.alarmlvl,
            sysDialog.etc,
            sysDialog.rule_id,
            sysDialog.alarmloc,
            CASE WHEN sysDialog.status = 'INIT' THEN '발생'
            WHEN sysDialog.status = 'FIN' THEN '마감'
            WHEN sysDialog.status = 'AUTO_FIN' THEN '자동 마감'
            ELSE '-'
            END AS status,
            nodea.ip_addr
    FROM    rca.tb_syslog_alarm_mst sysDialog
    LEFT OUTER JOIN resource.tb_node_mst nodea ON nodea.node_id = sysDialog.node_nm
    WHERE sysDialog.alarmtime <![CDATA[ > ]]> now() - INTERVAL '48' HOUR
    ORDER BY sysDialog.alarmno DESC
    </select> -->

</mapper>