<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.codej.nia.mapper.db2nd.NiaMapper">
    <sql id="TotalCountPrefix">
      <if test="TOTAL_COUNT != null">
         SELECT COUNT(*) AS "count" FROM (
      </if>
   </sql>
    
   <sql id="TotalCountSuffix">
   <if test="TOTAL_COUNT == null and sort_column_name != null and sort_type != null">
        ORDER BY ${sort_column_name} ${sort_type}
   </if>
   <if test="TOTAL_COUNT != null">
        ) TOTALCOUNT
   </if>
   <choose>
        <when test="TOTAL_COUNT != null and limit != null">
            LIMIT ${limit}
        </when>
        <when test="TOTAL_COUNT == null and page != null and limit != null">
            LIMIT ${limit} OFFSET ${(page - 1) * limit}
        </when>
        <when test="TOTAL_COUNT == null and page != null and limit == null">
            <!--  default 10으로 설정 -->
            LIMIT 10 OFFSET ${(page - 1) * limit}
        </when>
   </choose>
   </sql>
   
   <select id="SELECT_IP_ALARM_LIST" parameterType="java.util.HashMap" resultType="com.codej.base.dto.model.ResultMap">
        SELECT
            T.TICKET_ID AS TICKET_ID,
            T.CLUSTER_NO AS CLUSTER_NO,
            T.TICKET_TYPE AS TICKET_TYPE,
            T.TICKET_GENERATION_TIME AS TICKET_GENERATION_TIME,
            T.FAULT_TIME AS FAULT_TIME,
            T.ROOT_CAUSE_TYPE AS ROOT_CAUSE_TYPE,
            T.ROOT_CAUSE_CODE AS ROOT_CAUSE_CODE,
            T.ROOT_CAUSE_DOMAIN AS ROOT_CAUSE_DOMAIN,
            T.TOTAL_RELATED_ALARM_CNT AS TOTAL_RELATED_ALARM_CNT,
            T.STATUS AS STATUS,
            T.PARENT_TICKET_ID AS PARENT_TICKET_ID,
            T.TICKET_RCA_RESULT_CODE AS TICKET_RCA_RESULT_CODE,
            T.TICKET_RCA_RESULT_DTL_CODE AS TICKET_RCA_RESULT_DTL_CODE,
            T.TICKET_RCA_RESULT_ORIG_DTL_CODE AS TICKET_RCA_RESULT_ORIG_DTL_CODE,
            T.TICKET_UPDATE_TIME AS TICKET_UPDATE_TIME,
            T.ZERO1_MODEL AS ZERO1_MODEL,
            T.ZERO1_ENTROPY AS ZERO1_ENTROPY
        FROM rca.tb_rca_ticket_current T
        WHERE 1=1
            AND T.OCCUR = TRUE AND T.PARENT_TICKET_ID IS NULL
            AND ticket_generation_time <![CDATA[ > ]]>  now() - INTERVAL '48' HOUR
        ORDER BY ticket_generation_time DESC, ticket_id desc
   </select>

  

</mapper>