<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nia.ems.linkage.mapper.AlarmMapper">
    <insert id="insertAlarm" parameterType="com.nia.ems.linkage.vo.alarm.AlarmVo">

        INSERT INTO NIA.TB_ALARM_MST (ALARMNO, SYSNAME, EQUIPTYPE, UNIT, ALARMTIME, RECEIVETIME, ALARMLOC, ALARMMSG,
                                      ALARMLEVEL, LINE_NAME)
        SELECT (SELECT NEXTVAL('nia.seq_alarmno') ::VARCHAR),
               #{sysname},
               #{equiptype},
               #{unit},
               #{alarmtime}::TIMESTAMP, #{receivetime}::TIMESTAMP, #{alarmloc},
               #{alarmmsg},
               #{alarmlevel},
               #{lineName} WHERE NOT EXISTS (
            SELECT 1 FROM NIA.TB_ALARM_MST A
            WHERE A.SYSNAME = #{sysname} AND A.UNIT = #{unit} AND A.RECEIVETIME = #{receivetime} AND A.ALARMLOC = #{alarmloc} AND A.ALARMMSG = #{alarmmsg} AND A.ALARMLEVEL = #{alarmlevel} )
        ON CONFLICT (ALARMNO) DO NOTHING
    </insert>
</mapper>
