<md-dialog id="bypassRouteList" class="alarm-dialog" ng-cloak style="width: 860px; height:50%">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <i class="fa fa-check fa-lg"></i>
            <span class="title" ng-click="debugger()"> &nbsp; 자가구성 시험</span>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="dlgFunc.cancel()">
                <md-icon md-svg-src="img/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
            </md-button>
        </div>
    </md-toolbar>
    <form>
        <md-dialog-content>
            <div layout="column" class="alarmContents" style="overflow-y: hidden;">
                <md-card class="alarm-card">
                    <md-tabs md-border-bottom="" md-stretch-tabs md-selected="currentTab">
                        <md-tab label="우회 경로" md-on-select="changeTab1()" >
                            <div layout="row" md-theme="grey" layout-sm="column" ng-hide="isRcaProgressHide"
                                 layout-align="space-around" style="position: absolute; z-index: 200;margin: calc(45vh - 100px) 46%;">
                            </div>
                            <div layout="column" style="height: 100%;">
                                <table md-table class="tt-bypass-table ticket-bypass rca-md-table" md-progress="promise">
                                    <thead md-head >
                                    <tr md-row class="repeated-item">
                                        <th md-column md-column-size="150" class="pr-0">링크 아이디</th>
                                        <th md-column md-column-size="150" class="pr-0">발신 노드 이름</th>
                                        <th md-column md-column-size="150" class="pr-0">발신 노드 인터페이스</th>
                                        <th md-column md-column-size="150" class="pr-0">수신 노드 이름</th>
                                        <th md-column md-column-size="150" class="pr-0">수신 노드 인터페이스</th>
                                    </tr>
                                    </thead>
                                    <tbody id="bypass-tbody" md-body>
                                    <tr md-row class="repeated-item" ng-repeat="item in selectOptimalRouteList" >
                                        <td md-cell md-column-size="150" class="pr-0">{{item.link_id}}</td>
                                        <td md-cell md-column-size="150" class="pr-0">{{item.send_node_name}}<td>
                                        <td md-cell md-column-size="150" class="pr-0">{{item.send_interface_name}}</td>
                                        <td md-cell md-column-size="150" class="pr-0">{{item.receive_node_name}}</td>
                                        <td md-cell md-column-size="150" class="pr-0">{{item.receive_interface_name}}</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </md-tab>
                        <md-tab label="기존 경로" md-on-select="changeTab1()" >
                            <div layout="row" md-theme="grey" layout-sm="column" ng-hide="isRcaProgressHide"
                                 layout-align="space-around" style="position: absolute; z-index: 200;margin: calc(45vh - 100px) 46%;">
                            </div>
                            <div layout="column" style="height: 100%;">
                                <table md-table class="tt-bypass-table ticket-bypass rca-md-table" md-progress="promise">
                                    <thead md-head >
                                    <tr md-row class="repeated-item">
                                        <th md-column md-column-size="150" class="pr-0">링크 아이디</th>
                                        <th md-column md-column-size="150" class="pr-0">발신 노드 이름</th>
                                        <th md-column md-column-size="150" class="pr-0">발신 노드 인터페이스</th>
                                        <th md-column md-column-size="150" class="pr-0">수신 노드 이름</th>
                                        <th md-column md-column-size="150" class="pr-0">수신 노드 인터페이스</th>
                                    </tr>
                                    </thead>
                                    <tbody id="bypass-tbody" md-body>
                                    <tr md-row class="repeated-item" ng-repeat="item in selectRouteAllList.current_paths" >
                                        <td md-cell md-column-size="150" class="pr-0">{{item.link_id}}</td>
                                        <td md-cell md-column-size="150" class="pr-0">{{item.send_node_name}}<td>
                                        <td md-cell md-column-size="150" class="pr-0">{{item.send_interface_name}}</td>
                                        <td md-cell md-column-size="150" class="pr-0">{{item.receive_node_name}}</td>
                                        <td md-cell md-column-size="150" class="pr-0">{{item.receive_interface_name}}</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </md-tab>
                    </md-tabs>
                </md-card>
            </div>
        </md-dialog-content>
    </form>
    <div layout="row" class="modalFooter">
        <span flex></span>
        <md-button class="md-raised base-btn-2 nia-dark-button" ng-click="openOptimalRouteCount()">전체보기</md-button>
        <md-button class="md-raised base-btn-2 nia-dark-button" ng-click="openOptimalRouteSetting()">이력조회</md-button>
        <md-button class="md-raised base-btn-2 nia-dark-button" ng-click="applyBypassRoute()">적용</md-button>
        <md-button class="md-raised dialog-btn base-btn-2 black-btn" ng-click="dlgFunc.cancel()">닫기</md-button>
    </div>
</md-dialog>

