<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nia.rca.test.simulator.mapper.RcaResetMapper">

    <delete id="deleteTicket">
        DELETE FROM RCA.TB_RCA_TICKET_CURRENT
    </delete>

    <delete id="deleteTicketAl">
        DELETE FROM RCA.TB_RCA_TICKET_AL_CURRENT
    </delete>

    <delete id="deleteTicketCable">
        DELETE FROM RCA.TB_RCA_TICKET_CABLE_MST
    </delete>

    <delete id="deleteOpticalPerformance">
        DELETE FROM RCA.TB_ROADM_OPTICAL_PERFORMANCE
    </delete>

    <delete id="deleteAlarmTopology">
		DELETE FROM RCA.TB_CLUSTER_AL_TOPOLOGY
	</delete>
</mapper>


