<md-dialog>
    <form name="actionArea" ng-cloak>
        <md-dialog-content>
            <md-toolbar>
                <div class="md-toolbar-tools">
                    <i class="fa fa-cog fa-lg"></i>
                    <span class="title"> &nbsp; 조치사항 입력</span>
                    <span flex></span>
                    <md-button class="md-icon-button" ng-click="dlgFunc.cancel()">
                        <md-icon md-svg-src="img/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
                    </md-button>
                </div>
            </md-toolbar>
            <div layout="column" class="fixContents">
                <div class="measure-check">
                        <span class="sub-title">고장 조치 확인</span>
                        <md-input-container class="md-block" md-no-float="" flex-gt-xs="95">
                            <input id="el3" name="action" ng-model="actionDetail" md-maxlength="120" rows="5" md-select-on-focus="" placeholder="케이블 교체 후 서비스 정상 확인"  ng-change="changeClearMargin('el3','btn3')" ng-model-options="{debounce:100}" clear-btn required>
                            <div ng-messages="actionArea.action.$error">
                                <div ng-message="required">조치사항을 입력하십시오.</div>
                            </div>
                        </md-input-container>
                </div>
            </div>
            <div layout="row" class="modalFooter">
                <span flex></span>
                <md-button class="md-raised dialog-btn base-btn-2" ng-click="dlgFunc.result(actionDetail)">확인</md-button>
                <md-button class="md-raised dialog-btn base-btn-2" ng-click="dlgFunc.cancel()">닫기</md-button>
            </div>
        </md-dialog-content>
    </form>
</md-dialog>

