<?xml version="1.0" encoding="UTF-8"?>

<configuration>
	<include resource="org/springframework/boot/logging/logback/defaults.xml" />
	<include resource="org/springframework/boot/logging/logback/base.xml"/>
    <property name="APP_NAME" value="app-ipms"/>
	<appender name="infoLog"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<prudent>true</prudent>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>../logs/${APP_NAME}_info.%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>30</maxHistory>
            <totalSizeCap>3GB</totalSizeCap>
        </rollingPolicy>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>DEBUG</level>
        </filter>

        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level --- [%thread] %logger{35} : %msg %n</pattern>
        </encoder>
    </appender>

    <appender name="errorLog"
        class="ch.qos.logback.core.rolling.RollingFileAppender">
        <prudent>true</prudent>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>../logs/${APP_NAME}_error.%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>30</maxHistory>
            <totalSizeCap>3GB</totalSizeCap>
        </rollingPolicy>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>ERROR</level>
        </filter>

        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level --- [%thread] %logger{35} : %msg %n</pattern>
        </encoder>
    </appender>

    <logger name="org.springframework" level="INFO"/>
    <logger name="com.codej.base" level="DEBUG"/>
    <logger name="com.codej.web" level="DEBUG"/>
    <logger name="com.codej.web.Intercepts" level="DEBUG"/>
    <logger name="com.codej.web.domain.common" level="DEBUG"/>
    <logger name="com.kt.ipms" level="DEBUG"/>

    <!-- 
    <logger name="jdbc" level="OFF"/>
    <logger name="jdbc.sqlonly" level="INFO" additivity="false"/>
	<logger name="jdbc.resultsettable" level="INFO" additivity="false"/> 
    -->

    <root level="WARN">
        <appender-ref ref="infoLog"/>
    </root>

    <root level="ERROR">
        <appender-ref ref="errorLog"/>
    </root>

</configuration>
