<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nia.ip.sdn.linkage.mapper.linkage.LinkageLinkTrafficeMapper">

    <select id="selectMaxId" resultType="com.nia.ip.sdn.linkage.vo.LinkTrafficVo">
        SELECT MAX(ID) AS ID FROM optroute.linktraffic
    </select>

    <select id="selectLinkTrafficVoList" resultType="com.nia.ip.sdn.linkage.vo.LinkTrafficVo" parameterType="int">
        SELECT ID, If_Id, txBitRate, rxBitRate, txPktRate, rxPktRate, MeasuredDateTime
          FROM optroute.linktraffic
         WHERE ID <![CDATA[ > ]]> #{id}
         ORDER BY ID
    </select>
</mapper>


