<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nia.ip.sdn.linkage.mapper.nia.NiaLinkMapper">

    <insert id="insertLinkYd" parameterType="java.util.HashMap">
        <if test="linkVoList.size != 0">
            INSERT INTO IP_SDN.TB_LINK_YD
            (
                ID, SIF_ID, RIF_ID, OSPF_METRIC, USAGED
            )
            VALUES
            <foreach collection="linkVoList" item="item" separator=",">
            (
                #{item.id}, #{item.sifId}, #{item.rifId}, #{item.ospfMetric}, #{item.usaged}
            )
            </foreach>
        </if>
    </insert>
<!--             , VSIF_ID , SPEED , LATENCYSTD , ACTIVESTANDBY, #{item.vsifId} , #{item.speed} , #{item.latencystd} , #{item.activeStandby}
insertLinkYd 에서 제거한 컬럼-->

    <insert id="insertLink">
        INSERT INTO IP_SDN.TB_LINK
        SELECT * FROM IP_SDN.TB_LINK_YD
    </insert>

    <delete id="deleteLinkYd">
        TRUNCATE TABLE IP_SDN.TB_LINK_YD
    </delete>

    <delete id="deleteLink">
        TRUNCATE TABLE IP_SDN.TB_LINK
    </delete>

</mapper>


