<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nia.ip.sdn.linkage.mapper.nia.NiaNodeMapper">

    <insert id="insertNodeYd" parameterType="java.util.HashMap">
        <if test="nodeVoList.size != 0">
            INSERT INTO IP_SDN.TB_NODE_YD
            (
                ID, NODE_NAME, LOOP_BACK_ADDR, MGMT_ADDR
            )
            VALUES
            <foreach collection="nodeVoList" item="item" separator=",">
            (
                #{item.id}, #{item.nodeName}, #{item.loopBackAddr}, #{item.mgmtAddr}
            )
            </foreach>
        </if>
    </insert>

    <insert id="insertNode">
        INSERT INTO IP_SDN.TB_NODE
        SELECT * FROM IP_SDN.TB_NODE_YD
    </insert>

    <!-- 신규 AIB 이상트래픽 TCA 발행을 위한 테이블에 최신 노드정보 추가 -->
    <insert id="insertAttAiTcaModel">
        INSERT INTO NIA.TB_ATT_AI_TCA_MODEL
            (NODE_NUM, IF_NUM)
        SELECT A.NODE_NUM NODE_NUM, C.IF_NUM IF_NUM
        FROM RESOURCE.TB_NODE_MST A
        INNER JOIN (
            SELECT LOWER(NODE_NAME) NODE_ID
            FROM IP_SDN.TB_NODE
        ) B ON A.NODE_ID = B.NODE_ID
        INNER JOIN RESOURCE.TB_PORT_MST C ON A.NODE_NUM = C.NODE_NUM
    </insert>

    <delete id="deleteNodeYd">
        TRUNCATE TABLE IP_SDN.TB_NODE_YD
    </delete>

    <delete id="deleteNode">
        TRUNCATE TABLE IP_SDN.TB_NODE
    </delete>

    <delete id="deleteAttAiTcaModel">
        TRUNCATE TABLE NIA.TB_ATT_AI_TCA_MODEL
    </delete>
</mapper>


