<md-dialog class="profile-recovery-detail-dialog" ng-cloak>
    <md-toolbar>
        <div class="md-toolbar-tools">
            <i class="fa fa-check fa-lg"></i>
            <span class="title" ng-click="debugger()">&nbsp;미확인 트래픽 상세보기</span>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="dlgFunc.cancel()">
                <md-icon md-svg-src="img/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
            </md-button>
        </div>
    </md-toolbar>
    <form>
        <md-dialog-content>
            <div class="profile-recovery-detail-dialog-content">
                <table class="profile-detail-table">
                    <tr>
                        <td class="userInfoKind">국가명</td>
                        <td colspan="3">
                            <md-input-container class="input-container profile-title-container ml-3 mt-0">
                                <input class="profile-title" type="text" ng-model="recoveryData.profileTitle" clear-btn/>
                            </md-input-container>
                        </td>
                        <td class="userInfoKind">AS번호</td>
                        <td colspan="3">
                            <md-input-container class="input-container profile-title-container ml-3 mt-0">
                                <input class="profile-title" type="text" ng-model="recoveryData.profileTitle" clear-btn/>
                            </md-input-container>
                        </td>
                    </tr>
                    <!-- <md-table-pagination class="mt-2" md-limit="historyPagingTable.limit"
                                                 md-limit-options="[30,50,100,200]" md-page="historyPagingTable.selected"
                                                 md-total="{{selectRecoveryList[0].ProFileRecoveryTotalCount || 0}}" md-page-select="true" md-boundary-links="true">
                    </md-table-pagination> -->
                </table>
            </div>
            <div class="modalFooter">
                <md-button class="md-raised base-btn-2 nia-dark-button" ng-click="trafficSave()">저장</md-button>
                <md-button class="md-raised base-btn-2 nia-dark-button" ng-click="trafficUpdate()">수정</md-button>
                <md-button class="md-raised base-btn-2 nia-dark-button" ng-click="trafficDelete()">삭제</md-button>
                <md-button class="md-raised dialog-btn base-btn-2 black-btn" ng-click="dlgFunc.cancel()">닫기</md-button>
            </div>
        </md-dialog-content>
    </form>
</md-dialog>
