<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.go.ap.core.repository.primary.mapper.common.CommonMapper">

    <update id="updateLinkageYdKey" parameterType="hashMap">
        UPDATE NIA.TB_LINKAGE_SEQ
           SET VALUE_NAME = TO_CHAR(now(), 'YYYY-MM-DD HH24:MI:SS.MS +0900')
             , YD_DATE = now()
         WHERE KEY_NAME = #{key}
    </update>
</mapper>
