div.show-debug-bg div.self-configuration-container{
    background-image: url(../../../../images/nia/ai_1.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 1300px;
}

div.self-configuration-container div.working-order-area-ch {
    position: absolute;
    width: 750px;
    height: 700px;
    margin: 80px 0 0 200px;
    padding-top:20px;
    /*transition: margin 1.5s ease;*/
}
div.self-configuration-container div.working-order-area-ch.second-map{
    margin: 80px 0 0 1000px;
}
div.self-configuration-container div.working-order-area-ch.overlap{
    margin-left: 130px;
}
div.self-configuration-container div.working-order-area-ch.second-map.overlap{
    margin-left: 280px;
}

div.self-configuration-container img.working-order-img{
    width: 420px;
    transform: translateX(-50%);
    margin: 30px 0 0 223px;
}
div.self-configuration-container img.working-order-map-img{
    position: absolute;
    margin: -290px 0 0 51px;
    width: 335px;
}

div.self-configuration-container div.worker-area-ch {
    position: absolute;
    margin: 80px auto auto 200px;
    /*animation: myChange 1.5s;*/
    width:1000px;
    height:700px;
}


div.self-configuration-container div.first-content{
    position: absolute;
    width: 600px;
    height: 250px;
    top: 55px;
    left: 70px;
}
div.self-configuration-container div.second-content{
    position: absolute;
    width: 600px;
    height: 200px;
    top: 350px;
    left: 70px;
}



