@import './variables.scss';
@import './mixin.scss';
@import './transition.scss';
@import './element-ui.scss';
@import './bootstrap.scss';
@import './font-NanumSquare.scss';
@import './font-SUIT.scss';
@import '../assets/fonts/SUIT/SUIT.css';

@import './dataHub.scss';
@import './nia.scss';
@import './modal.scss';
@import './aggrid-theme.scss';

// @import url(https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@1.0/nanumsquare.css);
@import '../assets/fonts/NanumSquare/nanumsquare.css';

body {
  height: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif;
}

h1,h2,h3,h4,h5,h6 {
  margin: 0.4em;
}

label {
  font-weight: 700;
}

.noselect, li.noselect > * {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

html {
  height: 100%;
  box-sizing: border-box;
}

#app {
  height: 100vh; overflow: hidden;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.no-padding {
  padding: 0px !important;
}

.padding-content {
  padding: 4px 0;
}

a:focus,
a:active {
  outline: none;
}

a,
a:focus,
a:hover {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

div:focus {
  outline: none;
}

.fr {
  float: right;
}

.fl {
  float: left;
}

.pr-5 {
  padding-right: 5px;
}

.pl-5 {
  padding-left: 5px;
}

.block {
  display: block;
}

.pointer {
  cursor: pointer;
}

.inlineBlock {
  display: block;
}

.clearfix {
  &:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }
}

aside {
  //background: #eef1f6;
  padding: 8px 24px;
  margin-bottom: 20px;
  border-radius: 2px;
  display: block;
  line-height: 32px;
  font-size: 16px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  color: #2c3e50;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  a {
    color: #337ab7;
    cursor: pointer;

    &:hover {
      color: rgb(32, 160, 255);
    }
  }
}

.el-form-item {
  margin-bottom: 10px;
}

.app-container {
  padding: 20px;
}

.components-container {
  margin: 30px 50px;
  position: relative;
}

.pagination-container {
  margin-top: 10px;
}

.el-pagination.is-background .btn-prev,
.el-pagination.is-background .btn-next,
.el-pagination.is-background .el-pager li {
  border-radius: 50% !important;
  background-color: transparent;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

.sub-navbar {
  height: 50px;
  line-height: 50px;
  position: relative;
  width: 100%;
  text-align: right;
  padding-right: 20px;
  transition: 600ms ease position;
  background: linear-gradient(90deg, rgba(32, 182, 249, 1) 0%, rgba(32, 182, 249, 1) 0%, rgba(33, 120, 241, 1) 100%, rgba(33, 120, 241, 1) 100%);

  .subtitle {
    font-size: 20px;
    color: #fff;
  }

  &.draft {
    background: #d0d0d0;
  }

  &.deleted {
    background: #d0d0d0;
  }
 
}

.link-type,
.link-type:focus {
  color: #337ab7;
  cursor: pointer;

  &:hover {
    color: rgb(32, 160, 255);
  }
}

.filter-container {
  padding-bottom: 10px;

  .filter-item {
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 10px;
  }
}

//refine vue-multiselect plugin
.multiselect {
  line-height: 16px;
}

.multiselect--active {
  z-index: 1000 !important;
}

// ****************************************
// customize
// ****************************************

// table-ellipsis
.table-ellipsis td > div {
  overflow: hidden !important;
  text-overflow: ellipsis !important;
  white-space: nowrap !important;
}

// table border-hide 
.border-hide.el-table,
.border-hide.el-table table,
.border-hide.el-table > .el-table__header-wrapper,
.border-hide.el-table > .el-table__border-wrapper
{
  border: none !important;
}

.border-hide.el-table thead > tr > th,
.border-hide.el-table tr > td{
  border-top: none !important;
  border-right: none !important;
  border-left: none !important;
  border-bottom: 1px solid #dfe6ec !important;
}
.border-hide.el-table::after {
  top: 0;
  right: 0;
  width: 0;
}

.text-error {
  color: #ff4949;
}

.ellipsis{
  text-overflow:ellipsis;
  white-space:nowrap;
  word-wrap:normal;
  width:100%;
  overflow:hidden;
}

.nowrap {
  white-space:nowrap
}
  
.pointer {
  cursor: pointer;
}

::-webkit-scrollbar-thumb{
  border-radius: 10px;
  background-color: #9d9d9d;
  border: 7px solid rgba(0, 0, 0, 0.0);
  box-shadow: inset -1px -1px 0px rgba(0, 0, 0, 0.05), inset 1px 1px 0px rgba(0, 0, 0, 0.05);
  background-clip: padding-box;
  height: 40px;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
} /* 스크롤 바 */

::-webkit-scrollbar-track { background-color:#bdbcbc2e; border-radius: 10px; } /* 스크롤 바 밑의 배경 */

::-webkit-scrollbar-thumb { background: #bdbcbc; } /* 실질적 스크롤 바 */

::-webkit-scrollbar-thumb:hover { background: #969696; } /* 실질적 스크롤 바 위에 마우스를 올려다 둘 때 */

::-webkit-scrollbar-thumb:active { background: #969696; } /* 실질적 스크롤 바를 클릭할 때 */

.rms {
  ::-webkit-scrollbar-thumb{
    border-radius: 10px;
    background-color: #9d9d9d;
    border: 7px solid rgba(0, 0, 0, 0.0);
    box-shadow: inset -1px -1px 0px rgba(0, 0, 0, 0.05), inset 1px 1px 0px rgba(0, 0, 0, 0.05);
    background-clip: padding-box;
    height: 40px;
  }
  
  ::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  } /* 스크롤 바 */
  
  ::-webkit-scrollbar-track { background-color:#bdbcbc2e; border-radius: 10px; } /* 스크롤 바 밑의 배경 */
  
  ::-webkit-scrollbar-thumb { background: #0e4194; } /* 실질적 스크롤 바 */
  
  ::-webkit-scrollbar-thumb:hover { background: #0e4194; } /* 실질적 스크롤 바 위에 마우스를 올려다 둘 때 */
  
  ::-webkit-scrollbar-thumb:active { background: #0e4194; } /* 실질적 스크롤 바를 클릭할 때 */
}

// loading
// [v-cloak]::before {
//   content: '로딩중...'
// }
// [v-cloak] > * {
//   display:none;
// }


div.filterMenu {
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: inline-block;
    font-size: 13px;
    color: #304156de;
    font-weight: 600;
  }

  ul.filterIcon{
    li.checkItem{
      text-indent: 1px;
      padding-left:1px;
      cursor: pointer;
      display:inline-block;

      span {
        padding-left: 2px;
      }
      
    }
    li {
      .el-checkbox {
        background: #5f606352;
        padding: 1px 5px 0px 5px;
        // border-radius: 10px;
      }
      .el-checkbox__label{
        font-family: 'NanumSquare';
        font-weight: 900;
        font-size: 13px;
        padding-left: 5px;
      }
    }
  } 

  ul.filterBtn{
    li.checkItem{
      margin: 1px;
      text-indent: 1px;
      cursor: pointer;
      display: inline-flex;
      border-radius: 10px;
      padding: 0px 3px;
      font-weight: bold;
      transition: all 0.3s;
      font-size: 11px;
      border: 1px solid #DCDFE6;
    }

    li.checked {
      background-color: #304156c7;
      color: white;
    }
  }
}

.theme-dark .OasisNavbar {
  .el-radio-button__orig-radio:checked + .el-radio-button__inner {
    color: #FFFFFF;
    background-color: #3b3a3a;
    border-color: #3b3a3a;
    box-shadow: -1px 0 0 0 #3b3a3a;
  }

  .el-radio-button__inner:hover {
    color: #3b3a3a;
    transition: all 0.5s;
    background-color: #3b3a3a24;
  }

  input,
  .el-date-editor {
    background-color: #3b3a3a;
    color: #f0f0f0 !important;
  }

  .el-date-editor .el-range-separator {
    color: #f0f0f0 !important;
  }
}