#ipms {
  .el-row:first-child {
    padding-left: 3rem;
    padding-right: 3rem;
    div.el-col {
      .compTable {
        height: 100%;
        padding-top: 10px;
      }
    }
  }
  #container.main {
    height: 100%;
    padding: 0px 50px;
    background: whitesmoke;
    .container_inner {
      min-height: 495px;
      .el-tabs__header {
        border-radius: 20px;
        .el-tabs__nav-wrap {
          background: #ebebeb;
          border-radius: 20px;
          .is-active {
            border: solid 2px #ec161f;
            border-radius: 20px;
            background: #fff;
            color: #000;
          }
        }
      }
    }
    .search_result {
      position: relative;
      width: 100%;
      height: 100px;
      // border-bottom: 2px solid #cbcbcb;
      fieldset {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        .el-select {
          .el-input__inner {
            height: 45px;
            border-radius: 30px;
            font-size: 14px;
            padding: 0px 20px;
          }
          .el-select__caret {
            line-height: 45px;
          }
        }
        .el-button {
          width: 100px;
          height: 45px;
          font-size: 14px;
          border-radius: 30px;
          font-weight: 600;
          color: #fff;
          background-color: #ed1c23;
        }
      }

      span {
        display: inline-block;
        vertical-align: top;
        > {
          .txt.el-input {
            input {
              width: 500px;
              height: 45px;
              padding: 0px 20px;
              font-size: 14px;
              line-height: 34px;
              margin-right: 5px;
              border-radius: 30px;
              border: 1px solid #666;
            }
            .el-input__suffix {
              width: 30px;
              line-height: 45px;
              height: 100%;
              .el-input__clear {
                font-size: 15px;
              }
            }
            
          }
          p {
            margin-top: 5px;
            padding-left: 10px;
            text-align: left;
            font-size: 0.917em;
            color: #e0e0e0;
            background: url('../assets/images/ipms/common/bul_star_search.gif') 0 4px no-repeat;
            > em {
              color: #ccc;
            }
          }
          textarea {
            position: absolute;
            top: 0;
            left: 0;
            width: 460px;
            padding: 5px 8px;
            border: 1px solid #666;
            z-index: 20;
          }
        }
      }
    }
  }
  #content {
    margin-bottom: 0.5em;
    &.main {
      .notice {
        position: relative;
        float: left;
        width: 100%;
        padding-bottom: 10px;
        background: url('../assets/images/ipms/common/line_dotted01.gif') 0 bottom repeat-x;
        h3 {
          float: left;
          margin-right: 48px;
        }
        ul {
          &.noti_list {
            float: left;
            display: inline;
            width: 1000px;

            > li {
              float: left;
              display: inline;
              line-height: 20px;
              padding-right: 20px;

              &.tit {
                width: 824px;
                font-weight: bold;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
              }
              &.content {
                width: 450px;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
              }
              > em {
                color: #808080;
              }
            }
          }
          &.noti_btn {
            float: left;
            display: inline;
            width: 72px;

            > li {
              float: left;
              display: inline;
              line-height: 1.3em;
              padding-right: 10px;

              &.last {
                padding-right: 0;
              }
            }
          }
        }
      }
      table.tbl_list {
        tbody {
          th {
            &.first {
              border-left: none;
            }

            padding: 3px;
            line-height: 1.34em;
            color: #333;
            background: #faf5f5;
            border-left: 1px solid #d9d9d9;
            border-bottom: 1px solid #d9d9d9;
            text-align: center;
          }

          tr {
            &.last th {
              border-bottom: 1px solid #666;
            }

            &.subbg th {
              background: #faeaea;
            }
          }
        }
        &.ipinfo tbody th {
          background: #fffbe5;
        }
      }
    }
    div.tabmenu {
      position: relative;
      float: left;
      display: inline-block;
      width: 100%;
      .tab li {
        width: 24.9%;
      }
    }
  }
  body {
    font-size: 0.75em;
    font-family: '맑은고딕', malgun Gothic, '돋움', Dotum, '굴림', Gulim, Arial, 'Trebuchet MS', Verdana, 'Sans-serif';
    color: #434343;
    background: #fff;
  }
  img {
    border: 0;
    vertical-align: middle;
  }
  area {
    cursor: pointer;
  }
  .el-button--primary {
    background: #3a3a3a;
    color: #fff;
  }
  button {
    overflow: visible;
    background: 0;
    vertical-align: middle;
    cursor: pointer;
    outline: none;
  }
  .searchBtnGroup {
    button {
      background-color: #3a3a3a;
      color: white;
    }
    .export-excel {
      color: #3a3a3a;
      background-color: white;
      border: solid 1px #3a3a3a;
    }
  }
  

  dl,
  dt,
  dd,
  ul,
  ol,
  li {
    list-style: none;
  }
  em,
  i,
  address {
    font-style: normal;
  }
  sub {
    vertical-align: 0;
  }
  sup {
    vertical-align: 2px;
  }

  a {
    color: #434343;
    text-decoration: none;
    outline: none;

    &:link,
    &:visited {
      color: #434343;
      text-decoration: none;
      outline: none;
    }

    &:hover,
    &:active {
      color: #434343;
      text-decoration: none;
    }
  }

  legend,
  caption {
    overflow: hidden;
    width: 0;
    height: 0;
    font-size: 0;
    line-height: 0;
    visibility: hidden;
  }

  form,
  fieldset,
  legend {
    border: 0;
  }

  textarea {
    width: 100%;
    display: inline-block;
    line-height: 16px;
    padding: 2px 4px;
    font-size: 12px;
    border: #ccc solid 1px;
    outline: none;
    resize: none;

    &.view {
      padding: 0 !important;
      background: transparent;
      border: none !important;
    }
  }

  select {
    display: inline-block;
    width: 100%;
    height: 22px;
    border: #ccc solid 1px;
    outline: none;

    &[disabled] {
      color: #808080;
      background: #eee;
    }
  }
  /*.selectbox { display:inline-block; height:20px;.margin-top:1px; padding:2px 2px 2px 5px; border:#CCC solid 1px; font-size:1em; line-height:1.5em; vertical-align:middle; background: #FFF url("../assets/images/ipms/common/ic_down.gif") right 0 no-repeat; }*/
  .check {
    height: 12px;
    width: 12px;
    vertical-align: middle;
  }
  .cursor {
    cursor: pointer;
  }
  /* ---------- input type---------- */
  input {
    &.txt {
      display: inline-block;
      height: 21px;
      line-height: 21px;
      padding: 2px 4px;
      border: #ccc solid 1px;
      color: #434343;
      font-size: 1em;
      vertical-align: middle;
    }

    &:focus.txt {
      border: 1px solid #cc2929 !important;
    }

    &.txt.right {
      text-align: right;
    }

    &[type='text'],
    &[type='password'] {
      outline-color: #cc2929;
    }

    &[type='radio'],
    &[type='checkbox'],
    &[type='image'] {
      outline: none;
    }

    &[disabled] {
      background: #eee;
      color: #808080;
    }

    &::-webkit-input-placeholder {
      color: #999 !important;
    }
    &:-moz-placeholder {
      /*Firefox 4-18*/

      color: #999 !important;
    }

    &::-moz-placeholder {
      /*Firefox 19+*/

      color: #999 !important;
    }

    &:-ms-input-placeholder {
      /*IE 10+*/

      color: #999 !important;
    }
  }

  .ime {
    ime-mode: disabled !important;
  }

  .moz_pe5 {
    -moz-padding-end: 5px !important;
  }
  radio,
  .radio {
    height: 12px;
    width: 12px;
    vertical-align: -2px;
  }
  /* ---------- common class ---------- */

  .fl {
    float: left !important;
  }

  .fr {
    float: right !important;
  }

  .inline {
    display: inline !important;
  }

  .inline-block {
    display: inline-block !important;
  }

  .none {
    display: none !important;
  }

  .bt_none {
    border-top: none !important;
  }

  .hide {
    display: block;
    overflow: hidden;
    position: absolute;
    top: -9999px;
    left: -9999px;
    height: 0;
    font-size: 0;
    line-height: 0;
    visibility: hidden;
  }

  .clearfix:after {
    content: ' ';
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
    font-size: 0;
    line-height: 0;
  }

  .txtblue {
    color: #0072bc !important;
  }

  .txtred {
    color: #cc2929 !important;
  }

  .txtgreen {
    color: #008040 !important;
  }

  .txtgr {
    color: #808080 !important;
  }

  .uline {
    text-decoration: underline;
  }

  .ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .mail a {
    text-decoration: underline;
    color: #0072bc !important;
  }

  /* ---------- text align ---------- */

  .txt_c {
    text-align: center !important;
  }

  .txt_r {
    text-align: right !important;
  }

  .txt_l {
    text-align: left !important;
  }

  /* ---------- skip navigation ---------- */

  #skipnavi {
    position: absolute;
    z-index: 10000;
    width: 100%;
    text-align: center;

    a {
      display: block;
      overflow: hidden;
      width: 1px;
      height: 1px;
      margin-bottom: -1px;
      text-align: center;
      color: #fff;
      white-space: nowrap;

      &:focus,
      &:active {
        width: auto;
        height: auto;
        padding: 5px;
        background: #000;
      }
    }
  }

  #return_top {
    position: relative;

    a {
      display: block;
      overflow: hidden;
      height: 1px;
      width: 1px;
      margin-bottom: -1px;
      text-align: center;
      color: #fff;
      white-space: nowrap;

      &:focus,
      &:active {
        width: auto;
        height: auto;
        margin-bottom: 10px;
        padding: 5px;
        background: #000;
      }
    }
  }

  .quick_arrow {
    position: absolute;
    float: right;
    right: -30px;
    top: 50%;
    z-index: 50;
  }

  /* ---------- layout ---------- */

  #header,
  #container,
  #footer {
    position: relative;
    z-index: 1;
  }

  #header {
    position: relative;
    width: 100%;
    height: 52px;
    background: #fff url('../assets/images/ipms/common/bg_header.gif') 0 top repeat-x;
    z-index: 20;

    .header_above {
      display: flex;
      z-index: 20;
      width: 100%;
      height: 52px;
      justify-content: space-around;

      &:after {
        content: '.';
        display: block;
        clear: both;
        visibility: hidden;
        height: 0;
      }

      h1 {
        display: inline-block;
        z-index: 20;

        img {
          padding: 11px 0;
        }
      }
      ul.utill_menu {
        display: flex;
        align-items: center;
        li {
          position: relative;
          float: left;
          line-height: 2.8em;

          &.setting {
            line-height: 1em;
            padding-top: 18px;
          }

          &.last {
            padding-right: 0;
          }

          > {
            input.util_search {
              height: 22px;
              padding: 0 22px 0 5px;
              border: 1px solid #808080;
            }

            a > input.sc_btn {
              position: absolute;
              top: 14px;
              right: 1px;
            }

            div {
              &.font_control {
                overflow: hidden;
              }

              &.help_menu {
                display: none;
              }
            }
          }

          &.on > div.help_menu {
            position: absolute;
            display: block;
            top: 40px;
            left: -15px;
            width: 90px;
            margin: 0 auto;
            padding-top: 12px;
            background: url(../assets/images/ipms/common/bg_help_top.png) 0 0 no-repeat;
            z-index: 999;

            > ul {
              padding-bottom: 5px;
              background: url(../assets/images/ipms/common/bg_help_bottom.png) 0 bottom no-repeat;

              > li {
                display: block;
                float: none;
                padding: 0 12px 12px;
                font-size: 1.2em;
                line-height: 1.2em;
                background-color: #fff;
                border-left: 3px solid #555;
                border-right: 3px solid #555;

                &.first {
                  padding-top: 10px;
                }

                > a {
                  color: #666;

                  &:visited {
                    color: #666;
                  }

                  &:hover,
                  &:active {
                    color: #e54545;
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  #gnb {
    position: relative;
    float: left;
    height: 52px;
    margin-left: 20px;
    z-index: 999;

    &:after {
      content: '.';
      display: block;
      height: 0;
      clear: both;
      visibility: hidden;
    }

    ul.gnb_menu {

      > li {
        position: relative;
        display: inline;
        float: left;
        padding: 12px 20px;

        > span {
          cursor: pointer;
          color: #111;
          font-size: 1.3em;
          white-space: nowrap;

          &:visited {
            color: #111;
            font-size: 1.3em;
            white-space: nowrap;
          }

          &:hover,
          &:active {
            color: #cc2929;
          }
        }

        &.on {
          > span {
            color: #cc2929;
          }

          > div.gnb_sub {
            position: absolute;
            display: block;
            top: 45px;
            margin: 0 auto;
            padding: 15px 0 5px;
            background-color: #fff;
            border-top: 5px solid #cc2929;
            border-left: 1px solid #999;
            border-right: 1px solid #999;
            border-bottom: 2px solid #666;
            z-index: 999;

            &.menu0 {
              left: 12px;
              width: 148px;
            }

            &.menu1 {
              left: 0px;
              width: 145px;
            }

            &.menu2 {
              left: -7px;
              width: 146px;
            }

            &.menu3 {
              left: -15px;
              width: 230px;
            }

            &.menu4 {
              left: -26px;
              width: 190px;
            }
            
            &.menu5 {
              left: -12px;
              width: 195px;
            }

            &.menu6 {
              left: -110px;
              width: 375px;
              height: 530px;
              display: flex;
              flex-wrap: wrap;
              flex-direction: column;
              overflow: hidden;
              word-break: break-all;
            }
            dl.no-child {
              font-weight: bold;
              font-size: 1em;
              margin-bottom: 15px;
            }
            > dl {
              display: inline-block;
              padding: 0 15px;
              vertical-align: top;

              > a:hover {
                color: #e54545;
              }
              
              > {
                dt {
                  margin-bottom: 5px;
                  color: #000;
                  font-weight: bold;
                  font-size: 1em;
                  line-height: 1.2em;



                  // &.nochild {
                  //   margin-bottom: 15px;
                  // }
                  > a {
                    color: #111;
                    &:visited {
                      color: #111;
                    }
                    &:hover {
                      color: #e54545;
                    }
                  }
                }
                dd {
                  margin-bottom: 15px;
                  > ul > li {
                    display: block;
                    float: none;
                    line-height: 1em;
                    padding: 3px 0;
                    > a {
                      padding-left: 10px;
                      font-size: 1em;
                      color: #434343;
                      background: url(../assets/images/ipms/common/bul_li_off.gif) 0 7px no-repeat;
                      background-position: 0 8px (\0 / IE9) (+ IE10);

                      &:visited {
                        padding-left: 10px;
                        font-size: 1em;
                        color: #434343;
                        background: url(../assets/images/ipms/common/bul_li_off.gif) 0 7px no-repeat;
                        background-position: 0 8px (\0 / IE9) (+ IE10);
                      }

                      &:hover,
                      &:active {
                        color: #e54545;
                        background: url(../assets/images/ipms/common/bul_li_on.gif) 0 7px no-repeat;
                        background-position: 0 8px (\0 / IE9) (+ IE10);
                      }
                    }
                  }
                }
              }
            }
          }
        }
        > div.gnb_sub {
          display: none;
        }
      }
    }
  }
  #container {
    position: relative;
    padding: 0;
    background-color: #fff;
    z-index: 5;

    .container_inner {
      width: 95%;
      min-height: 600px;
      margin: 0 auto;
      padding-top: 20px;

      &:after {
        content: '.';
        display: block;
        height: 0;
        clear: both;
        visibility: hidden;
      }
    }
  }

  #content {
    position: relative;
    float: left;
    width: 100%;
    padding: 0px 15px;

    .content_result {
      position: relative;
      float: left;
      width: 100%;
    }

    .content_result_h {
      position: relative;
      float: left;
      width: 598px;
    }

    .more {
      float: right;
    }

    .page_tit {
      // position: relative;
      width: 100%;
      height: 4em;
      display: flex;
      align-items: baseline;
      justify-content: space-between;
      background: url(../assets/images/ipms/content/bg_tit.gif) 0 bottom repeat-x;

      p.path {
        display: inline-block;
        margin-top: 8px;
        font-size: 0.917em;

        span {
          display: inline-block;
          line-height: 1em;
          padding-right: 14px;
          margin-right: 10px;
          color: #999;
          background: url(../assets/images/ipms/content/ic_arrow.gif) right 2px no-repeat;
        }

        strong {
          color: #434343;
          font-weight: bold;
        }
      }
    }

    .bottom_dotted {
      padding-bottom: 21px;
      border-bottom: 1px dotted #ccc;
    }

    .top_dotted {
      padding-top: 15px;
      border-top: 1px dotted #808080;
    }

    .btn_area {
      position: relative;
      display: inline-block;
      float: right;

      a {
        margin-left: 3px;
      }
    }
  }

  /* ---------- Page Title ---------- */

  h2 {
    display: inline-block;
    height: 2.5em;
    font-size: 1.6em;
    font-weight: normal;
    color: #cc2929;
    background: url(../assets/images/ipms/content/bg_tit_h2.gif) 0 bottom repeat-x;
    z-index: 20;
  }

  h3 {
    display: inline-block;
    line-height: 1.3em;
    padding: 0px 10px;
    font-size: 1.8em;
    font-weight: normal;
    color: #555;
    background: url(../assets/images/ipms/common/bul_h3.gif) 0 9px no-repeat;

    > span {
      font-weight: normal;
      color: #dd2222;
    }
  }

  h4 {
    position: relative;
    display: block;
    line-height: 1.1em;
    padding-left: 10px;
    margin-bottom: 5px;
    margin-left: 10px;
    background: url(../assets/images/ipms/common/bul_h4.gif) 0 5px no-repeat;
  }

  .tit_h4 {
    position: relative;
    display: inline-block;
    line-height: 1.1em;
    padding-left: 10px;
    margin: 6px 0 0 10px;
    font-weight: bold;
    background: url(../assets/images/ipms/common/bul_h4.gif) 0 5px no-repeat;
  }

  .tit_group {
    position: relative;
    height: 22px;
    margin-bottom: 5px;
  }

  .section_tit {
    position: relative;
    display: inline-block;
    width: 100%;

    em {
      margin-left: 10px;
      font-weight: normal;
      color: #808080;
    }

    div {
      &.fr > span {
        > {
          select {
            width: 100px;
          }

          ul {
            float: left;
            display: inline-block;
            padding-top: 2px;
            margin-right: 10px;

            > li {
              display: inline;
              height: 20px;
              margin-right: 10px;

              > img {
                margin-right: 5px;
                vertical-align: -1px;
              }
            }
          }
        }

        &.info > ul {
          margin-right: 0 !important;
          padding-top: 5px !important;

          > li {
            color: #666;
            font-size: 0.917em;

            &.last {
              margin-right: 0 !important;
            }
          }
        }
      }

      &.selectbox {
        position: relative;
        width: 100px;
        height: 16px;
        line-height: 1.2em;
        padding-left: 10px;
        vertical-align: top;
        text-align: left;
        background: #fff url(../assets/images/ipms/content/ic_down.gif) right 0 no-repeat;
        border: 1px solid #ccc;

        a.txtArea {
          display: block;
          height: 20px;
          line-height: 1.2em;
        }

        ul {
          display: none;
          position: absolute;
          top: 21px;
          left: -1px;
          width: 100%;
          background: #fff;
          border: 1px solid #ccc;
          border-top: 0;
          z-index: 20;

          > li {
            padding: 5px 10px;
            border-bottom: 1px dotted #ccc;

            &.last {
              border-bottom: none;
            }

            &.on {
              color: #fff;
              font-weight: bold;
              background-color: #ff4c4c;
            }
          }
        }
      }
    }
  }

  .tit_fold {
    height: 20px;
    background: #fff;
    border-bottom: 1px solid #cc2929;

    > {
      h3 {
        padding: 0 12px;
        font-size: 1.147em;
        font-weight: bold;
        background: url(../assets/images/ipms/common/bul_arrow.gif) 0 5px no-repeat;
      }

      div.more > a > span {
        font-size: 0.917em;

        > img {
          padding-bottom: 2px;
        }
      }
    }
  }

  /* ---------- footer ---------- */

  #footer {
    position: relative;
    margin: 10px 0;
    border-top: 1px solid #e5e5e5;
    overflow: hidden;

    .footer_above {
      position: relative;
      width: 1220px;
      margin: 0 auto;
      padding-top: 15px;

      &:after {
        content: '.';
        display: block;
        padding: 0;
        clear: both;
        visibility: hidden;
      }
    }
  }

  .footer_above {
    ul.footer_menu {
      float: left;

      li {
        display: inline-block;
        float: left;
        margin-right: 10px;
        padding-right: 11px;
        background: #fff url(../assets/images/ipms/common/bul_utill_bar.gif) right 4px no-repeat;

        a {
        }

        &.last {
          margin-right: 0;
          background: none;
        }
      }
    }

    span {
      display: inline;
      float: right;
      padding-top: 1px;
      font-size: 0.917em;
      color: #999;
    }
  }

  /* ---------- Button ---------- */

  div.btn_area > a {
    &.button_w {
      color: #555555;
      float: left;
      display: inline-block;
      height: 17px;
      line-height: 17px;
      padding: 1px 10px 2px;
      margin-right: 4px;
      font-size: 0.917em;
      background: #fff url(../assets/images/ipms/common/button_w.png) 50% top repeat-x;
      border: 1px solid #ccc;
      border-radius: 3px;

      &:visited {
        color: #555555;
        float: left;
        display: inline-block;
        height: 17px;
        line-height: 17px;
        padding: 1px 10px 2px;
        margin-right: 4px;
        font-size: 0.917em;
        background: #fff url(../assets/images/ipms/common/button_w.png) 50% top repeat-x;
        border: 1px solid #ccc;
        border-radius: 3px;
      }

      &:hover,
      &:active {
        color: #000;
        background: #fff url(../assets/images/ipms/common/button_w.png) 50% bottom repeat-x;
      }
    }

    &.button_bk {
      color: #ffffff;
      float: left;
      display: inline-block;
      height: 22px;
      line-height: 17px;
      padding: 1px 10px 2px;
      margin-right: 4px;
      font-size: 0.917em;
      background: transparent url(../assets/images/ipms/common/button_bk.png) 50% top repeat-x;
      border: 1px solid #000;
      border-radius: 3px;

      &:visited {
        color: #ffffff;
        float: left;
        display: inline-block;
        height: 17px;
        line-height: 17px;
        padding: 1px 10px 2px;
        margin-right: 4px;
        font-size: 0.917em;
        background: transparent url(../assets/images/ipms/common/button_bk.png) 50% top repeat-x;
        border: 1px solid #000;
        border-radius: 3px;
      }

      &:hover,
      &:active {
        color: #999;
        background: transparent url(../assets/images/ipms/common/button_bk.png) 50% bottom repeat-x;
      }
    }

    &.button_blue {
      color: #ffffff;
      float: left;
      display: inline-block;
      height: 17px;
      line-height: 17px;
      padding: 1px 10px 2px;
      margin-right: 4px;
      font-size: 0.917em;
      background: transparent url(../assets/images/ipms/common/button_blue.png) 50% top repeat-x;
      border: 1px solid #284773;
      border-radius: 3px;

      &:visited {
        color: #ffffff;
        float: left;
        display: inline-block;
        height: 17px;
        line-height: 17px;
        padding: 1px 10px 2px;
        margin-right: 4px;
        font-size: 0.917em;
        background: transparent url(../assets/images/ipms/common/button_blue.png) 50% top repeat-x;
        border: 1px solid #284773;
        border-radius: 3px;
      }

      &:hover,
      &:active {
        color: #a7b9d1;
        background: transparent url(../assets/images/ipms/common/button_blue.png) 50% bottom repeat-x;
      }
    }
  }


  table {
    width: 100%;
    border-spacing: 0;
    border-collapse: collapse;
    table-layout: fixed;
    font-size: 1em;

    label {
      margin: 0 5px 0 3px;
      &.last {
        margin: 0 0 0 3px;
      }
    }
    tbody.top td {
      vertical-align: top;
    }
    td.btn_text .el-button {
      border: none;
      color: #3344dd !important;

      &:visited {
        color: #3344dd !important;
      }
      &:hover,
      &:active {
        text-decoration: underline !important;
      }
    }
  }

  .tbl_info {
    padding-left: 15px;
    color: #808080;
    font-weight: normal !important;
    font-size: 0.917em;
    background: #fff url(../assets/images/ipms/content/bul_tbl_info.gif) left 2px no-repeat;

    &.fr {
      background: none !important;

      > ul {
        float: left;
        display: inline-block;
        padding-top: 2px;
        margin-bottom: 5px;

        > li {
          display: inline;
          margin-right: 10px;

          > img {
            margin-right: 5px;
            vertical-align: -1px;
          }
        }
      }
    }
  }

  /* ---------- board list ---------- */

  table {
    &.tbl_list {
      border-top: 1px solid #cc2929;
      .first {
        border-left: none;
      }
      tr {
        &.last {
          th,
          td {
            border-bottom: 1px solid #666 !important;
          }
        }
        th.last,
        td.last {
          border-bottom: 1px solid #666 !important;
        }
        &.mid td {
          border-bottom: 1px solid #aaa !important;
        }
      }

      th.left {
        text-align: left;
      }

      td {
        &.left {
          text-align: left;
        }

        &.right {
          text-align: right;
        }

        img {
          margin-right: 6px;
          vertical-align: -2px;
        }
      }

      thead th {
        padding: 3px;
        line-height: 17px;
        color: #333;
        border-left: 1px solid #ccc;
        border-bottom: 1px solid #b3b3b3;
        background: #e5e5e5;
      }

      tbody {
        tr {
          background: #fff;

          &.subbg {
            background: #fbf9f9 !important;

            th {
              font-weight: normal;
            }
          }
        }

        th {
          padding: 3px;
          line-height: 18px;
          font-weight: normal;
          border-left: 1px solid #d9d9d9;
          border-bottom: 1px solid #e5e5e5;
        }

        td {
          padding: 3px;
          line-height: 18px;
          font-weight: normal;
          border-left: 1px solid #d9d9d9;
          border-bottom: 1px solid #e5e5e5;
          text-align: center;

          &.service {
            padding-left: 15px;
            text-align: left;
          }

          input.txt {
            height: 14px;
            line-height: 14px;
          }

          select {
            height: 20px;
            padding: 0;
          }
        }

        tr.tbtotal {
          th,
          td {
            background-color: #f9f9f9;
          }
        }
      }

      tfoot {
        th,
        td {
          padding: 3px;
          line-height: 18px;
          font-weight: bold;
          border-left: 1px solid #d9d9d9;
          background-color: #f0f9fc;
        }
      }

      .btn_line {
        vertical-align: middle;
      }

      tbody td a {
        text-decoration: none;
        color: #434343;

        &:visited {
          text-decoration: none;
          color: #434343;
        }

        &:hover,
        &:active {
          text-decoration: none;
          color: #cc2929;
        }
      }
    }

    &.merge {
      tbody td {
        border-bottom: 1px solid #d9d9d9;
      }

      tfoot {
        th,
        td {
          /*background-color:none !important;*/

          border-bottom: 1px solid #d9d9d9;
        }
      }

      tbody tr.subbg {
        /*background: #none !important;*/
      }
    }

    &.stbar {
      border: 1px solid #666 !important;

      thead th {
        color: #111 !important;
        background: #fff !important;
        border-bottom: 1px solid #666 !important;
      }

      tbody td {
        height: 18px !important;

        &.bg_hf {
          background-color: #002266 !important;
        }

        &.bg_hm {
          background-color: #66ccff !important;
        }

        &.bg_cf {
          background-color: #ffbf00 !important;
        }

        &.bg_ni {
          background-color: #ff3333 !important;
        }

        &.bg_ud {
          background-color: #808080 !important;
        }

        &.bg_etc {
          background-color: #fff !important;
        }
      }
    }
  }

  /* Merge Table */

  /* Status Bar Table */

  /* NEW INFRA */

  /* Content Half-size Table */

  div {
    &.hst_area {
      border-bottom: 1px solid #666;

      > table.tbl_list {
        position: relative;
        border-top: none;
        > {
          thead {
            float: left;
            width: 598px;
            border-top: 1px solid #cc2929;

            > tr {
              width: 598px;
            }
          }
          tbody {
            float: left;
            width: 598px;
            background: #fafafa;
            overflow-x: hidden;
            overflow-y: scroll;

            > tr {
              width: 581px;

              > td {
                float: left;
                height: 19px;

                > input {
                  float: none;
                  height: 19px;
                }
              }
              &.last > td {
                border-bottom: 1px solid #e5e5e5 !important;
              }
            }
          }
        }
      }
    }
    &.layer > div.content_result > div.hst_area > table.tbl_list > thead {
      border-top: 1px solid #666;
    }

    &.content_result_h > div.content_result > table.tbl_list > tbody > tr > th {
      background: #faf5f5 !important;
    }
  }

  .unit_share_tbl {
    display: inline-block;
    float: left;
    margin-right: 6px;

    &.last {
      float: right;
      margin-right: 0 !important;
    }
    table {
      height: 106px !important;
      thead tr th {
        height: 17px !important;
      }
    }
  }

  /* IFOMS Config  > IP E2E  Table */

  div.tbl_e2e > table.tbl_list > {
    thead,
    tbody {
      width: 841px !important;

      > tr {
        width: 841px !important;
      }
    }
  }
  .inline_tbl {
    width: 841px !important;
    background: #fff url(../assets/images/ipms/content/line_bk60.gif) 50% 50% repeat-x;
    z-index: 1;

    > div.unit {
      display: inline;
      float: left;
      width: 275px !important;
      margin-right: 8px;
      z-index: 9;

      &.last {
        margin-right: 0;
      }

      > table.tbl_list {
        border-top: 1px solid #666 !important;
        border-left: 1px solid #666;
        border-right: 1px solid #666;

        > {
          thead > tr > th {
            height: 17px !important;
          }

          tbody > tr > td {
            height: 18px !important;
          }
        }
      }
    }
  }

  /*  tbl_list 10ea view height  */

  /* Content Half-size Treeview */

  .treeview {
    width: 598px;
    border-top: 1px solid #cc2929;
    border-bottom: 1px solid #666;
    overflow-x: hidden;
    overflow-y: auto;
  }

  .topology {
    width: 352px !important;
    height: 542px !important;
    -moz-margin-start: 2px;
    border-top: none;
    overflow: scroll;
  }

  /*  treeview  */

  .w473 {
    width: 473px !important;
    -webkit-margin-start: -2px;
  }

  /* ޴ treeview  ̺ ȭ input width  */

  .h60 {
    height: 60px !important;
  }

  /* ޴ treeview  ̺ textarea height  */

  .h364 {
    height: 364px !important;
  }

  /* ޴ treeview height  */

  /* ---------- info table ---------- */

  table {
    &.tbl_data {
      border-top: 1px solid #cc2929;
      .first {
        border-left: none;
      }
      .right {
        text-align: right;
      }
      tr.last {
        th,
        td {
          border-bottom: 1px solid #666;
        }
      }
      tbody {
        th,
        td {
          line-height: 18px;
          padding: 3px 4px;
          background: #fff;
          border-left: 1px solid #ccc;
          border-bottom: 1px solid #d9d9d9;
        }

        th {
          text-align: left;
          color: #333;
          background: #e5e5e5;
        }

        td {
          &.center {
            text-align: center;
          }

          em {
            color: #95a4b7;
            font-size: 0.917em;
            margin-left: 8px;
          }

          span {
            color: #57a0ff;
          }
        }
      }

      tfoot {
        th,
        td {
          line-height: 1.417em;
          padding: 9px 7px 7px 7px;
          text-align: center;
          border-left: 1px solid #b8d7ff;
          border-bottom: 1px solid #b8d7ff;
        }
      }
    }

    &.entry tbody {
      td {
        padding: 2px 3px;
      }

      tr.view td {
        padding: 2px 4px 2px 6px;
      }

      td {
        &.view {
          padding: 2px 4px 2px 6px;
        }

        label {
          margin-left: 5px;
        }

        span {
          > label {
            margin-left: 5px;
          }

          color: #434343;
        }

        textarea {
          display: inline-block;
          line-height: 16px;
          padding: 2px 4px;
          font-size: 1em;
          border: #ccc solid 1px;
        }

        > ul {
          > li {
            display: inline;
            -moz-padding-end: 0;
            -webkit-margin-end: 0;

            > select {
              width: 33%;
            }
          }

          &.min_flow > li > select {
            width: 32.8%;
          }

          &.min_flow_od > li > select {
            width: 32.6%;
          }

          &.min_flow32 > li > select {
            width: 32%;
          }
        }

        &.ip_add {
          select {
            width: 55px;
          }

          input.txt {
            ime-mode: disabled !important;
            width: 300px;
            -moz-padding-start: 5px;
            -moz-padding-end: 11px;
          }
        }

        &.bitmask input.txt {
          ime-mode: disabled !important;
        }

        > div {
          &.search {
            position: relative;

            > {
              input {
                width: 84%;
                padding: 2px 22px 2px 5px;
              }

              a > img.sc_btn {
                position: absolute;
                top: 1px;
                right: 1px;
              }
            }
          }

          &.calendar {
            position: relative;
            display: inline-block;
            width: 130px;

            input.calendar {
              display: inline-block;
              width: 100px;
              height: 16px;
              line-height: 16px;
              padding: 2px 24px 2px 4px;
              border: #ccc solid 1px;
              font-size: 1em;
              vertical-align: middle;
            }

            &.max {
              width: 178px;
              -moz-padding-end: 4px;

              > input.calendar {
                width: 148px;
                -moz-padding-end: 28px;
              }
            }
          }
        }

        &.combo > div.calendar.max {
          width: 186px;
          -moz-padding-end: 4px;

          > input.calendar {
            width: 156px;
            -moz-padding-end: 28px;
          }
        }

        > div.calendar > a > img {
          position: absolute;
          top: 1px;
          right: 1px;
        }

        &.day_time > div {
          &.calendar {
            display: inline-block;
          }

          &.time,
          &.min {
            display: inline-block;
            width: 5%;
          }
        }

        div.cron > span {
          margin-right: 5px;

          > select {
            width: 14% !important;
            margin: 0 5px;
          }
        }
      }
    }
  }

  /* ---------- entry table (Է) ---------- */

  /* Ҵ   */
  /* IFOMS Config  - Treeview    */

  /* ---------- Trace Route ---------- */

  .trace_route {
    clear: both;
    position: relative;
    width: 100%;
    margin: 15px 0;

    ul {
      width: 1130px;
      height: 125px;
      padding: 0 45px 20px;
      background: #fff url(../assets/images/ipms/content/bg_trace_route_m.gif) 0 0 repeat-y;

      &.top {
        background: #fff url(../assets/images/ipms/content/bg_trace_route_t.gif) 0 0 no-repeat;
      }

      &.last {
        padding-bottom: 0;
        background: #fff url(../assets/images/ipms/content/bg_trace_route_b.gif) 0 0 no-repeat;
      }

      > li {
        display: inline-block;
        float: left;
        width: 210px;
        margin-left: 20px;

        &.first {
          margin-left: 0;
        }

        a {
          table.tbl_data_tr {
            width: 100%;
            border: 1px solid #666;
            text-align: center;

            thead tr th {
              height: 18px;
              padding: 3px;
              color: #fff;
              background: #666;
              border-left: 1px solid #fff;

              &.first {
                border-left: none;
              }
            }

            tbody tr {
              td {
                height: 18px;
                padding: 3px;
                background: #fff;
                border-bottom: 1px solid #666;
              }

              &.last td {
                border-bottom: none;
              }
            }
          }

          &:hover table.tbl_data_tr {
            border: 1px solid #cc2929;
            outline: 1px solid #cc2929;

            thead tr th {
              background: #cc2929;
            }

            tbody tr td {
              color: #333;
              background: #fffbe5;
            }
          }
        }
      }
    }
  }

  /* 콺  , ̺ ÷  -  ġ  , ص  */

  /* ---------- /Խ ---------- */

  #content {
    &.info table.tbl_list {
      margin-top: 5px;

      tbody {
        th {
          padding: 10px;
          line-height: 1.4em;
        }

        td {
          padding: 10px;
          line-height: 1.4em;
          color: #666;
        }
      }
    }

    .data_view {
      position: relative;

      div {
        &.data_tit {
          display: block;
          height: 2.5em;
          padding: 12px 15px;
          border-top: 1px solid #cc2929;

          > {
            h3 {
              display: inline-block;
              padding: 0;
              color: #fff;
              font-size: 1.5em;
              background: none;
              vertical-align: middle;

              > span {
                color: #555;
                margin-right: 5px;
              }
            }

            dl {
              display: inline-block;
              width: 24%;
              padding: 5px 0;

              > {
                dt {
                  display: inline-block;
                  vertical-align: top;
                }

                dd {
                  display: inline-block;
                  margin-left: 5px;

                  > ul {
                    display: inline;

                    > li {
                      line-height: 1.5em;

                      > span {
                        margin-left: 5px;
                        color: #666;
                      }
                    }
                  }
                }
              }
            }
          }
        }

        &.data_tit_sub {
          display: block;
          height: 1.4em;
          padding: 5px 15px;
          background-color: #f0f0f0;
          border-top: 1px solid #d9d9d9;
          border-bottom: 1px solid #b2b2b2;

          > dl {
            &.unit_fr {
              float: right;
              width: 24%;
            }

            display: inline-block;
            line-height: 1.3em;
            vertical-align: top;

            > {
              dt {
                display: inline-block;
                line-height: 1.3em;
                vertical-align: top;
              }

              dd {
                display: inline-block;
                line-height: 1.3em;
                vertical-align: top;
                padding-left: 5px;
              }
            }
          }
        }

        &.data_con {
          display: block;
          padding: 30px 15px;
          height: 200px;
          line-height: 1.8em;
          color: #333;
          border-bottom: 1px solid #666;
          overflow-y: auto;
          overflow-x: hidden;

          p {
            word-break: break-all;
          }

          > textarea {
            width: 96%;
            height: 170px;
            line-height: 1.8em;
            padding: 15px;
            background: transparent;
            border: none;
          }
        }

        &.data_list {
          display: block;
          margin-top: -1px;
          border-top: 1px solid #cc2929;
          border-bottom: 1px solid #666;

          > dl {
            padding: 8px 15px;

            &.bottom_dotted {
              border-bottom: 1px dotted #808080;
            }

            > {
              dt {
                display: none;
              }

              dd {
                display: inline-block;
                line-height: 1.2em;
                margin-right: 30px;
                vertical-align: top;

                > a {
                  > {
                    img {
                      padding: 2px 0 0;
                      vertical-align: top;
                    }

                    strong {
                      color: #555;
                    }
                  }

                  &:visited > strong {
                    color: #555;
                  }

                  &:hover > strong,
                  &:active > strong {
                    color: #e54545;
                  }
                }

                &.list_tit > a {
                  color: #333;

                  &:visited {
                    color: #333;
                  }

                  &:hover,
                  &:active {
                    color: #e54545;
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  /* ---------- input size in tbl_data ---------- */

  table.tbl_data input.txt {
    width: 90%;
  }


  /* ------- CompTable.vue count ------- */

  div.tableThum {
    color: #000000; 
  
    .countNum {
      color: grey;
      font-size: 12px;
    }
  }

  /* ---------- paging ---------- */

  div.page_num {
    clear: both;
    position: relative;
    margin-top: 7px;
    text-align: center;

    > ul > li {
      display: inline-block;
      padding: 0 3px;
      vertical-align: top;

      > a {
        line-height: 1.25em;
        font-size: 1.2em;
        padding: 2px 5px;
        color: #666;
        text-decoration: none;
        cursor: pointer;

        visited {
          line-height: 1.25em;
          font-size: 1.2em;
          padding: 2px 5px;
          color: #666;
          text-decoration: none;
          cursor: pointer;
        }

        &:hover,
        &:active {
          color: #000;
          text-decoration: underline;
        }

        > img {
          display: inline-block;
          padding-bottom: 3px;
          text-decoration: none;
        }
      }

      &.on > strong {
        line-height: 1.25em;
        padding: 2px 5px;
        color: #f24957;
        font-size: 1.2em;
        font-weight: bold;
      }
    }
  }

  /* ---------- log-in ---------- */

  #container.login {
    top: 125px;
    width: 980px;
    margin: auto auto;

    .login_top {
      position: relative;
      width: 100%;
      height: 48px;
      border-bottom: 3px solid #333;

      > {
        h1 {
          display: inline-block;
          float: left;
          padding-bottom: 12px;
          border-bottom: 3px solid #e51717;
          z-index: 20;

          > img {
            vertical-align: top;
          }
        }

        span {
          float: right;
          padding-top: 20px;
          padding-bottom: 8px;
          color: #808080;
          text-align: right;
          font-size: 1.4em;
        }
      }
    }

    .content_result {
      position: relative;
      height: 380px;
      padding: 20px 15px 0;

      img {
        display: inline;
        float: left;
      }

      .form_login {
        display: inline;
        float: right;
        margin-top: 130px;

        input.txt {
          display: block;
          width: 252px;
          height: 36px;
          padding: 5px 8px;
          margin-right: 15px;
          margin-bottom: 15px;
          background-color: #f0f0f0;
          border: 1px solid #ccc;
        }
      }
    }

    .footer_above {
      position: relative;
      width: 980px;
      margin: 20px auto;
      padding-top: 15px;
      border-top: 1px solid #e5e5e5;
      overflow: hidden;
    }
  }

  /* ---------- tab ---------- */

  .tab {
    height: 32px;
    margin-bottom: 10px;
    overflow: hidden;

    li {
      position: relative;
      float: left;
      text-align: center;
      background-color: #fafafa;
      border-top: 1px solid #ccc;
      border-left: none;
      border-right: 1px solid #ccc;

      &.last {
      }

      &.first {
        a {
          margin-left: 0;
          border-left: 1px solid #ccc;
        }

        &.on a {
          margin-left: 0;
          border-left: 1px solid #808080;

          &:hover {
            margin-left: 0;
            border-left: 1px solid #808080;
          }
        }
      }

      a {
        display: block;
        padding: 7px 5px;
        color: #808080;
        border-bottom: 1px solid #808080;

        &:hover {
          font-weight: bold;
          color: #e54545;
          background-color: #fff;
        }
      }

      &.on {
        margin-left: -1px;
        border-top: 1px solid #808080;
        border-left: 1px solid #808080;
        border-right: 1px solid #808080;

        a {
          height: 15px;
          padding: 7px 5px;
          font-weight: bold;
          color: #e54545;
          background-color: #fff;
          border-bottom: 1px solid #fff;

          &:hover {
            height: 16px;
            color: #333;
            border: none;
          }
        }
      }
    }

    > li > span.more a {
      img,
      &:hover img {
        position: absolute;
        top: 0;
        right: 0;
        padding: 12px;
        border: none;
        background: transparent;
        z-index: 99;
      }
    }
  }

  /* ---------- ̾ ˾ ---------- */

  #content.layer {
    position: relative;
    float: left;
    width: 100%;

    div.tit_group > h4 {
      float: left;
      display: inline-block;
      line-height: 1em;
    }
  }

  /* Table - Layer tbl_list */

  .layer table {
    &.tbl_list {
      border-top: 1px solid #666;

      .hline_w {
        border-left: 1px solid #fff !important;
      }

      thead th {
        color: #fff;
        background: #666;
        border-left: 1px solid #fff;
        border-bottom: 1px solid #e5e5e5;

        &.first {
          border-left: 1px solid #666;
        }
      }

      tbody {
        th {
          color: #111;
          background: #f5f5f5;
          border-left: 1px solid #fff;
          border-bottom: 1px solid #d9d9d9;
        }

        tr.subbg th {
          background: #eee;
        }

        td {
          border-left: 1px solid #fff;
          border-bottom: 1px solid #e5e5e5;
        }
      }

      tfoot {
        th,
        td {
          background-color: #ebebeb;
          border-top: 1px solid #e5e5e5;
          border-left: 1px solid #fff;
        }
      }

      tr.last {
        th,
        td {
          border-bottom: 1px solid #666;
        }
      }
    }

    &.tbl_data {
      tr {
        &.top {
          th,
          td {
            border-top: 1px solid #666;
          }
        }

        &.last {
          th,
          td {
            border-bottom: 1px solid #666;
          }
        }
      }

      thead th {
        padding: 3px 4px;
        text-align: left;
        background: #d9d9d9;
        border-left: 1px solid #fff;
        border-bottom: 1px solid #fff;
      }

      tbody {
        th {
          padding: 3px 4px;
          color: #fff;
          text-align: left;
          background: #666;
          border-left: 1px solid #fff;
          border-bottom: 1px solid #fff;

          &.first {
            border-left: 1px solid #666;
          }
        }

        td {
          padding: 3px 4px;
          border-left: 1px solid #fff;
          border-bottom: 1px solid #e5e5e5;

          em {
            color: #808080;
            font-size: 0.917em;
            margin-left: 8px;
          }
        }
      }

      tfoot {
        th {
          padding: 3px 4px;
          background: #ebebeb;
          border-left: 1px solid #fff;
          border-bottom: 1px solid #fff;
        }

        td {
          padding: 3px 4px;
          border-left: 1px solid #fff;
          border-bottom: 1px solid #e5e5e5;
        }
      }

      > tbody > tr > td > div > table.tbl_list > {
        thead > tr > th {
          text-align: center;
          font-weight: bold;
          color: #333;
          background: #d9d9d9;
          border-top: 1px solid #aaa;
          border-left: 1px solid #fff;
          border-bottom: 1px solid #aaa;
        }

        tbody > tr > {
          th {
            text-align: center;
            font-weight: bold;
            color: #333;
            background: #d9d9d9;
            border-top: 1px solid #aaa;
            border-left: 1px solid #fff;
            border-bottom: 1px solid #aaa;
          }

          td {
            text-align: center;
            color: #434343;
            border-left: 1px solid #ccc;
            border-bottom: 1px solid #aaa;
          }

          th.first,
          td.first {
            border-left: none;
          }
        }
      }
    }

    &.entry tbody {
      th.view {
        padding: 2px 4px 2px 6px;
      }

      td {
        &.view {
          padding: 2px 4px 2px 6px;
        }

        padding: 2px 3px;

        > div.calendar {
          width: 130px;

          input.calendar {
            width: 100px;
          }
        }

        &.left > div.list_calendar {
          position: relative;
          display: inline-block;
          width: 56%;

          > {
            input.calendar {
              display: inline-block;
              width: 80%;
              height: 16px;
              line-height: 16px;
              padding: 2px 24px 2px 4px;
              border: #ccc solid 1px;
              font-size: 1em;
              vertical-align: middle;
            }

            a > img {
              position: absolute;
              top: 1px;
              right: 1px;
            }
          }
        }

        > ul > li {
          display: inline;

          > select {
            width: 32.8%;
          }
        }
      }
    }
  }

  /* Table - Layer tbl_data */

  /* Table - Layer tbl_data in Table.tbl_list */

  /* Table - Layer entry */

  /* 缳 A/S  ˾ - ޷¿  */
  /* 缳 A/S  ˾ - ޷¿ > ޷ input  */

  /*Board*/

  #content.layer .data_view {
    margin-top: 0;

    div {
      &.data_tit {
        color: #fff;
        background: #666;
        border-top: 1px solid #666;

        > {
          h3 > span {
            color: #e5e5e5;
          }

          dl {
            width: 32%;

            > dd > ul > li {
              &.mail > a {
                color: #0000ff !important;
              }

              > span {
                color: #d9d9d9;
              }
            }
          }
        }
      }

      &.data_tit_sub > dl.unit_fr {
        width: 32%;
      }
    }
  }

  /*Reply*/

  .insert_reply {
    position: relative;
    float: left;
    width: 100%;

    dl {
      padding: 5px 0;
      background: #666;

      dt {
        display: inline-block;
        width: 10%;
        text-align: center;
        color: #fff;
        font-size: 1.4em;
      }

      dd {
        display: inline-block;
        width: 88%;

        > {
          textarea {
            width: 87%;
            height: 32px;
            border: 1px solid #666;
          }

          span {
            margin-left: 5px;
          }
        }
      }
    }
  }

  .view_reply {
    position: relative;
    float: left;
    width: 100%;

    dl {
      padding: 8px 0;
      background: #fafafa;
      border-bottom: 1px dotted #d9d9d9;

      &.last {
        border-bottom: 1px solid #666;
      }

      dt {
        display: none;
      }

      dd {
        display: inline-block;
        width: 88%;

        > {
          p {
            display: inline;
            color: #555;
            margin-right: 5px;
          }

          span {
            color: #999;
          }

          textarea {
            width: 87%;
            height: 32px;
            border: 1px solid #ccc;
          }
        }

        &.name {
          width: 10%;
          color: #111;
          text-align: center;
          font-size: 1.1em;
          vertical-align: top;
        }
      }
    }
  }
  /*ETC*/
  .layer .handling_msg {
    position: relative;
    width: 95%;
    line-height: 1.6em;
    margin: 10px 10px 0;
    padding: 10px;
    background: #f0f0f0;
    border: 1px solid #808080;
  }
  


  /* el-tree */
  .el-tree-node:before, .el-tree-node:after{
    border: none !important;
  }
}

  /*  table  */
  table.form {
    table-layout: fixed;
    width: 100%;
    font-size: 14px;
    text-align: left;
    border-collapse: collapse;
    border: solid 1px #ccc;
    th,
    td {
      padding: 7px;
      border: 1px solid #ccc;
    }
    th {
      font-weight: normal;
      color: #000;
      background: #e5e5e5;
      text-align: left;
      font-size: 12px;
      width: 20%;
    }
    td {
      font-weight: 600;
      max-width: 100px;
      width: 80%; 
    }
    td.disable {
      font-weight: 600;
      background: #fff;
      width: auto;
    }
  }
  /* el-tree */
.el-tree-node:before, .el-tree-node:after {
  border: none !important;
}
.ipms-dialog, #ipms {
  .el-dialog__body {
    padding: 15px 10px;
  }
  .el-table .el-table__row {
    td .cell {
      font-size: 13px;
      color: #222222;
      line-height: 23px;
    }
    .el-button {
      border: none;
      color: #3344dd;
      background: none;
      &:hover {
        text-decoration: underline;
      }
    }
    .red.el-button {
      border: none;
      color: #cc2929;
      background: none;
      cursor: default;
      &:hover {
        text-decoration: none;
      }
    }
  }
  .optionRow {
    label {
      min-width: 120px;
      background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.0)), to(rgba(0, 0, 0, 0.05)));
      white-space: pre-line; 
      overflow-wrap: break-word; 
    }
    .optionItem {
      display: flex;
      align-items: center;
    }
  }
}

