@import './variables.scss';

table.basic {
  width: 100%;
  font-size: 14px;
  text-align: left;
  border-collapse: collapse;
  border: solid 1px #bdbdbd;
  th,
  td {
    padding: 10px;
    border: 1px solid #bdbdbd;
  }
  th {
    font-weight: normal;
    color: #000;
    background: #e8ecf0;
    text-align: center;
    font-size: 15px;
    max-width: 50px;
  }
  td {
    font-weight: 600;
    max-width: 100px;
    min-width: 80px;
  }
  td.disable {
    font-weight: 600;
    background: #fff;
  }
}

.nia-dialog {
  font-family: 'NanumSquare';
  .el-dialog {
    height: auto;
    width: 1500px;
    border-radius: 7px;
    margin-top: 5vh !important;
    border: 2px solid $nia-primary;
    box-shadow: 0 1px 5px 0 rgb(0 0 0 / 27%);
  }
  .el-dialog__header {
    background-color: white;
    color: black;
    font-size: 16px;
    font-family: 'NanumSquare';
    transform: rotate(0.03deg);
    font-weight: bold;
    border-radius: 7px;
  }
  .el-dialog__body {
    padding: 0 20px 10px 20px;
    height: 700px;
    background: #fff;
  }
  .el-dialog__footer {
    height: 60px;
    border-radius: 7px;
    background-color: white;
    .close-btn{
      background: rgb(220, 216, 216);
      color: $nia-primary;
    }
  }
  ~ .el-select-dropdown {
    min-width: 220px !important;
  }
  .el-button {
    background: #05092e;
    color: #fff;
  }
}

.nia {
  .splitter-paneL, .splitter-paneR {
    transition: all 0.25s;
  }
}
.full-screen {
  .vm--modal {
    top: 0px !important;
    left: 0px !important;
    width: 100% !important;
    height: 100vh !important;
    z-index: 2999 !important;
  }
}
.vm--overlay {
  position:fixed !important;
  left:-300px !important;
  top:0 !important;
  height:100vh !important;
  width : 200% !important;
  background:#0000007e !important;
}
