@import './variables.scss';

table.basic {
  width: 100%;
  font-size: 14px;
  text-align: left;
  border-collapse: collapse;
  border: solid 1px #bdbdbd;
  th,
  td {
    padding: 10px;
    border: 1px solid #bdbdbd;
  }
  th {
    font-weight: normal;
    color: #000;
    background: #e8ecf0;
    text-align: center;
    font-size: 15px;
    max-width: 50px;
  }
  td {
    font-weight: 600;
    max-width: 100px;
    min-width: 80px;
  }
  td.disable {
    font-weight: 600;
    background: #fff;
  }
}
.nia-dialog {
 
}

.nia {

  .splitter-paneL, .splitter-paneR {
    transition: all 0.25s;
  }

  @font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/notosanskr/v36/PbyxFmXiEBPT4ITbgNA5Cgms3VYcOA-vvnIzzuoyeLGC5nwuDo-KBTUm6CryotyJROlrnQ.1.woff2) format('woff2');
    unicode-range: U+f92f-f980, U+f982-f9c9;
  }
}
.full-screen {
  .vm--modal {
    top: 0px !important;
    left: 0px !important;
    width: 100% !important;
    height: 100vh !important;
    z-index: 2999 !important;
  }
}
.vm--overlay {
  position:fixed !important;
  left:-300px !important;
  top:0 !important;
  height:100vh !important;
  width : 200% !important;
  background:#0000007e !important;
}
