@import './variables.scss';

$headerHeight : 45px;

@mixin flex-column {
  display: flex !important;
  flex-direction: column !important;
}

@mixin flex-item-fill {
  -webkit-box-flex: 1 !important;
  -ms-flex: 1 1 auto !important;
  flex: 1 1 auto !important;
}

.modal.info {
  .el-form-item {
    .el-form-item__content {
      @include flex-column;
      &>div {
        @include flex-item-fill;
      }
    }
  }
}

.modal {
  font-family: 'NanumSquare';
  .el-dialog {
    @include flex-column;
    width: 900px;
    height: 650px;
    border: 1px solid #3b3a3a;
    border-bottom: 11px solid #3b3a3a;
    box-shadow: 0 1px 5px 0 rgb(0 0 0 / 27%);
    border-radius: 5px;
    transform: skew(-0.03deg);
    padding-bottom: 5px;
  }
  .el-dialog__header {
    padding-bottom: 0;
    font-size: 17px;
    height: $headerHeight !important;
  }
  .el-dialog__body {
    @include flex-item-fill;
    padding: 0 15px;
    overflow-y: auto;
    height: auto;
  }
  .el-dialog__footer {
    height: 50px !important;
    padding: 0 20px;
    button:not(.is-disable) {
      background-color: #3b3a3a;
      border: 1px solid #939393;
      color: white;
      transition: all 0.3s;
    }
    button:not(.is-disable):hover {
      opacity: 0.75;
      background-color: #5e5e5e;
    }
  }
  .setting-title {
    background-color: #313131;
    color: #f0f0f0;
    font-weight: 600;
  }
  .setting-content {
    border: 1px dotted #313131;
    .category-name {
      border-right: 1px dotted #313131;
      height: 100%;
      padding: 40px 10px;
      color: #313131;
    }
    .category-content {
      height: 100%;
    }
  }
  .setting-content.small-category {
    .category-name,
    .category-content {
      padding: 10px;
    }
  }
  .el-input.is-disabled .el-input__inner{
    width: 130px !important;
    margin-left: 0 !important;
    color: #000000d9;
  }
  .el-radio__input.is-checked .el-radio__inner {
    border-color: #313131;
    background: #313131;
  }
  .el-radio__input.is-checked + .el-radio__label {
    color: initial;
  }
  .el-radio__inner:hover {
    color: #313131;
    border-color: #31313199;
  }
  .el-radio:focus:not(.is-focus):not(:active):not(.is-disabled) .el-radio__inner {
    box-shadow: 0 0 2px 2px #313131;
  }
  .el-checkbox {
    margin-right: 15px !important;
    width: 92px;
  }
  .radio-style .el-checkbox__inner{
    border-radius: 10px;
  }
  .el-checkbox__input.is-checked .el-checkbox__inner {
    background-color: #313131;
    border-color: #313131;
  }
  .el-checkbox__inner:hover,
  .el-checkbox__input.is-focus .el-checkbox__inner {
    border-color: #313131;
  }
  .el-checkbox__input.is-checked + .el-checkbox__label {
    color: #313131;
  }
}

