<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nia.data.linkage.ipsdn.mapper.ipsdn.IpsdnDataMapper">


    <select id="selectNodeLink" resultType="com.nia.data.linkage.ipsdn.vo.ipsdn.resource.NodeVo">
        SELECT ID, NODE_NAME, LOOP_BACK_ADDR, MGMT_ADDR
          FROM IP_SDN.TB_NODE
    </select>

    <select id="selectInterfaceLink" resultType="com.nia.data.linkage.ipsdn.vo.ipsdn.resource.InterfaceVo">
        SELECT ID, IF_NAME, NODE_ID, IP_ADDR, HW_IF_ID
        FROM IP_SDN.TB_INTERFACE
    </select>

    <select id="selectLink" resultType="com.nia.data.linkage.ipsdn.vo.ipsdn.resource.LinkVo">
        SELECT ID as Id, SIF_ID, RIF_ID, OSPF_METRIC, USAGED
        FROM IP_SDN.TB_LINK
    </select>


<!--    트래픽       -->
    <select id="selectTrafficList" resultType="com.nia.data.linkage.ipsdn.vo.ipsdn.traffic.LinkTrafficVo" parameterType="int">
        SELECT N.ID AS SDN_NODE_ID
             , NM.NODE_NUM AS STRRESID, NM.NODE_NM AS STRRESNM
             , I.ID AS SDN_IF_ID, I.IF_NAME AS STRIFNM
             , PM.IF_NUM AS STRIFID
             , LT.TX_BIT_RATE AS FLTBPSOUT, LT.RX_BIT_RATE AS FLTBPSIN, LT.TX_PKT_RATE AS FLTPPSOUT, LT.RX_PKT_RATE AS FLTPPSIN
             , UO.NREN_ID, UO.NREN_NAME, LT.MEASURED_DATETIME, LT.ID
        FROM IP_SDN.TB_LINK_TRAFFIC LT
                 INNER JOIN IP_SDN.TB_INTERFACE I
                            ON LT.IF_ID = I.ID
                 INNER JOIN RESOURCE.TB_PORT_MST PM
                            ON PM.IF_ID = LOWER(I.IF_NAME)
                 INNER JOIN IP_SDN.TB_NODE N
                            ON I.NODE_ID = N.ID
                 INNER JOIN RESOURCE.TB_NODE_MST NM
                            ON N.ID = NM.IP_SDN_ID::INT
  LEFT OUTER JOIN RESOURCE.TB_USER_ORGAN UO
        ON UO.NODE_ID = NM.NODE_ID
            AND UO.IF_ID = PM.IF_ID
        WHERE PM.NODE_NUM = NM.NODE_NUM AND LT.ID > #{dataKey}
        ORDER BY LT.ID
    </select>

    <!--    팩터      -->
    <select id="selectNodeFactorLink" resultType="com.nia.data.linkage.ipsdn.vo.ipsdn.factor.NodeFactorVo" parameterType="int" >
        SELECT N.ID AS SDN_NODE_ID
             , NM.NODE_NUM as STRRESID , NM.NODE_NM as STRRESNM
             , NF.CPU_USAGE as CpuUsage , NF.MEM_USAGE as MemUsage,NF.MEASURED_DATETIME as measured_datetime, NF.ID
        FROM IP_SDN.TB_NODEFACTOR NF
                 INNER JOIN IP_SDN.TB_NODE N ON NF.NODE_ID = N.ID
                 INNER JOIN RESOURCE.TB_NODE_MST NM ON N.ID = NM.IP_SDN_ID::INT
        WHERE NF.ID > #{dataKey}
        ORDER BY NF.ID
    </select>

<!--    Syslog   -->
    <select id="selectSyslogData" resultType="com.nia.data.linkage.ipsdn.vo.ipsdn.syslog.SyslogDataVo" parameterType="int">
        SELECT COLLECT_SEQ as collectSeq, COLLECT_HOST as collectHost, SOURCE, APPNAME, HOSTNAME,
               FACILITY_CODE as facilityCode, FACILITY, SEVERITY_CODE as severityCode,
               SEVERITY, SYSLOG_MESSAGE as syslogMessage, SYSLOG_PROCID as syslogProcid, COLLECT_TIMESTAMP as collectTimestamp
        FROM GATHER.TB_SYSLOG_COLLECT
        WHERE COLLECT_SEQ > #{collectSeq} AND COLLECT_TIMESTAMP > rca.fc_get_minus_time(1)
        ORDER BY COLLECT_SEQ
    </select>

<!--    Sflow    -->
    <select id="selectSflowData" resultType="com.nia.data.linkage.ipsdn.vo.ipsdn.sflow.SflowDataVo" parameterType="int">
        SELECT COLLECT_SEQ as collectSeq, COLLECT_HOST as collectHost, AGENT_ADDRESS as agentAddress, ETHER_TYPE as etherType,
               HEADER_PROTOCOL as headerProtocol, INPUT_IFINDEX as inputIfindex, OUTPUT_IFINDEX as outputIfindex, SAMPLE_DIRECTION as sampleDirection,
               SRC_IP as srcIp, SRC_MAC as srcMac, SRC_PORT as srcPort, SOURCE_ID_TYPE as sourceIdType, SOURCE_ID_INDEX as sourceIdIndex,
               DST_IP as dstIp, DST_MAC as dstMac, DST_PORT as dstPort, PACKET_BYTES as packetBytes, PACKET_DROPS as packetDrops, FRAME_LENGTH as frameLength,
               HEADER_LENGTH as headerLength, IP_DSCP as ipDscp, IP_ECN as ipEcn, IP_FLAGS as ipFlags, IP_FRAGMENT_OFFSET as ipFragmentOffset,
               IP_TOTAL_LENGTH as ipTotalLength, IP_TTL as ipTtl, SAMPLING_RATE as samplingRate, TCP_HEADER_LENGTH as tcpHeaderLength, TCP_URGENT_POINTER as tcpUrgentPointer,
               TCP_WINDOW_SIZE as tcpWindowSize, COLLECT_TIMESTAMP as collectTimestamp
        FROM GATHER.TB_SFLOW_COLLECT
        WHERE COLLECT_SEQ > #{collectSeq} AND COLLECT_TIMESTAMP > rca.fc_get_minus_time(1)
        ORDER BY COLLECT_SEQ
    </select>

<!--    Alarm     -->
    <select id="selectAlarmList" resultType="com.nia.data.linkage.ipsdn.vo.ipsdn.alarm.AlarmDataVo" parameterType="int">
        SELECT ALARMNO, ALARMTIME, NODE_NUM , NODE_NM, ALARMMSG, ALARMLVL, ETC, RULE_ID
        FROM RCA.TB_SYSLOG_ALARM_MST
        WHERE ALARMNO::INTEGER > #{dataKey}
        ORDER BY ALARMNO
    </select>



</mapper>



