<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nia.data.linkage.ipsdn.mapper.ipsdn.IpsdnDataMapper">


    <select id="selectNodeLink" resultType="com.nia.data.linkage.ipsdn.vo.ipsdn.resource.NodeVo">
        SELECT ID, NODE_NAME, LOOP_BACK_ADDR, MGMT_ADDR
          FROM IP_SDN.TB_NODE
    </select>

    <select id="selectInterfaceLink" resultType="com.nia.data.linkage.ipsdn.vo.ipsdn.resource.InterfaceVo">
        SELECT ID, IF_NAME, NODE_ID, IP_ADDR, HW_IF_ID
        FROM IP_SDN.TB_INTERFACE
    </select>

<!--          SELECT ID as Id, SIF_ID, RIF_ID, OSPF_METRIC, USAGED , VSIF_ID , SPEED , LATENCYSTD , ACTIVESTANDBY-->
    <select id="selectLink" resultType="com.nia.data.linkage.ipsdn.vo.ipsdn.resource.LinkVo">
        SELECT ID as Id, SIF_ID, RIF_ID, OSPF_METRIC, USAGED
        FROM IP_SDN.TB_LINK
    </select>


<!--    트래픽       -->
    <select id="selectTrafficList" resultType="com.nia.data.linkage.ipsdn.vo.ipsdn.traffic.LinkTrafficVo" parameterType="int">
        SELECT N.ID AS SDN_NODE_ID
             , NM.NODE_NUM AS STRRESID, NM.NODE_NM AS STRRESNM
             , I.ID AS SDN_IF_ID, I.IF_NAME AS STRIFNM
             , PM.IF_NUM AS STRIFID
             , LT.TX_BIT_RATE AS FLTBPSOUT, LT.RX_BIT_RATE AS FLTBPSIN, LT.TX_PKT_RATE AS FLTPPSOUT, LT.RX_PKT_RATE AS FLTPPSIN
             , UO.NREN_ID, UO.NREN_NAME, LT.MEASURED_DATETIME, LT.ID
        FROM IP_SDN.TB_LINK_TRAFFIC LT
                 INNER JOIN IP_SDN.TB_INTERFACE I
                            ON LT.IF_ID = I.ID
                 INNER JOIN RESOURCE.TB_PORT_MST PM
                            ON PM.IF_ID = LOWER(I.IF_NAME)
                 INNER JOIN IP_SDN.TB_NODE N
                            ON I.NODE_ID = N.ID
                 INNER JOIN RESOURCE.TB_NODE_MST NM
                            ON N.ID = NM.IP_SDN_ID::INT
  LEFT OUTER JOIN RESOURCE.TB_USER_ORGAN UO
        ON UO.NODE_ID = NM.NODE_ID
            AND UO.IF_ID = PM.IF_ID
        WHERE PM.NODE_NUM = NM.NODE_NUM AND LT.ID > #{dataKey}
        ORDER BY LT.ID
    </select>

    <select id="selectTrafficUserOrganList" resultType="com.nia.data.linkage.ipsdn.vo.ipsdn.traffic.LinkTrafficVo" parameterType="int">
        SELECT
            OE.NREN_ID
             ,OE.NREN_NAME, OE.SDN_NODE_ID, OE.SDN_IF_ID
             , OE.STRRESID, OE.STRRESNM, OE.STRIFID, OE.STRIFNM
             , COALESCE(LT.TX_BIT_RATE,0) AS FLTBPSOUT
             , COALESCE(LT.RX_BIT_RATE, 0) AS FLTBPSIN
             , COALESCE(LT.TX_PKT_RATE, 0) AS FLTPPSOUT
             , COALESCE(LT.RX_PKT_RATE, 0) AS FLTPPSIN
             , LT.MEASURED_DATETIME
             , COALESCE(LT.ID,0) AS ID
        FROM (
                 SELECT
                     UO.NREN_IDE,
                     nm.node_id,pm.if_id,
                     N.ID AS SDN_NODE_ID,
                     NM.NODE_NUM AS STRRESID,NM.NODE_NM AS STRRESNM,
                     I.ID AS SDN_IF_ID,I.IF_NAME AS STRIFNM,
                     PM.IF_NU,UO.NREN_NAMM AS STRIFID
                 FROM RESOURCE.TB_USER_ORGAN UO
                 INNER JOIN RESOURCE.TB_PORT_MST PM ON PM.if_id = UO.IF_ID
                 INNER JOIN RESOURCE.TB_NODE_MST NM ON NM.NODE_ID = UO.NODE_ID and PM.NODE_NUM = NM.NODE_NUM
                 INNER JOIN IP_SDN.TB_INTERFACE I ON PM.IF_ID = LOWER(I.IF_NAME)
                 INNER JOIN IP_SDN.TB_NODE N ON I.NODE_ID = N.ID AND N.ID = NM.IP_SDN_ID::INT
             ) OE
        INNER JOIN IP_SDN.TB_LINK_TRAFFIC LT ON LT.IF_ID = OE.SDN_IF_ID  AND LT.ID > #{datakey}
        ORDER BY
            CASE WHEN ID IS NULL THEN 0 ELSE 1 end, LT  DESC;
        /*
            250410 고성호 LEFT OUTER JOIN => INNER JOIN으로 변경
            [논의 사항]
            - TB_LINK_TRAFFIC을 우선으로 할지 TB_USER_ORGAN을 우선으로 할지
                > TB_USER_ORGAN을 우선으로 하는 것 유지 => 이유 : USER_ORGAN으로 관리하지 않는 Traffic은 출력안하는 것으로 결정
            - LEFT OUTER JOIN을 INNER JOIN으로 변경
                > INNER JOIN으로 변경하게 되면 TB_LINK_TRAFFIC이 없으면 데이터가 0개로 출력되므로 다음 Time에 처리됨
                > 현 상황에서 TB_LINK_TRAFFIC에 없는 TB_USER_ORGAN 정보는 다음에 보내는것으로 결정
        */
    </select>

    <!--    팩터      -->
    <select id="selectNodeFactorLink" resultType="com.nia.data.linkage.ipsdn.vo.ipsdn.factor.NodeFactorVo" parameterType="int" >
        SELECT N.ID AS SDN_NODE_ID
             , NM.NODE_NUM as STRRESID , NM.NODE_NM as STRRESNM
             , NF.CPU_USAGE as CpuUsage , NF.MEM_USAGE as MemUsage,NF.MEASURED_DATETIME as measured_datetime, NF.ID
        FROM IP_SDN.TB_NODEFACTOR NF
                 INNER JOIN IP_SDN.TB_NODE N ON NF.NODE_ID = N.ID
                 INNER JOIN RESOURCE.TB_NODE_MST NM ON N.ID = NM.IP_SDN_ID::INT
        WHERE NF.ID > #{dataKey}
        ORDER BY NF.ID
    </select>

<!--    Syslog   -->
    <select id="selectSyslogData" resultType="com.nia.data.linkage.ipsdn.vo.ipsdn.syslog.SyslogDataVo" parameterType="int">
        SELECT COLLECT_SEQ as collectSeq, COLLECT_HOST as collectHost, SOURCE, APPNAME, HOSTNAME,
               FACILITY_CODE as facilityCode, FACILITY, SEVERITY_CODE as severityCode,
               SEVERITY, SYSLOG_MESSAGE as syslogMessage, SYSLOG_PROCID as syslogProcid, COLLECT_TIMESTAMP as collectTimestamp
        FROM GATHER.TB_SYSLOG_COLLECT
        WHERE COLLECT_SEQ > #{collectSeq} AND COLLECT_TIMESTAMP > rca.fc_get_minus_time(1)
        ORDER BY COLLECT_SEQ
    </select>

<!--    Sflow    -->
    <select id="selectSflowData" resultType="com.nia.data.linkage.ipsdn.vo.ipsdn.sflow.SflowDataVo" parameterType="long">
        SELECT COLLECT_SEQ as collectSeq, COLLECT_HOST as strresname, AGENT_ADDRESS as strresip, ETHER_TYPE as etherType,
               HEADER_PROTOCOL as headerProtocol, INPUT_IFINDEX as inputIfindex, OUTPUT_IFINDEX as outputIfindex, SAMPLE_DIRECTION as sampleDirection,
               SRC_IP as strsIp, SRC_MAC as strsMac, SRC_PORT as strsPort, SOURCE_ID_TYPE as sourceIdType, SOURCE_ID_INDEX as sourceIdIndex,
               DST_IP as strdIp, DST_MAC as strdMac, DST_PORT as strdPort, PACKET_BYTES as packetBytes, PACKET_DROPS as packetDrops, FRAME_LENGTH as frameLength,
               HEADER_LENGTH as headerLength, IP_DSCP as ipDscp, IP_ECN as ipEcn, IP_FLAGS as ipFlags, IP_FRAGMENT_OFFSET as ipFragmentOffset,
               IP_TOTAL_LENGTH as ipTotalLength, IP_TTL as ipTtl, SAMPLING_RATE as samplingRate, TCP_HEADER_LENGTH as tcpHeaderLength, TCP_URGENT_POINTER as tcpUrgentPointer,
               TCP_WINDOW_SIZE as tcpWindowSize, COLLECT_TIMESTAMP as dateregdate
        FROM GATHER.TB_SFLOW_COLLECT
        WHERE COLLECT_SEQ > #{collectSeq} AND COLLECT_TIMESTAMP > rca.fc_get_minus_time(1)
        ORDER BY COLLECT_SEQ
    </select>


<!--    Alarm     -->
    <select id="selectAlarmList" resultType="com.nia.data.linkage.ipsdn.vo.ipsdn.alarm.AlarmDataVo" parameterType="int">
        SELECT ALARMNO, ALARMTIME, NODE_NUM , NODE_NM, ALARMMSG, ALARMLVL, ETC, RULE_ID
        FROM RCA.TB_SYSLOG_ALARM_MST
        WHERE ALARMNO::INTEGER > #{dataKey}
        ORDER BY ALARMNO
    </select>

</mapper>



