<md-dialog id="finProcessDialog" class="fin-process-dialog" ng-cloak style="width: 370px;"
    ng-style="{height: isDataInfo ? '312px' : '147px'}">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <i class="fa fa-check fa-lg"></i>
            <span class="title" ng-click="debugger()"> &nbsp; 마감 처리</span>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="dlgFunc.cancel()">
                <md-icon md-svg-src="img/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
            </md-button>
        </div>
    </md-toolbar>
    <form ng-cloak>
        <md-dialog-content>
            <div class="modalContents">
                <table md-table class="nia-custom-table">
                    <tr>
                        <td class="title">AI 결과 피드백</td>
                        <td colspan="5" style="padding: 10px 0 0 15px;">
                            <input class="nia-custom-radio" type="radio" id="arruracy" ng-model="ai_accuracy" value="0">
                            <label for="arruracy">일치</label>
                            <input class="nia-custom-radio" type="radio" id="not_arruracy" ng-model="ai_accuracy" value="1">
                            <label for="not_arruracy">불일치</label>
                            <!-- <input class="nia-custom-radio" type="radio" id="inaccuracy" ng-if="!alarm" ng-model="ai_accuracy" value="2">
                            <label for="inaccuracy" ng-if="!alarm">비장애</label> -->
                        </td>
                    </tr>
                    <tr ng-if="isDataInfo">
                        <td class="title">피드백 내용</td>
                        <td colspan="5" style="padding: 10px 0 0 15px;">
                            <!-- 불일치 일 경우 Disable -->
                            <input class="nia-custom-radio" type="text" ng-model="fault_type_content" ng-disabled="ai_accuracy == '0'">
                        </td>
                    </tr>
                    <tr ng-if="isDataInfo">
                        <td class="title">시작시간</td>
                        <td colspan="5">
                            <md-input-container class="md-block" style="margin: 0; width: 170px;">
                                <!-- 불일치 일 경우 Disable -->
                                <input mdc-datetime-picker="" date="true" time="true" type="text" id="datetime1"
                                       show-todays-date="" minutes="true" min-date="" max-date="endTime" show-icon="true" edit-input="true" short-time="true"
                                       ng-model="startTime" class="dtp-no-msclear dtp-input md-input" ng-change="changeTime('start')" ng-disabled="ai_accuracy == '0'">
                            </md-input-container>
                        </td>
                    </tr>
                    <tr ng-if="isDataInfo">
                        <td class="title">종료시간</td>
                        <td colspan="5">
                            <md-input-container class="md-block" style="margin: 0; width: 170px;">
                                <!-- 불일치 일 경우 Disable -->
                                <input mdc-datetime-picker="" date="true" time="true" type="text" id="datetime2"
                                       show-todays-date="" minutes="true" min-date="startTime" max-date="currentDate" show-icon="true" edit-input="true" short-time="true"
                                       ng-model="endTime" class="dtp-no-msclear dtp-input md-input" ng-change="changeTime('end')" ng-disabled="ai_accuracy == '0'">
                            </md-input-container>
                        </td>
                    </tr>
                </table>
            </div>
        </md-dialog-content>
    </form>
    <div layout="row" class="modalFooter">
        <span flex></span>
        <md-button class="md-raised dialog-btn base-btn-2 nia-dark-button" ng-click="submit()">마감 처리</md-button>
        <md-button class="md-raised dialog-btn base-btn-2 black-btn" ng-click="dlgFunc.cancel()">닫기</md-button>
    </div>
</md-dialog>

