<md-dialog class="userSetting-dialog" id="userSetting" ng-cloak>
    <md-toolbar>
        <div class="md-toolbar-tools">
            <i class="fa fa-check fa-lg"></i>
            <span class="title" ng-click="debugger()"> &nbsp; {{isReadOnly ? '사용자 설정' : '사용자 설정 수정'}}</span>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="dlgFunc.cancel()">
                <md-icon md-svg-src="img/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
            </md-button>
        </div>
    </md-toolbar>
    <form ng-cloak>
        <md-dialog-content>
            <div class="modalContents">
                <table md-table class="nia-custom-table user-setting-table">
                    <tr>
                        <td class="title">아이디</td>
                        <td colspan="3">
                            <input type="text" ng-model="userProfile.id" disabled/>
                        </td>
                    </tr>
                    <tr ng-show="!isReadOnly">
                        <td class="title">비밀번호</td>
                        <td>
                            <input type="password" ng-model="userProfile.pw"/>
                        </td>
                        <td class="title">비밀번호 확인</td>
                        <td>
                            <input type="password" ng-model="userProfile.pwReConfirm"/>
                        </td>
                    </tr>
                    <tr>
                        <td class="title">이름</td>
                        <td colspan="3">
                            <input type="text" ng-model="userProfile.username"/>
                        </td>
                    </tr>
                    <tr>
                        <td class="title">연락처</td>
                        <td colspan="3">
                            <input type="text" ng-model="userProfile.usernumber" maxlength="11"/>
                        </td>
                    </tr>
                    <tr>
                        <td class="title">e-mail</td>
                        <td colspan="3">
                            <input type="text" ng-model="userProfile.email"/>
                        </td>
                    </tr>
                    <tr ng-show="isReadOnly">
                        <td class="title">분류</td>
                        <td colspan="3">
                            <input type="text" ng-model="userProfile.agency_name"/>
                        </td>
                    </tr>
                    <tr ng-show="!isReadOnly">
                        <td class="title">분류</td>
                        <td colspan="3" style="padding: 10px 0 0 15px;">
                            <input class="nia-custom-radio" type="radio" id="NOC" ng-model="userProfile.agency_name" value="NOC">
                            <label for="NOC">NOC</label>

                            <input class="nia-custom-radio" type="radio" id="EMS" ng-model="userProfile.agency_name" value="EMS">
                            <label for="EMS">EMS</label>

                            <!--<input class="nia-custom-radio" type="radio" id="MANUFACTURER" ng-model="userProfile.agency_name" value="MANUFACTURER">-->
                            <!--<label for="MANUFACTURER">장비 제조사</label>-->
                        </td>
                    </tr>
                </table>
            </div>
        </md-dialog-content>
    </form>
    <div layout="row" class="modalFooter">
        <span flex></span>
        <md-button class="md-raised dialog-btn base-btn-2" ng-click="isReadOnly = !isReadOnly;" ng-show="isReadOnly" style="background-color: rgb(1, 29, 84); color: white;">정보 수정</md-button>
        <md-button class="md-raised dialog-btn base-btn-2" ng-click="deleteUserInfo()" ng-show="isReadOnly" style="background-color: rgb(1, 29, 84); color: white;">계정 삭제</md-button>
        <md-button class="md-raised dialog-btn base-btn-2" ng-click="changeUserInfo()" ng-show="!isReadOnly" style="background-color: rgb(1, 29, 84); color: white;">설정</md-button>
        <md-button class="md-raised dialog-btn base-btn-2 black-btn" ng-click="dlgFunc.cancel()">닫기</md-button>
    </div>
</md-dialog>

