<md-dialog class="self-process-dialog" id="selfProcessDialog" ng-cloak style="width: 50%; height:80%">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <i class="fa fa-check fa-lg"></i>
            <span class="title" ng-click="debugger()" ng-model="dialogTitle">&nbsp;{{dialogTitle}}</span>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="dlgFunc.cancel()">
                <md-icon md-svg-src="img/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
            </md-button>
        </div>
    </md-toolbar>
    <form>
        <md-dialog-content>
            <div layout="column" class="self-process-dialog-content">
                <md-card class="self-process-card" style="margin: 20px;">
                    <div layout="column" class="self-process-search">
                        <div class="self-process-search-info">
                            <span class="ml-2">종류</span>
                            <md-input-container class="input-container mt-0 ml-2">
                                <md-select  ng-model="searchProcessData.selfProcessType" >
                                    <md-option ng-value="item.value" ng-repeat="item in selfProcessType">
                                        <span>{{item.status}}</span>
                                    </md-option>
                                </md-select>
                            </md-input-container>
                            <span class="ml-2">마감 유형</span>
                            <md-input-container class="input-container mt-0 ml-2">
                                <md-select  ng-model="searchProcessData.closType" >
                                    <md-option ng-value="item.value" ng-repeat="item in closType">
                                        <span>{{item.status}}</span>
                                    </md-option>
                                </md-select>
                            </md-input-container>
                            <span class="ml-2">티켓 상태</span>
                            <md-input-container class="input-container mt-0 ml-2">
                                <md-select  ng-model="searchProcessData.closStatus" >
                                    <md-option ng-value="item.value" ng-repeat="item in closStatus">
                                        <span>{{item.status}}</span>
                                    </md-option>
                                </md-select>
                            </md-input-container>
                            <br>
                            <span class="ml-2" style="margin-left: 10px">FROM</span>
                            <md-input-container class="node-date" style="margin: 0px 0px 0px 25px;">
                                <input mdc-datetime-picker="" date="true" time="true" type="text"
                                show-todays-date="" minutes="true" min-date="date" show-icon="true"
                                edit-input="true" short-time="true" ng-init="null" ng-enter="handleSearch()"
                                ng-model="searchProcessData.startDateTime" class=" dtp-no-msclear dtp-input md-input"/>
                            </md-input-container>
                            <span style="margin-left: 10px">TO</span>
                            <md-input-container class="node-date" style="margin: 0px 0px 0px 10px;">
                                <input  mdc-datetime-picker="" date="true" time="true" type="text"
                                show-todays-date="" minutes="true" min-date="date" show-icon="true"
                                edit-input="true" short-time="true" ng-init="null" ng-enter="handleSearch()"
                                ng-model="searchProcessData.endDateTime" class=" dtp-no-msclear dtp-input md-input"/>
                            </md-input-container>
                        </div>
                        <div class="self-process-search-btn">
                            <md-button class="self-process-search-btn" ng-click="handleSearch()" style="font-size: 11px;">
                                <i class="fa fa-search fa-lg"></i>
                            </md-button>
                            <md-button class="search-option-switch clearBtn" ng-click="searchClear()" style="margin-right: 50px;">
                                전체보기
                            </md-button>
                        </div>
                    </div>
                    <div layout="column" class="self-process-table" >
                        <table md-table>
                            <thead md-head>
                                <tr md-row>
                                    <th md-column md-column-size="80" class="pr-0"><span>번호</span></th>
                                    <th md-column md-column-size="100" class="pr-0"><span>{{item.self_process_type === 'S' ? '알람 번호' : '티켓 번호'}}</span></th>
                                    <th md-column md-column-size="100" class="pr-0"><span>발생 시간</span></th>
                                    <th md-column md-column-size="100" class="pr-0"><span>마감 시간</span></th>
                                    <th md-column md-column-size="100" class="pr-0"><span>종류</span></th>
                                    <th md-column md-column-size="100" class="pr-0"><span>조치내용</span></th>
                                    <th md-column md-column-size="100" class="pr-0"><span>마감 유형</span></th>
                                    <th md-column md-column-size="100" class="pr-0"><span>티켓 상태</span></th>
                                </tr>
                            </thead>
                            <tbody md-body>
                                <tr md-row class="repeated-item" ng-repeat="item in processDetailInfo.list" ng-click="openDetail(item)">
                                    <td md-cell md-column-size="80" class="pr-0" over-cell>{{item.row_num}}</td>
                                    <td md-cell md-column-size="100" class="pr-0" over-cell>{{item.self_process_type === 'S' ? item.alarmno : item.ticket_id}}</td>
                                    <td md-cell md-column-size="100" class="pr-0" over-cell>{{item.occur_time}}</td>
                                    <td md-cell md-column-size="100" class="pr-0" over-cell>{{item.clos_time}}</td>
                                    <td md-cell md-column-size="100" class="pr-0" over-cell>{{item.selfprocesstype}}</td>
                                    <td md-cell md-column-size="100" class="pr-0" over-cell>{{item.self_process_type === 'S' ? item.syslog_fault_detail_content : item.ticket_fault_detail_content}}</td>
                                    <td md-cell md-column-size="100" class="pr-0" over-cell>{{item.closstatus === '마감' ? item.clos_type : ''}}</td>
                                    <td md-cell md-column-size="100" class="pr-0" over-cell ng-style="{'color': item.closstatus === '마감' ? 'red' : 'blue'}">{{item.closstatus}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                        <md-table-pagination class="mt-2" md-limit="historyPagingTable.limit"
                                             md-limit-options="[30,50,100,200]" md-page="historyPagingTable.selected"
                                             md-total="{{processDetailInfo.total || 0}}" md-page-select="true" md-boundary-links="true">
                        </md-table-pagination>
                </md-card>
            </div>
            <div class="modalFooter">
                <md-button class="md-raised dialog-btn base-btn-2 black-btn" ng-click="dlgFunc.cancel()">닫기</md-button>
            </div>
        </md-dialog-content>
    </form>
</md-dialog>
