@font-face { font-family: 'NanumGothic';
    src: url('../../../../assets/fonts/nanumGothic/NanumGothic.eot');
    src: url('../../../../assets/fonts/nanumGothic/NanumGothic.eot') format('embedded-opentype'),
    url('../../../../assets/fonts/nanumGothic/NanumGothic.woff') format('woff');}

* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
}

:root {
    --title-height: 3em;
    --view-min-width: 70em;
}

/*<editor-fold desc="[#개발 페이지에서만 사용]">*/
.lds-spinner {
    color: official;
    display: inline-block;
    position: relative;
    width: 64px;
    height: 64px;
}
.lds-spinner div {
    transform-origin: 32px 32px;
    animation: lds-spinner 1.2s linear infinite;
}
.lds-spinner div:after {
    content: " ";
    display: block;
    position: absolute;
    top: 3px;
    left: 29px;
    width: 5px;
    height: 14px;
    border-radius: 20%;
    background: cornflowerblue;
}
.lds-spinner div:nth-child(1) {
    transform: rotate(0deg);
    animation-delay: -1.1s;
}
.lds-spinner div:nth-child(2) {
    transform: rotate(30deg);
    animation-delay: -1s;
}
.lds-spinner div:nth-child(3) {
    transform: rotate(60deg);
    animation-delay: -0.9s;
}
.lds-spinner div:nth-child(4) {
    transform: rotate(90deg);
    animation-delay: -0.8s;
}
.lds-spinner div:nth-child(5) {
    transform: rotate(120deg);
    animation-delay: -0.7s;
}
.lds-spinner div:nth-child(6) {
    transform: rotate(150deg);
    animation-delay: -0.6s;
}
.lds-spinner div:nth-child(7) {
    transform: rotate(180deg);
    animation-delay: -0.5s;
}
.lds-spinner div:nth-child(8) {
    transform: rotate(210deg);
    animation-delay: -0.4s;
}
.lds-spinner div:nth-child(9) {
    transform: rotate(240deg);
    animation-delay: -0.3s;
}
.lds-spinner div:nth-child(10) {
    transform: rotate(270deg);
    animation-delay: -0.2s;
}
.lds-spinner div:nth-child(11) {
    transform: rotate(300deg);
    animation-delay: -0.1s;
}
.lds-spinner div:nth-child(12) {
    transform: rotate(330deg);
    animation-delay: 0s;
}
@keyframes lds-spinner {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.mapCable .waiting-container {
    position: fixed;
    z-index: 100;
    color: red;
    width: 100%;
    height: 100%;
    display: flex;
}

.mapCable .waiting-container .waiting {
    margin: auto;
}
/*</editor-fold desc="[#개발 페이지에서만 사용]">*/

.mapCable.wrap-container  {
    font-family: 'NanumGothic';
    /*background-color: #ffffff;*/
    /*overflow: auto;*/
}

.mapCable.theme {
}

.mapCable div.dg.main {
    position: absolute;
    top: 0.1em;
    left: 0.1em;
}
.mapCable div.wrap-container {
    --system-width: 20em;
    --system-height: 3em;
    --contents-h-margin: 5%;
    font-size: 1em;
    padding-top: 1em;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: RGB(57,57,57);
}

.mapCable div.wrap-container div.contents {
    /*width: 100%;*/
    /*height: 100%;*/
    position: relative;
    overflow: auto;
    min-width: var(--view-min-width);
}

.mapCable div.contents div.noti-message {
    font-size: 0.8em;
    font-weight: bold;
    color: orangered;
    text-align: right;
    margin: 1em var(--contents-h-margin);
}

.mapCable div.contents div.title {
    margin: 0 auto;
    width: 40em;
    height: var(--title-height);
    padding: 1em;
    color: #FFFFFF;
    /*background-color: RGB(30,86,97);*/
    background:linear-gradient(to bottom, RGB(2,65,77), RGB(30,86,97));
    font-size: 1em;
    font-weight: bold;
    text-align: center;
    horiz-align: center;
    border-radius: calc(var(--system-height) * 0.2);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.mapCable div.contents div.table-wapper .total-count {
    color: #ffffff;
    font-size: 0.8em;
    font-weight: bold;
    text-align: right;
    margin-bottom: 0.5em;
    /*border-bottom: 1px dashed #818285;*/
}
.mapCable div.contents div.table-wapper.right {
    float: right;
    margin-top: calc(var(--title-height) * -1);
    margin-right: var(--contents-h-margin);
}
.mapCable div.contents div.table-wapper table {
    color: #FFFFFF;
    margin-bottom: 0.2em;
    padding: 0;
    border: none;
    border-collapse: collapse;
}
.mapCable div.contents div.table-wapper table tr {
    background-color: #02414d;
    font-size: 0.8em;
}
.mapCable div.contents div.table-wapper table tr th {
    text-align: center;
    width: 5em;
    border-radius: 5px 0px 0px 5px;
    background-color: #1e5661;
}
.mapCable div.contents div.table-wapper table tr td {
    min-width: 3em;
    text-align: right;
    line-height: 140%;
    padding: 0.5em;
    border-radius: 0px 5px 5px 0px;
}
.mapCable div.contents div.cable-group {
    position: relative;
    width: 100%;
    /*height: 420px;*/
    margin-top: 2em;
    overflow: hidden;
    /*border-right: 1px dashed #818285;*/
}
.mapCable div.contents div.cable-group div.cable {
    position: relative;
    width: 100%;
    height: 100%;
    min-height: 20em;
    margin-bottom: 10px;
    background-image: url("../../../../images/cable/cable.png");
    background-repeat: no-repeat;
    background-position: 50% 0;
    /*background-size: calc(85% - var(--system-width) * 2) 100%;*/
    background-size: 30% 100%;
    overflow: hidden;
}
.mapCable div.contents div.cable-group div.cable div.transcircuit {
    width: 100%;
    min-height: var(--system-height);
    display: flex;
    align-content: space-around;
    flex-wrap: nowrap;
    overflow: hidden;
    padding: 0 var(--contents-h-margin);
}
.mapCable div.contents div.cable-group div.cable div.transcircuit:not(:last-child) {
    margin-bottom: 1em;
}
.mapCable div.contents div.cable-group div.cable div.transcircuit div.system {
    background-color: white;
    border: 0.1em solid white;
    padding: 1em 0.5em;
    text-align: center;
    horiz-align: center;
    width: var(--system-width);
    min-width: var(--system-width);
    line-height: 120%;
    font-size: 0.8em;
    font-weight: bold;
    /*border-radius: calc(var(--system-height) * 0.5);*/
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 10%;
    transition: all 1.5s ease;
    /*height의 에니메이션 효과를 주고 싶으면 여기와 hover에 퍼센트가 아닌 픽셀로 명시해 줘야한다*/
}

.mapCable div.contents div.cable-group div.cable div.transcircuit div.system:hover {
    overflow: visible !important;
    /*width: auto;*/
    /*display: inline-block;*/
    white-space: normal;
    overflow: auto;
    cursor: text;
}

.mapCable div.contents div.cable-group div.cable div.transcircuit div.system.gray {
    background-color: darkgrey;
}

.mapCable div.contents div.cable-group div.cable div.transcircuit div.system.darkgray {
    background-color: #646464;
    color: #ffffff;
}

.mapCable div.contents div.cable-group div.cable div.link-container {
    margin-top: 0.3em;
    width: 70%;
    height: 100%;
    text-align: center;
    font-size: 0.7em;
    overflow: hidden;
}

.mapCable div.wrap-container div.contents::after,
.mapCable div.contents div.cable-group div.cable div.link-container::after {
    content: '';
    dispaly: table;
    clear: both;
}
.mapCable div.contents div.cable-group div.cable div.link-container div.link-text {
    height: 1.2em;
}
.mapCable div.contents div.cable-group div.cable div.link-container div.link-traffic {
    height: 8px;
    width: 100%;
    background-color: #1288ff;
    background-image: url("../../../../images/cable/link_background.png");
    /*animation: slideLink 0.5s linear infinite;*/
}
.mapCable div.contents div.cable-group div.cable div.link-container div.link-traffic.gray {
    /*filter: grayscale(100%);*/
    background-image: url("../../../../images/cable/link_background_gray.png");
    animation: none;
}
.mapCable div.contents div.cable-group div.cable div.link-container div.link-los {
    background-color: red;
    color: white;
    margin: 0 0.5em;
    padding: 0 0.5em;
}
.mapCable div.contents div.cable-group div.cable div.link-container div.link-alias{
    max-height: 2.5em;
    overflow: hidden;
}
.mapCable div.contents div.cable-group div.cable div.link-container div.link-alias.left {
    text-align: left;
    float: left;
}
.mapCable div.contents div.cable-group div.cable div.link-container div.link-alias.right {
    text-align: right;
    float: right;
}
@keyframes slideLink {
    0% {
        background-position-x: 0px;
    }
    100% {
        background-position-x: 24px;
    }
}
