<div class="mapCable theme" layout="column" flex layout-fill ng-cloak ng-controller="MapCableCtrl">
    <div class="wrap-container" style="position: relative;" flex>
        <div style="min-width: 10em;position: fixed; z-index: 100" ng-show="singlePage && tools.debug">
            <label for="ocaseq_input" style="font-size: 12px;"><i class="fa fa-search fa-lg"></i>OCASEQ</label>
            <md-input-container id="ocaseq_input"  class="md-block" style="display: inline-block; margin: 0;">
                <input type="text" ng-model="ocaseq_input" ng-model-options="{debounce:400}" md-select-on-focus >
            </md-input-container>
        </div>
        <div layout="row" md-theme="myyellow" layout-sm="column" layout-align="space-around" ng-hide="isProgressHide"
             style="position: absolute; z-index: 200; top: calc(50%  - 48px); left: calc(50% - 48px);">
            <md-progress-circular ng-disabled="isProgressHide" md-diameter="96"></md-progress-circular>
        </div>
        <div class="contents">
            <div class="noti-message">※ TOPAS에 수용된 시설이 아닌 경우 nescode로 표현되어 있음</div>
            <div class="title">{{ (ocaname || 'UNKNOWN') + (debug ? ("(" + ocaseq) + ")"  : "") }}</div>
            <div class="table-wapper right">
                <div class="total-count">총 {{model.transcircuit_list.length | commaFilter}} 회선</div>
                <table><tbody><tr><th>기간망</th><td>{{model.backbone_count | commaFilter}}</td></tr></tbody></table>
                <table><tbody><tr><th>비기간망</th><td>{{not_backbone_count() | commaFilter}}</td></tr></tbody></table>
            </div>
            <div class="cable-group">
                <div class="cable">
                <div class="transcircuit" ng-repeat="transcircuit in (model.transcircuit_list | filter: backboneFilter | filter:menuOptions.keyword) ">
                    <div class="system system_a" ng-class="{gray: getSystemNameA(transcircuit), darkgray: !getSystemNameA(transcircuit)}">{{getSystemNameA(transcircuit) || 'Sysname A'}}</div>
                    <div class="link-container">
                        <div class="link-text">{{transcircuit.transcircuitname}}(core#{{transcircuit.optcorenum}})</div>
                        <div class="link-traffic" ng-class="{gray: transcircuit.alias_a.length + transcircuit.alias_z.length > 0 }"></div>
                        <div class="link-alias left" ng-show="menuOptions.showAlarm">
                            <div class="link-los" ng-repeat="alias_a in transcircuit.alias_a track by $index" ng-if="alias_a">{{alias_a}}</div>
                        </div>
                        <div class="link-alias right" ng-show="menuOptions.showAlarm">
                            <div class="link-los" ng-repeat="alias_z in transcircuit.alias_z track by $index" ng-if="alias_z">{{alias_z}}</div>
                        </div>
                    </div>
                    <div class="system system_z" ng-class="{gray: getSystemNameZ(transcircuit), darkgray: !getSystemNameZ(transcircuit)}">{{getSystemNameZ(transcircuit) || 'Sysname Z'}}</div>
                </div>
            </div>
            </div>
        </div>
    </div>
    <div layout="column" class="alarmListWapper">
        <md-toolbar class="md-whiteframe-1dp" ng-show="options.showOption">
            <div class="md-toolbar-tools">
                <div class="md-title">Material Design Data Table</div>
            </div>
        </md-toolbar>
        <md-content class="alarm-content">
            <table md-table class="alarm-table" md-row-select="options.rowSelection" multiple="{{options.multiSelect}}"
                   ng-model="selected" md-progress="promise">
                <thead ng-if="!options.decapitate" md-head md-order="query.order"
                       md-on-reorder="logOrder">
                <tr md-row>
                    <th md-column><span>클리어 상태</span></th>
                    <th md-column><span>타입</span></th>
                    <th md-column md-numeric md-order-by="alarmlevel"><span>경보등급</span></th>
                    <th md-column md-order-by="receivetime"><span style="display: inline-block;text-align: center;">장애알람 수신시간<br>(TOPAS)</span></th>
                    <th md-column md-order-by="alarmtime"><span style="display: inline-block;text-align: center;">장애알람 발생시간<br>(장비)</span></th>
                    <th md-column md-order-by=""><span style="display: inline-block;text-align: center;">클리어 알람 <br>수신시간(TOPAS)</span></th>
                    <th md-column md-order-by="site"><span>사이트</span></th>
                    <th md-column md-order-by="sysname" ><span>시스템명</span></th>
                    <th md-column md-order-by="equiptype"><span>장비종류</span></th>
                    <th md-column md-order-by="unit"><span>유닛</span></th>
                    <th md-column md-order-by="alarmloc"><span>경보위치</span></th>
                    <th md-column md-order-by="alarmmsg"><span>경보메시지</span></th>
                    <th md-column md-order-by="sigtype"><span>SIG Type</span></th>
                    <th md-column md-order-by="nettype"><span>NET Type</span></th>
                    <th md-column md-order-by="etc"><span>기타</span></th>
                </tr>
                </thead>
                <tbody data-vs-repeat="24" md-body>
                <tr md-row md-select="alarm" md-on-select="logItem"
                    md-auto-select="options.autoSelect"
                    ng-disabled="alarm.calories.value > 400"
                    ng-repeat="alarm in ticketAlarms.data | orderBy: query.order "
                    ng-class="{relatedRow: alarm.related_alarm, clearedRow: alarm.cleartime}">
                    <!--ng-style="alarm.related_alarm && { background: '#f5d8d8' }">-->
                    <!--| limitTo: query.limit : (query.page -1) * query.limit-->
                    <td md-cell class="slim-cell" style="font-weight: 900; color:#019e01;">{{alarm.cleartime ? '클리어' : ''}}</td>
                    <td md-cell class="slim-cell"><div class="over-cell" show-over-text style="font-weight: 900; color: #ff0000;">{{alarm.related_alarm ? '근원' : ''}}</div></td>
                    <td md-cell class="slim-cell">{{covertAlarmLevelToColor(alarm.alarmlevel, 'class') | toUpper}}
                        <div class="alarm-level-box" ng-class="covertAlarmLevelToColor(alarm.alarmlevel, 'class')"></div>
                    </td>
                    <td md-cell class="slim-cell">{{alarm.receivetime | dateFormat}}</td>
                    <td md-cell class="slim-cell">{{alarm.alarmtime | dateFormat}}</td>
                    <td md-cell class="slim-cell">{{alarm.cleartime | dateFormat}}</td>
                    <td md-cell class="slim-cell"><div class="over-cell" show-over-text>{{alarm.site}}</div></td>
                    <td md-cell class="slim-cell"><div class="over-cell" show-over-text>{{alarm.sysname}}</div></td>
                    <td md-cell class="slim-cell"><div class="over-cell" show-over-text>{{alarm.equiptype}}</div></td>
                    <td md-cell class="slim-cell"><div class="over-cell" show-over-text>{{alarm.unit}}</div></td>
                    <td md-cell class="slim-cell"><div class="over-cell" show-over-text>{{alarm.alarmloc}}</div></td>
                    <td md-cell class="slim-cell"><div class="over-cell" show-over-text>{{alarm.alarmmsg_original}}</div></td>
                    <td md-cell class="slim-cell"><div class="over-cell" show-over-text>{{alarm.sigtype}}</div></td>
                    <td md-cell class="slim-cell"><div class="over-cell" show-over-text>{{alarm.nettype}}</div></td>
                    <td md-cell class="slim-cell"><div class="over-cell" show-over-text>{{alarm.etc}}</div></td>
                </tr>
                </tbody>
            </table>
            <!--</md-table-container>-->

        </md-content>

        <div layout="row" class="bottom-toolbar" style="overflow: hidden;">
            <span style="margin-top: -30px; margin-left: 20px; display: none; color: #F00;">...</span>
            <table class="map3d-legend-color border-left">
                <tr class="map3d-legend-color_row">
                    <td><div class="map3d-legend-color_swatch critical" ng-click="exportEquipExcel(tools.constants.Action.SELECT_AL_EQUIP2TC_LIST, 'ff')"></div></td>
                    <td class="map3d-legend-color_label">Critical</td>
                    <td><div class="map3d-legend-color_swatch major"></div></td>
                    <td class="map3d-legend-color_label">Major</td>
                    <td><div class="map3d-legend-color_swatch minor"></div></td>
                    <td class="map3d-legend-color_label">Minor</td>
                    <td><div class="map3d-legend-color_swatch warning"></div></td>
                    <td class="map3d-legend-color_label">Warning</td>
                    <td><div class="map3d-legend-color_swatch clear"></div></td>
                    <td class="map3d-legend-color_label">Clear</td>
                </tr>
            </table>
            <div flex></div>
            <div class="alarm-count">TOTAL: {{ticketAlarms.data.length || 0}}</div>
        </div>
    </div>
</div>
