<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nia.alarm.ip.simulator.mapper.AlarmMapper">

	<select id="selectAlarmList" resultType="com.nia.alarm.ip.simulator.vo.AlarmVo">
		SELECT A.INTERRIDX, A.MODULE_SRL, A.STRRESID, A.STRIFID, A.STRTYPE
		     , A.STRLEVEL, A.STRTITLE, A.STRCONTENT, A.STRGROUPID, A.STRGROUPID1
		     , A.STRGROUPID2, A.STRGROUPID3, A.STRGROUPID4, A.STRGROUPID5, A.STRGROUPID6
		     , A.STRGROUPID7, A.STRGROUPID8, A.STRGROUPID9, A.STRGROUPID10, A.DATERAISEDATE
		     , A.DATECLEARDATE, A.DATEREGDATE, A.STRCLEARCHECK, A.STRMEMO, A.STRACKNOWNCHECK
		     , A.STRACKNOWNCHECK_MEMBER_SRL, B.STRRESNAME
		 FROM IP_YD.XE_CVNMS_ERROR A
		 LEFT OUTER JOIN IP_YD.XE_CVNMS_RESOURCE B
		   ON A.STRRESID = B.STRRESID
	    WHERE A.INTERRIDX >= '20570'
        ORDER BY A.DATERAISEDATE
        LIMIT 100
	</select>

	<select id="selectTestAlarmList" resultType="com.nia.alarm.ip.simulator.vo.AlarmVo">
		SELECT A.INTERRIDX, A.MODULE_SRL, A.STRRESID, A.STRIFID, A.STRTYPE
			 , A.STRLEVEL, A.STRTITLE, A.STRCONTENT, A.STRGROUPID, A.STRGROUPID1
			 , A.STRGROUPID2, A.STRGROUPID3, A.STRGROUPID4, A.STRGROUPID5, A.STRGROUPID6
			 , A.STRGROUPID7, A.STRGROUPID8, A.STRGROUPID9, A.STRGROUPID10, A.DATERAISEDATE
			 , A.DATECLEARDATE, A.DATEREGDATE, A.STRCLEARCHECK, A.STRMEMO, A.STRACKNOWNCHECK
			 , A.STRACKNOWNCHECK_MEMBER_SRL, B.STRRESNAME
		FROM IP_YD.XE_CVNMS_ERROR A
		LEFT OUTER JOIN IP_YD.XE_CVNMS_RESOURCE B
		  ON A.STRRESID = B.STRRESID
		WHERE A.INTERRIDX IN ('20650','20640','20639','20638','20637')
		ORDER BY A.DATERAISEDATE
	</select>

	<select id="selectEtriTestAlarmList" resultType="com.nia.alarm.ip.simulator.vo.AlarmVo">
		SELECT A.INTERRIDX, A.MODULE_SRL, A.STRRESID, A.STRIFID, A.STRTYPE
			 , A.STRLEVEL, A.STRTITLE, A.STRCONTENT, A.STRGROUPID, A.STRGROUPID1
			 , A.STRGROUPID2, A.STRGROUPID3, A.STRGROUPID4, A.STRGROUPID5, A.STRGROUPID6
			 , A.STRGROUPID7, A.STRGROUPID8, A.STRGROUPID9, A.STRGROUPID10, A.DATERAISEDATE
			 , A.DATECLEARDATE, A.DATEREGDATE, A.STRCLEARCHECK, A.STRMEMO, A.STRACKNOWNCHECK
			 , A.STRACKNOWNCHECK_MEMBER_SRL, B.STRRESNAME
		FROM IP_YD.XE_CVNMS_ERROR A
	    LEFT OUTER JOIN IP_YD.XE_CVNMS_RESOURCE B
		  ON A.STRRESID = B.STRRESID
		WHERE A.INTERRIDX IN ('20640','20639','20638','20637','20636','20635','20634','20633','20632','20631','20630','20629','20628','20627'
			,'20626','20625','20624','20623','20622','20621','20620','20619','20618','20617','20616','20615','20614','20613','20612','20611','20610','20609','20608','20607','20606','20605','20604','20603','20602','20601','20600','20599'
			,'20598','20597','20596','20595','20594','20593','20592','20591','20590','20589','20588','20586','20587','20585','20584','20583','20581','20582','20580','20579','20578','20577','20575','20576','20574','20572','20573','20571'
			,'20570','20569','20568','20567','20566','20565','20564','20563','20562','20561','20560','20559','20558','20557','20556','20555','20554','20553','20552','20551','20550','20549','20548','20547','20546','20545','20544','20543'
			,'20541','20542')
		ORDER BY A.DATERAISEDATE
	</select>

	<select id="fcSetClearSimulator" resultType="boolean">
		select rca.fc_set_clear_simulator()
	</select>

	<select id="fcSetClearSimulatorEtri" resultType="boolean">
		select rca.fc_set_clear_simulator_etri()
	</select>

	<delete id="deleteAlarm" parameterType="int">
		DELETE FROM CATCHVIEW.XE_CVNMS_ERROR WHERE INTERRIDX = #{alarmno}
	</delete>
</mapper>


