@import './variables.scss';

// dataHub api 조회 테이블 기본 스타일
table.basic {
  width: 100%;
  font-size: 14px;
  text-align: left;
  border-collapse: collapse;
  border: solid 1px #bdbdbd;
  th,
  td {
    padding: 10px;
    border: 1px solid #bdbdbd;
  }
  th {
    font-weight: normal;
    color: #000;
    background: #e8ecf0;
    text-align: center;
    font-size: 15px;
    max-width: 50px;
  }
  td {
    font-weight: 600;
    max-width: 100px;
    min-width: 80px;
  }
  td.disable {
    font-weight: 600;
    background: #fff;
  }
}
.datahub-dialog {
  font-family: 'NanumSquare';
  .el-dialog {
    border: 2px solid $datahub-border-box;
    // border-bottom: 11px solid $datahub-primary;
    box-shadow: 0 1px 5px 0 rgb(0 0 0 / 27%);
    border-radius: 7px;
    height: auto;
  }
  .el-dialog__header {
    background-color: white !important;
    color: black !important;
    font-size: 16px;
    font-family: 'NanumSquare';
    transform: rotate(0.03deg);
    font-weight: bold;
    border-radius: 7px;
  }
  .el-dialog__body {
    padding: 0 20px 10px 20px;
    max-height: auto;
    background: #fff;
  }
  .el-dialog__footer {
    height: 70px !important;
    background-color: white !important;
  }

  ~ .el-select-dropdown {
    min-width: 220px !important;
  }

  .el-select,
  .el-date-editor {
    width: auto !important;
  }

  .text-size {
    font-size: 18px;
  }

  .el-button {
    background: #2e3574;
    color: #fff;
  }
}

.datahub {
  .button-panel {
    .common-btn {
      background: #2e3574;
      color: #fff;

      &:hover {
        background-color: #303775;
        border-color: #303775;
        color: #fff;
      }
    }
  }

  @font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/notosanskr/v36/PbyxFmXiEBPT4ITbgNA5Cgms3VYcOA-vvnIzzuoyeLGC5nwuDo-KBTUm6CryotyJROlrnQ.1.woff2) format('woff2');
    unicode-range: U+f92f-f980, U+f982-f9c9;
  }

  .CompAgGrid {
    .aggrid-row.el-row {
      background-color: white !important;
    }
    .el-pagination {
      margin: 0 auto !important;
    }

    .el-pager {
      padding: 0 15px !important;
    }

    .el-pager li {
      font-weight: normal;
      color: #666666b2;
      font-size: 12px !important;
      padding: 0 10px !important;
    }

    .el-pager li.active {
      font-weight: bold;
      font-size: 16px !important;
      color: #000000 !important;
      cursor: default;
      transition: all 0.25s;
    }

    .el-pagination--small .el-pager li:last-child {
      border-color: transparent;
      color: #666666b2;
      font-size: 14px !important;
    }

    .el-pagination button {
      background-color: #eeeeee;
      color: #666666;
      padding: 5px 10px;
      border-radius: 3px;
      font-size: 12px;
      cursor: pointer;
      transition: all 0.25s;
    }

    .el-pagination button:disabled {
      background-color: #eeeeee;
      color: #666666;
      padding: 5px 10px;
      border-radius: 3px;
      font-size: 12px;
    }

    .el-pagination button:hover {
      background-color: #2e3574;
      color: #ffffff;
    }

    .ag-header-cell-label {
      justify-content: flex-start !important;
      padding-left: 22px;
    }

    .el-button {
      padding-bottom: 5px !important;
      height: 25px !important;
      font-size: 12px !important;
      line-height: 5px;
    }
  }
}

.datahub .ag-header-group-cell-label,
.ag-header-cell-label {
  display: block !important;
  text-align: left !important;
}

.el-tag--small {
  height: 16px !important;
  // width: 52px !important;
  padding: 1px 8px;
  top: 5px;
  line-height: 12px;
  font-size: 10px;
}

.el-select__tags {
  margin-top: 1px;
}

.el-select .el-tag__close {
  font-size: 12px;
  height: 11px;
  width: 11px;
  line-height: 10px;

  .el-icon-close {
    right: -4px !important;
  }
}

.el-range-editor--medium .el-range__close-icon {
  line-height: 24px;
}

.el-popover {
  width: 450px;
  height: auto tr, td {
    width: 400px !important;
  }
}

.datahub .CompAgGrid .ag-theme-material .ag-checked::after {
  color: #363636bd !important;
  font-size: 13px;
}

.datahub .CompAgGrid .ag-theme-material .ag-checkbox-input-wrapper {
  font-size: 13px !important;
  border-radius: 2px !important;
  width: 13px !important;
}

.el-message-box {
  .el-message-box__header {
    font-family: 'NanumSquare';
    border-bottom: 2px solid gainsboro !important;
  }
}

.el-table tr {
  background-color: rgba(228, 236, 244, 0.326) !important;
}

// dataHub api 테이블 관련 상세 데이터 모달 기본 스타일
.resize-modal {
  font-family: 'NanumSquare';
  transform: rotate(-0.03deg);

  .modal-top-container {
    height: 60px;
    padding: 20px;
    font-size: 17px;

    i.close {
      float: right;
      cursor: pointer;
      padding: 5px;
    }
    span {
      font-weight: 700;
      padding: 5px;
      line-height: 28px;
    }
  }

  .modal-body-container {
    padding: 0px 15px;
    height: calc(100% - 125px);
  }

  .modal-footer-container {
    height: 65px;
    padding: 0px 15px;
    text-align: end;
    hr {
      margin-bottom: 10px;
      margin-top: 2px;
    }

    button:not(.is-disable) {
      border: 1px solid #222222;
    }

    button:not(.is-disable):hover {
      background-color: #ffffff;
      color: black;
      opacity: 0.7;
    }
  }
}

.full-screen {
  .vm--modal {
    top: 0px !important;
    left: 0px !important;
    width: 100% !important;
    height: 100vh !important;
    z-index: 2999 !important;
  }
}
.vm--overlay {
  position:fixed !important;
  left:-300px !important;
  top:0 !important;
  height:100vh !important;
  width : 200% !important;
  background:#0000007e !important;
}
