@import './variables.scss';

table.basic {
  width: 100%;
  font-size: 12px;
  text-align: left;
  border-collapse: collapse;
  border: solid 1px $nia-primary;
  th,
  td {
    padding: 10px;
    border: 1px solid #bdbdbd;
    text-align: left !important;
  }
  th {
    font-weight: normal;
    // color: #fff;
    background: #cfd5e28f;
    text-align: center !important;
    font-size: 14px;
    max-width: 50px;
  }
  td {
    font-weight: 600;
    max-width: 100px;
    min-width: 80px;
    text-align: center;
  }
  td.disable {
    font-weight: 600;
    background: #fff;
  }
}

.nia-dialog {
  font-family: 'NanumSquare';
  .el-dialog {
    height: auto;
    // width: 1500px;
    border-radius: 7px;
    // margin-top: 5vh !important; // 필요한 곳에서 설정하여 사용할 것
    border: 2px solid $nia-primary;
    box-shadow: 0 1px 5px 0 rgb(0 0 0 / 27%);
  }
  .el-dialog__header {
    background-color: white;
    color: black;
    font-size: 16px;
    font-family: 'NanumSquare';
    transform: rotate(0.03deg);
    font-weight: bold;
    border-radius: 7px;
  }
  .el-dialog__body {
    padding: 0 20px 10px 20px;
    // height: 700px;
    background: #fff;
  }
  .el-dialog__footer {
    height: 60px;
    border-radius: 7px;
    background-color: white;
    .close-btn{
      background: rgb(220, 216, 216);
      color: $nia-primary;
    }
  }
  ~ .el-select-dropdown {
    min-width: 220px !important;
  }
  .el-button {
    background: #05092e;
    color: #fff;
  }
  .common-btn {
    background: $nia-primary;
      color: #fff;
  }
  span.title {
    margin: 0px 10px;
    font-weight: 700;
    font-size: 1rem;
    position: relative;
    bottom: 5px;
    width: fit-content;
    background: #edf0f5;
    padding: 5px 10px;
    box-shadow: 2px 1px 3px 0 #89898963;
    i {
      margin-right: 5px;
    }
  }
}

.nia-edit-dialog {
  .el-dialog {
    border: 2px solid $nia-primary;
    box-shadow: 0 1px 5px 0 rgb(0 0 0 / 27%);
    border-radius: 7px;
    height: auto;
    min-width: 700px !important;
  }

  .el-dialog__header {
    background-color: white !important;
    color: black !important;
    font-size: 16px;
    font-family: 'NanumSquare';
    transform: rotate(0.03deg);
    font-weight: bold;
    border-radius: 7px;
  }
  .el-dialog__body {
    padding: 0 20px 10px 20px;
    max-height: auto;
    background: #fff;
  }

  .is-checked .el-checkbox__inner,
  .is-checked .el-radio__inner {
    border-color: #63666a !important;
    background: #63666a !important;
  }

  .el-checkbox__input.is-checked + .el-checkbox__label,
  .el-radio__input.is-checked + .el-radio__label {
    color: #000000;
    font-weight: bold;
  }

  .el-dialog__footer {
    height: 70px !important;
    background-color: white !important;
  }

  .exit-btn{
    background: gainsboro !important;
    color: #000000 !important;
  }

  .delete_btn{
    background: red !important;
    &:hover{
      background: rgba(255, 0, 0, 0.645) !important;
    }
  }
}



.nia, .nia-dialog {
  .splitter-paneL, .splitter-paneR {
    transition: all 0.25s;
  }
  // radio button custom
  .el-radio-button__orig-radio:checked + .el-radio-button__inner {
    background-color: $nia-primary;
    border-color: $nia-primary;
    box-shadow: -1px 0 0 0 $nia-primary;
    &:hover {
      color: #fff;
      opacity: 0.7;
    }
  }
  .el-radio-button__inner:hover {
    color: $nia-primary;
  }
  .el-button:hover {
    color: $nia-primary;
    border-color: #1e293b9e;
    background-color: #1e293b24;;
  }
  // nia custom taps
  .el-tabs {
    .el-tabs__header {
      margin: 0px 25px;
    }
    .el-tabs__content {
      height: calc(100% - 40px);
    }
    .el-tabs__active-bar {
      background-color: $nia-primary;
    }
    .el-tabs__item.is-active {
      color: $nia-primary;
    }
    .el-tabs__item:hover {
      color: $nia-primary;
    }
  }
}

