body.outline {
    * {
        outline: 0.5px dashed rgba(255, 255, 255, 0.1) !important;
    }

    .draft-img, .draft-sub-img, .draft-popup-img, .draft-control-img, .draft-menu-img {
        outline: 0.5px dashed deepskyblue !important;
    }
    
    .md-button, .button {
        outline: #e9b5f3 dotted !important;
    }
    
    .md-button, .button {
        outline-width: 0.5px !important;
    }

    label {
        outline: 0.5px solid #ffcb2e !important;
    }
    
    .md-button.md-icon-button {
        outline: 1px solid #ff7167 !important;
    }
    
    div {
        outline: rgba(255, 0, 0, 0.3) solid 0.5px !important;
    }
    
    div > div {
        outline: rgba(131, 138, 255, 0.8) dashed 0.5px !important;
    }
    
    div > div > div {
        outline: green dashed 0.5px !important;
    }
    
    div > div > div > div {
        outline: #504ce3 dashed 0.5px !important;
    }
    
    div > div > div > div > div {
        outline: darkviolet dashed 0.5px !important;
    }
    
    div > div > div > div > div > div {
        outline: #d36430 dashed 0.5px !important;
    }
    
    div > div > div > div > div > div > div {
        outline: #00d3d2 dashed 0.5px !important;
    }
    
    div > div > div > div > div > div > div > div {
        outline: #00d351 dashed 0.5px !important;
    }
    
    div > div > div > div > div > div > div > div > div {
        outline: #001ed3 dashed 0.5px !important;
    }
    
    div > div > div > div > div > div > div > div > div > div {
        outline: #0074d3 dashed 0.5px !important;
    }
    
    div > div > div > div > div > div > div > div > div > div div {
        outline: #d3736e dashed 0.5px !important;
    }
    
}
