<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nia.engine.mapper.AutoProcessMapper">

    <select id="selectAutoProcess" parameterType="string" resultType="com.nia.engine.vo.selfProcess.AutoTreatProcessVo">
        select self_process_no,self_process_group,self_process_type,clos_type,feedback_msg,occur_time,feedback_time,ticket_id,ticket_type,alarmno,clos_status,clos_time
        from nia.tb_auto_treat_process_dtl pd
        where pd.ticket_id = #{num} or pd.alarmno = #{num}
        limit 1;
    </select>

    <select id="selectAutoMailingProcess" parameterType="string" resultType="com.nia.engine.vo.selfProcess.AutoTreatProcessVo">
        SELECT self_process_no,self_process_group,self_process_type,clos_type,feedback_msg,occur_time,feedback_time,ticket_id,ticket_type,alarmno,clos_status,clos_time
        FROM nia.tb_auto_treat_process_dtl t
        where t.ticket_id = #{ticketId}
    </select>


    <update id="updateAutoProcessTicket" parameterType="java.util.HashMap">
        UPDATE NIA.tb_auto_treat_process_dtl
        SET CLOS_TIME = now()
            , CLOS_STATUS = 'Y'
        WHERE TICKET_ID = #{ticketId}
    </update>

    <update id="updateAutoProcessSyslog" parameterType="java.util.HashMap">
        UPDATE NIA.tb_auto_treat_process_dtl
        SET CLOS_TIME = now()
          , CLOS_STATUS = 'Y'
        WHERE CLOS_STATUS NOT IN ('Y') AND SELF_PROCESS_TYPE = 'S'
          AND ALARMNO = #{alarmno}
    </update>


<!--    <select id="selectNodeIfName" parameterType="string" resultType="">-->
<!--        select sm.alarmno ,sm.node_nm,sm.alarmloc from rca.tb_syslog_alarm_mst sm-->
<!--                inner join nia.tb_auto_treat_process_dtl ap-->
<!--                        on sm.alarmno = ap.alarmno-->
<!--        where sm.alarmno = #{alarmno}-->
<!--    </select>-->

    <delete id="deleteSyslogAutoProcess" parameterType="string">
        DELETE FROM nia.tb_auto_treat_process_dtl
        WHERE ticket_id = #{num} or alarmno = #{num}
    </delete>

    <insert id="insertAutoProcess" parameterType="java.util.HashMap">
        INSERT INTO nia.tb_auto_treat_process_dtl
        (
            self_process_no,self_process_group,self_process_type,clos_type,feedback_msg,occur_time,feedback_time,ticket_id,ticket_type,alarmno,clos_status,clos_time
        )
        VALUES(
            nextval('nia.seq_self_process_no'),#{selfProcessGroup},#{selfProcessType},'A',null,#{occur_time}::Timestamp,null,#{ticketId},#{ticketType},#{alarmno},'N',null
              )
    </insert>

    <select id="selectTicketAlCurrent" parameterType="string" resultType="com.nia.engine.vo.selfProcess.TicketAlCurrentVo">
        select tlc.root_cause_sysnamea ,tlc.root_cause_porta from rca.tb_rca_ticket_al_current tlc
        inner join rca.tb_rca_ticket_current tc on tlc.ticket_id = tc.ticket_id
        where tc.ticket_id = #{ticketId}
    </select>


    <select id="selectCommandtoTicketList" resultType="com.nia.engine.vo.selfProcess.AutoTreatProcessVo">
        SELECT
            auto.self_process_no,
            auto.self_process_group,
            auto.self_process_type,
            auto.clos_type,
            auto.feedback_msg,
            auto.occur_time,
            auto.feedback_time,
            auto.ticket_id,
            auto.ticket_type,
            auto.alarmno,
            auto.clos_status,
            auto.clos_time
        FROM
            nia.tb_auto_treat_process_dtl auto
                LEFT OUTER JOIN rca.tb_rca_ticket_current rca ON auto.ticket_id = rca.ticket_id
        WHERE
            auto.clos_status = 'N'
          AND (rca.status = 'AUTO_FIN' or rca.status = 'FIN');
    </select>

    <select id="selectCommandtoSyslogList" resultType="com.nia.engine.vo.selfProcess.AutoTreatProcessVo">
        SELECT
            auto.self_process_no,
            auto.self_process_group,
            auto.self_process_type,
            auto.clos_type,
            auto.feedback_msg,
            auto.occur_time,
            auto.feedback_time,
            auto.ticket_id,
            auto.ticket_type,
            auto.alarmno,
            auto.clos_status,
            auto.clos_time
        FROM
            nia.tb_auto_treat_process_dtl auto
                LEFT OUTER JOIN rca.tb_syslog_alarm_mst tsam ON tsam.alarmno = auto.alarmno
        WHERE
            auto.clos_status = 'N'
          AND tsam.status = 'AUTO_FIN';
    </select>

    <select id="selectEngineToAiAno" parameterType="string" resultType="com.nia.engine.vo.engineToAi.EngineToAiAnoVo">
        SELECT 	AI.TICKET_ID,AI.TICKET_TYPE
             , STRRESNM, STRIPADDR
             , STRIFNAME, STRIFDESC, STRIFSPEED, STRIFTYPE, STRIFOPERSTATUS
             , NREN_ID, NREN_NAME, NODE_ID, IF_ID
             , T.STRIFID, T.STRRESID, STRTYPEMIN, INTTIMESTAMP
             , INTYEAR, INTMONTH, INTDAY, INTHOUR, INTMIN, INTWEEK
             , INTBANDWIDTH, FLTBPSIN, FLTBPSOUT, FLTPPSIN, FLTPPSOUT
             , FLTERRORIN, FLTERROROUT, FLTDISCARDIN, FLTDISCARDOUT, FLTUNKNOWN
             , FLTUSAGE, FLHCINOCTETS, FLHCOUTOCTETS, FLHCINUCASTPKTS, FLHCOUTUCASTPKTS
             , FLHCINMULTICASTPKTS, FLHCOUTMULTICASTPKTS, FLHCINBROADCASTPKTS, FLHCOUTBROADCASTPKTS, FLTBPSINMAX
             , FLTBPSOUTMAX, FLTPPSINMAX, FLTPPSOUTMAX, FLTERRORINMAX, FLTERROROUTMAX
             , FLTDISCARDINMAX, FLTDISCARDOUTMAX, FLTUNKNOWNMAX, FLTUSAGEMAX, AI.AI_ACCURACY
        FROM (
                 SELECT NM.NODE_NM AS STRRESNM, NULL AS STRIPADDR
                      , PM.IF_NM AS STRIFNAME, PM.IF_DESC AS STRIFDESC, PM.IF_SPEED AS STRIFSPEED, PM.IF_TYPE AS STRIFTYPE, PM.IF_OPER_STATUS AS STRIFOPERSTATUS
                      , UO.NREN_ID, UO.NREN_NAME, UO.NODE_ID, UO.IF_ID
                      , PM.IF_NUM AS STRIFID, PM.NODE_NUM AS STRRESID, '1' AS STRTYPEMIN, EXTRACT(EPOCH FROM LT.MEASURED_DATETIME)-32400 AS INTTIMESTAMP
                      , DATE_PART('YEAR'::TEXT, LT.MEASURED_DATETIME)::INTEGER AS INTYEAR
                      , DATE_PART('MONTH'::TEXT, LT.MEASURED_DATETIME)::INTEGER AS INTMONTH
                      , DATE_PART('DAY'::TEXT, LT.MEASURED_DATETIME)::INTEGER AS INTDAY
                      , DATE_PART('HOUR'::TEXT, LT.MEASURED_DATETIME)::INTEGER AS INTHOUR
                      , DATE_PART('MINUTE'::TEXT, LT.MEASURED_DATETIME)::INTEGER AS INTMIN
                      , EXTRACT(ISODOW FROM LT.MEASURED_DATETIME) AS INTWEEK
                      , LT.measured_datetime AS MEASURED_DATETIME
                      , 0 AS INTBANDWIDTH, LT.RX_BIT_RATE AS FLTBPSIN, LT.TX_BIT_RATE AS FLTBPSOUT, LT.RX_PKT_RATE AS FLTPPSIN, LT.TX_PKT_RATE AS FLTPPSOUT
                      , 0 AS FLTERRORIN, 0 AS FLTERROROUT, 0 AS FLTDISCARDIN, 0 AS FLTDISCARDOUT, 0 AS FLTUNKNOWN
                      , 0 AS FLTUSAGE, 0 AS FLHCINOCTETS, 0 AS FLHCOUTOCTETS, 0 AS FLHCINUCASTPKTS, 0 AS FLHCOUTUCASTPKTS
                      , 0 AS FLHCINMULTICASTPKTS, 0 AS FLHCOUTMULTICASTPKTS, 0 AS FLHCINBROADCASTPKTS, 0 AS FLHCOUTBROADCASTPKTS, 0 AS FLTBPSINMAX
                      , 0 AS FLTBPSOUTMAX, 0 AS FLTPPSINMAX, 0 AS FLTPPSOUTMAX, 0 AS FLTERRORINMAX, 0 AS FLTERROROUTMAX
                      , 0 AS FLTDISCARDINMAX, 0 AS FLTDISCARDOUTMAX, 0 AS FLTUNKNOWNMAX, 0 AS FLTUSAGEMAX
                 FROM IP_SDN.TB_LINK_TRAFFIC LT
                          INNER JOIN IP_SDN.TB_INTERFACE I
                                     ON LT.IF_ID = I.ID
                          INNER JOIN IP_SDN.TB_NODE N
                                     ON I.NODE_ID = N.ID
                          INNER JOIN RESOURCE.TB_PORT_MST PM
                                     ON PM.IF_ID = LOWER(I.IF_NAME)
                                         and LOWER(n.node_name) = PM.node_id
                          INNER JOIN RESOURCE.TB_NODE_MST NM
                                     ON N.ID = NM.IP_SDN_ID::INT
                            LEFT OUTER JOIN RESOURCE.TB_USER_ORGAN UO
                 ON UO.NODE_ID = NM.NODE_ID
                     AND UO.IF_ID = PM.IF_ID
                 WHERE LT.MEASURED_DATETIME >= CURRENT_TIMESTAMP - INTERVAL '1 days'
             ) T
                 INNER JOIN (
            SELECT A1T.STRIFID, A1T.STRRESID, A1T.MEASURED_DATETIME, TS.AI_ACCURACY, TC.ticket_id ,TC.ticket_type , TC.fault_time
            FROM RCA.TB_ANOMALOUS_1MI_TRAFFIC A1T
                     left OUTER JOIN NIA.TB_SOP TS ON A1T.TICKET_ID = TS.TICKET_ID
                     left outer join RCA.tb_rca_ticket_current TC on A1T.TICKET_ID = TC.ticket_id
            where  TC.TICKET_ID = #{ticketId}
        ) AI
                            ON T.STRIFID = AI.STRIFID
                                AND T.STRRESID = AI.STRRESID
                                and T.MEASURED_DATETIME = AI.FAULT_TIME
    </select>

    <select id="selectEngineToAiNox" parameterType="string" resultType="com.nia.engine.vo.engineToAi.EngineToAiNoxVo">
        SELECT
            TR.TICKET_ID,
            TR.TICKET_TYPE,
            TNT.STRRESNUM,
            TNT.STRRESIP,
            TNT.STRRESNAME,
            TNT.STRS_IP,
            TNT.STRS_PORT,
            TNT.STRD_IP,
            TNT.STRD_PORT,
            TNT.STRS_MAC,
            TNT.STRD_MAC,
            TNT.STRPROTOCOL,
            TNT.STRIPV4TOS,
            TNT.STRCHANNEL,
            TNT.STRSENDERIP,
            TNT.STRIN_INTERFACE,
            TNT.STROUT_INTERFACE,
            TNT.STRBYTES_COL,
            TNT.STRCOUNTS,
            TO_CHAR(TNT.DATEREGDATE, 'HH24:MI.0') AS DATEREGDATE,
            TS.AI_ACCURACY
        FROM
            RCA.TB_NOXIOUS_TRAFFIC TNT
                LEFT OUTER JOIN NIA.TB_SOP TS ON TNT.TICKET_ID = TS.TICKET_ID
                INNER JOIN RCA.TB_RCA_TICKET_CURRENT TR ON TR.TICKET_ID = TNT.TICKET_ID
        WHERE
            TR.TICKET_ID = #{num}
    </select>


    <insert id="insertAutoProcessSop" parameterType="com.nia.engine.vo.selfProcess.SopVo">
        INSERT INTO NIA.TB_SOP
        (
            sop_id,
            ticket_id,
            ticket_type,
            ticket_result,
            status,
            request_time,
            receive_time,
            detail,
            fault_classify,
            fault_type,
            fault_detail_content,
            etc_content,
            ai_accuracy,
            fault_type_content,
            start_time,
            end_time,
            handling_ack_user,
            handling_ack_time,
            handling_fin_user,
            handling_fin_time,
            autoproc_type,
            zero1_model,
            zero1_entropy
        ) VALUES (
            #{sopId},
            #{ticketId},
            #{ticketType},
            #{ticketResult},
            #{status},
            now(),
            NULL,
            #{detail},
            #{faultClassify},
            #{faultType},
            #{faultDetailContent},
            #{etcContent},
            #{aiAccuracy},
            #{faultTypeContent},
            #{startTime},
            #{endTime},
            #{handlingAckUser},
            <choose>
                <when test="handlingAckUser != null">
                    now()
                </when>
                <otherwise>
                    null,
                </otherwise>
            </choose>
            #{handlingFinUser},
            now(),
            #{autoprocType},
            #{zero1Model}::int,
            #{zero1Entropy}::double precision
        );

    </insert>


    <update id="updateSyslogAlarmState" parameterType="java.util.HashMap">
        UPDATE rca.tb_syslog_alarm_mst
        SET status = 'FIN'
        WHERE alarmno = #{alarmno}
    </update>

<!--장애/비장애 결과에 따른 업데이트-->
    <update id="updateAiResult" parameterType="java.util.HashMap">
        update rca.tb_rca_ticket_current
        set  zero1_model = #{model}::int
         , zero1_entropy = #{entropy}::double precision
        where ticket_id = #{ticketId}
    </update>
    <update id="updateAiFTTResult" parameterType="java.util.HashMap">
        update rca.tb_rca_ticket_current
        set
          zero1_model = #{model}::int
         , zero1_entropy = #{entropy}::double precision
        where ticket_id = #{ticketId}
    </update>
<!--240318 수정 , FTT 원복 시 아래 쿼리 사용-->
    <!--updateAiFTTResult
    update rca.tb_rca_ticket_current
    set ticket_type ='FTT'
    , zero1_model = #{model}::int
    , zero1_entropy = #{entropy}::double precision
    , root_cause_type = 'NoIssue'
    , status = 'AUTO_FIN'
    where ticket_id = #{ticketId}-->

    <update id="updateAutoProcessFTT" parameterType="string">
        update nia.tb_auto_treat_process_dtl
        set self_process_type = 'F' , self_process_group = 'ST', ticket_type = 'FTT'
        where ticket_id = #{ticketId}
    </update>

    <update id="updateFTTSop" parameterType="java.util.HashMap">
        update nia.tb_sop
        set fault_classify = '비장애' , fault_type = '장애무효' , fault_detail_content = '장애무효' , ticket_type = 'FTT'
            ,zero1_model = #{model}::int , zero1_entropy = #{entropy}::double precision
        where ticket_id = #{ticketId}
    </update>
    <update id="updateSop" parameterType="java.util.HashMap">
        update nia.tb_sop
        set zero1_model = #{model}::int , zero1_entropy = #{entropy}::double precision
        where ticket_id = #{ticketId}
    </update>
<!--    , clos_staus = #{status} , clos_time = (SELECT NOW())  제거
        DB에는 없는데 쿼리에는 들어가 있었음   -->


    <insert id="insertSyslogSop" parameterType="java.util.HashMap">
        INSERT INTO nia.tb_syslog_sop
        (
            sop_id,
            alarmno,
            fault_classify,
            fault_type,
            fault_detail_content,
            etc_content,
            status,
            proc_status,
            alarm_occur_time,
            handling_fin_user,
            handling_fin_time,
            alarmloc
        )
        VALUES(
                  nextval('nia.seq_syslog_sop_id'),
                  #{alarmno},
                  #{faultClassify},
                  #{faultType},
                  #{faultDetailContent},
                  #{etcContent},
                  #{status},
                  #{procStatus},
                  #{alarmOccurTime}::timestamp,
                  #{handlingFinUser},
                  now(),
                  #{alarmloc}
              )
    </insert>

    <select id="selectMailingAtt" parameterType="java.util.HashMap" resultType="com.nia.engine.vo.selfProcess.MailAttVo">
        SELECT  fltbpsin,
                ROUND(fltbpsin_predict::        NUMERIC , 2) AS fltbpsin_predict,
                ROUND(fltbpsin_threshold_upper::NUMERIC , 2) AS fltbpsin_threshold_upper,
                ROUND(fltbpsin_threshold_lower::NUMERIC , 2) AS fltbpsin_threshold_lower,
                fltbpsin_anomaly,
                fltbpsout,
                ROUND(fltbpsout_predict::        NUMERIC , 2) AS fltbpsout_predict,
                ROUND(fltbpsout_threshold_upper::NUMERIC , 2) AS fltbpsout_threshold_upper,
                ROUND(fltbpsout_threshold_lower::NUMERIC , 2) AS fltbpsout_threshold_lower,
                fltbpsout_anomaly
        FROM    rca.tb_anomalous_ai_result a
                    INNER JOIN resource.tb_port_mst p ON a.strresid = p.node_num
            and a.strifid = p.if_num
        WHERE   p.node_id= #{nodeid}
          AND     p.if_id = #{ifid}
          AND     measured_datetime = TO_TIMESTAMP(#{time}::int)
    </select>
<!--    AND     measured_datetime = TO_TIMESTAMP(#{time}::int)-->

    <select id="selectMailingAttTest" parameterType="java.util.HashMap" resultType="com.nia.engine.vo.selfProcess.MailAttVo">
        SELECT  fltbpsin,
                ROUND(fltbpsin_predict::        NUMERIC , 2) AS fltbpsin_predict,
                ROUND(fltbpsin_threshold_upper::NUMERIC , 2) AS fltbpsin_threshold_upper,
                ROUND(fltbpsin_threshold_lower::NUMERIC , 2) AS fltbpsin_threshold_lower,
                fltbpsin_anomaly,
                fltbpsout,
                ROUND(fltbpsout_predict::        NUMERIC , 2) AS fltbpsout_predict,
                ROUND(fltbpsout_threshold_upper::NUMERIC , 2) AS fltbpsout_threshold_upper,
                ROUND(fltbpsout_threshold_lower::NUMERIC , 2) AS fltbpsout_threshold_lower,
                fltbpsout_anomaly
        FROM    rca.tb_anomalous_ai_result a
                    INNER JOIN resource.tb_port_mst p ON a.strresid = p.node_num
            and a.strifid = p.if_num
        WHERE   p.node_id= #{nodeid}
          AND     p.if_id = #{ifid}
          AND measured_datetime = to_timestamp(#{time}, 'YYYY-MM-DD HH24:MI:SS.MS')
    </select>

    <select id="selectRequestEquipAndPort" parameterType="string" resultType="com.nia.engine.vo.selfProcess.MailEquipAndPortVo">
        SELECT AL_ID.ticket_id, AL.ROOT_CAUSE_SYSNAMEA, AL.ROOT_CAUSE_SYSNAMEZ, AL.ROOT_CAUSE_UNITA, AL.ROOT_CAUSE_UNITZ, AL.ROOT_CAUSE_ALARM_NOA, AL.ROOT_CAUSE_ALARM_NOZ, AL.ROOT_CAUSE_PORTA, AL.ROOT_CAUSE_PORTZ
        FROM (
                 SELECT ticket_id, max(ticket_al_id) AS ticket_al_id
                 FROM rca.tb_rca_ticket_al_current
                 WHERE 1=1
                 GROUP BY ticket_id
             ) AL_ID
                 LEFT OUTER JOIN rca.tb_rca_ticket_al_current AL on al.ticket_id = al_id.ticket_id and  AL.ticket_al_id = AL_ID.ticket_al_id
        where root_cause_sysnamea is not null and root_cause_sysnamez is not null
          and AL.ticket_id = #{ticketId}
    </select>

    <select id="selectParentTicket" parameterType="string" resultType="string">
        select a.parent_ticket_id from rca.tb_rca_ticket_current a
        where a.ticket_id = #{ticketId}
    </select>



</mapper>


