<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nia.engine.mapper.NodeFactorMapper">
	<select id="selectNodeFactor" parameterType="java.util.HashMap" resultType="com.nia.engine.vo.sdn.factor.NodeFactorInfoVo">
		select nf.strresid, nf.cpu_usage, nf.mem_usage, nf.measured_datetime, nm.node_id
		from rca.tb_nodefactor nf
		inner join resource.tb_node_mst nm
		 on nm.node_num = nf.strresid
		 where nf.node_id = #{node_id}::int
		  and nf.measured_datetime = to_timestamp(cast(#{measured_datetime} AS int8)/1000)
	</select>

	<update id="updateNodeFactor" parameterType="java.util.HashMap">
		update rca.tb_nodefactor
		set ticket_id = #{ticketId}
		where node_id = #{node_id}::int
		  and measured_datetime = to_timestamp(cast(#{measured_datetime} AS int8)/1000)
	</update>
</mapper>