<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nia.engine.mapper.PerformanceTicketMapper">

    <insert id="insertPerformanceTicket" parameterType="com.nia.engine.vo.TicketCableVo">
        INSERT INTO RCA.TB_RCA_TICKET_CABLE_MST
        (
        TICKET_ID,
        TICKET_CABLE_ID,
        IS_ROOT_ROW_SIGNAL_LINE,
        PORTA,
        PORTZ,
        SYSNAMEA,
        SYSNAMEZ
        )
        VALUES (
        #{ticketId},
        (SELECT nextval('rca.seq_ticket_cable')) ::VARCHAR,
        #{isRootRowSignalLine},
        #{porta},
        #{portz},
        #{sysnamea},
        #{sysnamez}
        )
    </insert>
</mapper>


