@font-face {
    font-family: 'NanumSquare';
    font-weight: 400;
    src: url(../../assets/fonts/NanumSquare/NanumSquareR.eot);
    src: url(../../assets/fonts/NanumSquare/NanumSquareR.eot?#iefix) format('embedded-opentype'),
    url(../../assets/fonts/NanumSquare/NanumSquareR.woff) format('woff'),
    url(../../assets/fonts/NanumSquare/NanumSquareR.ttf) format('truetype');
}
@font-face {
    font-family: 'NanumSquare';
    font-weight: 700;
    src: url(../../assets/fonts/NanumSquare/NanumSquareB.eot);
    src: url(../../assets/fonts/NanumSquare/NanumSquareB.eot?#iefix) format('embedded-opentype'),
    url(../../assets/fonts/NanumSquare/NanumSquareB.woff) format('woff'),
    url(../../assets/fonts/NanumSquare/NanumSquareB.ttf) format('truetype');
}
@font-face {
    font-family: 'NanumSquare';
    font-weight: 800;
    src: url(../../assets/fonts/NanumSquare/NanumSquareEB.eot);
    src: url(../../assets/fonts/NanumSquare/NanumSquareEB.eot?#iefix) format('embedded-opentype'),
    url(../../assets/fonts/NanumSquare/NanumSquareEB.woff) format('woff'),
    url(../../assets/fonts/NanumSquare/NanumSquareEB.ttf) format('truetype');
}
@font-face {
    font-family: 'NanumSquare';
    font-weight: 300;
    src: url(../../assets/fonts/NanumSquare/NanumSquareL.eot);
    src: url(../../assets/fonts/NanumSquare/NanumSquareL.eot?#iefix) format('embedded-opentype'),
    url(../../assets/fonts/NanumSquare/NanumSquareL.woff) format('woff'),
    url(../../assets/fonts/NanumSquare/NanumSquareL.ttf) format('truetype');
}
