<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nia.ai.traffic.preprocessor.mapper.AttAiTcaMapper">
    <select id="selectAttAiTcaTrafficCheckModel" parameterType="java.util.HashMap" resultType="com.nia.ai.traffic.preprocessor.vo.anomalous.AttAiTcaTrafficCheckModelVo">
        WITH Latest_AI_Model AS (
            SELECT
                b.model_id, b.node_num, b.if_num, b.ipsdn_if_id,
                b.in_threshold_value, b.out_threshold_value,
                ROW_NUMBER() OVER (
            PARTITION BY b.node_num, b.if_num
            ORDER BY b.predict_datetime DESC
        ) AS rn
            FROM nia.tb_ai_model b
            WHERE b.predictyn = 'Y'
        )
        SELECT
            b.node_num, n.node_id, n.node_nm,
            b.if_num, p.if_id, p.if_nm,
            b.model_id, b.ipsdn_if_id,
            b.in_threshold_value, b.out_threshold_value
        FROM Latest_AI_Model b
                 INNER JOIN resource.tb_node_mst n ON n.node_num = b.node_num
                 INNER JOIN resource.tb_port_mst p ON p.if_num = b.if_num
        WHERE b.rn = 1
          AND NOT EXISTS (
                SELECT 1
                FROM nia.tb_att_ai_tca_model t
                WHERE t.node_num = b.node_num
                  AND t.if_num = b.if_num
                  AND t.tca_alert_time <![CDATA[ >= ]]> CURRENT_DATE
            );
    </select>

    <select id="findAttAiOverTraffic" parameterType="com.nia.ai.traffic.preprocessor.vo.anomalous.AttAiTcaTrafficCheckModelVo" resultType="com.nia.ai.traffic.preprocessor.vo.anomalous.OverTrafficInfoVo">
        SELECT
            id,
            if_id,
            tx_bit_rate,
            rx_bit_rate,
            tx_pkt_rate,
            rx_pkt_rate,
            TO_CHAR(measured_datetime, 'YYYY-MM-DD HH24:MI:SS') AS measured_datetime,
            direction
        FROM (
             SELECT -- 1. Out 트래픽이 임계값을 넘은 경우들
                 t.id,
                 t.if_id,
                 t.tx_bit_rate,
                 t.rx_bit_rate,
                 t.tx_pkt_rate,
                 t.rx_pkt_rate,
                 t.measured_datetime,
                 'out' AS direction,
                 (t.tx_bit_rate / NULLIF(p.out_yhat_upper, 0)) AS severity
             FROM IP_SDN.TB_LINK_TRAFFIC t
                      INNER JOIN nia.tb_ai_predict p ON t.measured_datetime = p.ds
             WHERE t.if_id = #{ipsdnIfId}
               AND p.model_id = #{modelId}
               AND t.measured_datetime <![CDATA[ >= ]]> TO_TIMESTAMP(#{lastCheckTime}, 'YYYY-MM-DD HH24:MI:SS.MS +0900')
               AND t.tx_bit_rate <![CDATA[ > ]]> p.out_yhat_upper
             UNION ALL
             SELECT -- 2. In 트래픽이 임계값을 넘은 경우들
                 t.id,
                 t.if_id,
                 t.tx_bit_rate,
                 t.rx_bit_rate,
                 t.tx_pkt_rate,
                 t.rx_pkt_rate,
                 t.measured_datetime,
                 'in' AS direction,
                 (t.rx_bit_rate / NULLIF(p.in_yhat_upper, 0)) AS severity
             FROM IP_SDN.TB_LINK_TRAFFIC t
                      INNER JOIN nia.tb_ai_predict p ON t.measured_datetime = p.ds
             WHERE t.if_id = #{ipsdnIfId}
               AND p.model_id = #{modelId}
               AND t.measured_datetime <![CDATA[ >= ]]> TO_TIMESTAMP(#{lastCheckTime}, 'YYYY-MM-DD HH24:MI:SS.MS +0900')
               AND t.rx_bit_rate <![CDATA[ > ]]> p.in_yhat_upper
             ) AS combined_alerts
        ORDER BY
            measured_datetime ASC, -- 1순위: 가장 먼저 발생한 장애 시간
            severity DESC          -- 2순위: 동일 시간이라면 더 심하게 넘은 것 우선
            LIMIT 1
    </select>

    <insert id="insertTbAttAiTcaModel" parameterType="java.util.HashMap">
        INSERT INTO nia.tb_att_ai_tca_model
        (
            model_id,
            node_num,
            if_num,
            tca_alert_yn,
            tca_alert_time,
            tca_alert_direction
        )
        VALUES
        (
            #{modelId},
            #{nodeNum},
            #{ifNum},
            'Y',
            #{measuredDatetime},
            #{direction}
        );
    </insert>


</mapper>