<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nia.ai.traffic.preprocessor.mapper.TrafficMapper">

    <insert id="insertAnomalousTraffic" parameterType="java.util.HashMap">
        INSERT INTO RCA.TB_ANOMALOUS_TRAFFIC
        SELECT NULL, CPI.STRIFID, PM.IF_ID, CPI.STRRESID, PM.NODE_ID
             , CPI.STRTYPEMIN, CPI.INTTIMESTAMP, CPI.INTYEAR, CPI.INTMONTH, CPI.INTDAY
             , CPI.INTHOUR, CPI.INTMIN, CPI.INTWEEK, CPI.INTBANDWIDTH, CPI.FLTBPSIN
             , CPI.FLTBPSOUT, CPI.FLTPPSIN, CPI.FLTPPSOUT, CPI.FLTERRORIN, CPI.FLTERROROUT
             , CPI.FLTDISCARDIN, CPI.FLTDISCARDOUT, CPI.FLTUNKNOWN, CPI.FLTUSAGE, CPI.FLHCINOCTETS
             , CPI.FLHCOUTOCTETS, CPI.FLHCINUCASTPKTS, CPI.FLHCOUTUCASTPKTS, CPI.FLHCINMULTICASTPKTS, CPI.FLHCOUTMULTICASTPKTS
             , CPI.FLHCINBROADCASTPKTS, CPI.FLHCOUTBROADCASTPKTS, CPI.FLTBPSINMAX, CPI.FLTBPSOUTMAX, CPI.FLTPPSINMAX
             , CPI.FLTPPSOUTMAX, CPI.FLTERRORINMAX, CPI.FLTERROROUTMAX, CPI.FLTDISCARDINMAX, CPI.FLTDISCARDOUTMAX
             , CPI.FLTUNKNOWNMAX, CPI.FLTUSAGEMAX
          FROM IP_YD.XE_CVNMS_PERF_IF CPI
          LEFT OUTER JOIN RESOURCE.TB_PORT_MST PM
            ON CPI.STRIFID = PM.IF_NUM
           AND CPI.STRRESID = PM.NODE_NUM
         WHERE CPI.STRIFID = #{strifid}
           AND CPI.INTTIMESTAMP = #{inttimestamp} ::integer
    </insert>

    <insert id="insertNoxiousTraffic" parameterType="java.util.HashMap">
        INSERT INTO RCA.TB_NOXIOUS_TRAFFIC
        SELECT NULL, NM.NODE_NUM, SL.STRRESIP, SL.STRRESNAME, SL.STRS_IP
             , SL.STRS_PORT, SL.STRD_IP, SL.STRD_PORT, SL.STRS_MAC, SL.STRD_MAC
             , SL.STRPROTOCOL, SL.STRIPV4TOS, SL.STRCHANNEL, SL.STRSENDERIP, SL.STRIN_INTERFACE
             , SL.STROUT_INTERFACE, SL.STRBYTES_COL, SL.STRCOUNTS, SL.DATEREGDATE
          FROM IP_YD.XE_SFLOW_LOG SL
          LEFT OUTER JOIN RESOURCE.TB_NODE_MST NM
            ON SL.STRRESIP = NM.IP_ADDR
         WHERE SL.DATEREGDATE = #{dateregdate} ::timestamp
           AND SL.STRRESIP = #{strresip}
           AND SL.STRS_IP = #{strsIp}
           AND SL.STRS_PORT = #{strsPort}
           AND SL.STRD_IP = #{strdIp}
           AND SL.STRD_PORT = #{strdPort}
    </insert>
</mapper>


