<div ng-controller="LoginCtrl" class="loginWrap" layout-fill ng-cloak>
    <!--<a style="font-size: 2px; color: #c3d4e047;" href="http://www.freepik.com">Designed by starline / Freepik</a>-->
    <div id="bottomBar"></div>
    <video muted autoplay loop>
        <source src="../../assets/video/technology_network.mp4" type="video/mp4">
    </video>
    <div class="browserInfo" title="크롬 브라우저 다운로드 페이지로 이동합니다.">
        <img src="../../images/koren_rca/icon_chrome.png" ng-click="downloadChromeClick()"/>
        <span>NIA KOREN은 Chrome Browser 및 1920x1080 해상도에 최적화 되어 있습니다.</span>
    </div>

    <div class="loginBox" ng-show="showLogin">
        <!--<span class="loginSystemTitle" style="font-size: 60px; color: #646464;">KOREN&nbsp;<span style="color: #898282;">FOR NMS</span></span>-->
        <!--<span class="loginSystemTitle">KOREN FOR NMS</span>-->
        <!--<span class="loginSystemTitle">KOREN 기반 자율형 네트워크</span>-->
        <div class="loginBox-logo">
            <img src="../images/koren_rca/login_logo_koren.png"/>
            <span class="loginSystemTitle">AI기반 KOREN 모니터링 시스템</span>
            <span class="loginSystemTitle">AI based KOREN Monitoring System</span>
        </div>
        <!--<hr>-->
        <ul class="loginForm">
            <li class="loginInput">
                <input type="text" class="username" name="username" ng-model="form.username" ng-enter="login(userForm.$invalid)" placeholder="아이디를 입력해주세요"/>
            </li>
            <li class="loginInput">
                <input type="password" class="password" name="password" ng-model="form.pw" ng-enter="login(userForm.$invalid)" placeholder="비밀번호를 입력해주세요"/>
            </li>
            <li class="loginBtn">
                <button id="button_submit" ng-click="login($event, userForm.$invalid)">Login</button>
            </li>
            <li>
                <span class="pr-2"><input type="checkbox" ng-model="form.save"/>아이디저장</span>
                <span class="pl-2 pr-2"><a href="" ng-click="clickChangeBtn(false, 'sign')">회원가입</a></span>
                <span class="pl-2"><a href="" ng-click="clickChangeBtn(false, 'find')">계정찾기</a></span>
            </li>
        </ul>
    </div>

    <div class="loginBox" ng-show=" !showLogin && changePage != 'find' ">
        <ul class="loginForm">
            <li class="loginInput">
                <span class="">아이디</span>
                <input type="text" class="id" name="id" ng-model="sign.id" ng-enter="updateUser()" placeholder="아이디를 입력해주세요"/>
            </li>
            <li class="loginInput">
                <span>비밀번호</span>
                <input type="password" class="password" name="password" ng-model="sign.pw" ng-enter="updateUser(sign)" placeholder="비밀번호 입력해주세요"/>
            </li>
            <li class="loginInput">
                <span style="text-indent: 0 !important;">비밀번호 확인</span>
                <input type="password" class="password" name="password" ng-model="sign.pwReconfirm" ng-enter="updateUser(sign)" placeholder="비밀번호를 다시 한번 입력해주세요"/>
            </li>
            <!--<hr>-->
            <li class="loginInput">
                <span>이름</span>
                <input type="text" name="userName" ng-model="sign.username" ng-enter="updateUser(sign)" placeholder="이름을 입력해주세요"/>
            </li>
            <li class="loginInput">
                <span>연락처</span>
                <input type="text" name="userNumber" ng-model="sign.usernumber" ng-enter="updateUser(sign)" maxlength="11" placeholder="연락처를 입력해주세요"/>
            </li>
            <li class="loginInput">
                <span>E-MAIL</span>
                <input type="text" name="email" ng-model="sign.email" ng-enter="updateUser(sign)" placeholder="e-mail을 입력해주세요"/>
            </li>
            <!--<li class="loginSelect">-->
                <!--<div layout="row">-->
                    <!--<span>분류</span>-->
                    <!--<md-select class="agency_select" ng-model="sign.agency_name" md-selected-text="sign.agency_name"> &lt;!&ndash; ng-model-options="{trackBy: '$value.id'}"&ndash;&gt;-->
                        <!--<md-option ng-value="agency_name" ng-repeat="agency_name in ['NOC', 'EMS']" ng-class="{checked: agency_name.selected}">-->
                            <!--{{agency_name}}-->
                        <!--</md-option>-->
                    <!--</md-select>-->
                <!--</div>-->
            <!--</li>-->
            <li class="loginSelect">
                <div layout="row" style="margin-top: 30px; margin-left: 80px;">
                    <span style="text-indent: 43px !important; margin-top: 3px;">분류</span>
                    <input class="nia-custom-radio" type="radio" id="NOC" ng-model="sign.agency_name" value="NOC">
                    <label for="NOC" style="margin-left: 85px; color: #d5d8db;">NOC</label>

                    <input class="nia-custom-radio" type="radio" id="EMS" ng-model="sign.agency_name" value="EMS">
                    <label for="EMS" style="color: #d5d8db;">EMS</label>

                    <!--<input class="nia-custom-radio" type="radio" id="MANUFACTURER" ng-model="sign.agency_name" value="MANUFACTURER">-->
                    <!--<label for="EMS" style="color: #d5d8db;">장비 제조사</label>-->
                </div>
            </li>
            <li class="loginClickBtn" style="margin-left: 150px;">
                <!--<span></span>-->
                <span><a href="" ng-click="showLogin = !showLogin">취소</a></span>
                <span><a href="" ng-click="updateUser(sign)">확인</a></span>
            </li>
        </ul>
    </div>

    <div class="loginBox" ng-show=" !showLogin && changePage == 'find' " style="padding: 0 !important;">
        <ul class="loginForm" style="margin-top: 30px;">
            <li class="findUser">
                <span>아이디 찾기</span>
            </li>
            <li class="loginInput">
                <span>이름</span>
                <input type="text" name="userName" ng-model="findId.userName" placeholder="이름을 입력해주세요" clear-btn/>
            </li>
            <li class="loginInput">
                <span>연락처</span>
                <input type="text" name="userNumber" ng-model="findId.userNumber" maxlength="11" placeholder="연락처를 입력해주세요" clear-btn/>
            </li>
            <li class="loginClickBtn">
                <span style="margin-left: 250px; margin-right: 10px;"><a href="" ng-click="showLogin = !showLogin">취소</a></span>
                <span><a href="" ng-click="findUser(findId, 'id')">확인</a></span>
            </li>
            <hr>
            <li class="findUser">
                <span>비밀번호 재설정</span>
            </li>
            <li class="loginInput">
                <span>아이디</span>
                <input type="text" name="id" ng-model="findPw.userId" placeholder="아이디를 입력해주세요"/>
            </li>
            <li class="loginInput">
                <span>이름</span>
                <input type="text" name="userName" ng-model="findPw.userName" placeholder="이름을 입력해주세요"/>
            </li>
            <li class="loginInput">
                <span>연락처</span>
                <input type="text" name="userNumber" ng-model="findPw.userNumber" maxlength="11" placeholder="연락처를 입력해주세요"/>
            </li>
            <li class="loginClickBtn">
                <span style="margin-left: 250px; margin-right: 10px;"><a href="" ng-click="showLogin = !showLogin">취소</a></span>
                <span><a href="" ng-click="findUser(findPw, 'pw')">확인</a></span>
            </li>
            <li></li>
        </ul>
    </div>
    <div class="bottomCopyright">
        <span>(주)코드제이 대전광역시 유성구 관평동 803</span>
        <span>Copyright© ## All rights reserved.</span>
        <div class="bottomCopyrightLogo">
            <img src="../images/koren_rca/login_bottom_logo_1.png" />
            <img src="../images/koren_rca/login_bottom_logo_2.png" />
        </div>
    </div>
</div>
