<div layout="row" flex layout-fill ng-cloak>
    <md-sidenav layout="column" class="md-sidenav-left md-whiteframe-z2 ticket-sidenav" md-component-id="leftRcaTicketNav"
                md-is-locked-open="$mdMedia(getMediaOption())" style="overflow-x:hidden; box-shadow: none;" >
        <div layout="row " layout-fill >
            <div ng-include src="'pages/main/monitoringTT/rcaTicket/view.html'" ng-cloak style="z-index: 2;background-color: #f6f6f6; margin-right: -780px;" ng-if="getMediaOption() == 'gt-sm'" ></div>
        </div>
    </md-sidenav>
    <md-sidenav layout="column" class="md-sidenav-left md-whiteframe-z2 syslog-sidenav" md-component-id="leftSyslogNav"
                md-is-locked-open="$mdMedia(getSyslogMediaOption())" style="overflow-x:hidden; box-shadow: none;">
        <div layout="row " layout-fill >
            <div ng-include src="'pages/main/monitoringTT/syslog/view.html'" ng-cloak style="z-index: 2;background-color: #f6f6f6; margin-right: -780px;" ng-if="getSyslogMediaOption() == 'gt-sm'" ></div>
        </div>
    </md-sidenav>

    <div class="button-group">
        <!-- toggle -->
        <md-button class="toggle-btn toggle-btn-open " ng-click="toggleNavHide('close')" ng-toggle="tools.$mdSidenav('leftRcaTicketNav').isLockedOpen()" style="height: 30px; font-size: 10px;">
            <i class="fa fa-chevron-left"></i>
        </md-button>
    
        <!-- rcaTicket && syslog -->
        <md-button class="toggle-btn toggle-ticketBtn-open" ng-click="toggleSideNav('ticketOpen')" ng-toggle="tools.$mdSidenav('leftSyslogNav').isLockedOpen()" ng-model="isSyslogVisibledMedia" >
            TICKET
        </md-button>
        <md-button class="toggle-btn toggle-syslogBtn-open" ng-click="toggleSideNav('syslogOpen')" ng-toggle="tools.$mdSidenav('leftRcaTicketNav').isLockedOpen()" ng-model="isVisibledMedia" >
            SYSLOG
        </md-button>
    </div>


    <div layout="column" flex layout-fill class="map-area" ng-show="!singlePage">
        <div class="underline" layout="column" layout-wrap>

            <div class="rightContent">
                <div class="ttSetting" style="overflow: hidden;">
                    <ul>
                        <li class="refresh image_dark_Converter" ng-click="broadcastMenuEvent('reload')" ng-show="isVisibleView('LAYERED')">
                            <md-tooltip>새로고침</md-tooltip>
                        </li>
                        <li ng-click="broadcastMenuEvent('changeType')" ng-show="isVisibleView('LAYERED')" style="font-size:20px;">
                            <i class="fa fa-retweet mad3d_icon3"></i>
                            <md-tooltip>토폴로지 타입 변경</md-tooltip>
                        </li>
                        <li ng-click="broadcastMenuEvent('resetZoom')" ng-show="isVisibleView('LAYERED')" style="font-size:20px;">
                            <i class="fa fa-globe"></i>
                            <md-tooltip>줌 전체보기</md-tooltip>
                        </li>
                        <li class="nodeblink image_dark_Converter" ng-click="broadcastMenuEvent('nodeZoomTest')" ng-show="isVisibleView('LAYERED')">
                            <md-tooltip>노드 줌인 테스트</md-tooltip>
                        </li>
                        <li ng-click="broadcastMenuEvent('updateTopology')" ng-show="tools.debug" style="font-size:20px;">
                            <i class="fa fa-save"></i>
                            <md-tooltip>저장</md-tooltip>
                        </li>
                        <li class="traffic image_dark_Converter" ng-click="broadcastMenuEvent('linkZoomTest')" ng-show="isVisibleView('LAYERED')">&nbsp;<md-tooltip>링크 줌인 테스트</md-tooltip></li>
                        <li class="nodetitle image_dark_Converter" ng-click="broadcastMenuEvent('toggleLabel')" ng-show="isVisibleView('LAYERED')">&nbsp;<md-tooltip>라벨토글</md-tooltip></li>

                        <li class="layer image_dark_Converter" ng-show="false && isVisibleView('LAYERED')" style="color: #fff;">
                            레이어
                            <md-select ng-model="menuOptions.showLayers"
                                ng-model-options="{trackBy: '$value.id'}"
                                md-selected-text="menuOptions.getSelectedText()"
                                ng-change='menuOptions.changeLayerVisible()'
                                multiple style="margin: 0 auto; display: inline-block;" >
                            <md-option ng-value="layer" ng-repeat="layer in menuOptions.allLayers | orderBy:'-'">{{ layer.alias }}</md-option>
                            </md-select>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div flex ng-include src="'pages/main/monitoringTT/map3d/view.html'" ng-cloak style="border-radius: 15px; overflow: hidden;"></div>
    </div>
 </div>
<div id="{{config.viewName}}" style="display: none;"></div>