md-dialog.syslog-list-dialog {
    background-color: rgba(245,245,245,1);
    border-radius: 0;
    transition: all 0s ease 0s !important;
}

md-dialog.syslog-list-dialog div.syslog-list-dialog-content{
    font-size: 11px;
    height: calc(100% - 50px);
}

div.syslog-list-dialog-content md-card.syslog-card {
    height: calc(100% - 40px);
    min-height: 300px;
}

div.syslog-list-dialog-content md-card.syslog-card div.syslog-list-search div.syslog-list-search-info md-input-container {
    /* width: calc(100% - 915px);
    min-width: 150px; */
}

div.syslog-list-dialog-content md-card.syslog-card div.syslog-list-search div.syslog-list-search-info md-input-container > input{
    font-size: 13px;
}

div.syslog-list-dialog-content md-card.syslog-card div.syslog-list-search div.syslog-list-search-btn{
    text-align: right;
}

div.syslog-list-dialog-content div.syslog-table{
    overflow: auto;
    height: calc(100vh - 280px);
    min-height: 150px;
}

div.syslog-list-dialog-content div.syslog-table > table{
    text-align-last: center;
    overflow: visible;
}

div.syslog-list-dialog-content div.syslog-table > table th.md-column{
    font-size: 14px;
}

div.syslog-list-dialog-content div.syslog-table > table > thead > tr > th{
    text-align: center;
    position: sticky;
    top: 0px;
    background-color: white;
}

div.syslog-list-dialog-content div.syslog-table > table > tbody > tr > td{
    text-align: center;
}

div.syslog-list-dialog-content div.syslog-table > table > tbody > tr > td > span{
    font-size: 13px;
}

div.syslog-list-dialog-content div.syslog-table > table > tbody > tr > td > span > a{
    cursor: pointer;
    text-decoration: underline;
}

md-dialog.syslog-list-dialog > form > md-dialog-content div.modalFooter{
    width: 100%;
    text-align: right;
}
