<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nia.ping.alarm.preprocessor.mapper.AlarmMapper">

    <select id="selectPingAlarmKey" resultType="string">
        SELECT nextval('nia.seq_ping_alarm_no') ::VARCHAR AS ALARM_NO
    </select>

    <select id="selectPingAlarmCheck" resultType="com.nia.ping.alarm.preprocessor.vo.alarm.BasicAlarmVo" parameterType="java.util.HashMap">
        SELECT ALARMNO, SYSNAME, EQUIPTYPE, ALARMTIME, RECEIVETIME, ALARMLOC, ALARMMSG, ALARMLEVEL, CLEARTIME
          FROM RCA.TB_ALARM_CUR_MST
        WHERE ALARMLOC = #{url}
          AND CLEARTIME IS NULL
        ORDER BY ALARMLEVEL DESC
        LIMIT 1
    </select>

    <select id="selectPingPolicy" resultType="com.nia.ping.alarm.preprocessor.vo.alarm.PingPolicyVo">
        SELECT POLICY_ID, WR_FAULT_AVG, MI_FAULT_AVG, MJ_FAULT_AVG, CR_FAULT_AVG
          FROM RESOURCE.TB_PING_POLICY
    </select>

    <update id="updatePingAlarmCnt" parameterType="java.util.HashMap">
        WITH UPSERT AS (
            UPDATE NIA.TB_PING_ALARM_CNT
               SET ${colunm} = #{alarmCnt}
             WHERE URL = #{url}
             RETURNING *
        )
        INSERT INTO NIA.TB_PING_ALARM_CNT
        (
            URL, ${colunm}
        )
        SELECT #{url}, #{alarmCnt}
         WHERE NOT EXISTS (SELECT * FROM UPSERT)
    </update>

    <insert id="insertPingCollect" parameterType="com.nia.ping.alarm.preprocessor.vo.alarm.PingAlarmVo">
        INSERT INTO NIA.TB_PING_COLLECT_CURRNET
        (
           COLLECT_DATETIME, HOST_NAME, URL, PACKETS_RECEIVED, PERCENT_PACKET_LOSS,
           RESULT_CODE, PACKETS_TRANSMITTED
        )
        VALUES
        (
           #{alarmtime}, #{host}, #{url}, #{packetsReceived}, #{percentPacketLoss},
           #{resultCode}, #{packetsTransmitted}
        )
    </insert>

    <select id="fcSetClearAlPool" parameterType="com.nia.ping.alarm.preprocessor.vo.alarm.BasicAlarmVo" resultType="boolean">
        SELECT RCA.FC_SET_CLEAR_AL_POOL(#{alarmno}, #{receivetime}, #{sysname}, #{unit}, #{alarmloc}, #{alarmmsg}, #{alarmmsgOriginal}, #{alarmlevel})
    </select>
</mapper>


