md-dialog.detail-dialog {
    max-width: 566px;
    max-height: auto;
    width: 566px;
    height: auto;
    border-radius: 0;
    transition: all 0s ease 0s !important;
}

md-dialog.detail-dialog md-dialog-content{
    overflow: hidden;
}

md-dialog.detail-dialog md-dialog-content .dialog-content{
    height: calc(100% - 45px);
    overflow-y: auto;
    overflow-x: hidden;
}

div.dialog-content table.layout-table tr {
    height: 55px;
    border-bottom: 1px dotted #5c5c5c29;
}
div.dialog-content table.layout-table tr:last-child {
    border-bottom: none;
}

div.dialog-content table.layout-table td.label {
    text-align: center;
    padding-right: 20px;
    padding-left: 20px;
    border-right: 1px dotted #5c5c5c29;
    border-left: 1px dotted #5c5c5c29;
    background-color: #c1d3f624;
}

div.dialog-content table.layout-table tr > td {
    font-size: 13px;
}

div.dialog-content table.layout-table tr > td > md-radio-group {
    display: flex;
}

div.dialog-content table.layout-table tr > td > md-radio-group > md-radio-button {
    margin: 0px 0px 0px 10px;
}

div.dialog-content table.layout-table tr > td > md-radio-group > md-radio-button div > div.md-label {
    padding-top: 4px;
}

div.dialog-content table.layout-table tr > td > md-input-container.title-container {
    width: calc(100% - 40px);
    min-width: 150px;
}

md-dialog.detail-dialog div.modalFooter {
    width: 100%;
    text-align: right;
}

