md-dialog.processing-dialog{
    background-color: rgba(245,245,245,1);
    transition: all 0s ease 0s !important;
    /*min-width: 700px;*/
    /*max-width: 700px;*/
}

div.dialog-scroll{
    overflow-y: auto;
    height: 750px;
}

div.processing-contents{
    background-color: #fff;
    /*height: 400px;*/
    width: 700px;
    max-width: 700px;
    padding: 25px 15px 15px 52px;
}
div.issue-contents{
    background-color: #fff;
    /*height: 400px;*/
    width: 1000px;
    max-width: 1000px;
    height: 600px;
    padding: 25px 15px 15px 52px;
}
div.issue-contents textarea{
    font-size: 12px;
}

div.qna-contents{
    background-color: #fff;
    /*height: 400px;*/
    width: 1000px;
    max-width: 1000px;
    /*height: 600px;*/
    padding: 25px 15px 15px 52px;
}
div.qna-contents textarea{
    font-size: 12px;
}

div.processing-contents > div.ticket-info{
    padding: 0 40px 0 0;
}


div.aiBtnArea{
    position: relative;
}
div.aiBtnArea div.aiBtnBox{
    z-index: 2;
    background-color: #ffffff;
}

div.aiBtnArea div.errorMsg{
    font-size: 12px;
    color: #dd2c00;
    position: absolute;
    margin-top: 5px;
    margin-left: 8px;
    transition: margin-top 0.6s;
    z-index: 0;
}
div.aiBtnArea div.errorMsg:not(.afterSubmit){
    opacity: 0;
}
div.aiBtnArea div.errorMsg.afterSubmit.msgShow{
    margin-top: 35px;
}

div.processing-contents span.sub-head{
    /*margin: 10px 10px 5px 10px;*/
    font-size: 13px;
    font-weight: 900;
    margin: auto 0 auto 0px;
}
div.processing-contents span.sub-content{
    margin: auto 0 auto 15px;
    font-size: 13px;
    color: rgba(0, 0, 0, 0.54);
    font-weight: 900;
}
div.processing-contents span.sub-title{
    /*margin: 10px 10px 5px 10px;*/
    font-size: 12px;
    color: rgba(0, 0, 0, 0.54);
    font-weight: 900;
    margin: auto 0 auto 0px;
}
div.processing-contents:not(.notice-contents) md-input-container{
    padding-right: 30px;
    margin-top: 0px;
    margin-bottom: -10px;
}

div.processing-contents:not(.notice-contents) md-input-container.md-block > label{
    font-size: 0.9rem;
}
div.processing-contents:not(.notice-contents) md-input-container.md-block > input{
    font-size: 0.8rem;
    color: #009688 !important;
    /*border-bottom: dotted 2px rgba(0,0,0,0.12);*/
}
div.processing-contents:not(.notice-contents) md-input-container.md-block textarea{
    font-size: 0.8rem;
    color: #009688 !important;
    overflow: auto;
    height: 83px;
    min-height: 83px;
    max-height: 83px;
}
div.issue-contents:not(.notice-contents) md-input-container.md-block textarea{
    font-size: 0.8rem;
    color: #009688 !important;
    overflow: auto;
    height: 203px;
    min-height: 283px;
    max-height: 283px;
}

div.qna-contents:not(.notice-contents) md-input-container.md-block textarea{
    font-size: 0.8rem;
    color: #009688 !important;
    overflow: auto;
    height: 203px;
    min-height: 283px;
    max-height: 283px;
}
div.processing-contents:not(.notice-contents) md-input-container.md-block ::placeholder{
    font-size: 0.9rem;
}
div.processing-contents:not(.notice-contents) md-input-container:not(.md-input-invalid).md-input-focused .md-input,
div.processing-contents:not(.notice-contents) md-input-container:not(.md-input-invalid).md-input-focused textarea{
    /*border-color:rgba(0, 0, 0, 0.4);*/
    border-color:#009688;
}
div.processing-contents:not(.notice-contents) md-input-container .md-errors-spacer {
    display:block;
}
div.processing-contents:not(.notice-contents) md-input-container > label {
    margin: 0;
}

div.processing-contents > div.ticket-info > md-input-container:not(.notice-contents) .md-input[disabled]{
    background-image:none;
}


md-content.az-content{
    background-color: #ffffff;
    overflow: hidden;
}
md-content.az-content._md {
    height: 120px;
    margin-left: -25px;
}

/***************************************************************************************************************************************/
/*  티켓 처리 페이지 리스트 */
/***************************************************************************************************************************************/
md-content.processing-table-container{
    background-color: #ffffff;
    overflow: hidden;
}
md-content.processing-table-container._md {
    height: 120px;
    margin-left: -25px;
}

table.rca-md-table.md-table.processing-table{
    display: block;
    width: 650px;
    overflow-x: hidden;
    height: 97px;
    border-bottom: solid 1px #e0e0e0;
}
table.rca-md-table.md-table.processing-table thead.md-head{
    display: block;
}
table.rca-md-table.md-table.processing-table thead.md-head > tr.md-row{
    height: 30px !important;
}
table.rca-md-table.md-table.processing-table thead.md-head > tr.md-row > th.md-column{
    font-size: 11px !important;
}
table.rca-md-table.md-table.processing-table tbody.md-body{
    display: block;
    height: 67px;
    overflow-y: auto;
    overflow-x: hidden;
}
table.rca-md-table.md-table.processing-table tbody.md-body > tr.md-row{
    height: 22px !important;
}
table.rca-md-table.md-table.processing-table tbody.md-body > tr.md-row > td.md-cell {
    font-size: 10px !important;
}

/* over-cell 사이즈 조정 */
table.rca-md-table.md-table.processing-table tbody.md-body > tr.md-row > td.md-cell > span.wrapper-span {
    vertical-align: unset;
}
table.rca-md-table.md-table.processing-table tbody.md-body > tr.md-row > td.md-cell > span.wrapper-span:hover{
    background-color: #fff;
}


/***************************************************************************************************************************************/
/* 근원장애 System / Port 정보 */
/***************************************************************************************************************************************/
table.md-table.az-table .slim-cell{
    height: 2.2em;
}

table.md-table.az-table{
    display: block;
    width: 650px;
    overflow-x: hidden;
    height: 97px;
    border-bottom: solid 1px #e0e0e0;
}

table.md-table.az-table thead{
    display: block;
}
table.md-table.az-table tbody{
    display: block;
    height: 67px;
    overflow-y: auto;
    overflow-x: hidden;
}
table.md-table.az-table tbody.md-body > tr.md-row{
    height: 22px !important;
}
table.md-table.az-table th.md-column{
    font-size: 11px !important;
}
table.md-table.az-table td.md-cell {
    font-size: 10px !important;
}
table.md-table.az-table td.md-cell div.over-cell {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 15px;
    display: inline-block;
}
table.md-table.az-table td.md-cell div.over-cell p{
    font-size: 10px;
    margin-top: -3px;
    color: #a29e9e;
    font-weight: 400;
}

table.md-table.az-table div.overflow-action:hover{
    overflow: visible !important;
    width: auto;
    display: inline-block;
    background-color: #ffffff;
    position: relative;
    outline: solid 1px #c7c6c6;;
    max-width: 1000px !important;
    padding-right: 5px;
    cursor: text;
}
table.md-table.az-table td.md-cell:not(:last-child) div.overflow-action:hover:before{
    content: "";
    position: absolute;
    left: -2px;
    top: -2px;
    height: 120%;

    border-left: 2px solid #ffffff;
    border-top: 2px solid #ffffff;
    border-bottom: 2px solid #ffffff;
}
table.md-table.az-table td.md-cell:last-child div.overflow-action:hover{
    /*float: right;*/
    outline: none;
    /*background-color: #e8e8e8;*/
    /*padding-left: 5px;*/
}

/***************************************************************************************************************************************/
/* 근원장애 광케이블 리스트 정보 */
/***************************************************************************************************************************************/
table.md-table.sys-table th.md-column:nth-child(1),
table.md-table.sys-table td.md-cell:nth-child(1){
    min-width: 190px;
    max-width: 190px;
}
table.md-table.sys-table td.md-cell:nth-child(1) > div{
    max-width: 144px;
}
table.md-table.sys-table td.md-cell:nth-child(1) > div:hover:before{
    width: 144px;
}

table.md-table.sys-table th.md-column:nth-child(2),
table.md-table.sys-table td.md-cell:nth-child(2){
    min-width: 130px;
    max-width: 130px;
}
table.md-table.sys-table td.md-cell:nth-child(2) > div{
    max-width: 94px;
}
table.md-table.sys-table td.md-cell:nth-child(2) > div:hover:before{
    width: 94px;
}

table.md-table.sys-table th.md-column:nth-child(3),
table.md-table.sys-table td.md-cell:nth-child(3){
    min-width: 190px;
    max-width: 190px;
}
table.md-table.sys-table td.md-cell:nth-child(3) > div{
    max-width: 144px;
}
table.md-table.sys-table td.md-cell:nth-child(3) > div:hover:before{
    width: 144px;
}

table.md-table.sys-table th.md-column:nth-child(4),
table.md-table.sys-table td.md-cell:nth-child(4){
    min-width: 130px;
    max-width: 130px;
}
table.md-table.sys-table td.md-cell:nth-child(4) > div{
    max-width: 94px;
}
table.md-table.sys-table td.md-cell:nth-child(4) > div:hover:before{
    width: 94px;
}



table.location-table th.md-column:nth-child(1),
table.location-table td.md-cell:nth-child(1){
    min-width: 205px;
    max-width: 205px;
}
table.location-table td.md-cell:nth-child(1) > div{
    max-width: 159px;
}
table.location-table td.md-cell:nth-child(1) > div:hover:before{
    width: 159px;
}

table.location-table th.md-column:nth-child(2),
table.location-table td.md-cell:nth-child(2){
    min-width: 165px;
    max-width: 165px;
}
table.location-table td.md-cell:nth-child(2) > div{
    max-width: 109px;
}
table.location-table td.md-cell:nth-child(2) > div:hover:before{
    width: 109px;
}

table.location-table th.md-column:nth-child(3),
table.location-table td.md-cell:nth-child(3){
    min-width: 165px;
    max-width: 165px;
}
table.location-table td.md-cell:nth-child(3) > div{
    max-width: 109px;
}
table.location-table td.md-cell:nth-child(3) > div:hover:before{
    width: 109px;
}
table.location-table th.md-column:nth-child(4),
table.location-table td.md-cell:nth-child(4){
    min-width: 105px;
    max-width: 105px;
}
table.location-table td.md-cell:nth-child(4) > div{
    max-width: 49px;
}
table.location-table td.md-cell:nth-child(4) > div:hover:before{
    width: 49px;
}

div.processing-contents md-select{
    width: 100px;
    font-size: 12px;
    margin-right: 10px;
    margin-top: 0px;
}
div.processing-contents md-select:first-child{
    margin-left: -2px;
}

md-dialog.processing-dialog md-option{
    height:30px !important;
}

md-select:not([disabled]):focus .md-select-value{
    border-bottom-color: #009688;
}
md-select-menu md-content md-option[selected],
md-select-menu md-content md-option[selected]:focus{
    color: #009688;
}

md-backdrop.md-opaque.move-dialog{
    opacity: 0;
}
