<md-dialog id="SOPArea" class="SOP-dialog" ng-cloak style="width: 81%; height:80%">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <i class="fa fa-check fa-lg"></i>
            <span class="title" ng-click="debugger()"> &nbsp; SOP 이력 조회</span>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="dlgFunc.cancel()">
                <md-icon md-svg-src="img/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
            </md-button>
        </div>
    </md-toolbar>
    <form>
        <md-dialog-content>
            <div layout="column" class="SOPContents">
                <md-card class="SOP-card">
                    <md-tabs md-border-bottom="" md-stretch-tabs md-selected="currentTab">
                        <md-tab label="TICKET" md-on-select="changeTab1()"><!--SOP 리스트-->
                            <div layout="row" class="date-container" style="position: absolute; right: 0; z-index: 10;">
                                <input class="nav_search form-control mr-sm-2 mini-ticket-search ml-2" select-on-click
                                       type="text" placeholder="티켓 번호" aria-label="티켓번호" ng-model="loadSopData.ticketId">
                                <span>&nbsp;&nbsp;FROM&nbsp;</span>
                                <md-input-container class="md-block rca-theme">
                                    <input mdc-datetime-picker="" date="true" time="false" type="text" id="datetime"
                                           show-todays-date="" minutes="true" min-date="date" show-icon="true"
                                           edit-input="true" short-time="true" ng-init="null" placeholder=""
                                           ng-model="loadSopData.startDateTime" class=" dtp-no-msclear dtp-input md-input">
                                </md-input-container>
                                <span>&nbsp;&nbsp;TO&nbsp;</span>
                                <md-input-container class="md-block rca-theme">
                                    <input mdc-datetime-picker="" date="true" time="false" type="text" id="datetime2"
                                           show-todays-date="" minutes="true" min-date="date" show-icon="true"
                                           edit-input="true" short-time="true" ng-init="null" placeholder=""
                                           ng-model="loadSopData.endDateTime" class=" dtp-no-msclear dtp-input md-input">
                                </md-input-container>
                                <md-button class="search-option-switch" ng-click="getSopDataList()" aria-label="''">
                                    <i class="fa fa-search fa-lg"></i>
                                </md-button>
                                <md-button class="excelBtn" ng-click="exportExcelSop()">
                                    <i class="fas fa-file-excel fa-lg" style="color: #008000; margin-right: 2px; font-size: 20px;"></i>엑셀저장
                                </md-button>
                                <md-button class="search-option-switch clearBtn" ng-click="searchClear()" style="margin-right: 50px;">
                                    전체보기
                                </md-button>
                            </div>

                            <div layout="column" id="sopListscroll" style="margin-top: 50px; height: calc(100% - 70px);">
                                <table md-table class="SOPList tt-SOP-table ticket-SOP rca-md-table" md-progress="promise" style="min-height: calc(100% - 20px); height: calc(100% - 20px);">
                                    <thead md-head>
                                    <tr md-row>
                                        <th md-column md-column-size="120" class="pr-0">티켓번호</th>
                                        <th md-column md-column-size="120" class="pr-0">티켓유형</th>

                                        <th md-column md-column-size="120" class="pr-0">장애내용</th>
                                        <th md-column md-column-size="120" class="pr-0">장애구분</th>
                                        <th md-column md-column-size="120" class="pr-0">장애유형</th>
                                        <th md-column md-column-size="120" class="pr-0">조치내용</th>
                                        <th md-column md-column-size="120" class="pr-0">기타사항</th>

                                        <th md-column md-column-size="150" class="pr-0">발생시간</th>
                                        <th md-column md-column-size="150" class="pr-0">마감시간</th>
                                        <th md-column md-column-size="120" class="pr-0">마감자</th>

                                        <th md-column md-column-size="200" class="pr-0">노드A</th>
                                        <th md-column md-column-size="200" class="pr-0">노드Z</th>
                                        <th md-column md-column-size="200" class="pr-0">마스터IP</th>
                                        <th md-column md-column-size="200" class="pr-0">장비 I/F</th>


                                        <!--<th md-column md-column-size="170" class="pr-0">요청시간</th>-->
                                        <!--<th md-column md-column-size="170" class="pr-0">처리시간</th>-->
                                    </tr>
                                    </thead>
                                    <tbody md-body style="min-height: calc(100% - 40px); height: calc(100% - 40px);">
                                    <tr md-row class="repeated-item"
                                        ng-repeat="item in SOPList.list | filter: rcaSearchTextArea" ng-click="openSOPDetail(item)">
                                        <td md-cell md-column-size="120" class="pr-0" over-cell>{{item.ticket_id}}</td>
                                        <td md-cell md-column-size="120" class="pr-0" over-cell>{{item.tickettype}}</td> <!--티켓유형-->

                                        <td md-cell md-column-size="120" class="pr-0" over-cell>{{item.ticket_result}}</td>
                                        <td md-cell md-column-size="120" class="pr-0" over-cell>{{item.fault_classify }}</td>
                                        <td md-cell md-column-size="120" class="pr-0" over-cell>{{item.fault_type}}</td>
                                        <td md-cell md-column-size="120" class="pr-0" over-cell>{{item.fault_detail_content}}</td>
                                        <td md-cell md-column-size="120" class="pr-0" over-cell>{{ item.etc_content }}</td>

                                        <td md-cell md-column-size="150" class="pr-0" over-cell>{{item.fault_time | dateFormat}}</td>
                                        <td md-cell md-column-size="150" class="pr-0" over-cell>{{item.handling_fin_time | dateFormat}}</td>
                                        <td md-cell md-column-size="120" class="pr-0" over-cell>{{item.handling_fin_user}}</td>

                                        <td md-cell md-column-size="200" class="pr-0" over-cell>{{item.root_cause_sysnamea}}</td>
                                        <td md-cell md-column-size="200" class="pr-0" over-cell>{{item.root_cause_sysnamez}}</td>
                                        <td md-cell md-column-size="200" class="pr-0" over-cell>{{item.ip_addra}}</td>
                                        <td md-cell md-column-size="200" class="pr-0" over-cell>{{item.root_cause_porta}}</td>


                                        <!-- <td md-cell md-column-size="170" class="pr-0" over-cell>{{item.request_time | dateFormat}}</td> -->
                                        <!-- <td md-cell md-column-size="170" class="pr-0" over-cell>{{item.receive_time | dateFormat}}</td> -->
                                    </tr>
                                    </tbody>
                                </table>
                                <md-table-pagination md-limit="sopPagingTable.limit" md-limit-options="[30,50,100,200]" md-page="sopPagingTable.selected"
                                                     md-total="{{SOPList.total || 0}}" md-page-select="true" md-boundary-links="true">
                                </md-table-pagination>
                            </div>
                        </md-tab>

                        <md-tab label="SYSLOG" md-on-select="changeTab1()">
                            <div layout="row" class="date-container" style="position: absolute; right: 0; z-index: 10;">
                                
                                <!-- 장비명 -->
                                <span class="node-item-use-title" style="margin-right: 20px;">장비명</span>
                                <md-input-container class="select-container">
                                    <md-select class="node-item-use" ng-model="searchalarmList.equipment">
                                        <md-option ng-value="item.node_nm" ng-repeat="item in equipmentOptions">{{item.node_nm}}</md-option>
                                    </md-select>
                                </md-input-container>

                                <!-- I/F -->
                                <span style="font-size: small; margin-right: 20px;">I/F</span>
                                <md-input-container class="select-container">
                                    <md-select class="node-item-use" ng-model="searchalarmList.ifName">
                                        <md-option ng-value="item.alarmloc" ng-repeat="item in ifOptions">{{item.alarmloc}}</md-option>
                                    </md-select>
                                </md-input-container>
                                
                                <!-- 상태 -->
                                <span class="node-item-use-title" style="margin-right: 20px;">상태</span>
                                <md-input-container class="select-container">
                                    <md-select class="node-item-use" ng-model="searchalarmList.status">
                                        <md-option ng-value="use.key" ng-repeat="use in selectStatus">{{use.value}}</md-option>
                                    </md-select>
                                </md-input-container>

                                <!-- datepicker -->
                                <span>&nbsp;&nbsp;FROM&nbsp;</span>
                                <md-input-container class="md-block rca-theme">
                                    <input mdc-datetime-picker="" date="true" time="false" type="text" id="datetime"
                                           show-todays-date="" minutes="true" min-date="date" show-icon="true"
                                           edit-input="true" short-time="true" ng-init="null" placeholder=""
                                           ng-model="searchalarmList.startDateTime" class=" dtp-no-msclear dtp-input md-input">
                                </md-input-container>
                                <span>&nbsp;&nbsp;TO&nbsp;</span>
                                <md-input-container class="md-block rca-theme">
                                    <input mdc-datetime-picker="" date="true" time="false" type="text" id="datetime2"
                                           show-todays-date="" minutes="true" min-date="date" show-icon="true"
                                           edit-input="true" short-time="true" ng-init="null" placeholder=""
                                           ng-model="searchalarmList.endDateTime" class=" dtp-no-msclear dtp-input md-input">
                                </md-input-container>

                                <!-- 검색 -->
                                <md-button class="search-option-switch" ng-click="getAlarmDataList()" aria-label="''">
                                    <i class="fa fa-search fa-lg"></i>
                                </md-button>

                                <!-- 전체보기 -->
                                <md-button class="search-option-switch clearBtn" ng-click="searchClear()" style="margin-right: 50px;">
                                    전체보기
                                </md-button>
                            </div>

                            <div layout="column" id="alarmscroll" flex style="margin-top: 50px; height: calc(100% - 70px);">
                                <table md-table class="SOPList tt-SOP-table ticket-SOP rca-md-table" md-progress="promise" style="min-height: calc(100% - 20px); height: calc(100% - 20px);">
                                    <thead md-head>
                                    <tr md-row>
                                        <th md-column md-column-size="150" class="pr-0">알람번호</th>
                                        <th md-column md-column-size="150" class="pr-0">장비명</th>

                                        <th md-column md-column-size="80" class="pr-0">인터페이스</th>
                                        <th md-column md-column-size="200" class="pr-0">장애구분</th>
                                        <th md-column md-column-size="200" class="pr-0">장애유형</th>
                                        <th md-column md-column-size="200" class="pr-0">조치내용</th>
                                        <th md-column md-column-size="200" class="pr-0">기타조치내용</th>
                                        <th md-column md-column-size="250" class="pr-0">syslog 원본메시지</th>

                                        <th md-column md-column-size="200" class="pr-0">발생시간</th>
                                        <th md-column md-column-size="200" class="pr-0">마감시간</th>
                                        <th md-column md-column-size="150" class="pr-0">마감자</th>

                                        <th md-column md-column-size="100" class="pr-0">처리상태</th>

                                        <!--<th md-column md-column-size="170" class="pr-0">요청시간</th>-->
                                        <!--<th md-column md-column-size="170" class="pr-0">처리시간</th>-->
                                    </thead>
                                    <tbody md-body style="min-height: calc(100% - 40px); height: calc(100% - 40px);">
                                    <tr md-row class="repeated-item" ng-repeat="item in alarmList.list" ng-click="openALARMDetail(item)">
                                        <td md-cell md-column-size="150" class="pr-0" over-cell>{{item.alarmno}}</td>
                                        <td md-cell md-column-size="150" class="pr-0" over-cell>{{item.node_nm}}</td><!-- 장비명 -->
                                        
                                        <td md-cell md-column-size="80" class="pr-0" over-cell>{{item.alarmloc}}</td><!-- 인터페이스 -->
                                        <td md-cell md-column-size="200" class="pr-0" over-cell>{{item.fault_classify }}</td>
                                        <td md-cell md-column-size="200" class="pr-0" over-cell>{{item.fault_type}}</td>
                                        <td md-cell md-column-size="200" class="pr-0" over-cell>{{item.fault_detail_content}}</td>
                                        <td md-cell md-column-size="200" class="pr-0" over-cell>{{item.etc_content}}</td>
                                        <td md-cell md-column-size="250" class="pr-0" over-cell style="white-space: normal; word-wrap: break-word;">{{item.etc}}</td>

                                        <td md-cell md-column-size="200" class="pr-0" over-cell>{{item.alarm_occur_time | dateFormat}}</td>
                                        <td md-cell md-column-size="200" class="pr-0" over-cell>{{item.handling_fin_time | dateFormat}}</td>
                                        <td md-cell md-column-size="150" class="pr-0" over-cell>{{item.handling_fin_user}}</td>

                                        <td md-cell md-column-size="100" class="pr-0" over-cell>{{item.status}}</td>

                                        <!--<td md-cell md-column-size="170" class="pr-0" over-cell>{{item.request_time | dateFormat}}</td>-->
                                        <!--<td md-cell md-column-size="170" class="pr-0" over-cell>{{item.receive_time | dateFormat}}</td>-->
                                    </tr>
                                    </tbody>
                                </table>
                                <md-table-pagination md-limit="alarmPagingTable.limit" md-limit-options="[30,50,100,200]" md-page="alarmPagingTable.selected"
                                                     md-total="{{alarmList.total || 0}}" md-page-select="true" md-boundary-links="true">
                                </md-table-pagination>
                            </div>
                        </md-tab>
                    </md-tabs>
                </md-card>
            </div>
        </md-dialog-content>
    </form>
</md-dialog>

